Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Delete the old FilterBar components
  orion-ui/src/App.vue
  orion-ui/src/components/FilterBar.vue
  orion-ui/src/components/FilterBar/FilterAccordion.vue
  orion-ui/src/components/FilterBar/FilterMenu.vue
  orion-ui/src/components/FilterBar/FilterSearch.vue
  orion-ui/src/components/FilterBar/SaveSearchMenu.vue
  orion-ui/src/components/FilterBar/SearchMenu.vue
  orion-ui/src/components/FilterBar/Tag.vue
  orion-ui/src/components/FilterBar/TagGroup.vue
  orion-ui/src/components/FilterBar/composables/Form--DateTime.vue
  orion-ui/src/components/FilterBar/composables/Form--States.vue
  orion-ui/src/components/FilterBar/composables/Form--Tags.vue
  orion-ui/src/components/FilterBar/composables/index.ts
  orion-ui/src/components/FilterBar/index.ts
  orion-ui/src/components/FilterBar/util.ts
Due: none

fix linting warnings
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/main.ts
Due: none

Adds ability for runtime configuration to Great Expectations task (#5404)
  changes/pr5404.yaml
  src/prefect/tasks/great_expectations/checkpoints.py
  tests/tasks/great_expectations/test_great_expectations_validation.py
  tests/tasks/great_expectations/v2_api/checkpoints/.ge_store_backend_id
  tests/tasks/great_expectations/v2_api/expectations/.ge_store_backend_id
  tests/tasks/great_expectations/v2_api/great_expectations.yml
  tests/tasks/great_expectations/v3_api/expectations/.ge_store_backend_id
  tests/tasks/great_expectations/v3_api/great_expectations.yml
Due: black, flake8

Remove vuex from orion-design
  orion-ui/packages/orion-design/package-lock.json
  orion-ui/packages/orion-design/package.json
  orion-ui/packages/orion-design/vite.config.ts
Due: none

eslint fix for all but FilterSeachMenu
  orion-ui/packages/orion-design/package.json
  orion-ui/packages/orion-design/src/components/EmptyStateCard.vue
  orion-ui/packages/orion-design/src/components/LogLevelLabel.vue
  orion-ui/packages/orion-design/src/index.ts
  orion-ui/packages/orion-design/src/models/DashboardFilters.ts
  orion-ui/packages/orion-design/src/models/Deployment.ts
  orion-ui/packages/orion-design/src/models/FlowRun.ts
  orion-ui/packages/orion-design/src/router/UrlQueryParams.ts
  orion-ui/packages/orion-design/src/services/Mocker.ts
  orion-ui/packages/orion-design/src/stores/filters.ts
  orion-ui/packages/orion-design/src/types/RouteGuard.ts
  orion-ui/packages/orion-design/src/types/css.ts
  orion-ui/packages/orion-design/src/types/filters/server-types.ts
  orion-ui/packages/orion-design/src/types/states.ts
  orion-ui/packages/orion-design/src/utilities/object.ts
Due: none

fixed last eslint warnings
  orion-ui/packages/orion-design/src/components/FiltersSearchMenu.vue
Due: none

removed unused router folder and contents
  orion-ui/packages/orion-design/package-lock.json
  orion-ui/packages/orion-design/src/index.ts
  orion-ui/packages/orion-design/src/models/DashboardFilters.ts
  orion-ui/packages/orion-design/src/models/index.ts
  orion-ui/packages/orion-design/src/router/UrlQueryParams.ts
  orion-ui/packages/orion-design/src/router/index.ts
Due: none

Change string return of secrets_manager.py
  src/prefect/tasks/aws/secrets_manager.py
  tests/tasks/aws/test_secrets_manager.py
Due: black, flake8

Add expect error descriptions
  orion-ui/packages/orion-design/src/index.ts
Due: none

Use declared attr for concurrency limit unique constraint
  src/prefect/orion/database/orm_models.py
Due: black, flake8

Leave index on ConcurrencyLimit.tag
  src/prefect/orion/database/orm_models.py
Due: black, flake8

Bump slow callback duration to reduce noise
  tests/conftest.py
Due: black

Add service marks to task runner tests
  tests/test_task_runners.py
Due: black

Stream stdout/err from hosted orion; handle termination exception
  tests/fixtures/api.py
Due: black

Add `--only-service` support to easily select a single service for testing
  tests/conftest.py
Due: black

Add dask mark to test
  tests/test_task_runners.py
Due: black

copy build kwargs and pop
  src/prefect/storage/docker.py
Due: black, flake8

Cleanup merge
  src/prefect/orion/database/orm_models.py
Due: black, flake8

Use `schedule=` keyword
  docs/core/concepts/schedules.md
Due: none

Add models layer for agents
  src/prefect/orion/database/migrations/versions/postgresql/5bff7878e700_add_agents_and_work_queue.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/models/__init__.py
  src/prefect/orion/models/agents.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
  tests/orion/models/test_agents.py
Due: black, flake8

Add sqlite migrations
  src/prefect/orion/database/migrations/versions/sqlite/7c91cb86dc4e_add_agents_and_work_queues.py
Due: black, flake8

modify tests
  tests/storage/test_docker_storage.py
Due: black

formatting
  tests/storage/test_docker_storage.py
Due: black

Sort imports
  src/prefect/orion/database/migrations/versions/postgresql/5bff7878e700_add_agents_and_work_queue.py
  src/prefect/orion/database/migrations/versions/sqlite/7c91cb86dc4e_add_agents_and_work_queues.py
  src/prefect/orion/schemas/actions.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: ^src/prefect/ and \.py$
