Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Remove forcerm=True from DockerStorage
  changes/pr4584.yaml
  src/prefect/storage/docker.py
Due: black, flake8

Tell people about the UI repository (#4588)
  docs/core/getting_started/why-not-airflow.md
Due: none

Remove forcerm=True from DockerStorage (#4584)
  changes/pr4584.yaml
  src/prefect/storage/docker.py
Due: black, flake8

Add `stream_states` toggle to `watch_flow_run`
  src/prefect/backend/flow_run.py
  src/prefect/tasks/prefect/flow_run.py
Due: black, flake8

Run Flow API: Update `watch_flow_run` to be an iterator (#4585)
  src/prefect/agent/local/agent.py
  src/prefect/backend/flow_run.py
  src/prefect/cli/run.py
  src/prefect/tasks/prefect/flow_run.py
  tests/backend/test_flow_run.py
Due: black, flake8

Use absolute path when loading scripts in register
  src/prefect/cli/build_register.py
  tests/cli/test_build_register.py
Due: black, flake8

Write failing test for Prefect Client's use of server backend
  tests/client/test_client.py
Due: black

Add second failing test for call to client.graphql using server backend
  tests/client/test_client.py
Due: black

Rename tests with different preposition
  tests/client/test_client.py
Due: black

Augment temporary test config to match config.toml structure
  tests/client/test_client.py
Due: black

Fix typo in test method temporary config
  tests/client/test_client.py
Due: black

Extend TestClientConfig method to consider case when backend is set to server
  tests/client/test_client_auth.py
Due: black

Change dummy cloud.graphql URL config to match test_client_auth.py
  tests/client/test_client.py
Due: black

Augment test of client._local_settings_path to consider api server port
  tests/client/test_client_auth.py
Due: black

Indent test assertions to fall within context manager
  tests/client/test_client.py
  tests/client/test_client_auth.py
Due: black

docs: update prefect run reference
  docs/orchestration/concepts/flow_runs.md
Due: none

Update docs
  =
  docs/orchestration/concepts/kv_store.md
Due: none

Correct docs typo
  docs/orchestration/concepts/kv_store.md
Due: none

Rename client.api_server attribute to indicate graphql specifically
  src/prefect/agent/agent.py
  src/prefect/cli/server.py
  src/prefect/client/client.py
  tests/client/test_client_auth.py
Due: black, flake8

Add storage labels to flow in register CLI
  src/prefect/cli/build_register.py
  tests/cli/test_build_register.py
Due: black, flake8

Add changelog entry
  changes/pr4593.yaml
Due: none

Refactor Client init to check backend config before setting attributes
  src/prefect/client/client.py
Due: black, flake8

Fix windows tests
  tests/cli/test_build_register.py
Due: black

default run kwargs to None since theyll get loaded from init if available
  src/prefect/tasks/mysql/mysql.py
Due: black, flake8

Correct typo in test assertion; black formatting
  tests/client/test_client.py
Due: black

Correct typo in test assertion; black formatting
  tests/client/test_client_auth.py
Due: black

Remove rstrip("/") to avoid path dropping by urllib.parse.urljoin
  src/prefect/client/client.py
Due: black, flake8

A few register CLI fixes (#4593)
  changes/pr4593.yaml
  src/prefect/cli/build_register.py
  tests/cli/test_build_register.py
Due: black, flake8

try moving start ot core get started
  docs/.vuepress/config.js
  docs/index.md
Due: none

add basic select roles dialog
  docs/.vuepress/config.js
  docs/start/README.md
  docs/start/local-environment.md
  docs/start/more-resources.md
  docs/start/run-with-cloud-or-server.md
  docs/start/run-with-core.md
Due: none

update ssl docstring to specify minimum options required for an ssl connection
  src/prefect/tasks/mysql/mysql.py
Due: black, flake8

Support all arguments in MySQL Tasks' run methods and support SSL configuration (#4545)
  src/prefect/tasks/mysql/mysql.py
Due: black, flake8

Add test for CPU/Memory overrides in ECSAgent
  tests/agent/test_ecs_agent.py
Due: black

Add todo
  src/prefect/engine/runner.py
Due: black, flake8

Add memory profiler statements
  requirements.txt
  src/prefect/engine/flow_runner.py
  src/prefect/engine/task_runner.py
  src/prefect/executors/dask.py
Due: black, flake8

Reduce brittleness of test that failed on Win32
  tests/tasks/test_shell.py
Due: black

Remove right slash from url to match rstrip in _request
  tests/client/test_client.py
Due: black

Fix small-flow parallelism issues with multiprocess `LocalDaskExecutor`
  src/prefect/executors/dask.py
Due: black, flake8

Add changes/pr4602.yaml
  changes/pr4602.yaml
Due: none

Feed mypy
  src/prefect/executors/dask.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: ^src/prefect/ and \.py$
