Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Added some line breaks to please the linter.
  src/prefect/tasks/docker/containers.py
  src/prefect/tasks/docker/images.py
Due: black, flake8

Update src/prefect/environments/execution/dask/k8s.py
  src/prefect/environments/execution/dask/k8s.py
Due: black, flake8

Update changelog entry
  changes/issue2988.yaml
Due: none

Update tests
  tests/cli/test_describe.py
Due: black

Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

[docs] fix misspelled method name in KubernetesAgent docs
  src/prefect/agent/kubernetes/agent.py
Due: black, flake8

Fix documentation, mypy, lint errors
  .flake8
  changes/pr3166.yaml
  setup.cfg
  src/prefect/contrib/tasks/databricks/databricks_hook.py
  src/prefect/contrib/tasks/databricks/databricks_submitjob.py
Due: black, flake8

fix access to core_version in get_flow_run_command()
  src/prefect/utilities/agent.py
  tests/utilities/test_agent.py
Due: black, flake8

Update changelog entry
  CHANGELOG.md
  changes/pr3173.yaml
Due: none

Fix Docker task caplog tests
  tests/tasks/docker/test_containers.py
  tests/tasks/docker/test_images.py
Due: black

Update function docstring
  src/prefect/tasks/docker/containers.py
Due: black, flake8

add changes/ entry
  changes/pr3177.yaml
Due: none

Update changelog entry [ci skip]
  changes/pr3177.yaml
Due: none

Omit contrib/ from codecov
  setup.cfg
Due: none

CLoudHandler.emit responds to logging level in config
  src/prefect/utilities/logging.py
  tests/utilities/test_logging.py
Due: black, flake8

Add changelog entry
  changes/pr3179.yaml
Due: none

Update logging level on created jobs
  setup.cfg
  src/prefect/agent/docker/agent.py
  src/prefect/agent/fargate/agent.py
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/kubernetes/job_spec.yaml
  src/prefect/environments/execution/dask/job.yaml
  src/prefect/environments/execution/dask/k8s.py
  tests/agent/test_docker_agent.py
  tests/agent/test_fargate_agent.py
  tests/agent/test_local_agent.py
  tests/engine/cloud/test_cloud_flow_runner.py
  tests/engine/test_flow_runner.py
  tests/environments/execution/test_dask_k8s_environment.py
Due: black, flake8

Convert levelno to ENUM for clarity
  src/prefect/utilities/logging.py
Due: black, flake8

Update src/prefect/utilities/logging.py
  src/prefect/utilities/logging.py
Due: black, flake8

Show parameters example in create_flow_run gql
  docs/orchestration/concepts/flow_runs.md
Due: none

Update CHANGELOG
  CHANGELOG.md
  changes/issue2988.yaml
  changes/issue3142.yaml
  changes/issue3151.yaml
  changes/pr3146.yaml
  changes/pr3147.yaml
  changes/pr3168.yaml
  changes/pr3173.yaml
  changes/pr3177.yaml
  changes/pr3179.yaml
Due: none

Update API doc navbar to 0.13.3 [ci skip]
  docs/.vuepress/config.js
Due: none

Add init args to run method; move json to run
  src/prefect/contrib/tasks/databricks/databricks_submitjob.py
Due: black, flake8

Apply formatting
  src/prefect/contrib/tasks/databricks/databricks_submitjob.py
Due: black, flake8

Adjust test case for new run functionality
  tests/contrib/tasks/databricks/test_databricks.py
Due: black

Add assert checks for databricks_conn_secret
  src/prefect/contrib/tasks/databricks/databricks_submitjob.py
Due: black, flake8

Adjust test case for asserts
  tests/contrib/tasks/databricks/test_databricks.py
Due: black

Fix agent CLI api flag not being respected on start
  src/prefect/agent/agent.py
Due: black, flake8

Add changelog entry
  changes/pr3186.yaml
Due: none

Update changelog entry [ci skip]
  changes/pr3166.yaml
Due: none

Update logos in README
  README.md
  docs/.vuepress/public/logos/databricks.png
Due: none

Remove extra space in README logos box [ci skip]
  README.md
Due: none

Closes #3192 removes cloud badge from flow settings doc
  docs/orchestration/ui/flow.md
Due: none

Add changes entry
  changes/pr3193.yaml
Due: none

Remove changelog entry [ci skip]
  changes/pr3193.yaml
Due: none

Fix url of the guide
  docs/core/task_library/great_expectations.md
Due: none

Update the default image tags that server start uses
  src/prefect/cli/server.py
  tests/cli/test_server.py
Due: black, flake8

Update circleCI config to promote server artifacts based on core tag
  .circleci/config.yml
Due: none

Add changelog entry
  changes/pr3204.yaml
Due: none
