Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Add task run tests
  tests/orion/api/test_run_history.py
Due: black

Refactor run history chart to subclass D3Base
  orion-ui/src/components/BarChart/BarChart.vue
  orion-ui/src/components/Global/List/ListItem--Flow/ListItem--Flow.vue
  orion-ui/src/components/RunHistoryChart/RunHistoryChart.vue
  orion-ui/src/components/Visualizations/D3Base.ts
  orion-ui/src/views/Dashboard.vue
  orion-ui/tsconfig.json
  orion-ui/types/common/classes.d.ts
  orion-ui/types/common/main.d.ts
Due: none

Remove all timezone references from sqlite
  src/prefect/orion/api/flow_run_history.py
  src/prefect/orion/utilities/database.py
Due: black, flake8

Add timezone checks
  src/prefect/orion/utilities/database.py
  tests/database/test_postgres.py
  tests/orion/api/test_run_history.py
Due: black, flake8

Remove timezone test
  tests/database/test_postgres.py
Due: black

Revert sqlite timezone
  src/prefect/orion/utilities/database.py
Due: black, flake8

Add chart layouts for dashboard
  orion-ui/src/components/BarChart/BarChart.vue
  orion-ui/src/styles/components/bar--chart.scss
  orion-ui/src/views/Dashboard.vue
Due: none

Remove nav bar transitions
  orion-ui/src/components/ApplicationNav/NavBar.vue
Due: none

Add default pending state for API
  src/prefect/client.py
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/api/task_runs.py
  src/prefect/orion/models/deployments.py
  src/prefect/orion/schemas/states.py
  tests/fixtures/database.py
  tests/orion/api/test_flow_runs.py
  tests/orion/api/test_task_runs.py
  tests/test_client.py
Due: black, flake8

Add dummy data sets, bar charts work :)
  orion-ui/src/components/BarChart/BarChart.vue
  orion-ui/src/styles/components/bar--chart.scss
  orion-ui/src/util/run_duration/24_hours.json
  orion-ui/src/util/run_lateness/24_hours.json
  orion-ui/src/views/Dashboard.vue
Due: none

Use full status codes where possible
  src/prefect/orion/api/deployments.py
  src/prefect/orion/api/flow_run_states.py
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/api/flows.py
  src/prefect/orion/api/task_run_states.py
  src/prefect/orion/api/task_runs.py
Due: black, flake8

Fix none asserts
  tests/orion/models/test_orm.py
Due: black

Update tests
  tests/fixtures/database.py
  tests/orion/models/test_orm.py
  tests/orion/orchestration/test_global_policy.py
  tests/orion/schemas/test_states.py
Due: black

Docs to accompany a new updated integration with PagerDuty that is coming soon
  docs/orchestration/integrations/pagerduty.md
Due: none

Add fix to changelog
  changes/pr4924.yaml
Due: none

Fix zachs error from github merge
  src/prefect/orion/api/flow_runs.py
Due: black, flake8

Catch `PrefectSignal` in multiprocessing_safe_run_and_retrieve (#4924)
  changes/pr4924.yaml
  src/prefect/utilities/executors.py
  tests/executors/test_executors.py
Due: black, flake8

Fix default state for `create_flow_run_from_deployment`
  src/prefect/client.py
Due: black, flake8

Cleanup comment
  src/prefect/engine.py
Due: black, flake8

update quick run button styling on deployment page
  orion-ui/src/components/Global/List/ListItem--Deployment/ListItem--Deployment.vue
Due: none

remove quick run button on flow tab of dashboard
  orion-ui/src/components/Global/List/ListItem--Flow/ListItem--Flow.vue
Due: none

Add client tests
  src/prefect/agent.py
  src/prefect/client.py
  src/prefect/engine.py
  tests/test_client.py
Due: black, flake8
