Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ui-v2, service-sync-ui-v2-openapi

check-ui-v2:
  name: Check UI v2
  language: system
  entry: sh
  args:
  - -c
  - . $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run check:staged
  pass_filenames: false

service-sync-ui-v2-openapi:
  name: Sync UI v2 OpenAPI
  language: system
  entry: sh
  args:
  - -c
  - . $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run service-sync
  pass_filenames: false
  stages:
  - pre-push

fix(ui-v2): reset tab and hide details content at xl for concurrency limit
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-page/task-run-concurrency-limit-tab-navigation.tsx
Due: check-ui-v2

Update docs/v3/release-notes/oss/version-3-6.mdx
  docs/v3/release-notes/oss/version-3-6.mdx
Due: none

fix(ui-v2): read --breakpoint-lg CSS var instead of hardcoding 1024px
  ui-v2/src/components/deployments/deployment-details-tabs.test.tsx
  ui-v2/src/components/deployments/deployment-details-tabs.tsx
Due: check-ui-v2

Fall back across validated IPs in SSRF-protected backends
  src/prefect/utilities/urls.py
  tests/utilities/test_urls.py
Due: none

Harden rich artifact payload handling
  docs/v3/concepts/artifacts.mdx
  docs/v3/how-to-guides/workflows/artifacts.mdx
  src/prefect/_internal/schemas/validators.py
  src/prefect/artifacts.py
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/objects.py
  src/prefect/server/api/artifacts.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  tests/client/test_prefect_client.py
  tests/server/orchestration/api/test_artifacts.py
  tests/test_artifacts.py
  ui-v2/src/components/artifacts/artifact/detail-rich.test.tsx
  ui-v2/src/components/artifacts/artifact/detail-rich.tsx
Due: check-ui-v2, service-sync-ui-v2-openapi

address review: drop pre-PR phrasing and signal tree even after shell exit
  src/integrations/prefect-shell/prefect_shell/commands.py
  src/integrations/prefect-shell/tests/test_commands.py
Due: none

fix(prefect-shell): kill whole process tree on ShellOperation cleanup (#21586)
  src/integrations/prefect-shell/prefect_shell/commands.py
  src/integrations/prefect-shell/tests/test_commands.py
Due: none

docs: Add release notes for prefect-kubernetes==0.7.8
  docs/integrations/prefect-kubernetes/api-ref/prefect_kubernetes-experimental-decorators.mdx
  docs/v3/release-notes/integrations/prefect-kubernetes.mdx
  src/integrations/prefect-kubernetes/pyproject.toml
Due: none

Fix _UnpicklingFuture.add_done_callback swallowing deserialization errors (#21610)
  src/prefect/task_runners.py
  tests/test_task_runners.py
Due: none

fix(tests): raise asyncpg connection_timeout in unit test mode
  src/prefect/server/database/configurations.py
Due: none

Fix _UnpicklingFuture.add_done_callback swallowing deserialization errors (#21612)
  src/prefect/task_runners.py
  tests/test_task_runners.py
Due: none

Add defensive try/except in PrefectWrappedFuture.add_done_callback (#21615)
  src/prefect/futures.py
  tests/test_futures.py
Due: none

Run SSRF DNS lookup off the event loop and share retry timeout budget
  src/prefect/utilities/urls.py
  tests/utilities/test_urls.py
Due: none

fix(tests): prevent aiosqlite teardown race in legacy events/out test
  tests/events/server/gateway/test_gateway_out.py
Due: none

custom_headers Authorization takes precedence over PREFECT_API_KEY in check_server_version
  src/prefect/client/_version_checking.py
  tests/client/test_prefect_client.py
Due: none

Document uv run --project for local integrations
  AGENTS.md
Due: none

Align running command comments in AGENTS
  AGENTS.md
Due: none

fix(ui-v2): set 'Settings' browser page title on settings page
  ui-v2/src/components/settings/settings-page.tsx
Due: check-ui-v2

fix(ui-v2): restore block name read-only field with explanation on block edit page
  ui-v2/src/components/blocks/block-document-edit-page/block-document-edit-page.test.tsx
  ui-v2/src/components/blocks/block-document-edit-page/block-document-edit-page.tsx
Due: check-ui-v2

fix(ui-v2): include automation name in edit page breadcrumb
  ui-v2/src/components/automations/automation-edit-page.tsx
  ui-v2/src/components/automations/automations-edit-header/automations-edit-header.stories.tsx
  ui-v2/src/components/automations/automations-edit-header/automations-edit-header.test.tsx
  ui-v2/src/components/automations/automations-edit-header/automations-edit-header.tsx
Due: check-ui-v2

fix(ui-v2): default work pool queue page to Details tab (OSS-7850)
  ui-v2/src/components/work-pools/work-pool-queue-tabs-sync/index.ts
  ui-v2/src/components/work-pools/work-pool-queue-tabs-sync/use-redirect-details-tab-on-desktop.test.ts
  ui-v2/src/components/work-pools/work-pool-queue-tabs-sync/use-redirect-details-tab-on-desktop.ts
  ui-v2/src/routes/work-pools/work-pool_.$workPoolName.queue.$workQueueName.tsx
Due: check-ui-v2

feat(ui-v2): add promotional marketing banner to dashboard (OSS-7845)
  ui-v2/public/marketing-banner-bg-dark.svg
  ui-v2/public/marketing-banner-bg-light.svg
  ui-v2/src/components/dashboard/index.ts
  ui-v2/src/components/dashboard/marketing-banner/index.ts
  ui-v2/src/components/dashboard/marketing-banner/marketing-banner.stories.tsx
  ui-v2/src/components/dashboard/marketing-banner/marketing-banner.test.tsx
  ui-v2/src/components/dashboard/marketing-banner/marketing-banner.tsx
  ui-v2/src/routes/dashboard.tsx
Due: check-ui-v2

fix(ui-v2): allow direct access to /login to match V1 behavior
  ui-v2/e2e/auth/login.spec.ts
  ui-v2/src/routes/login.tsx
Due: check-ui-v2

chore(ui-v2): simplify mockSettings helpers and drop diff comments
  ui-v2/src/components/dashboard/marketing-banner/marketing-banner.stories.tsx
  ui-v2/src/components/dashboard/marketing-banner/marketing-banner.test.tsx
  ui-v2/src/routes/dashboard.tsx
Due: check-ui-v2

ui-v2: unify work-pool metric empty placeholders to N/A (OSS-7847)
  ui-v2/src/components/dashboard/work-pools-card/work-pools-card.test.tsx
  ui-v2/src/components/dashboard/work-pools-card/work-pools-card.tsx
Due: check-ui-v2

fix(ui-v2): default work pool detail tab to Details to match V1
  ui-v2/src/routes/work-pools/-use-redirect-details-tab-on-desktop.test.tsx
  ui-v2/src/routes/work-pools/-use-redirect-details-tab-on-desktop.ts
  ui-v2/src/routes/work-pools/work-pool.$workPoolName.tsx
Due: check-ui-v2

fix(ui-v2): defer post-login navigation to effect so auth context propagates
  ui-v2/src/components/auth/login-page.test.tsx
  ui-v2/src/components/auth/login-page.tsx
Due: check-ui-v2

docs: tighten versioning policy and release kickoff classification
  .github/workflows/kickoff-release.yaml
  docs/contribute/styles-practices.mdx
Due: none

feat: Use uvicorn[standard] to get faster asyncio loop implementation
  client/pyproject.toml
  pyproject.toml
  uv.lock
Due: none

Respect Dask annotated task priorities
  src/integrations/prefect-dask/prefect_dask/client.py
  src/integrations/prefect-dask/tests/test_client.py
Due: none

test: use RouterProvider and drop api-layer mocks per review feedback
  ui-v2/src/components/blocks/block-document-edit-page/block-document-edit-page.test.tsx
Due: check-ui-v2

fix(ui-v2): scope accordion page to active flow and reset on filter changes
  ui-v2/src/components/dashboard/flow-runs-accordion/flow-runs-accordion.test.tsx
  ui-v2/src/components/dashboard/flow-runs-accordion/index.tsx
  ui-v2/src/components/dashboard/flow-runs-card/index.tsx
  ui-v2/src/routes/dashboard.tsx
Due: check-ui-v2

fix(ui-v2): avoid marketing banner flash while settings load
  ui-v2/src/components/dashboard/marketing-banner/marketing-banner.test.tsx
  ui-v2/src/components/dashboard/marketing-banner/marketing-banner.tsx
Due: check-ui-v2

fix(ui-v2): pin state tab in URL when paginating flow-runs accordion
  ui-v2/src/routes/dashboard.tsx
Due: check-ui-v2

Don't overwrite custom_headers Authorization with PREFECT_API_KEY in check_server_version (#21621)
  src/prefect/client/_version_checking.py
  tests/client/test_prefect_client.py
Due: none

fix(ui-v2): lint + stale internal page + date range pagination reset
  ui-v2/src/components/dashboard/flow-runs-accordion/flow-runs-accordion-content.tsx
  ui-v2/src/routes/dashboard.tsx
Due: check-ui-v2

fix WheneverDeprecationWarning
  src/prefect/types/_datetime.py
  tests/test_datetime.py
Due: none

Path conditions:
  check-ui-v2: any of: (?x)^(
    .pre-commit-config.yaml|
    ui-v2/.*
)$

  service-sync-ui-v2-openapi: any of: (?x)^(
    .pre-commit-config.yaml|
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    src/prefect/server/utilities/schemas/.*|
    ui-v2/package.json
)$

