Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Add test for `_fail_flow_run`
  tests/backend/test_execution.py
Due: black

Add tests for `fail_flow_run_on_exception`
  src/prefect/backend/execution.py
  tests/backend/test_execution.py
Due: black, flake8

Add tests for `get_flow_run_scheduled_start_time` and fix sorting/edge-cases
  src/prefect/backend/execution.py
  tests/backend/test_execution.py
Due: black, flake8

Add tests for `_get_next_task_run_start_time`
  src/prefect/backend/execution.py
  tests/backend/test_execution.py
Due: black, flake8

Begin testing `generate_flow_run_environ`
  src/prefect/backend/execution.py
  tests/backend/test_execution.py
Due: black, flake8

Add backwards compatibility api key passing as auth token
  src/prefect/agent/docker/agent.py
  src/prefect/agent/ecs/agent.py
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/local/agent.py
  tests/agent/test_docker_agent.py
  tests/agent/test_ecs_agent.py
  tests/agent/test_k8s_agent.py
  tests/agent/test_local_agent.py
Due: black, flake8

Only warn if the API key and API token are different
  src/prefect/client/client.py
Due: black, flake8

Add changes/pr4683.yaml
  changes/pr4683.yaml
Due: none

Split the auth save/load functions out of the `Client
  docs/orchestration/concepts/api.md
  src/prefect/cli/auth.py
  src/prefect/client/__init__.py
  src/prefect/client/client.py
  tests/agent/test_docker_agent.py
  tests/agent/test_ecs_agent.py
  tests/agent/test_k8s_agent.py
  tests/agent/test_local_agent.py
  tests/cli/test_auth.py
  tests/client/test_client.py
Due: black, flake8

Cleanup `FlowView` (#4677)
  src/prefect/backend/flow.py
Due: black, flake8

Pass API keys as tokens as well when creating flow run environments (#4683)
  changes/pr4683.yaml
  src/prefect/agent/docker/agent.py
  src/prefect/agent/ecs/agent.py
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/local/agent.py
  src/prefect/client/client.py
  tests/agent/test_docker_agent.py
  tests/agent/test_ecs_agent.py
  tests/agent/test_k8s_agent.py
  tests/agent/test_local_agent.py
Due: black, flake8

Always retrieve the tenant id in the Client
  docs/orchestration/concepts/api.md
  src/prefect/backend/tenant.py
  src/prefect/cli/auth.py
  src/prefect/client/client.py
  tests/backend/test_tenant.py
  tests/cli/test_auth.py
  tests/client/test_client.py
Due: black, flake8

Use property in `register_agent`
  src/prefect/client/client.py
Due: black, flake8

Ensure that a tenant id is not null
  src/prefect/client/client.py
  tests/client/test_client.py
Due: black, flake8

Patch agent tests to cover pulling the tenant from the backend
  tests/agent/test_docker_agent.py
  tests/agent/test_ecs_agent.py
  tests/agent/test_k8s_agent.py
  tests/agent/test_local_agent.py
Due: black

Only use backwards compat if an api_key is not set
  src/prefect/client/client.py
Due: black, flake8

Error in `_get_auth_tenant` if no api key is set
  src/prefect/client/client.py
Due: black, flake8

Swap order of tenant handling so new key handling is default cloud case
  src/prefect/client/client.py
  tests/client/test_client.py
  tests/client/test_client_auth_compat.py
Due: black, flake8

Add test coverage for `_get_auth_tenant` raise
  tests/client/test_client.py
Due: black

Fix test by setting mock api key
  tests/cli/test_auth.py
Due: black

Switch to `server_api` for project creation test so api key is not required
  tests/cli/test_create.py
Due: black

Mypy
  src/prefect/client/client.py
Due: black, flake8

Set the tenant id on login
  src/prefect/cli/auth.py
  tests/cli/test_auth.py
Due: black, flake8

Fix call assertion
  tests/cli/test_auth.py
Due: black

Clarify comment and raise an error if token is used as key
  src/prefect/client/client.py
  tests/client/test_client.py
Due: black, flake8

Update some error type to `Client` errors
  src/prefect/cli/auth.py
  src/prefect/client/client.py
  tests/client/test_client.py
Due: black, flake8

Lint
  src/prefect/cli/auth.py
Due: black, flake8

Simplify auth login logic now that tenant id is never null
  src/prefect/cli/auth.py
Due: black, flake8

`Client.tenant_id` always returns a value or errors (#4686)
  docs/orchestration/concepts/api.md
  src/prefect/backend/tenant.py
  src/prefect/cli/auth.py
  src/prefect/client/client.py
  tests/agent/test_docker_agent.py
  tests/agent/test_ecs_agent.py
  tests/agent/test_k8s_agent.py
  tests/agent/test_local_agent.py
  tests/backend/test_tenant.py
  tests/cli/test_auth.py
  tests/cli/test_create.py
  tests/client/test_client.py
  tests/client/test_client_auth_compat.py
Due: black, flake8

Being execute_flow_run_in_subprocess tests
  src/prefect/backend/execution.py
  tests/backend/test_execution.py
Due: black, flake8

Add SendGrid to Readme and Task Library overview (#4670)
  README.md
  docs/.vuepress/public/logos/sendgrid.png
  docs/core/task_library/overview.md
Due: none

Add addtional failure case tests
  src/prefect/backend/execution.py
  tests/backend/test_execution.py
Due: black, flake8

Add test for loop until finished behavior
  tests/backend/test_execution.py
Due: black

Add comment
  tests/backend/test_execution.py
Due: black

Handle null timestamps in K8s agent pod events
  src/prefect/agent/kubernetes/agent.py
Due: black, flake8

Handle missing attribute in the loop as well; add debug log
  src/prefect/agent/kubernetes/agent.py
Due: black, flake8

Add changes/pr4693.yaml
  changes/pr4693.yaml
Due: none

Fix typo in test
  tests/backend/test_execution.py
Due: black

Consolidate subprocess execution tests and mocks
  src/prefect/backend/execution.py
  tests/backend/test_execution.py
Due: black, flake8

Add tests for `_wait_for_flow_run_start_time`
  tests/backend/test_execution.py
Due: black
