Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Add lots more tests
  src/prefect/flow_runners.py
  tests/test_flow_runners.py
Due: black, flake8

Add stream output tests for `DockerFlowRunner`
  tests/test_flow_runners.py
Due: black

Add env tests for `DockerFlowRunner`
  tests/test_flow_runners.py
Due: black

Add network tests
  tests/test_flow_runners.py
Due: black

Add volume config validation
  src/prefect/flow_runners.py
  tests/test_flow_runners.py
Due: black, flake8

Add additional settings tests
  src/prefect/flow_runners.py
  tests/test_flow_runners.py
Due: black, flake8

Update src/prefect/tasks/files/operations.py
  src/prefect/tasks/files/operations.py
Due: black, flake8

Update favicons to use current gradient logo. (#5259)
  docs/.vuepress/public/favicon-16x16.png
  docs/.vuepress/public/favicon-32x32.png
  docs/.vuepress/public/favicon-96x96.png
  docs/.vuepress/public/favicon.ico
Due: none

docs: fix typo in server overview (#5255)
  docs/orchestration/server/overview.md
Due: none

Fixup comment
  src/prefect/flows.py
Due: black, flake8

Update the copy icon. Little tidying up
  orion-ui/src/styles/views/flow-run.scss
  orion-ui/src/views/FlowRun.vue
Due: none

Update branch and tag
  .circleci/config.yml
Due: none

Adds application identifier to Snowflake connection in Snowflake tasks
  src/prefect/tasks/snowflake/snowflake.py
  tests/tasks/snowflake/test_snowflake.py
Due: black, flake8

Fix imports
  tests/test_engine.py
Due: black

Add release candidate builds to `master` config
  .circleci/config.yml
Due: none

Add to pipelines
  .circleci/config.yml
Due: none

Fix tags in CI
  .circleci/config.yml
Due: none

Fix tag again
  .circleci/config.yml
Due: none

Drop support for ephemeral servers in container
  src/prefect/flow_runners.py
  tests/test_flow_runners.py
Due: black, flake8

Add environment tests
  tests/test_flow_runners.py
Due: black

Add missing `parameters` arg to engine tests
  tests/test_engine.py
Due: black

Add release candidate builds to `master` config (#5268)
  .circleci/config.yml
Due: none

Fixup build branch name
  .circleci/config.yml
Due: none

Fixup build branch name (#5269)
  .circleci/config.yml
Due: none

Adds comment clarifying purpose of application in Snowflake connection params
  src/prefect/tasks/snowflake/snowflake.py
Due: black, flake8

Set the docker storage base image correctly for 1.0rc
  src/prefect/storage/docker.py
  tests/storage/test_docker_storage.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: ^src/prefect/ and \.py$
