Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Add monday logo to task library list
  docs/.vuepress/public/logos/monday.png
  docs/core/task_library/overview.md
Due: none

Update logos in README
  README.md
Due: none

Add note about task library documentation
  docs/core/task_library/contributing.md
Due: none

add copy_function=shutil.copyfile
  src/prefect/environments/storage/docker.py
Due: black, flake8

Expand tests for k8s agent
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/kubernetes/job_template.yaml
  src/prefect/run_configs/base.py
  src/prefect/utilities/agent.py
  tests/agent/test_k8s_agent.py
  tests/utilities/test_agent.py
Due: black, flake8

Change run_config serialization to use OneOfSchema
  src/prefect/serialization/run_config.py
  tests/serialization/test_run_configs.py
Due: black, flake8

Fixup docs tooling/test
  docs/generate_docs.py
  docs/test_generate_docs.py
Due: black

Compat fixup
  tests/agent/test_k8s_agent.py
Due: black

Windows compatibility fixes
  src/prefect/agent/kubernetes/agent.py
  src/prefect/run_configs/kubernetes.py
  src/prefect/utilities/filesystems.py
  tests/agent/test_k8s_agent.py
  tests/run_configs/test_kubernetes.py
  tests/utilities/test_filesystems.py
Due: black, flake8

Add warning to `KubernetesJob` run config.
  src/prefect/run_configs/kubernetes.py
Due: black, flake8

Add changelog entry
  changes/pr3333.yaml
Due: none

Update changes/pr3404.yaml
  changes/pr3404.yaml
Due: none

Skip s3/gcs tests if not installed
  tests/utilities/test_filesystems.py
Due: black

add config page
  docs/orchestration/faq/config.md
  package-lock.json
Due: none

remove package lock json changes
  package-lock.json
Due: none

add endpoint details
  docs/orchestration/faq/config.md
Due: none

add link to prefect core config docs
  docs/orchestration/faq/config.md
Due: none

update spacing and formatting
  docs/orchestration/faq/config.md
Due: none

LocalMod into Local
  src/prefect/agent/local/agent.py
  src/prefect/environments/storage/__init__.py
  src/prefect/environments/storage/local.py
  src/prefect/serialization/storage.py
  src/prefect/utilities/storage.py
  tests/agent/test_local_agent.py
  tests/environments/storage/test_localmod_storage.py
  tests/serialization/test_storage.py
Due: black, flake8

delete localmod.py
  src/prefect/environments/storage/localmod.py
Due: black, flake8

reformat code style
  src/prefect/serialization/storage.py
  src/prefect/utilities/storage.py
  tests/serialization/test_storage.py
Due: black, flake8

fix one typo
  src/prefect/environments/storage/local.py
Due: black, flake8

Rename KubernetesJob to KubernetesRun
  src/prefect/run_configs/__init__.py
  src/prefect/run_configs/kubernetes.py
  src/prefect/serialization/run_config.py
  tests/agent/test_k8s_agent.py
  tests/run_configs/test_kubernetes.py
  tests/serialization/test_run_configs.py
  tests/utilities/test_agent.py
Due: black, flake8

Update docs outline
  docs/outline.toml
Due: none

Update project error text
  src/prefect/client/client.py
Due: black, flake8

Update client test
  src/prefect/client/client.py
  tests/client/test_client.py
Due: black, flake8

Add changelog entry
  changes/pr1111.yaml
Due: none

typo, docs, and format fixes
  changes/pr3351.yaml
  src/prefect/environments/storage/local.py
  src/prefect/utilities/storage.py
Due: black, flake8

Working task run name in task runner pipeline
  src/prefect/client/client.py
  src/prefect/core/task.py
  src/prefect/engine/cloud/task_runner.py
  src/prefect/engine/task_runner.py
Due: black, flake8

Update mypy typing and docstrings
  src/prefect/client/client.py
  src/prefect/core/task.py
  src/prefect/engine/cloud/task_runner.py
  src/prefect/engine/task_runner.py
Due: black, flake8

Ignore mypy type errors
  src/prefect/client/client.py
  src/prefect/core/task.py
  src/prefect/engine/cloud/task_runner.py
  src/prefect/engine/task_runner.py
Due: black, flake8

Update storage.py
  src/prefect/utilities/storage.py
Due: black, flake8

Add tests for task run name generation
  tests/client/test_client.py
  tests/core/test_task.py
  tests/engine/cloud/test_cloud_task_runner.py
Due: black

Black formatting
  tests/client/test_client.py
  tests/engine/cloud/test_cloud_task_runner.py
Due: black

Add changelog entry
  changes/issue2100.yaml
Due: none

Update changelog entry
  changes/issue2100.yaml
Due: none

Update kwarg name in docstring
  src/prefect/engine/cloud/task_runner.py
  src/prefect/engine/task_runner.py
Due: black, flake8

Address comments from PR
  changes/issue2100.yaml
  src/prefect/core/task.py
Due: black, flake8

Audit package-lock.json
  package-lock.json
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: ^src/prefect/ and \.py$
