Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Update changelog for 0.12.4 release
  CHANGELOG.md
  changes/issue1262.yaml
  changes/issue2656.yaml
  changes/pr2916.yaml
  changes/pr2934.yaml
  changes/pr2935.yaml
  changes/pr2940.yaml
  changes/pr2950.yaml
  changes/pr2961.yaml
  changes/pr2965.yaml
Due: none

Update navbar for 0.12.4 release
  docs/.vuepress/config.js
Due: none

Remove storage doc restructure and add note to file-based idiom
  docs/.vuepress/config.js
  docs/core/idioms/file-based.md
  docs/orchestration/execution/storage_options.md
  docs/orchestration/storage/overview.md
Due: none

Add healthcheck for flow file import
  docs/core/idioms/file-based.md
  src/prefect/environments/storage/_healthcheck.py
  src/prefect/environments/storage/docker.py
Due: black, flake8

Add note of Docker file-based storage to idiom
  docs/core/idioms/file-based.md
Due: none

Add changelog entry
  changes/pr2944.yaml
Due: none

Add healthcheck tests for flow script import
  src/prefect/environments/storage/_healthcheck.py
  tests/environments/storage/test_docker_healthcheck.py
Due: black, flake8

Allow flatten to fallback gracefully
  src/prefect/utilities/executors.py
  tests/core/test_task_map.py
  tests/utilities/test_edges.py
Due: black, flake8

Move resource manager to `prefect.tasks.core.resource_manager`
  docs/core/task_library/resource_manager.md
  docs/outline.toml
  src/prefect/__init__.py
  src/prefect/core/flow.py
  src/prefect/tasks/core/__init__.py
  src/prefect/tasks/core/resource_manager.py
  src/prefect/tasks/resources/__init__.py
  tests/tasks/core/test_core.py
  tests/tasks/core/test_resource_manager.py
  tests/tasks/resources/__init__.py
Due: black, flake8

Add changelog entry
  changes/pr2913.yaml
Due: none

Update docs/core/idioms/file-based.md
  docs/core/idioms/file-based.md
Due: none

Update tests/environments/storage/test_azure_storage.py
  tests/environments/storage/test_azure_storage.py
Due: black

Remove reference to Blocked handlers and turn work stealing on by default
  src/prefect/environments/execution/dask/job.yaml
  src/prefect/environments/execution/dask/k8s.py
  src/prefect/environments/execution/dask/worker_pod.yaml
  tests/environments/execution/test_dask_k8s_environment.py
Due: black, flake8

Add changelog entry
  changes/pr2973.yaml
Due: none

Add display_name_callable to task.map
  src/prefect/core/task.py
  src/prefect/engine/task_runner.py
Due: black, flake8

Update pr2898.yaml
  changes/pr2898.yaml
Due: none

added task AWSSecretsManager and tests
  src/prefect/tasks/aws/__init__.py
  src/prefect/tasks/aws/secrets_manager.py
  tests/tasks/aws/test_secrets_manager.py
Due: black, flake8

Update docker healthcheck for multiple flow files
  src/prefect/environments/storage/_healthcheck.py
  tests/environments/storage/test_docker_healthcheck.py
Due: black, flake8

Update file-based idiom to specify flow files baked into base images
  docs/core/idioms/file-based.md
Due: none

Reformat idiom for new line length
  docs/core/idioms/file-based.md
Due: none

added change log and outline.toml
  changes/issue2069.yaml
  docs/outline.toml
Due: none

minor renaming and formatting
  tests/tasks/aws/test_secrets_manager.py
Due: black

renamed "secret_name" to "name"
  src/prefect/tasks/aws/secrets_manager.py
  tests/tasks/aws/test_secrets_manager.py
Due: black, flake8

removed unnecessary imports
  src/prefect/tasks/aws/secrets_manager.py
Due: black, flake8

added raise ValueError if "name" not provided
  src/prefect/tasks/aws/secrets_manager.py
  tests/tasks/aws/test_secrets_manager.py
Due: black, flake8

Update edge / annotation construction
  src/prefect/utilities/edges.py
  src/prefect/utilities/tasks.py
  tests/utilities/test_edges.py
Due: black, flake8

Remove wait
  src/prefect/engine/flow_runner.py
Due: black, flake8

Clean up variable names in test
  tests/core/test_task_map.py
Due: black

Update typing
  src/prefect/utilities/edges.py
  src/prefect/utilities/tasks.py
Due: black, flake8

Begin the process of removing cached_inputs usage
  src/prefect/engine/state.py
  src/prefect/utilities/executors.py
Due: black, flake8

Fix docs
  src/prefect/utilities/edges.py
Due: black, flake8

renamed "name" to "secret"
  src/prefect/tasks/aws/secrets_manager.py
  tests/tasks/aws/test_secrets_manager.py
Due: black, flake8

minor changes
  src/prefect/tasks/aws/secrets_manager.py
Due: black, flake8

minor docstring change
  src/prefect/tasks/aws/secrets_manager.py
Due: black, flake8

Add py.typed and package_data so it's bundled with release
  setup.py
  src/prefect/py.typed
Due: black

Send regular heartbeats while waiting to retry /dequeue
  changes/pr2977.yaml
  src/prefect/engine/cloud/task_runner.py
Due: black, flake8

COnvert float -> int for windows
  src/prefect/engine/cloud/task_runner.py
Due: black, flake8

return output from super so we have a result
  src/prefect/tasks/dbt/dbt.py
Due: black, flake8
