Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Add base `RunContext` with start time; pass `executor` in `FlowRunContext`
  src/prefect/context.py
  src/prefect/executors.py
  src/prefect/flows.py
  tests/prefect/test_context.py
Due: black, flake8

Add `get_run_context`
  src/prefect/context.py
Due: black, flake8

Add `get_run_context` test
  src/prefect/context.py
  tests/prefect/test_context.py
Due: black, flake8

Collapse pool executor implementations; do not create pool until __enter__
  src/prefect/executors.py
  src/prefect/flows.py
  tests/prefect/test_executors.py
Due: black, flake8

Add flow/task run ids to futures
  src/prefect/flows.py
  src/prefect/futures.py
  src/prefect/tasks.py
Due: black, flake8

Skip test on linux
  tests/prefect/test_executors.py
Due: black

Fixup test skip
  tests/prefect/test_executors.py
Due: black

Remove `is_done` for now
  src/prefect/orion/schemas/core.py
Due: black, flake8

Update `State.data` to be `Any`
  src/prefect/orion/schemas/core.py
Due: black, flake8

Attach data to the state
  src/prefect/flows.py
  src/prefect/futures.py
  src/prefect/tasks.py
Due: black, flake8

Drop unserializable data when setting states
  src/prefect/client.py
Due: black, flake8

Add task run upsert logic
  src/prefect/client.py
  src/prefect/orion/api/flows.py
  src/prefect/orion/api/task_runs.py
  src/prefect/orion/models/orm.py
  src/prefect/tasks.py
  tests/prefect/orion/api/test_task_runs.py
  tests/prefect/test_flows.py
Due: black, flake8

Add test for task dynamic keys
  tests/prefect/test_tasks.py
Due: black

Remove todo
  src/prefect/tasks.py
Due: black, flake8

Remove results validators
  src/prefect/engine/result/base.py
  tests/engine/result/test_base.py
Due: black, flake8

Remove reference to validators in test
  tests/engine/result/test_base.py
Due: black

Looks like it is 10 minutes not 1 (#4819)
  src/prefect/engine/cloud/task_runner.py
Due: black, flake8

Remove xxhash
  requirements.txt
Due: none

Remove results validators (#4822)
  src/prefect/engine/result/base.py
  tests/engine/result/test_base.py
Due: black, flake8

Fixup `flow_run_id` type
  src/prefect/client.py
Due: black, flake8

Fixup dynamic key increment
  src/prefect/tasks.py
Due: black, flake8

Fix default safe char for gitlab storage repo path
  src/prefect/storage/gitlab.py
Due: black, flake8

Update gitlab.py
  src/prefect/storage/gitlab.py
Due: black, flake8
