Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Dbt cloud enterprise (#5273)
  changes/pr5273.yaml
  src/prefect/tasks/dbt/dbt.py
  src/prefect/tasks/dbt/dbt_cloud_utils.py
  tests/tasks/dbt/test_dbt.py
Due: black, flake8

Cherry-pick dockerfile from `docker-flow-runner` branch
  Dockerfile
  scripts/entrypoint.sh
Due: none

Relax version pins on apt depends
  Dockerfile
Due: none

Refactored code as per PR review comments.
  tests/tasks/firebolt/test_firebolt.py
Due: black

Add 'Firebolt' to Prefect task library. (#5265)
  changes/pr5265.yaml
  docs/outline.toml
  setup.py
  src/prefect/tasks/firebolt/__init__.py
  src/prefect/tasks/firebolt/firebolt.py
  tests/tasks/firebolt/__init__.py
  tests/tasks/firebolt/test_firebolt.py
Due: black, flake8

Update `dev` tag to be pep440 complaint
  src/prefect/flow_runners.py
  tests/test_flow_runners.py
Due: black, flake8

Add release image publishing
  .github/workflows/release.yaml
Due: none

Cleanup
  .github/workflows/release.yaml
Due: none

Add image metadata generation before approval for testing
  .github/workflows/release.yaml
Due: none

Fix missing references to previously globally-registered components
  orion-ui/src/components/FilterBar/FilterMenu.vue
Due: none

Update OpenAPI schema generation and add test to detect future breaks
  src/prefect/orion/api/server.py
  tests/orion/test_app.py
Due: black, flake8

Cleanup separation of build/push
  .github/workflows/release.yaml
Due: none

Enable buildx
  .github/workflows/release.yaml
Due: none

Remove `context` -- should not be explicit without checkout
  .github/workflows/release.yaml
Due: none

Fix component naming in the template so the imports don't appear to be unused
  orion-ui/src/components/FilterBar/FilterMenu.vue
Due: none

2.0a7 Release Notes
  RELEASE-NOTES.md
Due: none

Document RRuleClock.
  docs/core/concepts/schedules.md
  src/prefect/schedules/clocks.py
Due: black, flake8

Publish verified badge image for future README updates.
  docs/.vuepress/public/assets/verified_logo.png
Due: none

Fix test image tag ref
  .github/workflows/release.yaml
Due: none

Use the short sha instead and include python version
  .github/workflows/release.yaml
Due: none

Allow `mock` to be missing from `prefect.utilities.compat`
  src/prefect/utilities/compat.py
Due: black, flake8

Severale adjustments based on reviewers' suggestions
  dev-requirements.txt
  src/prefect/tasks/cubejs/cubejs_tasks.py
  tests/tasks/cubejs/test_cubejs_tasks.py
Due: black, flake8

Fix test version command
  .github/workflows/release.yaml
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: ^src/prefect/ and \.py$
