Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ui-v2, service-sync-ui-v2-openapi

check-ui-v2:
  name: Check UI v2
  language: system
  entry: sh
  args:
  - -c
  - . $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run check:staged
  pass_filenames: false

service-sync-ui-v2-openapi:
  name: Sync UI v2 OpenAPI
  language: system
  entry: sh
  args:
  - -c
  - . $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run service-sync
  pass_filenames: false
  stages:
  - pre-push

Add composable worker initializer to ProcessPoolTaskRunner (#22591)
  src/prefect/task_runners.py
  tests/test_task_runners.py
Due: none

fix(suspension): run polling safety net alongside websocket in FlowRunSuspendingObserver
  src/prefect/_internal/observers.py
  tests/test_observers.py
Due: none

fix(suspension): restart polling safety net if the prior task has exited
  src/prefect/_internal/observers.py
Due: none

Simplify flow run watch failure handling
  src/prefect/cli/flow_runs_watching.py
  src/prefect/events/subscribers.py
  tests/cli/test_flow_run_watching.py
  tests/events/client/test_flow_run_subscriber.py
Due: none

fix(ui-v2): guard deployment Parameters tab against missing schema properties
  ui-v2/src/components/deployments/deployment-parameters-table/deployment-parameters-table.test.tsx
  ui-v2/src/components/deployments/deployment-parameters-table/deployment-parameters-table.tsx
Due: check-ui-v2

Fix stale deployment concurrency reads for late runs
  src/prefect/server/orchestration/core_policy.py
  tests/server/orchestration/test_core_policy.py
Due: none

fix: use asyncio.TimeoutError as default timeout exception to match asyncpg behavior (closes #16299)
  src/prefect/utilities/timeout.py
Due: none

fix(futures): enforce timeout deadline in as_completed for worker threads and Windows
  .github/workflows/windows-tests.yaml
  src/prefect/futures.py
  tests/test_futures.py
Due: none

fix(futures): drain queued callbacks before enforcing as_completed timeout
  src/prefect/futures.py
  tests/test_futures.py
Due: none

Reconnect flow run streams in lower-level subscribers
  src/prefect/cli/flow_runs_watching.py
  src/prefect/events/clients.py
  src/prefect/events/subscribers.py
  src/prefect/logging/clients.py
  tests/cli/test_flow_run_watching.py
  tests/events/client/test_events_subscriber.py
  tests/events/client/test_flow_run_subscriber.py
  tests/logging/test_logs_subscriber.py
Due: none

Update docs/v3/how-to-guides/workflows/global-concurrency-limits.mdx
  docs/v3/how-to-guides/workflows/global-concurrency-limits.mdx
Due: none

Restore clean-close subscriber compatibility
  src/prefect/events/clients.py
  src/prefect/events/subscribers.py
  src/prefect/logging/clients.py
  tests/events/client/test_events_subscriber.py
  tests/events/client/test_flow_run_subscriber.py
  tests/logging/test_logs_subscriber.py
Due: none

Fix unbound matchMedia test references
  ui-v2/src/components/deployments/deployment-details-tabs.test.tsx
  ui-v2/src/components/work-pools/work-pool-queue-tabs-sync/use-redirect-details-tab-on-desktop.test.ts
  ui-v2/src/hooks/use-state-favicon.test.ts
  ui-v2/src/routes/work-pools/-use-redirect-details-tab-on-desktop.test.tsx
Due: check-ui-v2

Add migration regression coverage and ledger entry
  src/prefect/server/database/_migrations/MIGRATION-NOTES.md
  tests/server/database/test_migrations.py
Due: none

Add HA delivery for background tasks
  docs/v3/api-ref/settings-ref.mdx
  docs/v3/how-to-guides/workflows/run-background-tasks.mdx
  pyproject.toml
  schemas/settings.schema.json
  src/prefect/client/subscriptions.py
  src/prefect/server/api/server.py
  src/prefect/server/api/task_runs.py
  src/prefect/server/orchestration/core_policy.py
  src/prefect/server/task_queue.py
  src/prefect/settings/_types.py
  src/prefect/settings/models/server/tasks.py
  src/prefect/task_worker.py
  tests/client/test_subscriptions.py
  tests/server/orchestration/api/test_task_run_subscriptions.py
  tests/server/test_task_queue.py
  tests/test_background_tasks.py
  tests/test_settings.py
  tests/test_task_worker.py
  uv.lock
Due: service-sync-ui-v2-openapi

Support offline SQL for event resource index migration
  src/prefect/server/database/_migrations/versions/postgresql/2026_07_20_000000_50737cdaee36_add_event_resources_event_id_index.py
  tests/server/database/test_migrations.py
Due: none

Address subscriber reconnect review feedback
  src/prefect/cli/flow_runs_watching.py
  src/prefect/events/clients.py
  src/prefect/logging/clients.py
  tests/cli/test_flow_run_watching.py
  tests/events/client/test_events_subscriber.py
  tests/logging/test_logs_subscriber.py
Due: none

Fix schema form snapshot ID instability
  ui-v2/src/components/schemas/__snapshots__/schema-form.snapshot.test.tsx.snap
  ui-v2/src/components/schemas/schema-form.snapshot.test.tsx
Due: check-ui-v2

docs: Add release notes for 3.8.0
  docs/docs.json
  docs/v3/api-ref/python/prefect-cli-api.mdx
  docs/v3/api-ref/python/prefect-cli-artifact.mdx
  docs/v3/api-ref/python/prefect-cli-automation.mdx
  docs/v3/api-ref/python/prefect-cli-block.mdx
  docs/v3/api-ref/python/prefect-cli-deployment.mdx
  docs/v3/api-ref/python/prefect-cli-events.mdx
  docs/v3/api-ref/python/prefect-cli-flow_run.mdx
  docs/v3/api-ref/python/prefect-cli-flow_runs_watching.mdx
  docs/v3/api-ref/python/prefect-cli-global_concurrency_limit.mdx
  docs/v3/api-ref/python/prefect-cli-sdk.mdx
  docs/v3/api-ref/python/prefect-cli-server.mdx
  docs/v3/api-ref/python/prefect-cli-work_pool.mdx
  docs/v3/api-ref/python/prefect-client-schemas-filters.mdx
  docs/v3/api-ref/python/prefect-deployments-runner.mdx
  docs/v3/api-ref/python/prefect-events-clients.mdx
  docs/v3/api-ref/python/prefect-events-subscribers.mdx
  docs/v3/api-ref/python/prefect-events-worker.mdx
  docs/v3/api-ref/python/prefect-exceptions.mdx
  docs/v3/api-ref/python/prefect-filesystems.mdx
  docs/v3/api-ref/python/prefect-flows.mdx
  docs/v3/api-ref/python/prefect-futures.mdx
  docs/v3/api-ref/python/prefect-logging-clients.mdx
  docs/v3/api-ref/python/prefect-logging-filters.mdx
  docs/v3/api-ref/python/prefect-server-database-configurations.mdx
  docs/v3/api-ref/python/prefect-server-database-orm_models.mdx
  docs/v3/api-ref/python/prefect-server-events-clients.mdx
  docs/v3/api-ref/python/prefect-server-orchestration-global_policy.mdx
  docs/v3/api-ref/python/prefect-settings-models-server-database.mdx
  docs/v3/api-ref/python/prefect-settings-profiles.mdx
  docs/v3/api-ref/python/prefect-settings-sources.mdx
  docs/v3/api-ref/python/prefect-task_runners.mdx
  docs/v3/release-notes/oss/version-3-8.mdx
Due: none

docs: Apply suggested release subtitle
  docs/v3/release-notes/oss/version-3-8.mdx
Due: none

docs: Remove CODEOWNERS change from release notes
  docs/v3/release-notes/oss/version-3-8.mdx
Due: none

Replace TaskQueue with keyed durable delivery
  docs/docs.json
  docs/v3/advanced/self-hosted.mdx
  docs/v3/api-ref/python/prefect-server-task_queue.mdx
  docs/v3/api-ref/rest-api/server/schema.json
  docs/v3/api-ref/settings-ref.mdx
  docs/v3/how-to-guides/workflows/run-background-tasks.mdx
  schemas/settings.schema.json
  src/prefect/client/subscriptions.py
  src/prefect/server/api/background_workers.py
  src/prefect/server/api/server.py
  src/prefect/server/api/task_runs.py
  src/prefect/server/orchestration/core_policy.py
  src/prefect/server/task_delivery.py
  src/prefect/server/task_queue.py
  src/prefect/settings/_types.py
  src/prefect/settings/models/server/tasks.py
  tests/client/test_subscriptions.py
  tests/server/orchestration/api/test_task_run_subscriptions.py
  tests/server/test_task_delivery.py
  tests/server/test_task_queue.py
  tests/test_background_tasks.py
  tests/test_settings.py
Due: service-sync-ui-v2-openapi

docs: Add Docker pull policy items flagged by review
  docs/v3/release-notes/oss/version-3-8.mdx
Due: none

Consume task delivery streams per key
  src/prefect/server/api/task_runs.py
  src/prefect/server/task_delivery.py
  tests/server/test_task_delivery.py
Due: service-sync-ui-v2-openapi

Align task delivery with Docket HA semantics
  src/prefect/server/api/task_runs.py
  src/prefect/server/task_delivery.py
  src/prefect/task_worker.py
  tests/server/test_task_delivery.py
  tests/test_task_worker.py
Due: service-sync-ui-v2-openapi

Keep task delivery logger private
  src/prefect/server/task_delivery.py
Due: none

chore(ui-v2): regenerate routeTree.gen.ts
  ui-v2/src/routeTree.gen.ts
Due: check-ui-v2

ci(ui-v2): fail build if generation dirties worktree
  .github/workflows/ui-v2-checks.yml
Due: none

Gracefully drain active worker runs on signals
  src/prefect/cli/worker.py
  src/prefect/utilities/processutils/__init__.py
  src/prefect/workers/base.py
  src/prefect/workers/process.py
  tests/cli/test_worker.py
  tests/utilities/test_processutils.py
  tests/workers/test_base_worker.py
  tests/workers/test_process_worker.py
Due: none

show tooltips for flow run states
  ui-v2/src/components/dashboard/flow-runs-card/flow-runs-state-tabs.tsx
Due: check-ui-v2

fix failing test
  ui-v2/src/components/dashboard/flow-runs-card/flow-runs-state-tabs.tsx
Due: check-ui-v2

docs: fix flows doclink linking to get started page
  ui-v2/src/components/flows/empty-state/flows-empty-state.test.tsx
  ui-v2/src/components/ui/docs-link/constants.ts
Due: check-ui-v2

docs: add missing line break after imports
  docs/v3/concepts/caching.mdx
Due: none

fix text not visible in image
  docs/v3/concepts/states.mdx
Due: none

Support multiple background workers, stoppable individually
  docs/v3/api-ref/cli/worker.mdx
  src/prefect/cli/_worker_utils.py
  src/prefect/cli/worker.py
  tests/cli/test_worker.py
Due: none

Make ConcurrencyContext exit cleanup best-effort (OSS-8099)
  src/prefect/concurrency/context.py
  src/prefect/concurrency/v1/context.py
  tests/concurrency/test_context.py
  tests/concurrency/v1/test_context.py
Due: none

Annotate concurrency context loggers
  src/prefect/concurrency/context.py
  src/prefect/concurrency/v1/context.py
Due: none

Log cleanup failures to the run logger when available
  src/prefect/concurrency/context.py
  src/prefect/concurrency/v1/context.py
Due: none

Use real client in cleanup tests; fix py3.10 annotation
  src/prefect/concurrency/context.py
  src/prefect/concurrency/v1/context.py
  tests/concurrency/test_context.py
  tests/concurrency/v1/test_context.py
Due: none

Make Redis concurrency leases cluster-slot safe (#22560)
  src/integrations/prefect-redis/prefect_redis/lease_storage.py
  src/integrations/prefect-redis/tests/test_lease_storage.py
Due: none

Path conditions:
  check-ui-v2: any of: (?x)^(
    .pre-commit-config.yaml|
    ui-v2/.*
)$

  service-sync-ui-v2-openapi: any of: (?x)^(
    .pre-commit-config.yaml|
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    src/prefect/server/utilities/schemas/.*|
    ui-v2/package.json
)$

