Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

added fixture for sql file
  src/prefect/tasks/snowflake/snowflake.py
  tests/tasks/snowflake/test_snowflake.py
Due: black, flake8

cleaning up fixture and mocks
  tests/tasks/snowflake/test_snowflake.py
Due: black

Run Flow API: Add agentless execution for flow runs (#4589)
  changes/pr4589.yaml
  docs/orchestration/flow-runs/creation.md
  src/prefect/backend/__init__.py
  src/prefect/backend/execution.py
  src/prefect/backend/flow_run.py
  src/prefect/cli/run.py
  src/prefect/client/client.py
  src/prefect/configuration.py
  src/prefect/utilities/configuration.py
  src/prefect/utilities/logging.py
  tests/backend/test_execution.py
  tests/cli/test_run.py
  tests/test_configuration.py
Due: black, flake8

cleaned up mysql task and allowed runtime configurability
  src/prefect/tasks/mysql/mysql.py
  src/prefect/tasks/snowflake/snowflake.py
  tests/tasks/mysql/test_mysql.py
  tests/tasks/snowflake/test_snowflake.py
Due: black, flake8

mysql run configurations not applying
  src/prefect/tasks/mysql/mysql.py
Due: black, flake8

removing the or statements
  src/prefect/tasks/mysql/mysql.py
  src/prefect/tasks/snowflake/snowflake.py
Due: black, flake8

Update tests/tasks/snowflake/test_snowflake.py
  tests/tasks/snowflake/test_snowflake.py
Due: black

typos
  src/prefect/tasks/snowflake/snowflake.py
Due: black, flake8

Typos
  src/prefect/tasks/snowflake/snowflake.py
  tests/tasks/snowflake/test_snowflake.py
Due: black, flake8

moving file reading inside connection
  src/prefect/tasks/snowflake/snowflake.py
Due: black, flake8

Replaced broken link to hasura docs
  docs/orchestration/ui/interactive-api.md
Due: none

testing connection was made
  tests/tasks/snowflake/test_snowflake.py
Due: black

Update src/prefect/tasks/snowflake/snowflake.py
  src/prefect/tasks/snowflake/snowflake.py
Due: black, flake8

added warehouse in kwargs
  src/prefect/tasks/snowflake/snowflake.py
Due: black, flake8

typo in docstring
  src/prefect/tasks/snowflake/snowflake.py
Due: black, flake8

Update interactive-api.md
  docs/orchestration/ui/interactive-api.md
Due: none

Replaced broken link to Hasura docs (#4702)
  docs/orchestration/ui/interactive-api.md
Due: none

Raise a better exception when a task run result type is not set
  src/prefect/backend/task_run.py
Due: black, flake8

Add changes/pr4708.yaml
  changes/pr4708.yaml
Due: none

Exit with non-zero status on flow run failure when watched
  src/prefect/cli/run.py
Due: black, flake8

Add changes/pr4709.yaml
  changes/pr4709.yaml
Due: none

Assert on mapped children as well
  src/prefect/backend/task_run.py
Due: black, flake8

Add first draft of 0.15.0 blog to docs
  docs/blog/release-0.15.0.md
Due: none

Bold note
  docs/blog/release-0.15.0.md
Due: none

Add conclusion with docs link [ci skip]
  docs/blog/release-0.15.0.md
Due: none

fix static analysis errors, lines too long
  src/prefect/tasks/kafka/kafka.py
Due: black, flake8

Roll into a single method and fixup tests
  src/prefect/backend/task_run.py
  tests/backend/test_task_run.py
Due: black, flake8

Add (batch) Kafka tasks to the tasks library (#4533)
  changes/pr4533.yaml
  examples/kafka/kafka_flow.py
  setup.py
  src/prefect/tasks/kafka/__init__.py
  src/prefect/tasks/kafka/kafka.py
  tests/tasks/kafka/__init__.py
  tests/tasks/kafka/test_kafka_batch_tasks.py
Due: black, flake8

Fix typo [ci skip]
  docs/blog/release-0.15.0.md
Due: none

Rephrase [ci skip]
  docs/blog/release-0.15.0.md
Due: none

Add UI note to `--watch` [ci skip]
  docs/blog/release-0.15.0.md
Due: none

Include colon in note bold [ci skip]
  docs/blog/release-0.15.0.md
Due: none
