Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Move context checks back into __call__
  src/prefect/engine.py
  src/prefect/flows.py
  src/prefect/tasks.py
Due: black, flake8

Move context checks back into __call__
  src/prefect/engine.py
Due: black, flake8

Move entrypoint for `FlowRunContext` to match `TaskRunContext`
  src/prefect/engine.py
Due: black, flake8

Move subflow detection into `__call__` so we only create event loops when necessary
  src/prefect/engine.py
  src/prefect/flows.py
Due: black, flake8

patch missing self for api_server variable
  src/prefect/client/client.py
Due: black, flake8

Try disabling mock asgi client for postgres
  tests/unit_tests/conftest.py
Due: black

changelog
  changes/pr4914.yaml
Due: none

Remove testclient import
  tests/fixtures/api.py
Due: black

Update README.md
  tests/README.md
Due: none

Bump distributed version to handle coros
  requirements.txt
Due: none

update tests
  tests/client/test_client.py
Due: black

rename cloud.graphql to cloud.api
  tests/client/test_client_auth_compat.py
Due: black

Update ephemeral orion base url
  src/prefect/client.py
Due: black, flake8

Add self-checking rule-priority list
  src/prefect/orion/orchestration/core_policy.py
  src/prefect/orion/orchestration/rule_priority.py
  tests/orion/orchestration/test_policies.py
Due: black, flake8

Update `SyncExecutor` to `LocalExecutor`
  src/prefect/executors.py
  src/prefect/flows.py
  tests/test_executors.py
Due: black, flake8

Experiment with an OrchestrationPolicy ABC
  src/prefect/orion/models/flow_run_states.py
  src/prefect/orion/models/task_run_states.py
  src/prefect/orion/orchestration/core_policy.py
  src/prefect/orion/orchestration/global_policy.py
  src/prefect/orion/orchestration/policies.py
  src/prefect/orion/orchestration/rule_priority.py
  src/prefect/orion/orchestration/rules.py
  tests/orion/orchestration/test_policies.py
Due: black, flake8

Update `inject_client` to respect passed client
  src/prefect/client.py
  src/prefect/engine.py
Due: black, flake8

Ensure good SQLite experience
  src/prefect/orion/api/dependencies.py
  src/prefect/orion/utilities/database.py
  src/prefect/utilities/settings.py
  tests/fixtures/database.py
Due: black, flake8

Remove unused imports
  src/prefect/orion/utilities/database.py
Due: black, flake8

Update README.md
  README.md
Due: none

Clearing some unneeded empty lines for #4724
  docs/orchestration/concepts/api_keys.md
Due: none

Forgot to add an appropriate file in /changes
  changes/pr4724.yaml
Due: none

Implement the simplest policy-ordering
  src/prefect/orion/models/flow_run_states.py
  src/prefect/orion/models/task_run_states.py
  src/prefect/orion/orchestration/core_policy.py
  src/prefect/orion/orchestration/global_policy.py
  src/prefect/orion/orchestration/policies.py
  tests/orion/orchestration/test_policies.py
Due: black, flake8
