Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ui-v2, service-sync-ui-v2-openapi

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-push

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        language_version: python3
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: package-lock.json|_vendor/.*|docs/styles/.*
  # ty type checker (replacing mypy) - https://astral.sh/blog/ty
  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run ty check
        language: system
        pass_filenames: false
        always_run: true
        types: [python]
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.6.17
    hooks:
      - id: uv-lock

  - repo: local
    hooks:
      - id: check-ui-v2
        name: Check UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            ". $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run check:staged",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: service-sync-ui-v2-openapi
        name: Sync UI v2 OpenAPI
        language: system
        entry: sh
        args:
          [
            "-c",
            ". $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run service-sync",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              src/prefect/server/utilities/schemas/.*|
              ui-v2/package.json
          )$
        pass_filenames: false
        stages:
          - pre-push

Remove pendulum dependency, use whenever on all Python versions
  client/pyproject.toml
  pyproject.toml
  pyrightconfig-ci.json
  src/prefect/AGENTS.md
  src/prefect/_internal/compatibility/deprecated.py
  src/prefect/server/api/run_history.py
  src/prefect/server/events/filters.py
  src/prefect/server/schemas/schedules.py
  src/prefect/testing/fixtures.py
  src/prefect/types/_datetime.py
  tests/cli/deployment/test_deployment_run.py
  tests/cli/test_artifact.py
  tests/server/schemas/test_schedules.py
  tests/test_datetime.py
  tests/test_types.py
  uv.lock
Due: service-sync-ui-v2-openapi

Always display queue default name in the defaults form.
  docs/integrations/prefect-armada/index.mdx
  src/integrations/prefect-armada/prefect_armada/settings.py
  src/integrations/prefect-armada/prefect_armada/worker.py
  src/integrations/prefect-armada/tests/test_worker.py
Due: none

Prevent overwriting of existing work pools during tests
  src/integrations/prefect-armada/integration_tests/README.md
  src/integrations/prefect-armada/integration_tests/src/prefect_armada_integration_tests/conftest.py
  src/integrations/prefect-armada/integration_tests/src/prefect_armada_integration_tests/utils/prefect_core.py
Due: none

Drop Python 3.10 support in Armada integration
  src/integrations/prefect-armada/integration_tests/pyproject.toml
  src/integrations/prefect-armada/pyproject.toml
Due: none

Show a not-found error from `prefect flow-run inspect` for missing runs
  src/prefect/cli/flow_run.py
  tests/cli/test_flow_run.py
Due: none

Include the flow run's created time on its related resource
  src/prefect/client/schemas/objects.py
  tests/events/client/instrumentation/test_events_workers_instrumentation.py
  tests/events/client/test_events_related_from_context.py
Due: none

docs: fix broken in-page anchors in the events reference
  docs/contribute/dev-contribute.mdx
  docs/integrations/prefect-dbt/legacy.mdx
  docs/integrations/prefect-gcp/index.mdx
  docs/v3/advanced/custom-blocks.mdx
  docs/v3/advanced/developing-a-custom-worker.mdx
  docs/v3/api-ref/events/artifact-asset-events.mdx
  docs/v3/api-ref/events/automation-events.mdx
  docs/v3/api-ref/events/cloud-events.mdx
  docs/v3/api-ref/events/concurrency-events.mdx
  docs/v3/api-ref/events/deployment-events.mdx
  docs/v3/api-ref/events/infrastructure-events.mdx
  docs/v3/api-ref/events/work-pool-queue-events.mdx
  docs/v3/api-ref/events/worker-runner-events.mdx
  docs/v3/concepts/blocks.mdx
  docs/v3/how-to-guides/deployment_infra/coiled.mdx
  docs/v3/how-to-guides/workflows/assets.mdx
  docs/v3/resources/recipes.mdx
Due: none

Address review: prefect logger, test type hints, include_dirs=False case
  src/prefect/utilities/filesystem/__init__.py
  tests/utilities/test_filesystem.py
Due: none

docs: Add release notes for prefect-redis==0.2.16
  docs/docs.json
  docs/integrations/prefect-redis/api-ref/prefect_redis-blocks.mdx
  docs/integrations/prefect-redis/api-ref/prefect_redis-cleanup_queue.mdx
  docs/integrations/prefect-redis/api-ref/prefect_redis-client.mdx
  docs/integrations/prefect-redis/api-ref/prefect_redis-connection.mdx
  docs/integrations/prefect-redis/api-ref/prefect_redis-locking.mdx
  docs/v3/release-notes/integrations/prefect-redis.mdx
Due: none

Bump to minor release 0.3.0 for Python 3.10 drop
  docs/v3/release-notes/integrations/prefect-redis.mdx
Due: none

Link flow run artifacts directly and open graph artifacts in a drawer
  ui-v2/src/components/artifacts/artifact-card.test.tsx
  ui-v2/src/components/artifacts/artifact-card.tsx
  ui-v2/src/components/artifacts/artifact/artifact-data-view.tsx
  ui-v2/src/components/artifacts/artifact/artifact-detail-page.tsx
  ui-v2/src/components/flow-runs/flow-run-graph/flow-run-graph-artifact-drawer.test.tsx
  ui-v2/src/components/flow-runs/flow-run-graph/flow-run-graph-artifact-drawer.tsx
  ui-v2/src/components/flow-runs/flow-run-graph/flow-run-graph.test.tsx
  ui-v2/src/components/flow-runs/flow-run-graph/flow-run-graph.tsx
Due: check-ui-v2

fix: handle omitted contents when creating prefect.yaml
  src/prefect/deployments/base.py
  tests/deployment/test_default_prefect_yaml.py
Due: none

Fix create_default_prefect_yaml crash when contents is omitted
  src/prefect/deployments/base.py
  tests/deployment/test_base.py
Due: none

Default prefect.yaml name to directory name; add test annotations
  src/prefect/deployments/base.py
  tests/deployment/test_base.py
Due: none

docs: fix broken in-page anchors in the events reference (#23331)
  docs/contribute/dev-contribute.mdx
  docs/integrations/prefect-dbt/legacy.mdx
  docs/integrations/prefect-gcp/index.mdx
  docs/v3/advanced/custom-blocks.mdx
  docs/v3/advanced/developing-a-custom-worker.mdx
  docs/v3/api-ref/events/artifact-asset-events.mdx
  docs/v3/api-ref/events/automation-events.mdx
  docs/v3/api-ref/events/cloud-events.mdx
  docs/v3/api-ref/events/concurrency-events.mdx
  docs/v3/api-ref/events/deployment-events.mdx
  docs/v3/api-ref/events/infrastructure-events.mdx
  docs/v3/api-ref/events/work-pool-queue-events.mdx
  docs/v3/api-ref/events/worker-runner-events.mdx
  docs/v3/concepts/blocks.mdx
  docs/v3/how-to-guides/deployment_infra/coiled.mdx
  docs/v3/how-to-guides/workflows/assets.mdx
  docs/v3/resources/recipes.mdx
Due: none

docs: document Mintlify anchor slug rules in docs AGENTS.md
  docs/AGENTS.md
Due: none

fix(ui-v2): keep flows search input focused while filtering
  ui-v2/src/components/flows/data-table.test.tsx
  ui-v2/src/components/flows/data-table.tsx
  ui-v2/src/components/flows/flows-page.tsx
  ui-v2/src/routes/flows/index.tsx
Due: check-ui-v2

fix(ui-v2): key flows table rows by flow id and add route-level search focus tests
  ui-v2/src/components/flows/data-table.tsx
  ui-v2/tests/flows/flows.test.tsx
  ui-v2/tests/utils/handlers.ts
Due: check-ui-v2

Give run graph icon SVGs explicit dimensions
  ui-v2/src/graphs/textures/icons/README.md
  ui-v2/src/graphs/textures/icons/artifact-image.svg
  ui-v2/src/graphs/textures/icons/artifact-markdown.svg
  ui-v2/src/graphs/textures/icons/artifact-progress.svg
  ui-v2/src/graphs/textures/icons/artifact-result.svg
  ui-v2/src/graphs/textures/icons/artifact-table.svg
  ui-v2/src/graphs/textures/icons/artifact.svg
  ui-v2/src/graphs/textures/icons/icons.test.ts
Due: check-ui-v2

fix(ui-v2): clear all row selections on delete and fix test typing
  ui-v2/src/components/flows/data-table.tsx
  ui-v2/tests/api/service.test.ts
  ui-v2/tests/flows/flows.test.tsx
Due: check-ui-v2

Skip duplicate submission of a running flow run instead of crashing the worker
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Due: none

Skip duplicate worker submissions of runs already holding a limit slot
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Due: none

Check for an existing work pool before Armada test setup
  src/integrations/prefect-armada/integration_tests/src/prefect_armada_integration_tests/conftest.py
Due: none

fix duplicate retry label
  ui-v2/src/components/deployments/create-flow-run-form/create-flow-run-form.tsx
Due: check-ui-v2

Handle omitted project name in prefect.yaml
  src/prefect/deployments/base.py
  tests/deployment/test_default_prefect_yaml.py
Due: none

Fix `create_default_prefect_yaml` crash when `contents` is omitted
  src/prefect/deployments/base.py
  tests/deployment/test_base.py
Due: none

Handle array and malformed table data in ArtifactDataView
  ui-v2/src/components/artifacts/artifact/artifact-data-view.stories.tsx
  ui-v2/src/components/artifacts/artifact/artifact-data-view.test.tsx
  ui-v2/src/components/artifacts/artifact/artifact-data-view.tsx
  ui-v2/src/components/flow-runs/flow-run-graph/flow-run-graph-artifact-drawer.test.tsx
Due: check-ui-v2

Keep the artifact drawer usable when an artifact fails to load or render
  ui-v2/src/components/artifacts/artifact/artifact-data-view.test.tsx
  ui-v2/src/components/artifacts/artifact/artifact-data-view.tsx
  ui-v2/src/components/flow-runs/flow-run-graph/flow-run-graph-artifact-drawer.test.tsx
  ui-v2/src/components/flow-runs/flow-run-graph/flow-run-graph-artifact-drawer.tsx
Due: check-ui-v2

Test artifact card links on the run Artifacts tabs
  ui-v2/src/components/flow-runs/flow-run-details-page/flow-run-artifacts.test.tsx
  ui-v2/src/components/task-runs/task-run-artifacts/task-run-artifacts.test.tsx
Due: check-ui-v2

Rasterize run graph icons at text resolution
  ui-v2/src/graphs/textures/icons/README.md
  ui-v2/src/graphs/textures/icons/artifact-image.svg
  ui-v2/src/graphs/textures/icons/artifact-markdown.svg
  ui-v2/src/graphs/textures/icons/artifact-progress.svg
  ui-v2/src/graphs/textures/icons/artifact-result.svg
  ui-v2/src/graphs/textures/icons/artifact-table.svg
  ui-v2/src/graphs/textures/icons/artifact.svg
  ui-v2/src/graphs/textures/icons/icons.test.ts
Due: check-ui-v2

fix(runner): schedule astop on SIGTERM instead of dropping the coroutine
  src/prefect/runner/runner.py
  tests/runner/test_runner.py
Due: none

fix(runner): reset stopping on runner start and clarify SIGTERM handler comment
  src/prefect/runner/runner.py
  tests/runner/test_runner.py
Due: none

Move the run graph icon fix to its own pull request
  ui-v2/src/graphs/textures/icons/README.md
  ui-v2/src/graphs/textures/icons/artifact-image.svg
  ui-v2/src/graphs/textures/icons/artifact-markdown.svg
  ui-v2/src/graphs/textures/icons/artifact-progress.svg
  ui-v2/src/graphs/textures/icons/artifact-result.svg
  ui-v2/src/graphs/textures/icons/artifact-table.svg
  ui-v2/src/graphs/textures/icons/artifact.svg
  ui-v2/src/graphs/textures/icons/icons.test.ts
Due: check-ui-v2

fix(runner): refresh _loop on every runner start
  src/prefect/runner/runner.py
  tests/runner/test_runner.py
Due: none

fix(ui-v2): open a flow run's artifacts directly from the Artifacts tab and run graph
  ui-v2/src/components/artifacts/artifact-card.test.tsx
  ui-v2/src/components/artifacts/artifact-card.tsx
  ui-v2/src/components/flow-runs/flow-run-details-page/flow-run-artifacts.test.tsx
  ui-v2/src/components/flow-runs/flow-run-graph/flow-run-graph-artifact-drawer.test.tsx
  ui-v2/src/components/flow-runs/flow-run-graph/flow-run-graph-artifact-drawer.tsx
  ui-v2/src/components/flow-runs/flow-run-graph/flow-run-graph-artifacts-popover.test.tsx
  ui-v2/src/components/flow-runs/flow-run-graph/flow-run-graph-artifacts-popover.tsx
  ui-v2/src/components/task-runs/task-run-artifacts/task-run-artifacts.test.tsx
Due: check-ui-v2

fix(ui-v2): truncate long artifact keys in run graph popover
  ui-v2/src/components/flow-runs/flow-run-graph/flow-run-graph-artifacts-popover.tsx
Due: check-ui-v2
