Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

fixing what we think is race condition in build process
  orion-ui/packages/orion-design/package.json
Due: none

Update src/prefect/cli/agent.py
  src/prefect/cli/agent.py
Due: black, flake8

Misc minor doc fixes.
  docs/core/concepts/schedules.md
  docs/core/task_library/contributing.md
  docs/orchestration/concepts/services.md
Due: none

Fix comments
  src/prefect/orion/orchestration/rules.py
Due: black, flake8

pulled out orion-design changes from filter-module
  orion-ui/packages/orion-design/package.json
  orion-ui/packages/orion-design/src/models/GlobalFilterDefaults.ts
  orion-ui/packages/orion-design/src/models/index.ts
Due: none

code review suggestions
  orion-ui/packages/orion-design/vite.config.ts
Due: none

package version swap
  orion-ui/packages/orion-design/package.json
Due: none

incremented orion-design
  orion-ui/package.json
  orion-ui/packages/orion-design/package-lock.json
Due: none

Add client tests
  tests/test_client.py
Due: black

fixed typings in FilterMenu component
  orion-ui/src/components/FilterBar/FilterMenu.vue
  orion-ui/src/components/FilterBar/composables/Form--DateTime.vue
Due: none

moved orion-ui components into index for components folder
  orion-ui/packages/orion-design/src/index.ts
  orion-ui/src/components/index.ts
Due: none

include alembic.ini in package data
  setup.py
Due: black

Fix stale module docstring
  src/prefect/cli/concurrency_limit.py
Due: black, flake8

Fix typo
  src/prefect/client.py
Due: black, flake8

make code review changes
  docs/tutorials/orion.md
  src/prefect/cli/orion.py
  src/prefect/orion/database/alembic_commands.py
  src/prefect/orion/database/migrations/env.py
  src/prefect/orion/database/migrations/versions/postgresql/25f4b90a7a42_initial_migration.py
Due: black, flake8

update pr suggestions pt2
  src/prefect/cli/orion.py
  tests/orion/database/test_alembic_commands.py
Due: black, flake8

Add `ConcurrentTaskRunner`
  src/prefect/engine.py
  src/prefect/task_runners.py
  tests/test_task_runners.py
Due: black, flake8

try to add migrations to env
  src/prefect/orion/database/__init__.py
Due: black, flake8

try and include migrations in packagedata
  setup.py
  src/prefect/orion/database/__init__.py
Due: black, flake8

Drop `max_workers`
  src/prefect/task_runners.py
Due: black, flake8
