Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Update agents to use optional config from agent_id
  src/prefect/agent/agent.py
  src/prefect/agent/docker/agent.py
  src/prefect/agent/fargate/agent.py
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/local/agent.py
  src/prefect/cli/agent.py
Due: black, flake8

Black and flake8 formatting
  src/prefect/agent/agent.py
  src/prefect/client/client.py
Due: black, flake8

Update log message [ci skip]
  src/prefect/agent/kubernetes/agent.py
Due: black, flake8

Continue job/pod read loops in case of API exceptions
  src/prefect/agent/kubernetes/agent.py
Due: black, flake8

Remove unnecessary pass statement
  src/prefect/agent/kubernetes/agent.py
Due: black, flake8

Add logs for dask worker events
  src/prefect/engine/executors/dask.py
  tests/engine/executors/test_executors.py
Due: black, flake8

Add changelog entry
  changes/pr3227.yaml
  src/prefect/engine/executors/dask.py
Due: black, flake8

Testing pod metric tracking
  src/prefect/agent/kubernetes/agent.py
Due: black, flake8

Update src/prefect/environments/storage/_healthcheck.py
  src/prefect/environments/storage/_healthcheck.py
Due: black, flake8

Fix black formatting again
  src/prefect/agent/kubernetes/agent.py
  tests/agent/test_k8s_agent.py
  tests/cli/test_agent.py
Due: black, flake8

Fixup tests
  src/prefect/engine/executors/dask.py
Due: black, flake8

debug
  src/prefect/engine/executors/dask.py
  tests/conftest.py
  tests/engine/executors/test_executors.py
Due: black, flake8

Read pod container metrics and log to agent logs
  src/prefect/agent/kubernetes/agent.py
Due: black, flake8

Fix k8s agent test mock
  tests/agent/test_k8s_agent.py
Due: black

Update changelog entry
  changes/pr3158.yaml
Due: none

Simplify k8s agent job management function
  src/prefect/agent/kubernetes/agent.py
Due: black, flake8

Refactor k8s agent job management tests
  changes/pr3158.yaml
  src/prefect/agent/kubernetes/agent.py
  tests/agent/test_k8s_agent.py
  tests/cli/test_agent.py
Due: black, flake8

Remove debug statements
  src/prefect/agent/kubernetes/agent.py
Due: black, flake8

Remove commented out test
  tests/agent/test_k8s_agent.py
Due: black

Update src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/kubernetes/agent.py
Due: black, flake8

Stop heartbeat thread in agent cleanup
  src/prefect/agent/agent.py
Due: black, flake8

Join thread instead of stopping
  src/prefect/agent/agent.py
Due: black, flake8

Fix bug with inproc comms
  src/prefect/engine/executors/dask.py
Due: black, flake8

Fixup test
  tests/engine/executors/test_executors.py
Due: black

Maybe now?
  tests/engine/executors/test_executors.py
Due: black

How 'bout now?
  requirements.txt
  tests/engine/executors/test_executors.py
Due: black

Optimizing constants out of graph still add downstream
  src/prefect/core/flow.py
Due: black, flake8

test: adding downstream task when adding edge from constant
  tests/core/test_flow.py
Due: black

test: adding downstream task when adding edge from constant (missed import)
  tests/core/test_flow.py
Due: black

style: quotation in test
  tests/core/test_flow.py
Due: black

Update Mapped state interface in backwards compatible way
  src/prefect/engine/state.py
Due: black, flake8

Store n_map_states on Mapped states in a backwards compatible way
  src/prefect/engine/task_runner.py
  tests/engine/test_task_runner.py
  tests/serialization/test_states.py
Due: black, flake8

Add changelog entry
  changes/issue3233.yaml
Due: none

Add some tests
  src/prefect/engine/task_runner.py
  tests/engine/test_state.py
  tests/engine/test_task_runner.py
Due: black, flake8

Mypy is so fun
  src/prefect/engine/state.py
  src/prefect/engine/task_runner.py
Due: black, flake8

Apply black and add changelog entry
  changes/pr3230.yaml
  tests/core/test_flow.py
Due: black
