Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Update padding
  orion-ui/src/components/Timeline/Timeline.vue
Due: none

formatting fix
  docs/orchestration/integrations/pagerduty.md
Due: none

Remove `OrchestrationContext.run` property
  src/prefect/orion/models/flow_run_states.py
  src/prefect/orion/models/task_run_states.py
  src/prefect/orion/orchestration/rules.py
  tests/fixtures/database.py
  tests/orion/orchestration/test_rules.py
Due: black, flake8

`run_settings` doesn't need to be a property
  src/prefect/orion/orchestration/core_policy.py
  src/prefect/orion/orchestration/rules.py
  tests/orion/orchestration/test_core_policy.py
Due: black, flake8

Implment is_null_=False logic where appropriate
  src/prefect/agent.py
  src/prefect/orion/schemas/filters.py
  tests/orion/models/test_flow_runs.py
  tests/orion/models/test_flows.py
  tests/orion/models/test_task_runs.py
  tests/orion/schemas/test_filters.py
Due: black, flake8

Add an early stop to loop services
  src/prefect/orion/services/loop_service.py
  tests/orion/services/test_loop_service.py
Due: black, flake8

Update stop to async
  src/prefect/orion/services/loop_service.py
  tests/orion/services/test_loop_service.py
Due: black, flake8

Even UniversalRules don't fire if a transition is nullified
  src/prefect/orion/orchestration/rules.py
Due: black, flake8

Add dummy buttons for button panning
  orion-ui/src/components/Timeline/Timeline.vue
  orion-ui/src/styles/components/timeline--chart.scss
Due: none

Implement not_any_ operator for flow run id filter
  src/prefect/agent.py
  src/prefect/orion/schemas/filters.py
  tests/orion/models/test_flow_runs.py
  tests/orion/schemas/test_filters.py
  tests/test_agent.py
Due: black, flake8

Test that UniversalRules don't fire against nullified transitions
  tests/orion/orchestration/test_rules.py
Due: black

Fix doc typos (#4982)
  src/prefect/tasks/postgres/postgres.py
  src/prefect/tasks/sql_server/sql_server.py
Due: black, flake8

Remove $ from code examples for copy and paste (#4949)
  docs/core/getting_started/install.md
Due: none

minor edit for requirements to create an action
  docs/orchestration/integrations/pagerduty.md
Due: none

Explicit set_state method
  src/prefect/orion/models/flow_run_states.py
  src/prefect/orion/models/orm.py
  src/prefect/orion/models/task_run_states.py
  tests/fixtures/database.py
  tests/orion/models/test_orm.py
Due: black, flake8

Add test
  tests/tasks/test_sqlite.py
Due: black

Avoid mutating database on nullified transition
  src/prefect/orion/models/flow_run_states.py
  src/prefect/orion/models/task_run_states.py
  tests/orion/models/test_flow_run_states.py
  tests/orion/models/test_task_run_states.py
Due: black, flake8

Add `with prefect.tags` and remove `@flow(tags=...)`
  src/prefect/__init__.py
  src/prefect/client.py
  src/prefect/context.py
  src/prefect/engine.py
  src/prefect/flows.py
  tests/test_client.py
  tests/test_flows.py
  tests/test_tasks.py
Due: black, flake8

Fixup
  src/prefect/client.py
  tests/test_flows.py
  tests/test_tasks.py
Due: black, flake8

Add support for variadic positional/keyword args
  src/prefect/engine.py
  src/prefect/utilities/callables.py
  tests/test_flows.py
  tests/test_tasks.py
Due: black, flake8

Inline
  src/prefect/tasks/database/sqlite.py
Due: black, flake8

Empty tuple
  src/prefect/tasks/database/sqlite.py
  tests/tasks/test_sqlite.py
Due: black, flake8

Use `stop` instead of `cancel`
  src/prefect/orion/api/server.py
Due: black, flake8

Sketch `orion.api` settings for `prefect orion start`
  src/prefect/cli/orion.py
  src/prefect/utilities/settings.py
Due: black, flake8
