Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ui-v2, service-sync-ui-v2-openapi

check-ui-v2:
  name: Check UI v2
  language: system
  entry: sh
  args:
  - -c
  - . $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run check:staged
  pass_filenames: false

service-sync-ui-v2-openapi:
  name: Sync UI v2 OpenAPI
  language: system
  entry: sh
  args:
  - -c
  - . $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run service-sync
  pass_filenames: false
  stages:
  - pre-push

feat(ui-v2): Align flows page with Vue implementation
  ui-v2/src/components/flows/cells.tsx
  ui-v2/src/components/flows/data-table.tsx
  ui-v2/src/components/flows/flows-page.tsx
  ui-v2/src/components/ui/state-badge/index.tsx
  ui-v2/src/routes/flows/index.tsx
Due: check-ui-v2

fix(ui-v2): Use lowercase tab parameter for deployments link
  ui-v2/src/components/flows/cells.tsx
Due: check-ui-v2

feat: convert repossessor service to docket perpetual function (#19739)
  src/prefect/server/api/background_workers.py
  src/prefect/server/services/base.py
  src/prefect/server/services/repossessor.py
  tests/server/services/test_perpetual_services.py
  tests/server/services/test_repossessor.py
  tests/server/services/test_service_subsets.py
Due: service-sync-ui-v2-openapi

feat: convert foreman service to docket perpetual function
  src/prefect/server/services/base.py
  src/prefect/server/services/foreman.py
  tests/server/services/test_foreman.py
  tests/server/services/test_perpetual_services.py
  tests/server/services/test_service_subsets.py
Due: none

fix: update CLI test to not expect Foreman service
  tests/cli/test_server_services.py
Due: none

feat: convert foreman service to docket perpetual function (#19741)
  src/prefect/server/services/base.py
  src/prefect/server/services/foreman.py
  tests/cli/test_server_services.py
  tests/server/services/test_foreman.py
  tests/server/services/test_perpetual_services.py
  tests/server/services/test_service_subsets.py
Due: none

feat: add prefect deployment export CLI command
  src/prefect/cli/deployment.py
  tests/cli/deployment/test_deployment_cli.py
Due: none

refactor: use existing DeploymentConfig/PrefectYamlModel schemas for export
  src/prefect/cli/deployment.py
Due: none

fix(ui-v2): Remove exports from constants to fix React Fast Refresh warnings
  ui-v2/src/components/ui/state-badge/index.tsx
Due: check-ui-v2

feat(ui-v2): add TaskRunsSortFilter component
  ui-v2/src/components/task-runs/task-runs-list/index.ts
  ui-v2/src/components/task-runs/task-runs-list/task-run-sort-filter.constants.ts
  ui-v2/src/components/task-runs/task-runs-list/task-run-sort-filter.stories.tsx
  ui-v2/src/components/task-runs/task-runs-list/task-run-sort-filter.test.tsx
  ui-v2/src/components/task-runs/task-runs-list/task-run-sort-filter.tsx
Due: check-ui-v2

feat(ui-v2): add useTaskRunsSelectedRows hook
  ui-v2/src/components/task-runs/task-runs-list/index.ts
  ui-v2/src/components/task-runs/task-runs-list/use-task-runs-selected-rows.test.ts
  ui-v2/src/components/task-runs/task-runs-list/use-task-runs-selected-rows.ts
Due: check-ui-v2

fix(ui-v2): implement server-side pagination for flows table
  ui-v2/src/api/flows/index.ts
  ui-v2/src/components/flows/data-table.tsx
  ui-v2/src/components/flows/flows-page.tsx
  ui-v2/src/components/ui/data-table.tsx
  ui-v2/src/routes/flows/index.tsx
Due: check-ui-v2

feat(ui-v2): add useDeleteTaskRunsDialog hook
  ui-v2/src/components/task-runs/task-runs-list/index.ts
  ui-v2/src/components/task-runs/task-runs-list/use-delete-task-runs-dialog.test.ts
  ui-v2/src/components/task-runs/task-runs-list/use-delete-task-runs-dialog.ts
Due: check-ui-v2

refactor(ui-v2): use manualPagination pattern for flows table
  ui-v2/src/components/flows/data-table.tsx
  ui-v2/src/components/flows/flows-page.tsx
  ui-v2/src/components/ui/data-table.tsx
  ui-v2/src/routes/flows/index.tsx
Due: check-ui-v2

Add support for AWS IAM authentication for RDS PostgreSQL (#19580)
  docs/integrations/prefect-aws/index.mdx
  docs/v3/advanced/self-hosted.mdx
  src/integrations/prefect-aws/README.md
  src/integrations/prefect-aws/prefect_aws/plugins.py
  src/integrations/prefect-aws/prefect_aws/settings.py
  src/integrations/prefect-aws/pyproject.toml
  src/integrations/prefect-aws/tests/test_plugins.py
  src/prefect/_experimental/plugins/spec.py
  src/prefect/server/database/configurations.py
  src/prefect/settings/models/_defaults.py
Due: none

feat(ui-v2): add TaskRunsRowCount component
  ui-v2/src/components/task-runs/task-runs-list/index.ts
  ui-v2/src/components/task-runs/task-runs-list/task-runs-row-count.stories.tsx
  ui-v2/src/components/task-runs/task-runs-list/task-runs-row-count.test.tsx
  ui-v2/src/components/task-runs/task-runs-list/task-runs-row-count.tsx
Due: check-ui-v2

feat(ui-v2): integrate Task Runs tab in runs page
  ui-v2/src/components/runs/runs-page.test.tsx
  ui-v2/src/components/runs/runs-page.tsx
  ui-v2/src/routes/runs/index.tsx
Due: check-ui-v2

feat: convert telemetry service to docket perpetual function
  src/prefect/server/services/base.py
  src/prefect/server/services/telemetry.py
  tests/cli/test_server_services.py
  tests/server/services/test_perpetual_services.py
  tests/server/services/test_service_subsets.py
  tests/server/services/test_telemetry.py
Due: none

feat(ui-v2): integrate Task Runs tab with URL state management
  ui-v2/src/api/task-runs/index.ts
  ui-v2/src/components/runs/runs-page.test.tsx
  ui-v2/src/components/runs/runs-page.tsx
  ui-v2/src/components/task-runs/task-runs-list/index.ts
  ui-v2/src/components/task-runs/task-runs-list/task-runs-list-item.tsx
  ui-v2/src/components/task-runs/task-runs-list/task-runs-list.tsx
  ui-v2/src/components/task-runs/task-runs-list/task-runs-pagination.tsx
  ui-v2/src/components/task-runs/task-runs-list/task-runs-row-count.tsx
  ui-v2/src/routes/runs/index.tsx
Due: check-ui-v2

feat(ui-v2): add Events API module with query key factory
  ui-v2/src/api/events/index.test.ts
  ui-v2/src/api/events/index.ts
  ui-v2/tests/utils/handlers.ts
Due: check-ui-v2

fix: update broken links in creating-automations docs
  docs/v3/how-to-guides/automations/creating-automations.mdx
Due: none

docs: add negative matching documentation for automation triggers
  docs/v3/concepts/event-triggers.mdx
Due: none

fix(ui-v2): add missing task runs props to runs-page.stories.tsx
  ui-v2/src/components/runs/runs-page.stories.tsx
Due: check-ui-v2

refactor(ui-v2): use createFakeTaskRunResponse mock in runs-page.stories.tsx
  ui-v2/src/components/runs/runs-page.stories.tsx
  ui-v2/src/mocks/create-fake-task-run.ts
  ui-v2/src/mocks/index.ts
Due: check-ui-v2

feat(ui-v2): add TanStack Query factory functions for Events API (OSS-7259)
  ui-v2/src/api/events/index.test.ts
  ui-v2/src/api/events/index.ts
  ui-v2/src/api/events/queries.test.ts
Due: check-ui-v2

docs: add negative matching documentation for automation triggers (#19760)
  docs/v3/concepts/event-triggers.mdx
Due: none

Align flows table styling with deployments table (OSS-7238)
  ui-v2/src/components/flows/cells.tsx
  ui-v2/src/components/flows/columns.tsx
  ui-v2/src/components/flows/data-table.tsx
Due: check-ui-v2

Fix ESLint error: use FLOW_SORT_OPTIONS to generate SelectItems
  ui-v2/src/components/flows/data-table.tsx
Due: check-ui-v2

feat: add generic typing support for Variable.get method
  src/prefect/variables.py
  tests/test_variables.py
Due: none

Address PR review comments: remove font-mono and fix column spacing
  ui-v2/src/components/flows/cells.tsx
Due: check-ui-v2

Fix biome formatting in cells.tsx
  ui-v2/src/components/flows/cells.tsx
Due: check-ui-v2

feat(ui-v2): add events filter utilities for URL search params (OSS-7260)
  ui-v2/src/api/events/filters.test.ts
  ui-v2/src/api/events/filters.ts
  ui-v2/src/api/events/index.ts
Due: check-ui-v2

Path conditions:
  check-ui-v2: any of: (?x)^(
    .pre-commit-config.yaml|
    ui-v2/.*
)$

  service-sync-ui-v2-openapi: any of: (?x)^(
    .pre-commit-config.yaml|
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    src/prefect/server/utilities/schemas/.*|
    ui-v2/package.json
)$

