Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Orchestration components edits.
  docs/tutorials/orion.md
Due: none

FAQ edits.
  docs/faq.md
Due: none

Fix some type errors
  orion-ui/src/components/Global/ResultsList/ResultsList.vue
  orion-ui/src/components/Radar/Radar.vue
Due: none

Export radar nodes
  orion-ui/src/components/Radar/Nodes/index.ts
  orion-ui/src/components/Radar/index.ts
Due: none

Marked test_flow_dot_run_updates_the_scheduled_start_time_of_each_scheduled_run test as flaky
  tests/core/test_flow.py
Due: black

Robust communication on server or cloud instances
  src/prefect/client/client.py
Due: black, flake8

[test] fixed client retires count
  tests/client/test_client.py
Due: black

wip: manually add some
  src/prefect/__init__.py
  src/prefect/core/__init__.py
  src/prefect/tasks/dbt/__init__.py
Due: black, flake8

indicate get_versions is private
  src/prefect/__init__.py
Due: black, flake8

add changes
  changes/pr5293.yaml
Due: none

Bumped dask to the oldest new version scheme
  changes/pr5279.yaml
  requirements.txt
Due: none

Update to a recent dask version
  requirements.txt
Due: none

oldest version that still has dask.compatibility.apply defined
  requirements.txt
Due: none

adding possibility to add multiple tags in a single API call
  docs/outline.toml
  src/prefect/tasks/monte_carlo/__init__.py
  src/prefect/tasks/monte_carlo/client.py
  src/prefect/tasks/monte_carlo/monte_carlo_lineage.py
  tests/tasks/monte_carlo/test_monte_carlo_lineage.py
Due: black, flake8

fixing docs rendering + cleanup
  src/prefect/tasks/monte_carlo/client.py
  src/prefect/tasks/monte_carlo/monte_carlo_lineage.py
Due: black, flake8

Removed mixpanel stuff
  docs/outline.toml
  src/prefect/tasks/mixpanel/__init__.py
  src/prefect/tasks/mixpanel/mixpanel_tasks.py
  tests/tasks/mixpanel/__init__.py
  tests/tasks/mixpanel/test_mixpanel_tasks.py
Due: black, flake8

Allow postgres tasks to configure all params at runtime (#5016)
  changes/pr5016.yml
  src/prefect/tasks/postgres/postgres.py
Due: black, flake8

Add authentication as parameter for SnowflakeQuery and SnowflakeQueriesFromFile (#5173)
  changes/pr5173.yaml
  src/prefect/tasks/snowflake/snowflake.py
  tests/tasks/snowflake/test_snowflake.py
Due: black, flake8

combining the tags to make a single API call
  src/prefect/tasks/monte_carlo/monte_carlo_lineage.py
Due: black, flake8

Removed unnecessary comment and fixed docstring
  src/prefect/tasks/mixpanel/mixpanel_tasks.py
  tests/tasks/mixpanel/test_mixpanel_tasks.py
Due: black, flake8

Removed Mixpanel change file
  changes/pr5276.yaml
Due: none

Test refactoring following suggestions
  tests/tasks/cubejs/test_cubejs_tasks.py
Due: black

fixed shutdown behaviour when not exiting early
  src/prefect/executors/dask.py
Due: black, flake8

Run Black
  tests/tasks/cubejs/test_cubejs_tasks.py
Due: black

Remove name filter
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/models/logs.py
  src/prefect/orion/schemas/filters.py
  tests/orion/api/test_logs.py
Due: black, flake8

Add flow_id and task_id sorting options
  src/prefect/orion/schemas/sorting.py
  tests/orion/api/test_logs.py
Due: black, flake8

Cancel unstarted futures
  src/prefect/executors/dask.py
Due: black, flake8

Update docs/core/concepts/schedules.md
  docs/core/concepts/schedules.md
Due: none

Use better assert_called_once_with syntax
  tests/tasks/aws/test_step_function.py
Due: black
