Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-mintlify-openapi-docs, generate-settings-schema, generate-settings-ref, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.2.1"
    hooks:
      - id: ruff
        language_version: python3
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        exclude: package-lock.json|_vendor/.*|docs/styles/.*
  - repo: https://github.com/netromdk/vermin
    rev: v1.6.0
    hooks:
      - id: vermin
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=1.10.0,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0
          - types-cachetools==5.3.0.5
          - types-pyyaml==6.0.12.9
        files: |
          (?x)^(
            src/prefect/server/models/.*|
            src/prefect/concurrency/.*|
            src/prefect/events/.*|
            src/prefect/input/.*
          )$
  - repo: local
    hooks:
      - id: type-completeness-check
        name: Type Completeness Check
        language: system
        entry: uv run --with pyright pyright --ignoreexternal --verifytypes prefect
        pass_filenames: false
      - id: generate-mintlify-openapi-docs
        name: Generating OpenAPI docs for Mintlify
        language: system
        entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_mintlify_openapi_docs.py
        pass_filenames: false
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              scripts/generate_mintlify_openapi_docs.py
          )$
      - id: generate-settings-schema
        name: Generating Settings Schema
        language: system
        entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_schema.py
        pass_filenames: false
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              src/prefect/settings/models/.*|
              scripts/generate_settings_schema.py
          )$
      - id: generate-settings-ref
        name: Generating Settings Reference
        language: system
        entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_ref.py
        pass_filenames: false
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              src/prefect/settings/models/.*|
              scripts/generate_settings_ref.py
          )$
      - id: lint-ui-v2
        name: Lint UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            "cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run lint",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: format-ui-v2
        name: Format UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            "cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run format",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: service-sync-ui-v2-openapi
        name: Sync UI v2 OpenAPI
        language: system
        entry: sh
        args:
          [
            "-c",
            "cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run service-sync",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              src/prefect/server/utilities/schemas/.*|
              ui-v2/package.json
          )$
        pass_filenames: false

Updates some tests
  src/prefect/runner/runner.py
  src/prefect/workers/base.py
  tests/runner/test_runner.py
  tests/workers/test_process_worker.py
Due: none

Fix failing tests
  src/prefect/runner/runner.py
  src/prefect/workers/process.py
  tests/workers/test_process_worker.py
Due: none

[UI v2] feat: Adds filter API by for work queues by work pool name
  ui-v2/src/api/work-queues/index.ts
  ui-v2/src/api/work-queues/work-queues.test.ts
  ui-v2/src/api/work-queues/work-queues.ts
Due: lint-ui-v2, format-ui-v2

Fix test errors
  src/prefect/server/schemas/actions.py
  tests/runner/test_runner.py
  tests/workers/test_process_worker.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

[UI v2] feat: Adds filter API by for work queues by work pool name (#17297)
  ui-v2/src/api/work-queues/index.ts
  ui-v2/src/api/work-queues/work-queues.test.ts
  ui-v2/src/api/work-queues/work-queues.ts
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Updates deployment details page to have associated work pools and work queues links
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/flows/flow-link.tsx
  ui-v2/src/components/ui/status-badge/index.tsx
  ui-v2/src/components/work-pools/work-pool-link.tsx
  ui-v2/src/components/work-pools/work-queue-link.tsx
  ui-v2/src/routes/deployments/deployment.$id.tsx
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Updates deployment details page to have associated work pools and work queues links (#17294)
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/flows/flow-link.tsx
  ui-v2/src/components/ui/status-badge/index.tsx
  ui-v2/src/components/work-pools/work-pool-link.tsx
  ui-v2/src/components/work-pools/work-queue-link.tsx
  ui-v2/src/routes/deployments/deployment.$id.tsx
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Adds Work Queues select component
  ui-v2/src/components/work-pools/work-pool-select/work-pool-select.test.tsx
  ui-v2/src/components/work-pools/work-queue-select/index.ts
  ui-v2/src/components/work-pools/work-queue-select/work-queue-select.stories.tsx
  ui-v2/src/components/work-pools/work-queue-select/work-queue-select.test.tsx
  ui-v2/src/components/work-pools/work-queue-select/work-queue-select.tsx
Due: lint-ui-v2, format-ui-v2

Address review comments
  src/prefect/runner/runner.py
  src/prefect/workers/process.py
Due: none

Add ignore comments for wonky otel typing
  src/prefect/telemetry/instrumentation.py
Due: none

Updates `ProcessWorker` to delegate flow run execution to a `Runner` (#17295)
  src/prefect/flows.py
  src/prefect/runner/runner.py
  src/prefect/server/schemas/actions.py
  src/prefect/telemetry/instrumentation.py
  src/prefect/workers/base.py
  src/prefect/workers/process.py
  tests/runner/test_runner.py
  tests/workers/test_process_worker.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

Add custom hooks for form state
  ui-v2/src/components/schemas/hooks/useSchemaFormErrors.ts
  ui-v2/src/components/schemas/hooks/useSchemaValues.ts
  ui-v2/src/components/schemas/index.ts
  ui-v2/src/components/schemas/readme.md
  ui-v2/src/components/schemas/schema-form.tsx
  ui-v2/src/components/schemas/types/values.ts
Due: lint-ui-v2, format-ui-v2

Fix package files
  ui-v2/package-lock.json
Due: lint-ui-v2, format-ui-v2

Set the lower bounds for `websockets` to 13.0
  client/pyproject.toml
  pyproject.toml
Due: none

Upgrade websockets to v15 (#17274)
  client/pyproject.toml
  pyproject.toml
  src/prefect/cli/cloud/__init__.py
  src/prefect/client/subscriptions.py
  src/prefect/events/clients.py
  src/prefect/task_worker.py
  src/prefect/testing/fixtures.py
  tests/events/client/test_events_client.py
Due: none

[UI v2] feat: Adds Work Queues select component (#17298)
  ui-v2/src/components/work-pools/work-pool-select/work-pool-select.test.tsx
  ui-v2/src/components/work-pools/work-queue-select/index.ts
  ui-v2/src/components/work-pools/work-queue-select/work-queue-select.stories.tsx
  ui-v2/src/components/work-pools/work-queue-select/work-queue-select.test.tsx
  ui-v2/src/components/work-pools/work-queue-select/work-queue-select.tsx
Due: lint-ui-v2, format-ui-v2

revert unintended change
  src/prefect/cli/profile.py
Due: none

fix use profile
  src/prefect/cli/profile.py
Due: none

update tests
  src/prefect/cli/profile.py
  src/prefect/settings/profiles.py
  tests/cli/test_profile.py
Due: none

Refresh session when deleting schedules off a deployment (#17278)
  src/prefect/server/models/deployments.py
  tests/server/orchestration/api/test_deployments.py
Due: none

use useDebounceCallback
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/components/schemas/schema-form-input-object.tsx
Due: lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

update snapshots
  ui-v2/src/components/schemas/__snapshots__/schema-form.snapshot.test.tsx.snap
Due: lint-ui-v2, format-ui-v2

Update docs/v3/develop/task-runners.mdx
  docs/v3/develop/task-runners.mdx
Due: none

enhance mapping docs (#17269)
  docs/v3/develop/task-runners.mdx
  docs/v3/develop/write-tasks.mdx
Due: none
