Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-mintlify-openapi-docs, generate-settings-schema, generate-settings-ref, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

generate-mintlify-openapi-docs:
  name: Generating OpenAPI docs for Mintlify
  language: system
  entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_mintlify_openapi_docs.py
  pass_filenames: false

generate-settings-schema:
  name: Generating Settings Schema
  language: system
  entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_schema.py
  pass_filenames: false

generate-settings-ref:
  name: Generating Settings Reference
  language: system
  entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_ref.py
  pass_filenames: false

lint-ui-v2:
  name: Lint UI v2
  language: system
  entry: sh
  args:
  - -c
  - cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run lint
  pass_filenames: false

format-ui-v2:
  name: Format UI v2
  language: system
  entry: sh
  args:
  - -c
  - cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run format
  pass_filenames: false

service-sync-ui-v2-openapi:
  name: Sync UI v2 OpenAPI
  language: system
  entry: sh
  args:
  - -c
  - cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run service-sync
  pass_filenames: false

update filename
  tests/public/results/test_result_storage.py
Due: none

updating dependency and dependabot
  .github/dependabot.yml
  ui-v2/package-lock.json
  ui-v2/package.json
Due: lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

fix incorrect use of `getattr` (#16498)
  src/prefect/results.py
  tests/public/results/test_result_storage.py
Due: none

feat: Updating tags for ui-v2 dependabot
  .github/dependabot.yml
Due: none

[typing] prefect.concurrency
  client/client_flow.py
  src/prefect/_internal/concurrency/services.py
  src/prefect/concurrency/_asyncio.py
  src/prefect/concurrency/_events.py
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/context.py
  src/prefect/concurrency/services.py
  src/prefect/concurrency/sync.py
  src/prefect/concurrency/v1/_asyncio.py
  src/prefect/concurrency/v1/_events.py
  src/prefect/concurrency/v1/asyncio.py
  src/prefect/concurrency/v1/context.py
  src/prefect/concurrency/v1/services.py
  src/prefect/concurrency/v1/sync.py
  src/prefect/context.py
  src/prefect/task_engine.py
  tests/concurrency/test_acquire_concurrency_slots.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_slot_acquisition_service.py
  tests/concurrency/test_release_concurrency_slots.py
  tests/concurrency/v1/test_concurrency_asyncio.py
  tests/concurrency/v1/test_concurrency_limit_acquisition_service.py
  tests/concurrency/v1/test_concurrency_sync.py
  tests/concurrency/v1/test_decrement_concurrency_slots.py
  tests/concurrency/v1/test_increment_concurrency_limits.py
  tests/test_task_engine.py
Due: none

Introducing Prefect Guru on Gurubase.io
  README.md
Due: none

Revert to monkeypatching the config
  tests/cli/test_start_server.py
Due: none

Linter
  tests/cli/test_start_server.py
Due: none

fix guru badge color
  README.md
Due: none

small update to test
  tests/experimental/test_sla.py
Due: none

[typing] prefect.concurrency (#16441)
  client/client_flow.py
  src/prefect/_internal/concurrency/services.py
  src/prefect/concurrency/_asyncio.py
  src/prefect/concurrency/_events.py
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/context.py
  src/prefect/concurrency/services.py
  src/prefect/concurrency/sync.py
  src/prefect/concurrency/v1/_asyncio.py
  src/prefect/concurrency/v1/_events.py
  src/prefect/concurrency/v1/asyncio.py
  src/prefect/concurrency/v1/context.py
  src/prefect/concurrency/v1/services.py
  src/prefect/concurrency/v1/sync.py
  src/prefect/context.py
  src/prefect/task_engine.py
  tests/concurrency/test_acquire_concurrency_slots.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_slot_acquisition_service.py
  tests/concurrency/test_release_concurrency_slots.py
  tests/concurrency/v1/test_concurrency_asyncio.py
  tests/concurrency/v1/test_concurrency_limit_acquisition_service.py
  tests/concurrency/v1/test_concurrency_sync.py
  tests/concurrency/v1/test_decrement_concurrency_slots.py
  tests/concurrency/v1/test_increment_concurrency_limits.py
  tests/test_task_engine.py
Due: none

[typing] p._internal, p.server.utilities
  src/prefect/_internal/_logging.py
  src/prefect/_internal/compatibility/async_dispatch.py
  src/prefect/_internal/compatibility/deprecated.py
  src/prefect/_internal/compatibility/migration.py
  src/prefect/_internal/concurrency/inspection.py
  src/prefect/_internal/concurrency/primitives.py
  src/prefect/_internal/concurrency/waiters.py
  src/prefect/_internal/pydantic/annotations/pendulum.py
  src/prefect/_internal/pytz.py
  src/prefect/_internal/retries.py
  src/prefect/_internal/schemas/bases.py
  src/prefect/_internal/schemas/validators.py
  src/prefect/serializers.py
  src/prefect/server/events/messaging.py
  src/prefect/server/utilities/encryption.py
  src/prefect/server/utilities/messaging/__init__.py
  src/prefect/server/utilities/messaging/memory.py
  src/prefect/server/utilities/server.py
  src/prefect/server/utilities/subscriptions.py
  src/prefect/server/utilities/user_templates.py
  src/prefect/telemetry/run_telemetry.py
  tests/_internal/schemas/test_validation.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

Update artifacts.py
  src/prefect/client/orchestration/artifacts.py
Due: none

[typing] prefect._internal, prefect.server.utilities (#16497)
  src/prefect/_internal/_logging.py
  src/prefect/_internal/compatibility/async_dispatch.py
  src/prefect/_internal/compatibility/deprecated.py
  src/prefect/_internal/compatibility/migration.py
  src/prefect/_internal/concurrency/inspection.py
  src/prefect/_internal/concurrency/primitives.py
  src/prefect/_internal/concurrency/waiters.py
  src/prefect/_internal/pydantic/annotations/pendulum.py
  src/prefect/_internal/pytz.py
  src/prefect/_internal/retries.py
  src/prefect/_internal/schemas/bases.py
  src/prefect/_internal/schemas/validators.py
  src/prefect/serializers.py
  src/prefect/server/events/messaging.py
  src/prefect/server/utilities/encryption.py
  src/prefect/server/utilities/messaging/__init__.py
  src/prefect/server/utilities/messaging/memory.py
  src/prefect/server/utilities/server.py
  src/prefect/server/utilities/subscriptions.py
  src/prefect/server/utilities/user_templates.py
  src/prefect/telemetry/run_telemetry.py
  tests/_internal/schemas/test_validation.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

tests
  src/prefect/deployments/runner.py
  tests/experimental/test_sla.py
Due: none

split out artifact_collection
  src/prefect/client/orchestration/artifacts.py
Due: none

even better tests
  tests/experimental/test_sla.py
Due: none

moar better tests
  tests/experimental/test_sla.py
Due: none

feat: Updating tags and groups for ui-v2 dependabot (#16499)
  .github/dependabot.yml
Due: none

fix fetch_all
  src/integrations/prefect-snowflake/prefect_snowflake/database.py
  src/integrations/prefect-snowflake/tests/test_database.py
Due: none

create client protocol
  src/prefect/client/orchestration/artifacts.py
  src/prefect/client/orchestration/base.py
Due: none

add to route
  src/prefect/client/orchestration/routes.py
Due: none

add block clients
  src/prefect/client/orchestration/__init__.py
  src/prefect/client/orchestration/blocks.py
Due: none

Fix `TypeError` in `SnowflakeConnector.fetch_all` (#16511)
  src/integrations/prefect-snowflake/prefect_snowflake/database.py
  src/integrations/prefect-snowflake/tests/test_database.py
Due: none

Initial scaffolding
  ui-v2/src/components/deployments/data-table/data-table.stories.tsx
  ui-v2/src/components/deployments/data-table/index.tsx
Due: lint-ui-v2, format-ui-v2

Add `StatusBadge` component
  ui-v2/src/components/deployments/data-table/cells.tsx
  ui-v2/src/components/deployments/data-table/data-table.stories.tsx
  ui-v2/src/components/deployments/data-table/index.tsx
  ui-v2/src/components/ui/status-badge/index.tsx
  ui-v2/src/components/ui/status-badge/status-badge.stories.tsx
  ui-v2/src/components/ui/status-badge/status-badge.test.tsx
  ui-v2/src/hooks/deployments/index.ts
Due: lint-ui-v2, format-ui-v2

Add tests
  ui-v2/src/components/deployments/data-table/cells.tsx
  ui-v2/src/components/deployments/data-table/data-table.stories.tsx
  ui-v2/src/components/deployments/data-table/data-table.test.tsx
  ui-v2/src/components/deployments/data-table/index.tsx
Due: lint-ui-v2, format-ui-v2

Remove shadow and adjust spacing
  ui-v2/src/components/ui/status-badge/index.tsx
Due: lint-ui-v2, format-ui-v2

lint
  src/prefect/client/orchestration/__init__.py
Due: none

Path conditions:
  generate-mintlify-openapi-docs: any of: (?x)^(
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    scripts/generate_mintlify_openapi_docs.py
)$

  generate-settings-schema: any of: (?x)^(
    .pre-commit-config.yaml|
    src/prefect/settings/models/.*|
    scripts/generate_settings_schema.py
)$

  generate-settings-ref: any of: (?x)^(
    .pre-commit-config.yaml|
    src/prefect/settings/models/.*|
    scripts/generate_settings_ref.py
)$

  lint-ui-v2: any of: (?x)^(
    .pre-commit-config.yaml|
    ui-v2/.*
)$

  format-ui-v2: any of: (?x)^(
    .pre-commit-config.yaml|
    ui-v2/.*
)$

  service-sync-ui-v2-openapi: any of: (?x)^(
    .pre-commit-config.yaml|
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    ui-v2/package.json
)$

