Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ui-v2, service-sync-ui-v2-openapi

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-push

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        language_version: python3
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: package-lock.json|_vendor/.*|docs/styles/.*
  # ty type checker (replacing mypy) - https://astral.sh/blog/ty
  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run ty check
        language: system
        pass_filenames: false
        always_run: true
        types: [python]
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.6.17
    hooks:
      - id: uv-lock

  - repo: local
    hooks:
      - id: check-ui-v2
        name: Check UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            ". $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run check:staged",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: service-sync-ui-v2-openapi
        name: Sync UI v2 OpenAPI
        language: system
        entry: sh
        args:
          [
            "-c",
            ". $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run service-sync",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              src/prefect/server/utilities/schemas/.*|
              ui-v2/package.json
          )$
        pass_filenames: false
        stages:
          - pre-push

fix(prefect-dbt): pre-compute cache keys for isolated node selections (#20898)
  src/integrations/prefect-dbt/prefect_dbt/core/_orchestrator.py
  src/integrations/prefect-dbt/tests/core/test_orchestrator_cache.py
Due: none

Update docs/v3/get-started/index.mdx
  docs/v3/get-started/index.mdx
Due: none

fix: preserve schedule IDs during deployment updates to prevent duplicate runs
  src/prefect/server/models/deployments.py
Due: none

Fix type hints for match/match_related to accept dict input
  src/prefect/events/schemas/automations.py
  src/prefect/server/events/schemas/automations.py
Due: service-sync-ui-v2-openapi

refactor(14-05): migrate WorkPoolQueuesTableEmptyState to EmptyState component
  ui-v2/src/components/work-pools/work-pool-queues-table/components/work-pool-queues-table-empty-state.test.tsx
  ui-v2/src/components/work-pools/work-pool-queues-table/components/work-pool-queues-table-empty-state.tsx
Due: check-ui-v2

Update generated OpenAPI schema for type hint changes
  ui-v2/src/api/prefect.ts
Due: check-ui-v2

fix: update test to validate schedule ID preservation behavior
  tests/server/orchestration/api/test_deployments.py
Due: none

docs: Add release notes for `prefect-dbt==0.7.19`
  docs/integrations/prefect-dbt/api-ref/prefect_dbt-cloud-clients.mdx
  docs/integrations/prefect-dbt/api-ref/prefect_dbt-core-runner.mdx
  docs/integrations/prefect-dbt/api-ref/prefect_dbt-core-settings.mdx
  docs/v3/release-notes/integrations/prefect-dbt.mdx
Due: none

fix: remove unused workPoolName destructuring to fix ESLint
  ui-v2/src/components/work-pools/work-pool-queues-table/components/work-pool-queues-table-empty-state.tsx
Due: check-ui-v2

Move orchestrator items under Experimental 🧪 header
  docs/v3/release-notes/integrations/prefect-dbt.mdx
Due: none

Improve MCP discoverability in existing docs IA (#20660)
  docs/docs.json
  docs/v3/get-started/index.mdx
  docs/v3/how-to-guides/ai/index.mdx
  docs/v3/how-to-guides/ai/use-prefect-mcp-server.mdx
Due: none

Defer orchestration client import in context module
  src/prefect/context.py
Due: none

Defer cloud and flow CLI imports for startup
  src/prefect/cli/cloud/__init__.py
  src/prefect/cli/cloud/asset.py
  src/prefect/cli/cloud/ip_allowlist.py
  src/prefect/cli/cloud/webhook.py
  src/prefect/cli/flow.py
Due: none

Sync UI v2 OpenAPI types
  ui-v2/src/api/prefect.ts
Due: check-ui-v2

Restore patchable Runner symbol in CLI flow module
  src/prefect/cli/flow.py
Due: none

Defer task worker import in CLI task command
  src/prefect/cli/task.py
Due: none

Support multihost Postgres connection strings in LISTEN/NOTIFY listener
  src/prefect/server/utilities/postgres_listener.py
  tests/server/utilities/test_postgres_listener.py
Due: none

Defer task worker import in CLI task command (#20925)
  src/prefect/cli/task.py
Due: none

Update rate limit docs to match unified rate limits
  docs/v3/concepts/rate-limits.mdx
Due: none

refactor(ui): add destructive variant to delete dropdown menu items
  ui-v2/src/components/automations/automations-actions-menu/automations-actions-menu.tsx
  ui-v2/src/components/blocks/block-document-action-menu/block-document-action-menu.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-data-table/actions-cell.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-actions-menu/task-run-concurrency-limits-actions-menu.tsx
  ui-v2/src/components/deployments/data-table/cells.tsx
  ui-v2/src/components/deployments/deployment-action-menu/deployment-action-menu.tsx
  ui-v2/src/components/deployments/deployment-schedules/schedule-action-menu.tsx
  ui-v2/src/components/flows/cells.tsx
  ui-v2/src/components/schemas/schema-form-input-array-item.tsx
  ui-v2/src/components/variables/data-table/cells.tsx
  ui-v2/src/components/work-pools/work-pool-card/components/work-pool-context-menu.tsx
Due: check-ui-v2

refactor(ui): use Button spinner in DeleteConfirmationDialog
  ui-v2/src/components/flows/detail/delete-flow-dialog.tsx
  ui-v2/src/components/ui/delete-confirmation-dialog/delete-confirmation-dialog.test.tsx
  ui-v2/src/components/ui/delete-confirmation-dialog/delete-confirmation-dialog.tsx
  ui-v2/src/components/ui/delete-confirmation-dialog/use-delete-confirmation-dialog.tsx
  ui-v2/src/components/work-pools/work-pool-menu/components/delete-work-pool-dialog.tsx
  ui-v2/src/components/work-pools/work-pool-queue-menu/components/delete-work-pool-queue-dialog.test.tsx
  ui-v2/src/components/work-pools/work-pool-queue-menu/components/delete-work-pool-queue-dialog.tsx
  ui-v2/src/components/workers/worker-menu/components/delete-worker-dialog.tsx
Due: check-ui-v2

Update rate limit docs to match unified limits (#20927)
  docs/v3/concepts/rate-limits.mdx
Due: none

fix: update delete-flow-dialog test to expect spinner instead of text
  ui-v2/src/components/flows/detail/delete-flow-dialog.test.tsx
Due: check-ui-v2

Lazy-load top-level CLI command registration
  src/prefect/cli/__init__.py
  src/prefect/cli/_app.py
Due: none

Add return type annotation for prefect.cli.__getattr__
  src/prefect/cli/__init__.py
Due: none

feat: add deployment_schedule_lock to prevent concurrent update races
  src/prefect/server/api/deployments.py
Due: service-sync-ui-v2-openapi

chore: sync UI OpenAPI schema (pre-commit hook)
  ui-v2/src/api/prefect.ts
Due: check-ui-v2

fix: auto-close dialog on confirm in useDeleteConfirmationDialog hook
  ui-v2/src/components/ui/delete-confirmation-dialog/use-delete-confirmation-dialog.tsx
Due: check-ui-v2

fix: add aria-label to delete button during loading state
  ui-v2/src/components/ui/delete-confirmation-dialog/delete-confirmation-dialog.tsx
Due: check-ui-v2

Preserve top-level CLI command aliases in lazy shim
  src/prefect/cli/_app.py
Due: none

refactor(ui): migrate raw buttons to shadcn Button and add text-link colors
  ui-v2/src/components/blocks/block-document-data-table/block-document-cell.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-data-table/tag-cell.tsx
  ui-v2/src/components/deployments/data-table/index.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/cron-schedule-form.tsx
  ui-v2/src/components/flows/cells.tsx
  ui-v2/src/components/flows/data-table.tsx
  ui-v2/src/components/flows/detail/deployment-columns.tsx
  ui-v2/src/components/schemas/schema-form-property-menu.tsx
  ui-v2/src/components/ui/tag-badge.tsx
  ui-v2/src/components/work-pools/work-pool-queue-create-dialog/work-pool-queue-create-dialog.tsx
Due: check-ui-v2

test: update schema-form snapshots for icon button size change
  ui-v2/src/components/schemas/__snapshots__/schema-form.snapshot.test.tsx.snap
Due: check-ui-v2

feat(ui): add clickable row support, disabled button tooltips, and tag hover
  ui-v2/src/components/automations/automations-wizard/automation-wizard.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-data-table/tag-cell.tsx
  ui-v2/src/components/flow-runs/flow-run-card/card-properties/flow-run-parameters.tsx
  ui-v2/src/components/schemas/schema-form-property-menu.tsx
  ui-v2/src/components/ui/data-table.tsx
  ui-v2/src/components/ui/date-range-select/rich-date-range-selector.tsx
  ui-v2/src/components/ui/tag-badge-group.tsx
  ui-v2/src/components/ui/tag-badge.tsx
  ui-v2/src/components/work-pools/create/work-pool-create-wizard.tsx
Due: check-ui-v2

Lazily resolve prefect.cli submodules via __getattr__
  src/prefect/cli/__init__.py
Due: none
