Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Move StateIcon from orion-ui global components to orion-design
  orion-ui/src/components.d.ts
  orion-ui/src/components/Global/StateIcon/StateIcon.vue
  orion-ui/src/components/Global/StateIcon/index.ts
  orion-ui/src/components/Global/index.ts
  orion-ui/src/components/RunHistoryChart/RunHistoryChart--Chart.vue
  orion-ui/src/main.ts
Due: none

Fix bug where null `run_config` fields cause deserialization errors in backend views
  src/prefect/backend/flow.py
  src/prefect/backend/flow_run.py
Due: black, flake8

Orion code fixes to support code sharing with Nebula
  orion-ui/src/components/Global/List/ListItemFlow/ListItemFlow.vue
  orion-ui/src/components/Global/List/ListItemFlowRun/ListItemFlowRun.vue
  orion-ui/src/components/Global/List/ListItemTaskRun/ListItemTaskRun.vue
  orion-ui/src/components/Global/List/index.ts
  orion-ui/src/components/Global/ResultsList/ResultsList.vue
  orion-ui/src/components/RunHistoryChart/RunHistoryChart--Chart.vue
  orion-ui/src/styles/components/button--card.scss
  orion-ui/src/types/states.ts
Due: none

Revert removing the StateIcon component
  orion-ui/src/components.d.ts
  orion-ui/src/components/Global/StateIcon/StateIcon.vue
  orion-ui/src/components/Global/StateIcon/index.ts
  orion-ui/src/components/Global/index.ts
  orion-ui/src/components/RunHistoryChart/RunHistoryChart--Chart.vue
  orion-ui/src/main.ts
Due: none

Task library overview table update to add cubejs, firebolt, mixpanel, monte carlo, and zendesk tasks.
  docs/.vuepress/public/logos/cubejs.png
  docs/.vuepress/public/logos/firebolt.png
  docs/.vuepress/public/logos/mixpanel.png
  docs/.vuepress/public/logos/monte_carlo.png
  docs/.vuepress/public/logos/zendesk.png
  docs/core/task_library/overview.md
Due: none

Update task library table in README.md.
  README.md
Due: none

Add orion-design locally
  orion-ui/package-lock.json
  orion-ui/package.json
Due: none

Commit stuff so I don't lose it
  orion-ui/package-lock.json
  orion-ui/packages/orion-design/package-lock.json
  orion-ui/packages/orion-design/package.json
  orion-ui/packages/orion-design/src/components/LogLevelLabel.vue
  orion-ui/packages/orion-design/src/components/StateTypeIcon.vue
  orion-ui/packages/orion-design/src/components/TaskRunLink.vue
  orion-ui/packages/orion-design/src/components/index.ts
  orion-ui/packages/orion-design/src/models/State.ts
  orion-ui/packages/orion-design/src/models/TaskRun.ts
  orion-ui/packages/orion-design/src/models/index.ts
  orion-ui/packages/orion-design/src/services/LogsApi.ts
  orion-ui/packages/orion-design/src/services/TaskRunsApi.ts
  orion-ui/packages/orion-design/src/services/index.ts
  orion-ui/packages/orion-design/src/types/index.ts
Due: none

Move the logs mapper into the class
  orion-ui/packages/orion-design/src/services/LogsApi.ts
Due: none

Update docs/concepts/deployments.md
  docs/concepts/deployments.md
Due: none

Adding Monte Carlo lineage tasks (#5256)
  changes/pr5256.yaml
  docs/.vuepress/public/logos/monte_carlo.png
  docs/core/task_library/overview.md
  docs/outline.toml
  src/prefect/tasks/monte_carlo/__init__.py
  src/prefect/tasks/monte_carlo/client.py
  src/prefect/tasks/monte_carlo/monte_carlo_lineage.py
  tests/tasks/monte_carlo/__init__.py
  tests/tasks/monte_carlo/test_monte_carlo_lineage.py
Due: black, flake8

Feature/add cubejs tasks (#5280)
  changes/pr5280.yaml
  docs/outline.toml
  setup.py
  src/prefect/tasks/cubejs/__init__.py
  src/prefect/tasks/cubejs/cubejs_tasks.py
  test-requirements.txt
  tests/tasks/cubejs/__init__.py
  tests/tasks/cubejs/test_cubejs_tasks.py
Due: black, flake8

upgrade hasura version for prefect server
  src/prefect/cli/docker-compose.yml
Due: none

add changes file
  changes/pr5313.yaml
Due: none

Creates client for Databricks jobs API version 2.1
  src/prefect/tasks/databricks/jobs_21_client.py
Due: black, flake8

remove uneeded new line
  changes/pr5313.yaml
Due: none

Add changes entry
  changes/pr5310.yaml
Due: none

Add regression tests
  tests/backend/test_flow.py
  tests/backend/test_flow_run.py
Due: black

Add imports to ListItemDeployments
  orion-ui/src/components/Global/List/ListItemDeployment/ListItemDeployment.vue
Due: none

Revised description of ways to create deployment specs.
  docs/concepts/deployments.md
Due: none

Enable services by default with `prefect orion start`
  src/prefect/cli/orion.py
Due: black, flake8

Docs: Task table updates (#5311)
  README.md
  docs/.vuepress/public/logos/cubejs.png
  docs/.vuepress/public/logos/firebolt.png
  docs/.vuepress/public/logos/mixpanel.png
  docs/.vuepress/public/logos/zendesk.png
  docs/core/task_library/overview.md
Due: none
