Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-mintlify-openapi-docs, generate-settings-schema, generate-settings-ref, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

generate-mintlify-openapi-docs:
  name: Generating OpenAPI docs for Mintlify
  language: system
  entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_mintlify_openapi_docs.py
  pass_filenames: false

generate-settings-schema:
  name: Generating Settings Schema
  language: system
  entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_schema.py
  pass_filenames: false

generate-settings-ref:
  name: Generating Settings Reference
  language: system
  entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_ref.py
  pass_filenames: false

lint-ui-v2:
  name: Lint UI v2
  language: system
  entry: sh
  args:
  - -c
  - cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run lint
  pass_filenames: false

format-ui-v2:
  name: Format UI v2
  language: system
  entry: sh
  args:
  - -c
  - cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run format
  pass_filenames: false

service-sync-ui-v2-openapi:
  name: Sync UI v2 OpenAPI
  language: system
  entry: sh
  args:
  - -c
  - cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run service-sync
  pass_filenames: false

revamp integration contributor guide and clean up other sections (#16757)
  docs/contribute/contribute-integrations.mdx
  docs/mint.json
  docs/snippets/installation.mdx
  docs/v3/develop/index.mdx
  docs/v3/develop/interact-with-api.mdx
  docs/v3/get-started/install.mdx
Due: none

use settings
  src/prefect/cli/server.py
Due: none

wip
  src/prefect/cli/deploy.py
Due: none

typer has issues with future annotations
  src/prefect/cli/deploy.py
Due: none

fix schedule construction
  src/prefect/cli/deploy.py
Due: none

Avoid overwriting Logger.level and Logger.propagate for loggers defined in 'PREFECT_LOGGING_EXTRA_LOGGERS'.
  src/prefect/logging/configuration.py
  tests/test_logging.py
Due: none

[UI v2] feat: Adds api hooks for work pools and updates routing
  ui-v2/src/api/deployments/deployments.test.ts
  ui-v2/src/api/work-pools/index.ts
  ui-v2/src/api/work-pools/work-pools.test.ts
  ui-v2/src/api/work-pools/work-pools.ts
  ui-v2/src/mocks/create-fake-work-pool.ts
  ui-v2/src/mocks/index.ts
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/work-pools/index.tsx
  ui-v2/src/routes/work-pools/work-pool.$id.tsx
  ui-v2/tests/utils/handlers.ts
Due: lint-ui-v2, format-ui-v2

Update block.py
  src/prefect/cli/block.py
Due: none

[UI v2] fix: Fix Storybook decorators typings
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/storybook/utils/mode-decorator.tsx
  ui-v2/src/storybook/utils/react-query-decorator.tsx
  ui-v2/src/storybook/utils/toast-decorator.tsx
Due: lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

[UI v2] feat: Adding action details for selected automations and deployments
  ui-v2/src/components/automations/action-details/action-details.stories.tsx
  ui-v2/src/components/automations/action-details/action-details.tsx
  ui-v2/src/components/ui/icons/constants.ts
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Adds api hooks for work pools and updates routing (#16772)
  ui-v2/src/api/deployments/deployments.test.ts
  ui-v2/src/api/work-pools/index.ts
  ui-v2/src/api/work-pools/work-pools.test.ts
  ui-v2/src/api/work-pools/work-pools.ts
  ui-v2/src/mocks/create-fake-work-pool.ts
  ui-v2/src/mocks/index.ts
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/work-pools/index.tsx
  ui-v2/src/routes/work-pools/work-pool.$id.tsx
  ui-v2/tests/utils/handlers.ts
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Adds api hooks for work queues and updates routing
  ui-v2/src/api/work-queues/index.ts
  ui-v2/src/api/work-queues/work-queues.test.ts
  ui-v2/src/api/work-queues/work-queues.ts
  ui-v2/src/mocks/create-fake-work-queue.ts
  ui-v2/src/mocks/index.ts
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/work-pools/work-pool.$workPoolId.queue.$workQueueId.tsx
  ui-v2/src/routes/work-pools/work-pool.$workPoolId.tsx
  ui-v2/tests/utils/handlers.ts
Due: lint-ui-v2, format-ui-v2

[UI v2] fix: Fix Storybook decorators typings (#16781)
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/storybook/utils/mode-decorator.tsx
  ui-v2/src/storybook/utils/react-query-decorator.tsx
  ui-v2/src/storybook/utils/toast-decorator.tsx
Due: lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

[UI v2] feat: Adding action details for selected automations and deployments (#16764)
  ui-v2/src/components/automations/action-details/action-details.stories.tsx
  ui-v2/src/components/automations/action-details/action-details.tsx
  ui-v2/src/components/ui/icons/constants.ts
Due: lint-ui-v2, format-ui-v2

typing `cli.deploy` (#16767)
  src/prefect/cli/deploy.py
Due: none

respect `PREFECT_SERVER_LOGGING_LEVEL` in `prefect server start` (#16765)
  src/prefect/cli/server.py
Due: none

[UI v2] feat: Adds api hooks for work queues and updates routing (#16780)
  ui-v2/src/api/work-queues/index.ts
  ui-v2/src/api/work-queues/work-queues.test.ts
  ui-v2/src/api/work-queues/work-queues.ts
  ui-v2/src/mocks/create-fake-work-queue.ts
  ui-v2/src/mocks/index.ts
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/work-pools/work-pool.$workPoolId.queue.$workQueueId.tsx
  ui-v2/src/routes/work-pools/work-pool.$workPoolId.tsx
  ui-v2/tests/utils/handlers.ts
Due: lint-ui-v2, format-ui-v2

deduplicating inputs
  src/prefect/cache_policies.py
Due: none

[UI v2] feat: Adds action details for work queues and work pools
  ui-v2/src/components/automations/action-details/action-details.tsx
  ui-v2/src/mocks/create-fake-work-pool.ts
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/work-pools/work-pool.$id.tsx
  ui-v2/src/routes/work-pools/work-pool.$workPoolName.queue.$workQueueName.tsx
  ui-v2/src/routes/work-pools/work-pool.$workPoolName.tsx
  ui-v2/src/storybook/utils/mode-decorator.tsx
Due: lint-ui-v2, format-ui-v2

add tests
  tests/test_cache_policies.py
  tests/test_tasks.py
Due: none

Another way to handle multiple `Inputs` cache policies
  src/prefect/cache_policies.py
  tests/test_cache_policies.py
Due: none

Update `__add__` too
  src/prefect/cache_policies.py
Due: none

Update tests
  src/prefect/cache_policies.py
  tests/test_cache_policies.py
Due: none

Update src/prefect/cache_policies.py
  src/prefect/cache_policies.py
Due: none

fix block cli error messages (#16787)
  src/prefect/cli/block.py
Due: none

Path conditions:
  generate-mintlify-openapi-docs: any of: (?x)^(
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    scripts/generate_mintlify_openapi_docs.py
)$

  generate-settings-schema: any of: (?x)^(
    .pre-commit-config.yaml|
    src/prefect/settings/models/.*|
    scripts/generate_settings_schema.py
)$

  generate-settings-ref: any of: (?x)^(
    .pre-commit-config.yaml|
    src/prefect/settings/models/.*|
    scripts/generate_settings_ref.py
)$

  lint-ui-v2: any of: (?x)^(
    .pre-commit-config.yaml|
    ui-v2/.*
)$

  format-ui-v2: any of: (?x)^(
    .pre-commit-config.yaml|
    ui-v2/.*
)$

  service-sync-ui-v2-openapi: any of: (?x)^(
    .pre-commit-config.yaml|
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    src/prefect/server/utilities/schemas/.*|
    ui-v2/package.json
)$

