Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ui-v2, service-sync-ui-v2-openapi

check-ui-v2:
  name: Check UI v2
  language: system
  entry: sh
  args:
  - -c
  - . $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run check:staged
  pass_filenames: false

service-sync-ui-v2-openapi:
  name: Sync UI v2 OpenAPI
  language: system
  entry: sh
  args:
  - -c
  - . $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run service-sync
  pass_filenames: false
  stages:
  - pre-push

Persist explicit null values from the schema form null branch
  ui-v2/src/components/schemas/schema-form-input-any-of.test.tsx
  ui-v2/src/components/schemas/schema-form-input-null.test.tsx
  ui-v2/src/components/schemas/schema-form-input-null.tsx
  ui-v2/src/components/schemas/schema-form-input.tsx
  ui-v2/src/components/schemas/schema-form.test.tsx
Due: check-ui-v2

Type the schema form null test fixtures
  ui-v2/src/components/schemas/schema-form.test.tsx
Due: check-ui-v2

Declare access_token on the runner storage test credentials block
  tests/runner/test_storage.py
Due: none

Drop the trailing blank line ruff-format removes
  tests/server/database/test_configurations.py
Due: none

Only warn about unexpected fields on direct block construction
  src/prefect/blocks/core.py
  src/prefect/server/events/actions.py
  tests/blocks/test_core.py
Due: service-sync-ui-v2-openapi

fix: add negative timeout validation to apause_flow_run and suspend_flow_run
  src/prefect/flow_runs.py
  tests/test_flow_runs.py
Due: none

style: fix formatting in test_flow_runs.py
  tests/test_flow_runs.py
Due: none

fix(snowflake): close() swallows a failing cursor reset
  src/integrations/prefect-snowflake/prefect_snowflake/database.py
  src/integrations/prefect-snowflake/tests/test_database.py
Due: none

Fix crash hook lifecycle ordering
  src/prefect/runner/runner.py
  tests/runner/test_runner.py
Due: none

Preserve a statement cache size of 0 (#22767)
  src/prefect/server/database/configurations.py
  tests/server/database/test_configurations.py
Due: none

docs: Fix block end
  src/prefect/flows.py
Due: none

docs: Fix block end (#22802)
  src/prefect/flows.py
Due: none

fix(snowflake): close() swallows a failing cursor reset (#22800)
  src/integrations/prefect-snowflake/prefect_snowflake/database.py
  src/integrations/prefect-snowflake/tests/test_database.py
Due: none

Add parameter overrides to deployment schedule dialog (OSS-8132)
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/cron-schedule-form.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/deployment-schedule-dialog.stories.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/deployment-schedule-dialog.test.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/deployment-schedule-dialog.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/interval-schedule-form.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/schedule-parameter-overrides-form-section.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/use-schedule-parameter-overrides.ts
Due: check-ui-v2

fix(ui-v2): select a valid anyOf branch for record values
  ui-v2/src/components/schemas/schema-form-input-any-of.test.tsx
  ui-v2/src/components/schemas/utilities/getIndexForAnyOfPropertyValue.test.ts
  ui-v2/src/components/schemas/utilities/getIndexForAnyOfPropertyValue.ts
Due: check-ui-v2

Fix crash hook cleanup in flow run executor
  src/prefect/runner/_flow_run_executor.py
  tests/runner/test__flow_run_executor.py
Due: none

prefer an untyped dict branch when a record value matches no properties
  ui-v2/src/components/schemas/utilities/getIndexForAnyOfPropertyValue.test.ts
  ui-v2/src/components/schemas/utilities/getIndexForAnyOfPropertyValue.ts
Due: check-ui-v2

Address review feedback on schedule parameter overrides
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/cron-schedule-form.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/deployment-schedule-dialog.stories.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/deployment-schedule-dialog.test.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/deployment-schedule-dialog.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/interval-schedule-form.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/schedule-parameter-overrides-form-section.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/use-schedule-parameter-overrides.ts
Due: check-ui-v2

Generate dbt example documentation
  docs/v3/examples/run-dbt-with-prefect.mdx
Due: none

Update the order of the guide (#22687)
  docs/v3/examples/run-dbt-with-prefect.mdx
  examples/run_dbt_with_prefect.py
Due: none

perf(server): stop fragmenting task run recorder bulk upserts
  src/prefect/server/AGENTS.md
  src/prefect/server/services/task_run_recorder.py
  tests/server/services/test_task_run_recorder.py
Due: none

Fix prefect-redis connection/FD leak from uncleaned cached clients
  src/integrations/prefect-redis/prefect_redis/client.py
  src/integrations/prefect-redis/tests/test_client.py
Due: none

fix .deploy() example in how-to versioning guide
  docs/v3/how-to-guides/deployments/versioning.mdx
Due: none

fix .deploy() example in how-to versioning guide (#22810)
  docs/v3/how-to-guides/deployments/versioning.mdx
Due: none

fix failing tests
  ui-v2/src/components/flow-runs/flow-run-details-page/flow-run-header.test.tsx
  ui-v2/src/components/flow-runs/flow-run-details-page/flow-run-header.tsx
Due: check-ui-v2

add flow estimated_run_time
  ui-v2/src/components/flow-runs/flow-run-details-page/flow-run-header.tsx
Due: check-ui-v2

tiny change
  ui-v2/src/components/flow-runs/flow-run-details-page/flow-run-header.tsx
Due: check-ui-v2

perf(server): stop fragmenting task run recorder bulk upserts (#22808)
  src/prefect/server/AGENTS.md
  src/prefect/server/services/task_run_recorder.py
  tests/server/services/test_task_run_recorder.py
Due: none

address review comment
  ui-v2/src/components/flow-runs/flow-run-details-page/flow-run-header.tsx
Due: check-ui-v2

Send basic auth header on the self-hosted events WebSocket handshake
  src/prefect/events/clients.py
  tests/events/client/test_events_client.py
Due: none

Tidy up the task run recorder bulk upsert path
  docs/v3/api-ref/python/prefect-server-events-storage-database.mdx
  docs/v3/api-ref/python/prefect-server-utilities-database.mdx
  src/prefect/server/events/storage/database.py
  src/prefect/server/services/task_run_recorder.py
  src/prefect/server/utilities/database.py
  tests/events/server/storage/test_database.py
  tests/server/services/test_task_run_recorder.py
Due: service-sync-ui-v2-openapi

(ui-v2): show elapsed time for running flow runs in header (#22811)
  ui-v2/src/components/flow-runs/flow-run-details-page/flow-run-header.test.tsx
  ui-v2/src/components/flow-runs/flow-run-details-page/flow-run-header.tsx
Due: check-ui-v2

fix(cancellation): stop leaking watcher-thread timeout enforcers
  src/prefect/_internal/concurrency/cancellation.py
  tests/_internal/concurrency/test_cancellation.py
Due: none

Enforce as_completed timeouts without a cancel scope
  src/prefect/futures.py
  tests/test_futures.py
Due: none

Reject option-like Git branch values
  src/prefect/runner/storage.py
  tests/deployment/test_steps.py
  tests/runner/test_storage.py
Due: none

Reject option-like Git branch values (#22819)
  src/prefect/runner/storage.py
  tests/deployment/test_steps.py
  tests/runner/test_storage.py
Due: none

Confirm suspension events against the flow run instead of state-by-id
  src/prefect/_internal/observers.py
  tests/test_observers.py
Due: none

Trim confirmation comments to the non-obvious rationale
  src/prefect/_internal/observers.py
Due: none

Confirm suspension events against the flow run instead of state-by-id (#22820)
  src/prefect/_internal/observers.py
  tests/test_observers.py
Due: none

Cover long engine disposition names
  tests/test_flow_engine.py
Due: none

Path conditions:
  check-ui-v2: any of: (?x)^(
    .pre-commit-config.yaml|
    ui-v2/.*
)$

  service-sync-ui-v2-openapi: any of: (?x)^(
    .pre-commit-config.yaml|
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    src/prefect/server/utilities/schemas/.*|
    ui-v2/package.json
)$

