Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Corrected use from explicitly
  src/prefect/tasks/gcp/__init__.py
Due: black, flake8

Add DateTimeParameter
  docs/outline.toml
  src/prefect/core/parameter.py
  src/prefect/engine/results/prefect_result.py
  src/prefect/engine/serializers.py
  tests/core/test_parameter.py
  tests/engine/results/test_results.py
  tests/engine/test_serializers.py
Due: black, flake8

Create pr3327.yaml
  changes/pr3327.yaml
Due: none

:black_circle:
  src/prefect/core/parameter.py
  tests/engine/results/test_results.py
Due: black, flake8

Clean up conditional
  src/prefect/core/parameter.py
Due: black, flake8

Update docstrings
  src/prefect/engine/serializers.py
Due: black, flake8

Added myself as a contributor
  changes/issue3306.yaml
Due: none

Cut changelog etc for release [ci skip]
  CHANGELOG.md
  changes/issue2989.yaml
  changes/issue3034.yaml
  changes/issue3246.yaml
  changes/issue3258.yaml
  changes/issue3259.yaml
  changes/issue3306.yaml
  changes/pr3293.yaml
  changes/pr3296.yaml
  changes/pr3317.yaml
  docs/.vuepress/config.js
Due: none

move entry to correct location [ci skip]
  CHANGELOG.md
Due: none

Add is_month_start_or_specific_day filter to schedules
  src/prefect/schedules/filters.py
  src/prefect/serialization/schedule.py
Due: black, flake8

Add new filter: is_month_end_or_specific_day
  src/prefect/schedules/filters.py
  src/prefect/serialization/schedule.py
Due: black, flake8

Add test for month_start_or_specific_day
  tests/schedules/test_filters.py
Due: black

Add test for is_month_end_or_specific_day
  tests/schedules/test_filters.py
Due: black

Fix mypy
  src/prefect/core/parameter.py
Due: black, flake8

Add change to changes
  changes/pr3330.yaml
Due: none

Add default for day_of_week positional argument
  src/prefect/schedules/filters.py
Due: black, flake8

Separate new filters into is_mont_start and is_day_of_week
  src/prefect/schedules/filters.py
Due: black, flake8

Update tests
  tests/schedules/test_filters.py
Due: black

update schedule imports
  src/prefect/serialization/schedule.py
Due: black, flake8

Update tests and names
  src/prefect/schedules/filters.py
  tests/schedules/test_filters.py
Due: black, flake8

Oops, all crunchberries!
  tests/schedules/test_filters.py
Due: black

Oops, all marshmallows!
  tests/schedules/test_filters.py
Due: black

Double quote changes and parametrize test_is_month_start
  changes/pr3330.yaml
  tests/schedules/test_filters.py
Due: black

Add new line
  tests/schedules/test_filters.py
Due: black

Clean up task library documentation, add overview and contributing pages
  docs/.vuepress/config.js
  docs/core/task_library/contributing.md
  docs/core/task_library/overview.md
  package-lock.json
  package.json
Due: none

Deprecate use of contrib directory
  src/prefect/contrib/README.md
  src/prefect/contrib/tasks/databricks/__init__.py
  src/prefect/tasks/databricks/__init__.py
  src/prefect/tasks/databricks/databricks_hook.py
  src/prefect/tasks/databricks/databricks_submitjob.py
  src/prefect/tasks/mysql.py/__init__.py
  src/prefect/tasks/mysql.py/mysql.py
  tests/contrib/README.md
  tests/contrib/tasks/databricks/__init__.py
  tests/tasks/databricks/__init__.py
  tests/tasks/databricks/test_databricks.py
  tests/tasks/mysql/__init__.py
  tests/tasks/mysql/test_mysql.py
Due: black, flake8

Update coverage and mypy ignore dirs
  .flake8
  setup.cfg
  src/prefect/tasks/mysql/__init__.py
  src/prefect/tasks/mysql/mysql.py
Due: black, flake8

Fix S3 gzip compression test
  tests/tasks/aws/test_s3.py
Due: black

WIP: new k8s agent/environment
  src/prefect/agent/__init__.py
  src/prefect/agent/kubernetes2/__init__.py
  src/prefect/agent/kubernetes2/agent.py
  src/prefect/agent/kubernetes2/job_template.yaml
  src/prefect/cli/agent.py
  src/prefect/environments/execution/k8s/job2.py
  src/prefect/serialization/environment.py
Due: black, flake8

Fixup
  src/prefect/agent/kubernetes2/agent.py
  src/prefect/environments/execution/k8s/job2.py
  src/prefect/serialization/environment.py
Due: black, flake8

Update slack links
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docs/README.md
  docs/api/0.10.7/README.md
  docs/api/0.11.5/README.md
  docs/api/0.12.6/README.md
  docs/core/community.md
  docs/core/development/overview.md
  docs/core/development/sprints.md
  docs/index.md
Due: none

Support loading job template from remote files
  src/prefect/agent/kubernetes2/agent.py
  src/prefect/environments/execution/k8s/job2.py
Due: black, flake8

day_of_week => weekday()
  src/prefect/schedules/filters.py
Due: black, flake8

source /home/sev/accure/repos/prefect/venv/bin/activate Revert "Added ChangeFile"
  changes/pr3296.yaml
  changes/pr3299.yaml
Due: none

Added self as contributor
  changes/pr3299.yaml
Due: none

Added docker copy test function
  tests/environments/storage/test_docker_storage.py
Due: black

Upgrade NPM packages
  package-lock.json
  package.json
Due: none

update flow settings pic
  docs/.vuepress/public/orchestration/ui/flow-settings.png
Due: none

add flow group settings params tag
  docs/.vuepress/public/orchestration/ui/flow-group-settings.png
  docs/orchestration/ui/flow.md
Due: none

add pic to docs
  docs/orchestration/ui/flow.md
Due: none
