Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-mintlify-openapi-docs, generate-settings-schema, generate-settings-ref, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

generate-mintlify-openapi-docs:
  name: Generating OpenAPI docs for Mintlify
  language: system
  entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_mintlify_openapi_docs.py
  pass_filenames: false

generate-settings-schema:
  name: Generating Settings Schema
  language: system
  entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_schema.py
  pass_filenames: false

generate-settings-ref:
  name: Generating Settings Reference
  language: system
  entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_ref.py
  pass_filenames: false

lint-ui-v2:
  name: Lint UI v2
  language: system
  entry: sh
  args:
  - -c
  - cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run lint
  pass_filenames: false

format-ui-v2:
  name: Format UI v2
  language: system
  entry: sh
  args:
  - -c
  - cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run format
  pass_filenames: false

service-sync-ui-v2-openapi:
  name: Sync UI v2 OpenAPI
  language: system
  entry: sh
  args:
  - -c
  - cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run service-sync
  pass_filenames: false

Add delete work pool apis / hooks
  ui-v2/src/api/work-pools/index.ts
  ui-v2/src/api/work-pools/work-pools.ts
  ui-v2/src/components/work-pools/constants.ts
  ui-v2/src/components/work-pools/work-pool-card/components/work-pool-type-badge.stories.tsx
  ui-v2/src/components/work-pools/work-pool-card/work-pool-card.stories.tsx
  ui-v2/src/hooks/work-pools.ts
  ui-v2/src/mocks/create-fake-work-pool-type.ts
Due: lint-ui-v2, format-ui-v2

Add empty state
  ui-v2/src/components/ui/docs-link/constants.ts
  ui-v2/src/components/work-pools/empty-state.tsx
  ui-v2/src/routes/work-pools/index.tsx
Due: lint-ui-v2, format-ui-v2

Make job backoff limit configurable
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/test_eviction.py
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/utils/prefect_core.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Due: none

disables run telemtry on flag
  src/prefect/telemetry/run_telemetry.py
  tests/telemetry/test_run_telemetry.py
Due: none

Improve description
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
Due: none

address PR comments
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/server/schemas/actions.py
  ui-v2/src/api/prefect.ts
  ui-v2/src/components/deployments/create-flow-run-form/create-flow-run-form.tsx
  ui-v2/src/components/deployments/create-flow-run-form/use-create-flow-run-form.tsx
Due: generate-mintlify-openapi-docs, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

Run worker in backoff limit test differently
  .github/workflows/k8s-integration-tests.yaml
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/test_eviction.py
Due: none

use Orval to generate Zod Schemas (#17413)
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/server/api/flow_runs.py
  ui-v2/orval.config.cjs
  ui-v2/package.json
  ui-v2/src/api/zod/admin/admin.ts
  ui-v2/src/api/zod/artifacts/artifacts.ts
  ui-v2/src/api/zod/automations/automations.ts
  ui-v2/src/api/zod/block-capabilities/block-capabilities.ts
  ui-v2/src/api/zod/block-documents/block-documents.ts
  ui-v2/src/api/zod/block-schemas/block-schemas.ts
  ui-v2/src/api/zod/block-types/block-types.ts
  ui-v2/src/api/zod/collections/collections.ts
  ui-v2/src/api/zod/concurrency-limits-v2/concurrency-limits-v2.ts
  ui-v2/src/api/zod/concurrency-limits/concurrency-limits.ts
  ui-v2/src/api/zod/default/default.ts
  ui-v2/src/api/zod/deployments/deployments.ts
  ui-v2/src/api/zod/events/events.ts
  ui-v2/src/api/zod/flow-run-notification-policies/flow-run-notification-policies.ts
  ui-v2/src/api/zod/flow-run-states/flow-run-states.ts
  ui-v2/src/api/zod/flow-runs/flow-runs.ts
  ui-v2/src/api/zod/flows/flows.ts
  ui-v2/src/api/zod/root/root.ts
  ui-v2/src/api/zod/saved-searches/saved-searches.ts
  ui-v2/src/api/zod/task-run-states/task-run-states.ts
  ui-v2/src/api/zod/task-runs/task-runs.ts
  ui-v2/src/api/zod/task-workers/task-workers.ts
  ui-v2/src/api/zod/ui/ui.ts
  ui-v2/src/api/zod/variables/variables.ts
  ui-v2/src/api/zod/work-pools/work-pools.ts
  ui-v2/src/api/zod/work-queues/work-queues.ts
Due: generate-mintlify-openapi-docs, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

Update description
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
Due: none

Update description formatting
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
Due: none

removes unsed monkeypatch
  tests/telemetry/test_run_telemetry.py
Due: none

Add context menu and edit route
  ui-v2/src/components/work-pools/work-pool-card/components/work-pool-context-menu.tsx
  ui-v2/src/components/work-pools/work-pool-card/work-pool-card.tsx
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/work-pools/index.tsx
  ui-v2/src/routes/work-pools/work-pool.$workPoolName.edit_.tsx
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Adds deployment custom run page (#17405)
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/server/schemas/actions.py
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/api/flow-runs/index.ts
  ui-v2/src/api/prefect.ts
  ui-v2/src/components/deployments/create-flow-run-form/create-flow-run-form.stories.tsx
  ui-v2/src/components/deployments/create-flow-run-form/create-flow-run-form.tsx
  ui-v2/src/components/deployments/create-flow-run-form/flow-run-name-input.tsx
  ui-v2/src/components/deployments/create-flow-run-form/index.ts
  ui-v2/src/components/deployments/create-flow-run-form/use-create-flow-run-form.tsx
  ui-v2/src/components/deployments/custom-run-page.tsx
  ui-v2/src/components/deployments/data-table/cells.tsx
  ui-v2/src/components/deployments/deployment-action-header.tsx
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/deployments/deployment-duplicate-page.tsx
  ui-v2/src/components/deployments/deployment-edit-page.tsx
  ui-v2/src/components/deployments/deployment-form/use-deployment-form.ts
  ui-v2/src/components/deployments/deployment-links.tsx
  ui-v2/src/components/ui/accordion.tsx
  ui-v2/src/routes/deployments/deployment_.$id.duplicate.tsx
  ui-v2/src/routes/deployments/deployment_.$id.edit.tsx
  ui-v2/src/routes/deployments/deployment_.$id.run.tsx
Due: generate-mintlify-openapi-docs, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

Update @prefecthq/prefect-design to version 2.14.18
  ui/package-lock.json
  ui/package.json
Due: none

Finish up
  ui-v2/src/api/work-pools/work-pools.ts
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/work-pools/work-pool.$workPoolName.edit_.tsx
  ui-v2/src/routes/work-pools/work-pool_.$workPoolName.edit.tsx
Due: lint-ui-v2, format-ui-v2

Add some tests for the work-pool hooks, move the toggle functionality to its own componetn
  ui-v2/src/components/work-pools/work-pool-card/components/work-pool-pause-resume-toggle.test.tsx
  ui-v2/src/components/work-pools/work-pool-card/components/work-pool-pause-resume-toggle.tsx
  ui-v2/src/components/work-pools/work-pool-card/work-pool-card.tsx
  ui-v2/src/hooks/work-pools.test.ts
Due: lint-ui-v2, format-ui-v2

Add tests for the toggle, move queries to suspense pre-fetches
  ui-v2/src/components/work-pools/work-pool-card/components/work-pool-pause-resume-toggle.test.tsx
  ui-v2/src/routes/work-pools/index.tsx
Due: lint-ui-v2, format-ui-v2

Remove placeholder search input
  ui-v2/src/routes/work-pools/index.tsx
Due: lint-ui-v2, format-ui-v2

Oops, include the correct composition
  ui-v2/src/components/work-pools/work-pool-card/components/work-pool-context-menu.test.tsx
  ui-v2/src/components/work-pools/work-pool-card/work-pool-card.tsx
Due: lint-ui-v2, format-ui-v2

Add context menu test
  ui-v2/src/components/work-pools/work-pool-card/components/constants.ts
  ui-v2/src/components/work-pools/work-pool-card/components/work-pool-context-menu.test.tsx
Due: lint-ui-v2, format-ui-v2

Fix a few errors
  ui-v2/src/mocks/create-fake-work-pool-type.ts
  ui-v2/src/mocks/create-fake-work-pool.ts
  ui-v2/src/routes/work-pools/index.tsx
Due: lint-ui-v2, format-ui-v2

add pre-commit
  .pre-commit-config.yaml
Due: generate-mintlify-openapi-docs, generate-settings-schema, generate-settings-ref, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

ignore lockfiles for integrations for now
  .gitignore
Due: none

dependabot
  .github/dependabot.yml
Due: none

lockfile
  .gitignore
  uv.lock
Due: none

ok?
  .github/dependabot.yml
Due: none

try to fix
  ui-v2/src/api/zod/deployments/deployments.ts
Due: lint-ui-v2, format-ui-v2

commit `uv.lock` (#17315)
  .github/dependabot.yml
  .gitignore
  .pre-commit-config.yaml
  ui-v2/src/api/zod/deployments/deployments.ts
  uv.lock
Due: generate-mintlify-openapi-docs, generate-settings-schema, generate-settings-ref, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

Update packages
  ui/package-lock.json
  ui/package.json
  ui/src/main.ts
Due: none

update vite
  ui/package-lock.json
  ui/package.json
Due: none

[UI] Update packages (#17426)
  ui/package-lock.json
  ui/package.json
  ui/src/main.ts
Due: none

[UI v2] feat: Convert deferred data loading to use suspense
  ui-v2/src/components/deployments/data-table/index.tsx
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/deployments/deployment-details-runs-tab.tsx
  ui-v2/src/components/deployments/deployment-details-upcoming-tab.tsx
  ui-v2/src/components/deployments/deployment-links.tsx
  ui-v2/src/components/deployments/deployment-triggers.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-filters.tsx
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-filters/run-name-search.tsx
  ui-v2/src/components/flows/flow-link.tsx
  ui-v2/src/components/work-pools/work-pool-select/work-pool-select.test.tsx
  ui-v2/src/components/work-pools/work-pool-select/work-pool-select.tsx
  ui-v2/src/components/work-pools/work-queue-link.tsx
  ui-v2/src/components/work-pools/work-queue-select/work-queue-select.test.tsx
  ui-v2/src/components/work-pools/work-queue-select/work-queue-select.tsx
Due: lint-ui-v2, format-ui-v2

Path conditions:
  generate-mintlify-openapi-docs: any of: (?x)^(
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    scripts/generate_mintlify_openapi_docs.py
)$

  generate-settings-schema: any of: (?x)^(
    .pre-commit-config.yaml|
    src/prefect/settings/models/.*|
    scripts/generate_settings_schema.py
)$

  generate-settings-ref: any of: (?x)^(
    .pre-commit-config.yaml|
    src/prefect/settings/models/.*|
    scripts/generate_settings_ref.py
)$

  lint-ui-v2: any of: (?x)^(
    .pre-commit-config.yaml|
    ui-v2/.*
)$

  format-ui-v2: any of: (?x)^(
    .pre-commit-config.yaml|
    ui-v2/.*
)$

  service-sync-ui-v2-openapi: any of: (?x)^(
    .pre-commit-config.yaml|
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    src/prefect/server/utilities/schemas/.*|
    ui-v2/package.json
)$

