Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Update usage of "Prefect library" to clarify "Python"
  docs/orchestration/concepts/flows.md
  docs/orchestration/concepts/kv_store.md
  docs/orchestration/flow-runs/concurrency-limits.md
  docs/orchestration/flow-runs/creation.md
  docs/orchestration/flow-runs/inspection.md
  docs/orchestration/flow-runs/overview.md
  docs/orchestration/flow-runs/task-runs.md
Due: none

Update `FlowRunView.flow` to `FlowRunView.get_flow_metadata()`
  docs/orchestration/flow-runs/inspection.md
  src/prefect/backend/flow_run.py
Due: black, flake8

Add experimental flags
  docs/orchestration/flow-runs/inspection.md
  docs/orchestration/flow-runs/task-runs.md
  docs/outline.toml
  src/prefect/backend/flow.py
  src/prefect/backend/flow_run.py
  src/prefect/backend/task_run.py
Due: black, flake8

Add labels to `FlowRunView` repr
  src/prefect/backend/flow_run.py
Due: black, flake8

Fix metadata call
  src/prefect/backend/flow_run.py
Due: black, flake8

Add missing "-" to `watch_flow_run` docstring args
  src/prefect/backend/flow_run.py
Due: black, flake8

Clarify that these functions are tasks
  src/prefect/tasks/prefect/flow_run.py
Due: black, flake8

Add check for `get_task_run_result` referencing current flow run
  src/prefect/tasks/prefect/flow_run.py
  tests/tasks/prefect/test_flow_run.py
Due: black, flake8

Scaffold login command
  src/prefect/cli/auth.py
Due: black, flake8

Add check for custom result types which we cannot support yet
  src/prefect/backend/task_run.py
  tests/backend/test_task_run.py
Due: black, flake8

Add test for error on missing result data
  tests/backend/test_task_run.py
Due: black

Update test to use repr match for win32 compat
  tests/backend/test_task_run.py
Due: black

Skip match for win32 -- not worth dealing with file name handling
  tests/backend/test_task_run.py
Due: black

Install mypy typeshed packages in CI
  .circleci/config.yml
Due: none

Run mypy to detect missing packages
  .circleci/config.yml
Due: none

Add mypy caching
  .circleci/config.yml
Due: none

Add typeshed requirements file
  typeshed-requirements.txt
Due: none

Remove cache; install typeshed requirements in CI
  .circleci/config.yml
Due: none

Remove the match entirely...
  tests/backend/test_task_run.py
Due: black

Add changes/pr4608.yaml
  changes/pr4608.yaml
Due: none

Remove version pins for typeshed packages
  typeshed-requirements.txt
Due: none

Try using python3 pip install? mypy claims to be missing an installed types package
  .circleci/config.yml
Due: none

Task timeout as either int or timedelta
  changes/task_timeout_as_int_or_timedelta.yaml
  src/prefect/core/task.py
  tests/core/test_task.py
Due: black, flake8

Run Flow API: Cleanup view object interfaces (#4615)
  docs/orchestration/flow-runs/inspection.md
  docs/orchestration/flow-runs/task-runs.md
  docs/outline.toml
  src/prefect/backend/flow.py
  src/prefect/backend/flow_run.py
  src/prefect/backend/task_run.py
  src/prefect/tasks/prefect/flow_run.py
  tests/backend/test_task_run.py
  tests/tasks/prefect/test_flow_run.py
Due: black, flake8

Pin mypy to 0.8.x to fix typeshed errors
  .circleci/config.yml
Due: none

Update src/prefect/core/task.py
  src/prefect/core/task.py
Due: black, flake8

Fixup version pin syntax
  .circleci/config.yml
Due: none

Task timeout as either int or timedelta (#4619)
  changes/task_timeout_as_int_or_timedelta.yaml
  src/prefect/core/task.py
  tests/core/test_task.py
Due: black, flake8

Adjust mypy version pin
  .circleci/config.yml
Due: none

Fix the pin yet again
  .circleci/config.yml
Due: none

Add waiting_interval parameter to StartFlowRun
  changes/startflowrun_wait_interval_parameter.yaml
  src/prefect/tasks/prefect/flow_run.py
  tests/tasks/prefect/test_flow_run.py
Due: black, flake8

Pin mypy to 0.8 to fix typeshed errors (#4642)
  .circleci/config.yml
Due: none

Add `api_key` and `tenant_id` to `Client.__init__`
  src/prefect/client/client.py
Due: black, flake8

Add changes/pr4643.yaml
  changes/pr4643.yaml
Due: none

Add warning if both auth token and api key are set
  src/prefect/client/client.py
Due: black, flake8

Add login by key
  src/prefect/cli/auth.py
  src/prefect/client/client.py
Due: black, flake8

Actually use the api key for requests
  src/prefect/client/client.py
Due: black, flake8

Fix tenant listing
  src/prefect/client/client.py
Due: black, flake8

add merge_reference_task on update
  src/prefect/core/flow.py
  tests/core/test_flow.py
Due: black, flake8

Update tenant switching
  src/prefect/cli/auth.py
  src/prefect/client/client.py
Due: black, flake8
