Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Add raise_for_status configuration to PrefectHttpxClient
  src/prefect/utilities/httpx.py
Due: black, flake8

Remove OrionClient httpx wrappers
  src/prefect/client.py
  tests/test_client.py
Due: black, flake8

Add PUT method to avoid confusing asymmetry
  src/prefect/utilities/httpx.py
Due: black, flake8

⚫
  src/prefect/client.py
Due: black, flake8

Add tests for handling 429 responses
  src/prefect/utilities/httpx.py
  tests/utilities/test_httpx.py
Due: black, flake8

isort
  tests/utilities/test_httpx.py
Due: black

Revisions based on feedback.
  docs/ui/cloud.md
  docs/ui/overview.md
  docs/ui/work-queues.md
Due: none

Minor edits
  docs/ui/cloud.md
Due: none

Update announce bar to cloud beta
  docs/overrides/main.html
Due: none

Default to exponential backoff
  src/prefect/utilities/httpx.py
Due: black, flake8

⚫
  src/prefect/utilities/httpx.py
Due: black, flake8

Changed task.md
  docs/core/concepts/tasks.md
Due: none

Loading active profile works
  src/prefect/context.py
  src/prefect/settings.py
Due: black, flake8

Getting and setting active profile is workig
  src/prefect/settings.py
Due: black, flake8
