Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

fix yaml
  changes/pr4218.yaml
Due: none

Make `--slug` optional in `prefect server create-tenant`
  src/prefect/cli/server.py
  tests/cli/test_server.py
Due: black, flake8

Add changelog
  changes/pr4240.yaml
Due: none

Release 0.14.12 [ci skip]
  CHANGELOG.md
  changes/pr4126.yaml
  changes/pr4202.yaml
  changes/pr4206.yaml
  changes/pr4209.yaml
  changes/pr4211.yaml
  changes/pr4232.yaml
  changes/pr4235.yaml
  changes/pr4240.yaml
  docs/.vuepress/config.js
Due: none

Deprecate `prefect register flow`
  src/prefect/cli/register.py
  tests/cli/test_register.py
Due: black, flake8

Allow `wait` to be passed to `StartFlowRun.run`
  src/prefect/tasks/prefect/flow_run.py
Due: black, flake8

Improve logging for introspection of StartFlowRun
  src/prefect/tasks/prefect/flow_run.py
Due: black, flake8

Return the `FlowRunInfoResult` on `StartFlowRun` success
  src/prefect/tasks/prefect/flow_run.py
Due: black, flake8

Initial working version
  src/prefect/cli/register.py
  src/prefect/storage/_healthcheck.py
  src/prefect/storage/base.py
Due: black, flake8

Working live reload
  src/prefect/cli/register.py
Due: black, flake8

Use from chain exceptions in k8s enviroment
  src/prefect/environments/execution/k8s/job.py
Due: black, flake8

Minor Fix
  src/prefect/environments/execution/k8s/job.py
Due: black, flake8

Adding issue descriptor file
  changes/issue3306.yaml
Due: none

Cleanup logging/output, better error handling
  src/prefect/cli/register.py
Due: black, flake8

Ran black to autoformat code
  src/prefect/environments/execution/k8s/job.py
Due: black, flake8

Report if flow registration is skipped
  src/prefect/cli/register.py
Due: black, flake8

Beautify output
  src/prefect/cli/register.py
Due: black, flake8

fixing raise-missing-from in remaining places
  src/prefect/engine/serializers.py
  src/prefect/tasks/airtable/__init__.py
  src/prefect/tasks/aws/batch.py
  src/prefect/tasks/aws/client_waiter.py
  src/prefect/tasks/azure/__init__.py
  src/prefect/tasks/azureml/__init__.py
  src/prefect/tasks/dbt/__init__.py
  src/prefect/tasks/dropbox/__init__.py
  src/prefect/tasks/gcp/bigquery.py
  src/prefect/tasks/great_expectations/__init__.py
  src/prefect/tasks/gsheets/__init__.py
  src/prefect/tasks/kubernetes/__init__.py
  src/prefect/tasks/postgres/__init__.py
  src/prefect/tasks/redis/__init__.py
  src/prefect/tasks/rss/__init__.py
  src/prefect/tasks/snowflake/__init__.py
  src/prefect/tasks/sql_server/__init__.py
  src/prefect/tasks/templates/jinja2.py
Due: black, flake8

Improve message when task slugs are missing
  src/prefect/client/client.py
  src/prefect/engine/cloud/flow_runner.py
Due: black, flake8

Refactor to ease testing, add docstrings/types
  src/prefect/cli/register.py
  tests/client/test_client.py
Due: black, flake8

Basic redis result storage
  src/prefect/engine/results/redis_result.py
Due: black, flake8

Updated documentation
  src/prefect/engine/results/redis_result.py
Due: black, flake8

Reformat with black
  src/prefect/engine/results/redis_result.py
Due: black, flake8

Fix exists to return bool and not int of instances
  src/prefect/engine/results/redis_result.py
Due: black, flake8

Add test for path/module watch
  src/prefect/cli/register.py
  tests/cli/test_register.py
Due: black, flake8

Support setting flow run labels from cli
  changes/pr4266.yaml
  src/prefect/cli/run.py
  tests/cli/test_run.py
Due: black, flake8

Add tests
  src/prefect/cli/register.py
  tests/cli/test_register.py
Due: black, flake8

Add to docs
  docs/core/idioms/script-based.md
  docs/orchestration/concepts/flows.md
  docs/outline.toml
  src/prefect/cli/register.py
Due: black, flake8

Add changelog entry
  changes/pr4256.yaml
Due: none

Wrap script in __name__=="__main__"
  docs/core/tutorial/06-parallel-execution.md
Due: none

- Assign User and Password at runtime to work with PrefectSecret - Add unittest - Add missing information in docs
  src/prefect/tasks/exasol/exasol.py
  tests/tasks/exasol/test_exasol.py
Due: black, flake8

add change entry
  changes/pr4268.yml
Due: none

Raise an exception if REDIS_STORAGE_CONNECTION_STRING is not present
  src/prefect/engine/results/redis_result.py
Due: black, flake8

Fix windows tests :crossed_fingers:
  tests/cli/test_register.py
Due: black

`raw` -> `as_bytes`, add tests and changelog
  changes/pr4238.yaml
  src/prefect/tasks/aws/s3.py
  tests/tasks/aws/test_s3.py
Due: black, flake8

:crossed_fingers:
  tests/cli/test_register.py
Due: black

Fixup, simplify error message
  src/prefect/client/client.py
  src/prefect/engine/cloud/flow_runner.py
  tests/engine/cloud/test_cloud_flows.py
Due: black, flake8

Add changelog entry
  changes/pr4259.yaml
Due: none

Add deprecated warning for user / password (init)
  src/prefect/tasks/exasol/exasol.py
Due: black, flake8

[skip ci] change log
  changes/pr4268.yml
Due: none
