Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: auto-generate-documentation, check-ui-v2, service-sync-ui-v2-openapi

auto-generate-documentation:
  name: Auto-generating Documentation
  language: system
  entry: uv run --isolated -p 3.9 --with 'pydantic>=2.9.0' ./scripts/run_precommit_generation_scripts.py
  pass_filenames: false

check-ui-v2:
  name: Check UI v2
  language: system
  entry: sh
  args:
  - -c
  - . $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run check:staged
  pass_filenames: false

service-sync-ui-v2-openapi:
  name: Sync UI v2 OpenAPI
  language: system
  entry: sh
  args:
  - -c
  - . $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run service-sync
  pass_filenames: false

Fix AttributeError in deployment error message
  src/prefect/server/api/deployments.py
Due: auto-generate-documentation, service-sync-ui-v2-openapi

Fix test error message validation for work pool null check
  tests/server/orchestration/api/test_deployments.py
Due: none

Apply pre-commit formatting changes
  tests/server/orchestration/api/test_deployments.py
Due: none

Update `uv.lock` and `.pre-commit-config.yaml`
  .pre-commit-config.yaml
  uv.lock
Due: auto-generate-documentation, check-ui-v2, service-sync-ui-v2-openapi

Implement main WorkPool page integration with tabs
  ui-v2/src/api/work-pools/index.ts
  ui-v2/src/api/work-pools/work-pools.ts
  ui-v2/src/components/ui/layout-well/index.ts
  ui-v2/src/components/ui/layout-well/layout-well.test.tsx
  ui-v2/src/components/ui/layout-well/layout-well.tsx
  ui-v2/src/components/work-pools/work-pool-deployments-tab/index.ts
  ui-v2/src/components/work-pools/work-pool-deployments-tab/work-pool-deployments-tab.test.tsx
  ui-v2/src/components/work-pools/work-pool-deployments-tab/work-pool-deployments-tab.tsx
  ui-v2/src/components/work-pools/work-pool-flow-runs-tab/index.ts
  ui-v2/src/components/work-pools/work-pool-flow-runs-tab/work-pool-flow-runs-tab.test.tsx
  ui-v2/src/components/work-pools/work-pool-flow-runs-tab/work-pool-flow-runs-tab.tsx
  ui-v2/src/mocks/deployment.ts
  ui-v2/src/mocks/flow-run.ts
  ui-v2/src/mocks/flow.ts
  ui-v2/src/routes/work-pools/work-pool.$workPoolName.tsx
Due: check-ui-v2

specify repo url
  docs/v3/api-ref/python/prefect-client-orchestration-__init__.mdx
  docs/v3/api-ref/python/prefect-server-events-ordering.mdx
  docs/v3/api-ref/python/prefect-testing-standard_test_suites-__init__.mdx
  docs/v3/api-ref/python/prefect-testing-standard_test_suites-blocks.mdx
  docs/v3/api-ref/python/prefect-utilities-services.mdx
  docs/v3/api-ref/python/prefect-workers-base.mdx
  docs/v3/api-ref/python/prefect-workers-process.mdx
  justfile
Due: none

claude code: add project slash command for reproductions
  .claude/repro.md
Due: none

ope use right place
  .claude/commands/repro.md
Due: none

remove stale mdx files from api ref (#18828)
  docs/v3/api-ref/python/prefect-client-orchestration-__init__.mdx
  docs/v3/api-ref/python/prefect-server-events-ordering.mdx
  docs/v3/api-ref/python/prefect-testing-standard_test_suites-__init__.mdx
  docs/v3/api-ref/python/prefect-testing-standard_test_suites-blocks.mdx
  docs/v3/api-ref/python/prefect-utilities-services.mdx
  docs/v3/api-ref/python/prefect-workers-base.mdx
  docs/v3/api-ref/python/prefect-workers-process.mdx
  justfile
Due: none

add repro prompt
  .claude/commands/repro.md
  AGENTS.md
Due: none

Fix `AttributeError` in when creating a flow run from a deployment (#18707)
  src/prefect/server/api/deployments.py
  tests/server/orchestration/api/test_deployments.py
Due: auto-generate-documentation, service-sync-ui-v2-openapi

update incorrect push action description
  docs/v3/how-to-guides/deployments/prefect-yaml.mdx
Due: none

Update incorrect push action description (#18834)
  docs/v3/how-to-guides/deployments/prefect-yaml.mdx
Due: none

Fix code formatting
  ui-v2/src/api/work-pools/index.ts
  ui-v2/src/components/ui/layout-well/index.ts
  ui-v2/src/components/ui/layout-well/layout-well.test.tsx
  ui-v2/src/components/ui/layout-well/layout-well.tsx
  ui-v2/src/components/work-pools/work-pool-deployments-tab/index.ts
  ui-v2/src/components/work-pools/work-pool-deployments-tab/work-pool-deployments-tab.test.tsx
  ui-v2/src/components/work-pools/work-pool-deployments-tab/work-pool-deployments-tab.tsx
  ui-v2/src/components/work-pools/work-pool-flow-runs-tab/index.ts
  ui-v2/src/components/work-pools/work-pool-flow-runs-tab/work-pool-flow-runs-tab.test.tsx
  ui-v2/src/components/work-pools/work-pool-flow-runs-tab/work-pool-flow-runs-tab.tsx
  ui-v2/src/mocks/deployment.ts
  ui-v2/src/mocks/flow-run.ts
  ui-v2/src/mocks/flow.ts
  ui-v2/src/routes/work-pools/work-pool.$workPoolName.tsx
Due: check-ui-v2

Update `uv.lock` file
  uv.lock
Due: none

disable default lowercase
  src/integrations/prefect-kubernetes/prefect_kubernetes/utilities.py
Due: none

feat: Add Azure DevOps Credential Block
  prefect-azure-devops/.github/workflows/static_analysis.yml
  prefect-azure-devops/.github/workflows/tests.yml
  prefect-azure-devops/.gitignore
  prefect-azure-devops/.pre-commit-config.yaml
  prefect-azure-devops/CHANGELOG.md
  prefect-azure-devops/README.md
  prefect-azure-devops/prefect_azure_devops/__init__.py
  prefect-azure-devops/prefect_azure_devops/credentials.py
  prefect-azure-devops/prefect_azure_devops/repository.py
  prefect-azure-devops/requirements-dev.txt
  prefect-azure-devops/requirements.txt
  prefect-azure-devops/setup.cfg
  prefect-azure-devops/setup.py
  prefect-azure-devops/tests/__init__.py
  prefect-azure-devops/tests/conftest.py
  prefect-azure-devops/tests/test_credentials.py
  prefect-azure-devops/tests/test_repository.py
Due: none

Claude prompts (#18833)
  .claude/commands/repro.md
  AGENTS.md
Due: none

Test postgres version
  tests/cli/test_version.py
Due: none

Add postgres version on version
  src/prefect/cli/root.py
Due: none

Fix tests
  tests/cli/test_version.py
Due: none

Update docs
  docs/v3/api-ref/python/prefect-cli-root.mdx
  docs/v3/api-ref/python/prefect-server-api-deployments.mdx
Due: none

Fix failing tests for work pool components
  ui-v2/src/components/work-pools/work-pool-deployments-tab/work-pool-deployments-tab.test.tsx
  ui-v2/src/components/work-pools/work-pool-flow-runs-tab/work-pool-flow-runs-tab.test.tsx
Due: check-ui-v2

Fixes formatting
  ui-v2/src/components/work-pools/work-pool-deployments-tab/work-pool-deployments-tab.test.tsx
  ui-v2/src/components/work-pools/work-pool-flow-runs-tab/work-pool-flow-runs-tab.test.tsx
Due: check-ui-v2

added lowercase=False and test condition
  src/integrations/prefect-kubernetes/tests/test_utilities.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Due: none

remove unused import
  src/integrations/prefect-kubernetes/tests/test_utilities.py
Due: none

format
  src/integrations/prefect-kubernetes/prefect_kubernetes/utilities.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Due: none

Add Azure DevOps credentials and repository blocks with tests
  prefect_azuredevops/README.md
  prefect_azuredevops/prefect_azuredevops/__init__.py
  prefect_azuredevops/prefect_azuredevops/credentials.py
  prefect_azuredevops/prefect_azuredevops/repository.py
  prefect_azuredevops/pytest.ini
  prefect_azuredevops/requirements.txt
  prefect_azuredevops/setup.py
  prefect_azuredevops/tests/test_credentials.py
  prefect_azuredevops/tests/test_repository.py
Due: none

Fix duplicate Basic Information on work pool Details tab
  ui-v2/src/routes/work-pools/work-pool.$workPoolName.tsx
Due: check-ui-v2

Preserve casing of Kubernetes label values (#18841)
  src/integrations/prefect-kubernetes/prefect_kubernetes/utilities.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Due: none

Path conditions:
  auto-generate-documentation: any of: (?x)^(
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    src/prefect/settings/models/.*|
    scripts/generate_mintlify_openapi_docs.py|
    scripts/generate_settings_schema.py|
    scripts/generate_settings_ref.py|
    scripts/run_precommit_generation_scripts.py
)$

  check-ui-v2: any of: (?x)^(
    .pre-commit-config.yaml|
    ui-v2/.*
)$

  service-sync-ui-v2-openapi: any of: (?x)^(
    .pre-commit-config.yaml|
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    src/prefect/server/utilities/schemas/.*|
    ui-v2/package.json
)$

