Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-mintlify-openapi-docs, generate-settings-schema, generate-settings-ref, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

generate-mintlify-openapi-docs:
  name: Generating OpenAPI docs for Mintlify
  language: system
  entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_mintlify_openapi_docs.py
  pass_filenames: false

generate-settings-schema:
  name: Generating Settings Schema
  language: system
  entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_schema.py
  pass_filenames: false

generate-settings-ref:
  name: Generating Settings Reference
  language: system
  entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_ref.py
  pass_filenames: false

lint-ui-v2:
  name: Lint UI v2
  language: system
  entry: sh
  args:
  - -c
  - cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run lint
  pass_filenames: false

format-ui-v2:
  name: Format UI v2
  language: system
  entry: sh
  args:
  - -c
  - cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run format
  pass_filenames: false

service-sync-ui-v2-openapi:
  name: Sync UI v2 OpenAPI
  language: system
  entry: sh
  args:
  - -c
  - cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run service-sync
  pass_filenames: false

Handles the instrumentation case where a future is only used to wait_for (#16709)
  src/prefect/utilities/engine.py
  tests/telemetry/test_run_telemetry.py
Due: none

[UI v2] test: Unskips test
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-create-dialog/task-run-concurrency-limits-create-dialog.test.tsx
Due: lint-ui-v2, format-ui-v2

Allow servers to start with no background services (#16693)
  src/prefect/cli/server.py
  src/prefect/server/api/server.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

Add ability to delete a deployment from the list view
  ui-v2/src/api/deployments/deployments.test.ts
  ui-v2/src/api/deployments/index.ts
  ui-v2/src/api/prefect.ts
  ui-v2/src/components/deployments/data-table/data-table.stories.tsx
  ui-v2/src/components/deployments/data-table/data-table.test.tsx
  ui-v2/src/components/deployments/data-table/index.tsx
  ui-v2/src/components/ui/alert-dialog.tsx
  ui-v2/src/components/ui/delete-confirmation-dialog/delete-confirmation-dialog.stories.tsx
  ui-v2/src/components/ui/delete-confirmation-dialog/delete-confirmation-dialog.test.tsx
  ui-v2/src/components/ui/delete-confirmation-dialog/delete-confirmation-dialog.tsx
  ui-v2/src/components/ui/delete-confirmation-dialog/index.tsx
  ui-v2/src/components/ui/delete-confirmation-dialog/useDeleteConfirmationDialog.test.tsx
  ui-v2/src/components/ui/delete-confirmation-dialog/useDeleteConfirmationDialog.tsx
  ui-v2/src/hooks/deployments/deployments.test.tsx
  ui-v2/src/hooks/deployments/index.ts
  ui-v2/src/routes/deployments/index.tsx
  ui-v2/tests/utils/handlers.ts
Due: lint-ui-v2, format-ui-v2

Improve typing in `prefect.results`
  src/prefect/results.py
Due: none

Fix typing error
  src/prefect/results.py
Due: none

Fix test failures
  src/prefect/results.py
Due: none

Improve typing in `prefect.results` (#16714)
  src/prefect/results.py
Due: none

`prefect.server.events.pipeline`
  src/prefect/server/events/pipeline.py
  ui-v2/src/api/prefect.ts
Due: generate-mintlify-openapi-docs, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

`jinja_filters`, `messaging`, ordering`
  src/prefect/server/events/jinja_filters.py
  src/prefect/server/events/messaging.py
  src/prefect/server/events/ordering.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

`stream`
  src/prefect/server/events/stream.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

`triggers`
  src/prefect/server/api/clients.py
  src/prefect/server/events/actions.py
  src/prefect/server/events/clients.py
  src/prefect/server/events/schemas/automations.py
  src/prefect/server/events/schemas/events.py
  src/prefect/server/events/stream.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  ui-v2/src/api/prefect.ts
Due: generate-mintlify-openapi-docs, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

`filters`
  src/prefect/server/events/filters.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

`counting` and `clients`
  src/prefect/server/events/clients.py
  src/prefect/server/events/counting.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

`actions` and `storage`
  src/prefect/server/events/actions.py
  src/prefect/server/events/storage/database.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

Move quickstart to immediately before the 'schedule a flow' tutorial in the docs (#16705)
  docs/mint.json
Due: none

Get rid of red squiggles
  src/prefect/server/events/actions.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

`schemas.events` and `triggers`
  src/prefect/server/events/schemas/events.py
  src/prefect/server/events/triggers.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

Update docs/v3/develop/manage-states.mdx
  docs/v3/develop/manage-states.mdx
Due: none

Add missing annotations import
  src/prefect/server/events/counting.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

Add state transition table to 'Manage states' doc and link from the debug tutorial (#16668)
  docs/v3/develop/manage-states.mdx
  docs/v3/tutorials/debug.mdx
Due: none

handle PID_FILE better
  src/prefect/cli/server.py
  tests/cli/test_server_services.py
Due: none

rm unused type
  src/prefect/cli/server.py
Due: none

add new cli commands
  src/prefect/cli/server.py
  src/prefect/server/events/services/triggers.py
  src/prefect/server/services/loop_service.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

allow ls
  src/prefect/cli/server.py
Due: none

better background behavior
  src/prefect/cli/server.py
Due: none

remove logfile for now
  src/prefect/cli/server.py
Due: none

add tests
  src/prefect/cli/server.py
  src/prefect/testing/cli.py
  tests/cli/test_server_services.py
  tests/test_logging.py
Due: none

try one process
  src/prefect/cli/server.py
Due: none

from the __future__
  src/prefect/cli/server.py
  src/prefect/server/services/loop_service.py
Due: none

restore useful comments
  src/prefect/server/services/loop_service.py
Due: none

Path conditions:
  generate-mintlify-openapi-docs: any of: (?x)^(
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    scripts/generate_mintlify_openapi_docs.py
)$

  generate-settings-schema: any of: (?x)^(
    .pre-commit-config.yaml|
    src/prefect/settings/models/.*|
    scripts/generate_settings_schema.py
)$

  generate-settings-ref: any of: (?x)^(
    .pre-commit-config.yaml|
    src/prefect/settings/models/.*|
    scripts/generate_settings_ref.py
)$

  lint-ui-v2: any of: (?x)^(
    .pre-commit-config.yaml|
    ui-v2/.*
)$

  format-ui-v2: any of: (?x)^(
    .pre-commit-config.yaml|
    ui-v2/.*
)$

  service-sync-ui-v2-openapi: any of: (?x)^(
    .pre-commit-config.yaml|
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    ui-v2/package.json
)$

