Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

black formatting
  src/prefect/storage/bitbucket.py
Due: black, flake8

Removed unused import and addressed max line lenght of 105
  src/prefect/storage/bitbucket.py
Due: black, flake8

Speedup flushing of cloud logs on shutdown
  src/prefect/utilities/logging.py
  tests/utilities/test_logging.py
Due: black, flake8

Add changelog entry
  changes/pr4334.yaml
Due: none

Reformatting, max line length is 88 not 105
  src/prefect/storage/bitbucket.py
Due: black, flake8

Update docs/orchestration/README.md [ci skip]
  docs/orchestration/README.md
Due: none

Changing length of lines missed by black
  src/prefect/storage/bitbucket.py
Due: black, flake8

A few edits to docs
  docs/core/concepts/flows.md
  src/prefect/core/flow.py
Due: black, flake8

add test
  tests/cli/test_run.py
Due: black

Split out flow metadata query and use hasura to sort
  src/prefect/agent/agent.py
Due: black, flake8

Revert "update docs for switch from tokens to API keys"
  changes/pr4313.yaml
  docs/.vuepress/public/api_key_list.png
  docs/.vuepress/public/api_key_name.png
  docs/.vuepress/public/orchestration/ui/service-accounts.png
  docs/orchestration/agents/docker.md
  docs/orchestration/agents/ecs.md
  docs/orchestration/agents/fargate.md
  docs/orchestration/agents/kubernetes.md
  docs/orchestration/agents/local.md
  docs/orchestration/agents/overview.md
  docs/orchestration/concepts/api.md
  docs/orchestration/concepts/tokens.md
  docs/orchestration/tutorial/first.md
  docs/orchestration/tutorial/overview.md
  docs/orchestration/ui/team-settings.md
Due: none

Switch to type annotations
  src/prefect/agent/agent.py
Due: black, flake8

Split out logging setup
  src/prefect/agent/agent.py
Due: black, flake8

Store the agent config during retrieval
  src/prefect/agent/agent.py
Due: black, flake8

Log agent config on retrieval
  src/prefect/agent/agent.py
Due: black, flake8

Split out work polling loop
  src/prefect/agent/agent.py
Due: black, flake8

Define loop intervals at the top-level
  src/prefect/agent/agent.py
Due: black, flake8

Cleanup setup/teardown of agent
  src/prefect/agent/agent.py
Due: black, flake8

Consolidate subclass overrides, mark funcs as private
  src/prefect/agent/agent.py
Due: black, flake8

Move public methods to top of class and organize!
  src/prefect/agent/agent.py
Due: black, flake8

Fail immediately if we cannot connect to the API
  src/prefect/agent/agent.py
Due: black, flake8

Simplify main loop
  src/prefect/agent/agent.py
Due: black, flake8

Simplify callback docstring
  src/prefect/agent/agent.py
Due: black, flake8

Simplify run log writes
  src/prefect/agent/agent.py
Due: black, flake8

Add check for agent address, improve logs
  src/prefect/agent/agent.py
Due: black, flake8

Move runs query back into job submission method
  src/prefect/agent/agent.py
Due: black, flake8

Update tests to reflect new names
  tests/agent/test_agent.py
Due: black

Fix types for mypy
  src/prefect/agent/agent.py
Due: black, flake8

Rename background run methods to `start`
  src/prefect/agent/agent.py
  tests/agent/test_agent.py
Due: black, flake8

Add changes/pr4341.yaml
  changes/pr4341.yaml
Due: none

Update some docstrings [ci skip]
  src/prefect/agent/agent.py
Due: black, flake8

Move executor submission to one-line
  src/prefect/agent/agent.py
Due: black, flake8

Add comment about private attrs
  src/prefect/agent/agent.py
Due: black, flake8

Fix typo
  src/prefect/agent/agent.py
Due: black, flake8

Fix typo
  src/prefect/utilities/executors.py
Due: black, flake8

Add safe-to-evict annotation to k8s job
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/kubernetes/deployment.yaml
  src/prefect/agent/kubernetes/job_spec.yaml
  src/prefect/cli/agent.py
  src/prefect/run_configs/kubernetes.py
  src/prefect/serialization/run_config.py
  tests/agent/test_k8s_agent.py
  tests/run_configs/test_kubernetes.py
  tests/serialization/test_run_configs.py
Due: black, flake8

annotation is string
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/kubernetes/deployment.yaml
  src/prefect/cli/agent.py
  src/prefect/run_configs/kubernetes.py
  src/prefect/serialization/run_config.py
  tests/cli/test_agent.py
Due: black, flake8

Add changelog
  changes/pr4346.yaml
Due: none

Parametrize max polls test
  tests/agent/test_agent.py
Due: black

Remove max poll tests from agent subclasses
  tests/agent/test_docker_agent.py
  tests/agent/test_fargate_agent.py
  tests/agent/test_k8s_agent.py
  tests/agent/test_local_agent.py
Due: black

Path conditions:
  black: any of: \.py$
  flake8: any of: ^src/prefect/ and \.py$
