Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: auto-generate-documentation, check-ui-v2, service-sync-ui-v2-openapi

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.5
    hooks:
      - id: ruff
        language_version: python3
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: package-lock.json|_vendor/.*|docs/styles/.*
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=1.10.0,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0
          - types-cachetools==5.3.0.5
          - types-pyyaml==6.0.12.9
        files: |
          (?x)^(
            src/prefect/server/models/.*|
            src/prefect/concurrency/.*|
            src/prefect/events/.*|
            src/prefect/input/.*
          )$
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.6.11
    hooks:
      - id: uv-lock

  - repo: local
    hooks:
      - id: auto-generate-documentation
        name: Auto-generating Documentation
        language: system
        entry: uv run --isolated -p 3.9 --with 'pydantic>=2.9.0' ./scripts/run_precommit_generation_scripts.py
        pass_filenames: false
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              src/prefect/settings/models/.*|
              scripts/generate_mintlify_openapi_docs.py|
              scripts/generate_settings_schema.py|
              scripts/generate_settings_ref.py|
              scripts/run_precommit_generation_scripts.py
          )$
      - id: check-ui-v2
        name: Check UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            ". $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run check:staged",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: service-sync-ui-v2-openapi
        name: Sync UI v2 OpenAPI
        language: system
        entry: sh
        args:
          [
            "-c",
            ". $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run service-sync",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              src/prefect/server/utilities/schemas/.*|
              ui-v2/package.json
          )$
        pass_filenames: false

Update async `concurrency` context manager to use leases (#18522)
  .github/workflows/integration-tests.yaml
  integration-tests/test_concurrency_leases.py
  src/prefect/client/orchestration/_concurrency_limits/client.py
  src/prefect/client/orchestration/routes.py
  src/prefect/client/schemas/responses.py
  src/prefect/concurrency/_asyncio.py
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/context.py
  src/prefect/concurrency/services.py
  src/prefect/server/concurrency/lease_storage/__init__.py
  src/prefect/server/concurrency/lease_storage/filesystem.py
  src/prefect/server/concurrency/lease_storage/memory.py
  src/prefect/server/services/repossessor.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/server/concurrency/test_filesystem_lease_storage.py
Due: none

Fix some test failures
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_sync.py
Due: none

Update sync `concurrency` context manager to use leases
  integration-tests/test_concurrency_leases.py
  src/prefect/concurrency/sync.py
  tests/concurrency/test_concurrency_sync.py
Due: none

Deflake integration tests
  integration-tests/test_concurrency_leases.py
  src/prefect/server/concurrency/lease_storage/filesystem.py
Due: none

Remove occupancy_seconds from sync concurrency manager
  src/prefect/concurrency/sync.py
Due: none

Fix failing test
  tests/concurrency/test_concurrency_sync.py
Due: none

Add work pool infrastructure type selection step component
  ui-v2/src/api/collections/collections.test.ts
  ui-v2/src/api/collections/collections.ts
  ui-v2/src/api/collections/index.ts
  ui-v2/src/components/ui/callout.tsx
  ui-v2/src/components/ui/logo-image.stories.tsx
  ui-v2/src/components/ui/logo-image.test.tsx
  ui-v2/src/components/ui/logo-image.tsx
  ui-v2/src/components/ui/radio-group.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step.stories.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step.test.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step.tsx
  ui-v2/src/components/work-pools/create/types.ts
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/utils/utils.test.ts
  ui-v2/src/utils/utils.ts
Due: check-ui-v2

Fix TypeScript linting errors
  ui-v2/src/components/work-pools/create/infrastructure-type-step.test.tsx
  ui-v2/src/utils/utils.ts
Due: check-ui-v2

Replace custom RadioGroup with shadcn/ui implementation
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/components/ui/radio-group.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step.test.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step.tsx
  ui-v2/src/routeTree.gen.ts
Due: check-ui-v2, service-sync-ui-v2-openapi

Fix Storybook FormProvider context error
  ui-v2/src/components/work-pools/create/infrastructure-type-step.stories.tsx
Due: check-ui-v2

Improve layout alignment for infrastructure type options
  ui-v2/src/components/work-pools/create/infrastructure-type-step.tsx
Due: check-ui-v2

Center elements vertically in infrastructure type options
  ui-v2/src/components/work-pools/create/infrastructure-type-step.tsx
Due: check-ui-v2

Remove unused callout component
  ui-v2/src/components/ui/callout.tsx
Due: check-ui-v2

Refactor InfrastructureTypeStep to follow form-stepper pattern
  ui-v2/src/components/work-pools/create/infrastructure-type-step.stories.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step.test.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step.tsx
Due: check-ui-v2

Reorganize components into their own directories
  ui-v2/src/components/ui/logo-image/index.ts
  ui-v2/src/components/ui/logo-image/logo-image.stories.tsx
  ui-v2/src/components/ui/logo-image/logo-image.test.tsx
  ui-v2/src/components/ui/logo-image/logo-image.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step/index.ts
  ui-v2/src/components/work-pools/create/infrastructure-type-step/infrastructure-type-step.stories.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step/infrastructure-type-step.test.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step/infrastructure-type-step.tsx
Due: check-ui-v2

Update sync `concurrency` context manager to use leases (#18535)
  integration-tests/test_concurrency_leases.py
  src/prefect/concurrency/sync.py
  src/prefect/server/concurrency/lease_storage/filesystem.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_sync.py
Due: none

Update @prefecthq/prefect-ui-library to version 3.13.1
  ui/package-lock.json
  ui/package.json
Due: none

feat: include flow and flow_run properties in infra naming (#14646)
  integration-tests/test_infra.py
  src/prefect/flow_runs.py
  src/prefect/utilities/infra.py
Due: none

TST: fix MyInfra test with mock flow and flow_run
  integration-tests/test_infra.py
Due: none

Update @prefecthq/prefect-ui-library to version 3.13.1 (#18563)
  ui/package-lock.json
  ui/package.json
Due: none

Add tests for depends_on method
  tests/test_tasks.py
  tests/typing/test_task_depends_on_types.py
Due: none

explore explicit task methods
  src/prefect/tasks.py
Due: none

`depends_on`
  src/prefect/tasks.py
Due: none

Remove unnecessary types file
  ui-v2/src/components/work-pools/create/infrastructure-type-step/infrastructure-type-step.tsx
  ui-v2/src/components/work-pools/create/types.ts
Due: check-ui-v2

normal typing tests
  src/prefect/tasks.py
  tests/test_tasks.py
  tests/typesafety/test_tasks.yml
  tests/typing/test_task_depends_on_types.py
Due: none

improve tests
  tests/test_tasks.py
Due: none

improve comments slightly
  src/prefect/tasks.py
Due: none

chage internal to inheritance
  justfile
Due: none

Add work pool infrastructure type selection step component (#18560)
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/api/collections/collections.test.ts
  ui-v2/src/api/collections/collections.ts
  ui-v2/src/api/collections/index.ts
  ui-v2/src/components/ui/logo-image/index.ts
  ui-v2/src/components/ui/logo-image/logo-image.stories.tsx
  ui-v2/src/components/ui/logo-image/logo-image.test.tsx
  ui-v2/src/components/ui/logo-image/logo-image.tsx
  ui-v2/src/components/ui/radio-group.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step/index.ts
  ui-v2/src/components/work-pools/create/infrastructure-type-step/infrastructure-type-step.stories.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step/infrastructure-type-step.test.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step/infrastructure-type-step.tsx
  ui-v2/src/utils/utils.test.ts
  ui-v2/src/utils/utils.ts
Due: check-ui-v2, service-sync-ui-v2-openapi

address first part of review
  src/prefect/tasks.py
  tests/test_tasks.py
Due: none

Add WorkPoolInformationStep component for work pool creation wizard
  ui-v2/src/components/work-pools/create/information-step/information-step.stories.tsx
  ui-v2/src/components/work-pools/create/information-step/information-step.test.tsx
  ui-v2/src/components/work-pools/create/information-step/information-step.tsx
  ui-v2/src/components/work-pools/create/information-step/schema.ts
Due: check-ui-v2

Fix linting errors in WorkPoolInformationStep component
  ui-v2/src/components/work-pools/create/information-step/information-step.stories.tsx
  ui-v2/src/components/work-pools/create/information-step/information-step.test.tsx
  ui-v2/src/components/work-pools/create/information-step/information-step.tsx
Due: check-ui-v2
