Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ui-v2, service-sync-ui-v2-openapi

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-push

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.2
    hooks:
      - id: ruff-check
        language_version: python3
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: package-lock.json|_vendor/.*|docs/styles/.*
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=1.10.0,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0
          - types-cachetools==5.3.0.5
          - types-pyyaml==6.0.12.9
        files: |
          (?x)^(
            src/prefect/server/models/.*|
            src/prefect/concurrency/.*|
            src/prefect/events/.*|
            src/prefect/input/.*
          )$
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.6.17
    hooks:
      - id: uv-lock

  - repo: local
    hooks:
      - id: check-ui-v2
        name: Check UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            ". $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run check:staged",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: service-sync-ui-v2-openapi
        name: Sync UI v2 OpenAPI
        language: system
        entry: sh
        args:
          [
            "-c",
            ". $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run service-sync",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              src/prefect/server/utilities/schemas/.*|
              ui-v2/package.json
          )$
        pass_filenames: false
        stages:
          - pre-push

add docket settings to supported settings test list
  src/prefect/settings/models/server/services.py
  tests/test_settings.py
Due: none

fix: add type annotation for logger in repossessor.py
  src/prefect/server/services/repossessor.py
Due: none

feat: refactor foreman and pause_expirations to use docket
  src/prefect/server/services/foreman.py
  src/prefect/server/services/pause_expirations.py
Due: none

fix: correct docket task function signatures for positional args
  src/prefect/server/services/cancellation_cleanup.py
  src/prefect/server/services/foreman.py
  src/prefect/server/services/late_runs.py
  src/prefect/server/services/pause_expirations.py
  src/prefect/server/services/repossessor.py
Due: none

test: remove service tests for converted services
  tests/server/services/test_cancellation_cleanup.py
  tests/server/services/test_foreman.py
  tests/server/services/test_late_runs.py
  tests/server/services/test_loop_service.py
  tests/server/services/test_pause_expirations.py
  tests/server/services/test_repossessor.py
  tests/server/services/test_scheduler.py
  tests/server/services/test_telemetry.py
  ui-v2/src/api/prefect.ts
Due: check-ui-v2

regen ui
  ui-v2/src/api/prefect.ts
Due: check-ui-v2

fix: resolve TypeScript/ESLint errors in UI components
  ui-v2/src/components/dashboard/task-runs-card/task-runs-trends.tsx
  ui-v2/src/components/deployments/data-table/data-table.stories.tsx
  ui-v2/src/components/schemas/schema-form-input-array-list.tsx
  ui-v2/src/components/schemas/schema-form-input-object.tsx
  ui-v2/src/components/schemas/schema-form-property.tsx
  ui-v2/src/components/schemas/types/errors.ts
Due: check-ui-v2

docs: update self-hosted docs for docket-based background services
  docs/v3/advanced/self-hosted.mdx
Due: none

chore: use PyPI releases for pydocket and fakeredis
  pyproject.toml
  uv.lock
Due: none

fix: check enabled status at runtime in Perpetual services
  src/prefect/server/services/cancellation_cleanup.py
  src/prefect/server/services/foreman.py
  src/prefect/server/services/late_runs.py
  src/prefect/server/services/pause_expirations.py
  src/prefect/server/services/scheduler.py
Due: none

fix: add type annotations for logger variables
  src/prefect/server/services/scheduler.py
  src/prefect/server/services/telemetry.py
Due: none

fix: add db parameter to send_telemetry_heartbeat
  src/prefect/server/services/telemetry.py
Due: none

fix: import triggers module to register proactive triggers perpetual service
  src/prefect/server/api/background_workers.py
Due: service-sync-ui-v2-openapi

fix: correct type annotation for AsyncSession in scheduler.py
  src/prefect/server/api/server.py
  src/prefect/server/services/scheduler.py
Due: service-sync-ui-v2-openapi

Revert "docs: update self-hosted docs for docket-based background services"
  docs/v3/advanced/self-hosted.mdx
Due: none

fix: correct eslint-disable comment placement for TypeScript errors
  ui-v2/src/components/dashboard/task-runs-card/task-runs-trends.tsx
  ui-v2/src/components/schemas/types/errors.ts
Due: check-ui-v2

fix: add enabled check to scheduler perpetual functions
  src/prefect/server/services/scheduler.py
Due: none

refactor: use docket.register_collection for task registration
  src/prefect/server/api/background_workers.py
Due: service-sync-ui-v2-openapi

fix: add enabled checks to all Perpetual service functions
  src/prefect/server/services/cancellation_cleanup.py
  src/prefect/server/services/foreman.py
  src/prefect/server/services/late_runs.py
  src/prefect/server/services/pause_expirations.py
Due: none

feat: add perpetual services registry for docket-based background services
  src/prefect/server/api/background_workers.py
  src/prefect/server/api/server.py
  src/prefect/server/services/base.py
  src/prefect/server/services/cancellation_cleanup.py
  src/prefect/server/services/foreman.py
  src/prefect/server/services/late_runs.py
  src/prefect/server/services/pause_expirations.py
  src/prefect/server/services/perpetual_services.py
  src/prefect/server/services/repossessor.py
  src/prefect/server/services/scheduler.py
  src/prefect/server/services/telemetry.py
  tests/server/services/test_perpetual_services.py
  ui-v2/src/api/prefect.ts
  uv.lock
Due: check-ui-v2, service-sync-ui-v2-openapi

fix: use conditional automatic parameter for Perpetual services
  src/prefect/server/services/cancellation_cleanup.py
  src/prefect/server/services/foreman.py
  src/prefect/server/services/late_runs.py
  src/prefect/server/services/pause_expirations.py
  src/prefect/server/services/scheduler.py
Due: none

fix: apply biome formatting to UI components
  ui-v2/src/components/dashboard/task-runs-card/task-runs-trends.tsx
  ui-v2/src/components/schemas/schema-form-input-array-list.tsx
  ui-v2/src/components/schemas/schema-form-property.tsx
  ui-v2/src/components/schemas/types/errors.ts
Due: check-ui-v2

fix: ensure tests pass for docket migration
  src/prefect/server/events/services/triggers.py
  tests/client/test_prefect_client.py
Due: service-sync-ui-v2-openapi

fix: update perpetual services tests to include proactive triggers
  src/prefect/server/events/services/triggers.py
  tests/server/services/test_perpetual_services.py
Due: service-sync-ui-v2-openapi

fix: use correct OpenAPI schema names with -Output suffix
  ui-v2/src/api/task-runs/index.ts
  ui-v2/src/components/schemas/types/errors.ts
Due: check-ui-v2

refactor: improve typing in perpetual_services.py
  src/prefect/server/services/perpetual_services.py
Due: none

Address PR feedback: guard against empty strings and handle missing access_token
  src/integrations/prefect-databricks/prefect_databricks/credentials.py
  src/integrations/prefect-databricks/tests/test_credentials.py
Due: none

Update src/prefect/server/models/events.py
  src/prefect/server/models/events.py
Due: none

Update src/prefect/server/models/workers.py
  src/prefect/server/models/workers.py
Due: none

Update src/prefect/server/models/work_queues.py
  src/prefect/server/models/work_queues.py
Due: none

refactor: update settings access and fix deferred import
  src/prefect/server/services/late_runs.py
  src/prefect/server/services/pause_expirations.py
  src/prefect/server/services/perpetual_services.py
  src/prefect/server/services/scheduler.py
Due: none

refactor: update remaining services to use get_current_settings()
  src/prefect/server/services/cancellation_cleanup.py
  src/prefect/server/services/foreman.py
Due: none

fix(ui-v2): prevent page suspense on search and fix text wrapping
  ui-v2/src/components/runs/runs-page.tsx
  ui-v2/src/routes/runs/index.tsx
Due: check-ui-v2

chore: remove redundant fakeredis dev dependency
  pyproject.toml
  uv.lock
Due: none

feat(ui-v2): optimize dashboard loader to prefetch all API calls
  ui-v2/src/components/dashboard/task-runs-card/index.tsx
  ui-v2/src/components/dashboard/task-runs-card/task-runs-trends.tsx
  ui-v2/src/routes/dashboard.tsx
Due: check-ui-v2

Add max persist retries to task run recorder
  src/prefect/server/services/task_run_recorder.py
  tests/server/services/test_task_run_recorder.py
Due: none

fix(ui-v2): use count API for accurate flow run totals in dashboard
  ui-v2/src/api/flow-runs/index.ts
  ui-v2/src/components/dashboard/flow-runs-card/flow-runs-state-tabs.stories.tsx
  ui-v2/src/components/dashboard/flow-runs-card/flow-runs-state-tabs.test.tsx
  ui-v2/src/components/dashboard/flow-runs-card/flow-runs-state-tabs.tsx
  ui-v2/src/components/dashboard/flow-runs-card/index.test.tsx
  ui-v2/src/components/dashboard/flow-runs-card/index.tsx
  ui-v2/src/routes/dashboard.tsx
Due: check-ui-v2
