Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Use up-to-date temporary path fixtures
  tests/unit_tests/orion/test_serializers.py
Due: black

Consolidate asyncio utils into `prefect.utilities.asyncio`
  src/prefect/client.py
  src/prefect/orion/api/data.py
  src/prefect/orion/utilities/asyncio.py
  src/prefect/utilities/asyncio.py
Due: black, flake8

Transition flow runs into async engine
  src/prefect/engine.py
  src/prefect/flows.py
  src/prefect/utilities/asyncio.py
Due: black, flake8

Transition task runs into async engine
  src/prefect/engine.py
  src/prefect/executors.py
  src/prefect/tasks.py
  src/prefect/utilities/asyncio.py
Due: black, flake8

Replace all uses of `tmpdir` fixture
  tests/unit_tests/orion/api/test_data.py
  tests/unit_tests/utilities/test_hashing.py
  tests/unit_tests/utilities/test_logging.py
Due: black

Use file-writing method
  tests/unit_tests/utilities/test_logging.py
Due: black

Transition client to async
  src/prefect/client.py
  src/prefect/engine.py
  src/prefect/executors.py
  src/prefect/flows.py
  src/prefect/futures.py
  tests/unit_tests/test_client.py
  tests/unit_tests/test_flows.py
  tests/unit_tests/test_futures.py
  tests/unit_tests/test_tasks.py
Due: black, flake8

Remove local pool executor for now
  src/prefect/executors.py
  tests/integration_tests/test_executors.py
Due: black, flake8

used finally block
  src/prefect/tasks/snowflake/snowflake.py
Due: black, flake8

Clarify event loop creation
  src/prefect/client.py
  src/prefect/executors.py
  src/prefect/flows.py
  src/prefect/futures.py
  src/prefect/tasks.py
  src/prefect/utilities/asyncio.py
  tests/integration_tests/test_executors.py
Due: black, flake8

remove entire except block
  src/prefect/tasks/snowflake/snowflake.py
Due: black, flake8

Rename engine functions for consistency
  src/prefect/engine.py
  src/prefect/flows.py
  src/prefect/tasks.py
Due: black, flake8

Move dynamic key update into `Task` class
  src/prefect/engine.py
  src/prefect/tasks.py
Due: black, flake8

Pass parameters instead of args/kwargs and use call_args consistently
  src/prefect/engine.py
  src/prefect/tasks.py
Due: black, flake8

Add support for async tasks/flows and tests
  src/prefect/engine.py
  src/prefect/flows.py
  src/prefect/tasks.py
  tests/unit_tests/test_flows.py
  tests/unit_tests/test_tasks.py
Due: black, flake8

Cleanup async checks; fix dask executor
  src/prefect/engine.py
  src/prefect/executors.py
  src/prefect/flows.py
  src/prefect/futures.py
  src/prefect/tasks.py
  src/prefect/utilities/asyncio.py
  src/prefect/utilities/callables.py
Due: black, flake8

Cleanup imports
  src/prefect/tasks.py
  src/prefect/utilities/asyncio.py
Due: black, flake8

Sort requirements
  requirements.txt
Due: none

Create dependabot.yml
  .github/dependabot.yml
Due: none

Pin dependencies
  requirements.txt
Due: none

Remove duplicate mapper args in orm Base model
  src/prefect/orion/utilities/database.py
Due: black, flake8

Move context checks back into __call__
  src/prefect/engine.py
  src/prefect/flows.py
  src/prefect/tasks.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: ^src/prefect/ and \.py$
