Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Add test for `prefect server start` with volume
  tests/cli/test_server.py
Due: black

Attempt to fix netlify
  docs/outline.toml
Due: none

Add missing `mock_process` fixture
  tests/cli/test_server.py
Due: black

Add base_url serialization in Github storage
  src/prefect/serialization/storage.py
  tests/serialization/test_storage.py
Due: black, flake8

fix styling
  tests/serialization/test_storage.py
Due: black

Fixup add project name & id to flow run context
  src/prefect/client/client.py
  src/prefect/engine/cloud/flow_runner.py
  tests/client/test_client.py
  tests/engine/cloud/test_cloud_flow_runner.py
  tests/engine/cloud/test_cloud_flows.py
Due: black, flake8

Add changelog entry
  changes/pr4083.yaml
Due: none

Adding tasks Copy and Remove + Unittests
  docs/outline.toml
  src/prefect/tasks/files/__init__.py
  src/prefect/tasks/files/compression.py
  src/prefect/tasks/files/operations.py
  tests/tasks/files/test_operations.py
Due: black, flake8

- Adds change yaml - Remove dirs_exist_ok parameter (only Python 3.8+)
  changes/pr4202.yaml
  src/prefect/tasks/files/operations.py
  tests/tasks/files/test_operations.py
Due: black, flake8

Release 0.14.11 [ci skip]
  CHANGELOG.md
  changes/pr4083.yaml
  changes/pr4139.yaml
  changes/pr4157.yaml
  changes/pr4176.yaml
  changes/pr4178.yaml
  changes/pr4182.yaml
  changes/pr4183.yaml
  changes/pr4189.yaml
  changes/pr4194.yaml
  changes/pr4195.yaml
  docs/.vuepress/config.js
Due: none

Removing the section on the policy required for the fargate cluster for now, and will resubmit in a separate PR with a different kind of example. This at least contains the execution-role-arn.
  docs/orchestration/agents/ecs.md
Due: none

Don't forward nout in mapped tasks
  src/prefect/core/task.py
  tests/core/test_task.py
Due: black, flake8

Add changelog entry
  changes/pr4206.yaml
Due: none

Rename parameter remove_path to path
  src/prefect/tasks/files/operations.py
  tests/tasks/files/test_operations.py
Due: black, flake8

fix: make slug_counters use partial instead of lambda
  src/prefect/core/flow.py
Due: black, flake8

fix: mypy typing and add changes yaml file
  changes/pr4209.yaml
  src/prefect/core/flow.py
Due: black, flake8

fix: positional-only argument treatment
  src/prefect/core/flow.py
Due: black, flake8

fix: make slug_counters use partial instead of lambda (#4209)
  changes/pr4209.yaml
  src/prefect/core/flow.py
Due: black, flake8

Move setting ECS `command` and `env` to runtime
  src/prefect/agent/ecs/agent.py
  tests/agent/test_ecs_agent.py
Due: black, flake8

Update docs on ECS run config
  docs/orchestration/agents/ecs.md
  src/prefect/run_configs/ecs.py
Due: black, flake8

Add changelog entry
  changes/pr4211.yaml
Due: none

Sketch run with backend flow method
  src/prefect/core/flow.py
Due: black, flake8

Add threaded local dask executor and add to timeout test
  tests/conftest.py
  tests/core/test_flow.py
Due: black

Adds task ListDirectory
  docs/outline.toml
  src/prefect/tasks/files/__init__.py
  src/prefect/tasks/files/operations.py
  tests/tasks/files/test_operations.py
Due: black, flake8

Register a new task definition for every ECS execution
  src/prefect/agent/ecs/agent.py
  tests/agent/test_ecs_agent.py
Due: black, flake8

More ECS cleanups
  src/prefect/agent/ecs/agent.py
  src/prefect/run_configs/ecs.py
  tests/agent/test_ecs_agent.py
  tests/run_configs/test_ecs.py
Due: black, flake8

Add an error if mixing `Docker` storage with `task_definition_arn`
  src/prefect/agent/ecs/agent.py
  tests/agent/test_ecs_agent.py
Due: black, flake8

Cleanup execution role arn docs
  docs/orchestration/agents/ecs.md
Due: none

Update changelog
  changes/pr4211.yaml
Due: none

Add `--docker-client-timeout` to docker agent
  src/prefect/agent/docker/agent.py
  src/prefect/cli/agent.py
  tests/agent/test_docker_agent.py
  tests/cli/test_agent.py
Due: black, flake8

Add changelog entry
  changes/pr4232.yaml
Due: none

Test and bugfix for variadic keyword-only task signature
  src/prefect/core/task.py
  tests/core/test_task.py
Due: black, flake8

Change file
  changes/pr4235.yaml
Due: none

Black formatting
  src/prefect/core/task.py
  tests/core/test_task.py
Due: black, flake8

Add note about pickling context
  docs/core/concepts/logging.md
Due: none

Add raw parameter to S3Download
  src/prefect/tasks/aws/s3.py
Due: black, flake8

Add warning box to docker images installation page
  docs/core/getting_started/installation.md
Due: none

Remove stale codecov badge
  README.md
Due: none

Remove docker from installation section and add link to helm chart info
  docs/core/getting_started/installation.md
Due: none

- Rename ListDirectory to Glob - Introducing a new parameter `pattern` - Updating unittests
  changes/pr4218.yaml
  docs/outline.toml
  src/prefect/tasks/files/__init__.py
  src/prefect/tasks/files/operations.py
  tests/tasks/files/test_operations.py
Due: black, flake8
