Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Add testing and changelog
  changes/pr4053.yaml
  tests/core/test_task.py
Due: black

move test functions to tests/utilities/test_tasks
  tests/core/test_task.py
  tests/utilities/test_tasks.py
Due: black

Support configuring the secret name to use for github storage
  src/prefect/serialization/storage.py
  src/prefect/storage/github.py
  src/prefect/utilities/git.py
  tests/serialization/test_storage.py
  tests/storage/test_github_storage.py
  tests/utilities/test_git.py
Due: black, flake8

Support configuring secret access token for Gitlab storage
  src/prefect/storage/gitlab.py
  src/prefect/utilities/git.py
  tests/storage/test_gitlab_storage.py
  tests/utilities/test_git.py
Due: black, flake8

Add `access_token_secret` to `Bitbucket` storage
  src/prefect/serialization/storage.py
  src/prefect/storage/bitbucket.py
  src/prefect/storage/github.py
  src/prefect/storage/gitlab.py
  src/prefect/utilities/git.py
  tests/serialization/test_storage.py
  tests/storage/test_bitbucket_storage.py
  tests/storage/test_github_storage.py
  tests/storage/test_gitlab_storage.py
  tests/utilities/test_git.py
Due: black, flake8

Remove redundant `__contains__` methods
  src/prefect/storage/azure.py
  src/prefect/storage/base.py
  src/prefect/storage/bitbucket.py
  src/prefect/storage/codecommit.py
  src/prefect/storage/docker.py
  src/prefect/storage/gcs.py
  src/prefect/storage/github.py
  src/prefect/storage/gitlab.py
  src/prefect/storage/local.py
  src/prefect/storage/s3.py
  src/prefect/storage/webhook.py
Due: black, flake8

A few more storage cleanups
  src/prefect/storage/azure.py
  src/prefect/storage/base.py
  src/prefect/storage/bitbucket.py
  src/prefect/storage/codecommit.py
  src/prefect/storage/docker.py
  src/prefect/storage/gcs.py
  src/prefect/storage/github.py
  src/prefect/storage/gitlab.py
  src/prefect/storage/local.py
  src/prefect/storage/s3.py
  src/prefect/storage/webhook.py
  tests/environments/execution/test_local_environment.py
  tests/storage/test_local_storage.py
Due: black, flake8

Update docs
  docs/core/idioms/file-based.md
  docs/orchestration/flow_config/storage.md
Due: none

Add changelog entry [ci skip]
  changes/pr4059.yaml
Due: none

Add option to detect changes when registering flow from CLI
  src/prefect/cli/register.py
Due: black, flake8

Add change detection to register CLI tests
  tests/cli/test_register.py
Due: black

Add test for project creation skip
  src/prefect/cli/create.py
  src/prefect/cli/register.py
  tests/cli/test_create.py
Due: black, flake8

Add changes entry
  changes/pr4061.yaml
Due: none

Update chages entry
  changes/pr4061.yaml
Due: none

Update changelog to note removals [ci skip]
  changes/pr4059.yaml
Due: none

Fix `flow_name` kwarg to `extract_flow_from_module`
  src/prefect/storage/local.py
  src/prefect/utilities/storage.py
  tests/utilities/test_storage.py
Due: black, flake8

Implement CompressedSerializer
  docs/outline.toml
  src/prefect/engine/serializers.py
  tests/engine/test_serializers.py
Due: black, flake8

Update changelog for PR #4063
  changes/pr4063.yaml
Due: none

Fix CompressedSerializer docs
  src/prefect/engine/serializers.py
Due: black, flake8

Separate CompressedSerializer equality test
  tests/engine/test_serializers.py
Due: black

Add note on add_default_labels to Storage docs
  docs/orchestration/flow_config/storage.md
Due: none

Change registration skip option name
  src/prefect/cli/register.py
  tests/cli/test_register.py
Due: black, flake8

Update docs/orchestration/flow_config/storage.md [ci skip]
  docs/orchestration/flow_config/storage.md
Due: none

Update docker-compose healthchecks based on helm chart example
  src/prefect/cli/docker-compose.yml
Due: none

Docker healthchecks for prefect server
  changes/4041_docker_healthcheck.yaml
  src/prefect/cli/docker-compose.yml
Due: none

graphql healthcheck
  src/prefect/cli/docker-compose.yml
Due: none

Healthcheck frequency 1s
  src/prefect/cli/docker-compose.yml
Due: none

catch, log, and raise fail for exceptions in BigQueryLoadGoogleCloudStorage task library task
  src/prefect/tasks/gcp/bigquery.py
Due: black, flake8

import FAIL
  src/prefect/tasks/gcp/bigquery.py
Due: black, flake8

Add module based storage
  docs/orchestration/flow_config/storage.md
  docs/outline.toml
  src/prefect/serialization/storage.py
  src/prefect/storage/__init__.py
  src/prefect/storage/module.py
  tests/serialization/test_storage.py
  tests/storage/test_module.py
Due: black, flake8

Remove duplicate `build` methods
  src/prefect/storage/base.py
  src/prefect/storage/bitbucket.py
  src/prefect/storage/codecommit.py
  src/prefect/storage/github.py
  src/prefect/storage/gitlab.py
  src/prefect/storage/local.py
  src/prefect/storage/module.py
Due: black, flake8

Drop non-public methods from `Storage` docs
  docs/outline.toml
  src/prefect/storage/__init__.py
Due: black, flake8

Add changelog entry
  changes/pr4073.yaml
Due: none

Relax importlib_resources requirement
  requirements.txt
Due: none

Update src/prefect/cli/register.py
  src/prefect/cli/register.py
Due: black, flake8

Speedup imports
  src/prefect/engine/cache_validators.py
  src/prefect/engine/task_runner.py
  src/prefect/environments/execution/dask/cloud_provider.py
  src/prefect/tasks/jira/jira_service_desk.py
  src/prefect/tasks/jira/jira_task.py
  src/prefect/tasks/notifications/pushbullet_task.py
  src/prefect/utilities/notifications/__init__.py
  src/prefect/utilities/notifications/jira_notification.py
Due: black, flake8

Fixup tests
  tests/tasks/jira/test_jira_service_desk.py
  tests/tasks/jira/test_jira_task.py
  tests/tasks/notifications/test_pushbullet.py
  tests/utilities/notifications/test_jira_notification.py
Due: black

Forward backend to deployed env
  src/prefect/agent/docker/agent.py
  src/prefect/agent/ecs/agent.py
  src/prefect/agent/fargate/agent.py
  src/prefect/agent/kubernetes/agent.py
  src/prefect/agent/kubernetes/job_spec.yaml
  src/prefect/agent/local/agent.py
  tests/agent/test_docker_agent.py
  tests/agent/test_ecs_agent.py
  tests/agent/test_fargate_agent.py
  tests/agent/test_k8s_agent.py
  tests/agent/test_local_agent.py
  tests/conftest.py
Due: black, flake8

Add changelog
  changes/pr4076.yaml
Due: none
