Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

fixing casing of stateType file
  orion-ui/packages/orion-design/src/models/StateType2.ts
Due: none

Fix last deployment id
  src/prefect/orion/services/scheduler.py
Due: black, flake8

fixing state type casing
  orion-ui/packages/orion-design/src/models/StateType.ts
Due: none

updated props in FlowRunView; added ListItemSubFlowRun to ResultsList options
  orion-ui/src/components/Global/ResultsList/ResultsList.vue
  orion-ui/src/views/FlowRun--views/Index.vue
Due: none

Update docs/concepts/tasks.md
  docs/concepts/tasks.md
Due: none

missed updating log MockFunction
  orion-ui/packages/orion-design/src/mocks/log.ts
Due: none

mixed up import casing
  orion-ui/packages/orion-design/src/mocks/index.ts
Due: none

Revisions to address feedback.
  docs/concepts/tasks.md
Due: none

Don't repeat queries for concurrency limits
  src/prefect/orion/orchestration/core_policy.py
Due: black, flake8

Fix schedule_runs tests
  tests/orion/models/test_deployments.py
Due: black

Update src/prefect/orion/models/deployments.py
  src/prefect/orion/models/deployments.py
Due: black, flake8

Clarify nature of passthrough methods
  src/prefect/orion/services/late_runs.py
  src/prefect/orion/services/scheduler.py
Due: black, flake8

Add empty flow functions to examples
  src/prefect/task_runners.py
Due: black, flake8

Cache retrieval should occur regardless of concurrency slot settings
  src/prefect/orion/orchestration/core_policy.py
Due: black, flake8

Use a "RequiredPolicy" when forcing through a state transition
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/models/task_runs.py
  src/prefect/orion/orchestration/core_policy.py
  src/prefect/orion/orchestration/policies.py
Due: black, flake8

Add test that verifies concurrency slots aren't orphaned on "force"
  tests/orion/models/test_task_runs.py
Due: black
