Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Move test files
  tests/prefect/utilities/__init__.py
  tests/prefect/utilities/test_files.py
  tests/prefect/utilities/test_settings.py
Due: black

Update variable name
  src/prefect/tasks.py
Due: black, flake8

Format
  src/prefect/flows.py
Due: black, flake8

Forbid extra context data
  src/prefect/flows.py
Due: black, flake8

Add task run states
  src/prefect/orion/api/__init__.py
  src/prefect/orion/api/server.py
  src/prefect/orion/api/task_run_states.py
  src/prefect/orion/models/__init__.py
  src/prefect/orion/models/orm.py
  src/prefect/orion/models/task_run_states.py
  src/prefect/orion/models/task_runs.py
  tests/prefect/orion/api/test_task_run_states.py
  tests/prefect/orion/fixtures/database_fixtures.py
  tests/prefect/orion/models/test_task_run_states.py
Due: black, flake8

Add task_runs/:id/set_state route
  src/prefect/orion/api/task_runs.py
  tests/prefect/orion/api/test_task_runs.py
Due: black, flake8

Update docstring and return annotation
  src/prefect/orion/models/task_runs.py
Due: black, flake8

Add `TaskRunContext` and `RunContext` wrapper; consolidate context objects
  src/prefect/__init__.py
  src/prefect/_context.py
  src/prefect/flows.py
  src/prefect/tasks.py
  tests/prefect/test_context.py
Due: black, flake8

Add some tests
  tests/prefect/test_client.py
  tests/prefect/test_flows.py
  tests/prefect/test_tasks.py
Due: black

Add `_empty` and `PrefectFuture` basic tests
  src/prefect/futures.py
  tests/prefect/test_futures.py
Due: black, flake8

Sketch task state setting and client routes
  src/prefect/client.py
  src/prefect/tasks.py
Due: black, flake8

Update futures to use `set_result`
  src/prefect/flows.py
  src/prefect/futures.py
Due: black, flake8

Cleanup return in `Flow._run` following futures changes
  src/prefect/flows.py
Due: black, flake8

Sketch executor pattern
  src/prefect/executors.py
  src/prefect/flows.py
  src/prefect/tasks.py
Due: black, flake8

Move `context` to `prefect.utilities`
  src/prefect/flows.py
  src/prefect/tasks.py
  src/prefect/utilities/context.py
  tests/prefect/utilities/test_context.py
Due: black, flake8

Update latest docs pin
  docs/.vuepress/config.js
Due: none

Cut changelog for 0.15.3
  CHANGELOG.md
  changes/ge_task.yaml
  changes/pr4801.yaml
  changes/pr4802.yaml
Due: none

Add missing PR link [ci skip]
  CHANGELOG.md
Due: none

Pass `RunContext` to `_run`
  src/prefect/tasks.py
  src/prefect/utilities/context.py
Due: black, flake8

Release 0.15.3 (#4818)
  CHANGELOG.md
  changes/ge_task.yaml
  changes/pr4801.yaml
  changes/pr4802.yaml
  docs/.vuepress/config.js
Due: none

Add `states` and `state` relationships to ORM models
  setup.cfg
  src/prefect/orion/models/flow_run_states.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/models/flows.py
  src/prefect/orion/models/orm.py
  src/prefect/orion/models/task_run_states.py
  src/prefect/orion/models/task_runs.py
  tests/prefect/orion/api/test_flow_runs.py
  tests/prefect/orion/api/test_task_runs.py
  tests/prefect/orion/fixtures/database_fixtures.py
  tests/prefect/orion/models/test_flow_runs.py
  tests/prefect/orion/models/test_orm.py
Due: black, flake8

Restore `NowDefault`
  src/prefect/orion/models/orm.py
Due: black, flake8

Improve description of backend-specific NOW()
  src/prefect/orion/models/orm.py
  src/prefect/orion/utilities/database.py
Due: black, flake8
