Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Add flow runners and states to API docs
  docs/api-ref/prefect/flow-runners.md
  docs/api-ref/prefect/states.md
  mkdocs.yml
  src/prefect/flow_runners.py
Due: black, flake8

Remove link to removed orchestration rules. Replace when we write that topic.
  docs/concepts/states.md
Due: none

Show filter keywords as code
  docs/ui/filters.md
Due: none

Add nobr tag to prevent text wrapping
  docs/ui/filters.md
Due: none

Pass `ephemeral` flag to `create_app` to drop analytics and UI
  src/prefect/cli/dev.py
  src/prefect/client.py
  src/prefect/orion/api/server.py
  tests/fixtures/api.py
  tests/orion/test_app.py
  tests/test_client.py
Due: black, flake8

Change default settings for services to `True`
  src/prefect/cli/orion.py
  src/prefect/settings.py
Due: black, flake8

Fix logging for `prefect orion start`
  src/prefect/cli/orion.py
  src/prefect/orion/api/server.py
Due: black, flake8

Fix output after process exit in `prefect orion start`
  src/prefect/cli/orion.py
Due: black, flake8

Update flow runners doc to include supported flow runners and settings
  docs/concepts/flow-runners.md
Due: none

Bump sleep for concurrent task runner test
  tests/test_task_runners.py
Due: black

Fix escape sequence
  tests/orion/api/test_work_queues.py
Due: black

warn -> warning; warn is deprecated
  src/prefect/agent.py
Due: black, flake8

Fix deprecated use of pytest.warn to assert warnings are not raised
  src/prefect/utilities/testing.py
  tests/orion/utilities/test_schemas.py
  tests/test_flow_runners.py
Due: black, flake8

Adjust sleep times again
  tests/test_task_runners.py
Due: black

Path conditions:
  black: any of: \.py$
  flake8: any of: ^src/prefect/ and \.py$
