Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

add changes file, add test to check that max_retries=0 correctly does not retry
  changes/pr4971.yaml
  tests/engine/test_task_runner.py
Due: black

Remove unused imports
  src/prefect/agent.py
Due: black, flake8

Some updates to schematics, add filter card row
  orion-ui/src/components/Dashboard/Filter--Card.vue/FilterCard.vue
  orion-ui/src/components/Global/Button--Card/Button--Card.spec.js
  orion-ui/src/components/Global/Button--Card/Button--Card.vue
  orion-ui/src/components/Global/List/ListItem/ListItem.vue
  orion-ui/src/components/Global/Row/Row.vue
  orion-ui/src/components/Schematic/Schematic.vue
  orion-ui/src/main.ts
  orion-ui/src/router/index.ts
  orion-ui/src/styles/components/button--card.scss
  orion-ui/src/styles/main.scss
  orion-ui/src/views/Dashboard.vue
  orion-ui/src/views/Schematics.vue
Due: none

Update padding on filter buttons
  orion-ui/src/views/Dashboard.vue
Due: none

update changes file with suggested modifications
  changes/pr4971.yaml
Due: none

Remove dashboard schematics link
  orion-ui/src/views/Dashboard.vue
Due: none

Update nav bar links
  orion-ui/src/components/ApplicationNav/NavBar.vue
Due: none

Update settings left margin
  orion-ui/src/components/ApplicationNav/NavBar.vue
Due: none

Add `OrionClient.update_flow_run` and patch call
  src/prefect/client.py
  src/prefect/engine.py
  src/prefect/utilities/settings.py
Due: black, flake8

Add temporary deployment id filter
  src/prefect/agent.py
Due: black, flake8

Only capture PrefectSignals
  src/prefect/utilities/executors.py
Due: black, flake8

Test `LocalDaskExecutor` responds to `PrefectSignal`s
  tests/executors/test_executors.py
Due: black

Rename to `ls`
  src/prefect/cli/flow_run.py
Due: black, flake8

Move flow run creation to `prefect flow-run create`
  src/prefect/cli/deployment.py
  src/prefect/cli/flow_run.py
Due: black, flake8

Allow max_retries=0 override at task level (#4971)
  changes/pr4971.yaml
  src/prefect/core/task.py
  tests/core/test_task.py
  tests/engine/test_task_runner.py
Due: black, flake8

Reverted bad changelog modification
  CHANGELOG.md
  changes/pr4974.yaml
Due: none

pythonic Flow.is_mapped
  src/prefect/core/flow.py
Due: black, flake8

Move `resolve_datadoc` so `engine` and `deployments` can both use it; move flow retrieval into the engine
  src/prefect/agent.py
  src/prefect/deployments.py
  src/prefect/engine.py
  src/prefect/serializers.py
Due: black, flake8

Add tests for mapped nout and is task mapped
  tests/core/test_flow.py
  tests/core/test_task.py
Due: black

Refactor a bunch of engine method names
  src/prefect/agent.py
  src/prefect/engine.py
  src/prefect/flows.py
Due: black, flake8

Match flow/task run engine entrance functions again
  src/prefect/agent.py
  src/prefect/engine.py
  src/prefect/flows.py
Due: black, flake8

Move capped bar to util method
  orion-ui/src/components/RunHistoryChart/RunHistoryChart.vue
  orion-ui/src/components/Visualizations/utils.ts
Due: none

Provide option to specify `.dockerignore` when using Docker storage
  src/prefect/storage/docker.py
Due: black, flake8

Add task run history
  src/prefect/orion/api/__init__.py
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/api/run_history.py
  src/prefect/orion/api/task_runs.py
  tests/orion/api/test_run_history.py
Due: black, flake8

Add task run tests
  tests/orion/api/test_run_history.py
Due: black

Path conditions:
  black: any of: \.py$
  flake8: any of: ^src/prefect/ and \.py$
