Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-mintlify-openapi-docs, generate-settings-schema, generate-settings-ref, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.2.1"
    hooks:
      - id: ruff
        language_version: python3
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        exclude: package-lock.json|_vendor/.*|docs/styles/.*
  - repo: https://github.com/netromdk/vermin
    rev: v1.6.0
    hooks:
      - id: vermin
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=1.10.0,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0
          - types-cachetools==5.3.0.5
          - types-pyyaml==6.0.12.9
        files: |
          (?x)^(
            src/prefect/server/models/.*|
            src/prefect/concurrency/.*|
            src/prefect/events/.*|
            src/prefect/input/.*
          )$
  - repo: local
    hooks:
      - id: type-completeness-check
        name: Type Completeness Check
        language: system
        entry: uv run --with pyright pyright --ignoreexternal --verifytypes prefect
        pass_filenames: false
      - id: generate-mintlify-openapi-docs
        name: Generating OpenAPI docs for Mintlify
        language: system
        entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_mintlify_openapi_docs.py
        pass_filenames: false
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              scripts/generate_mintlify_openapi_docs.py
          )$
      - id: generate-settings-schema
        name: Generating Settings Schema
        language: system
        entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_schema.py
        pass_filenames: false
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              src/prefect/settings/models/.*|
              scripts/generate_settings_schema.py
          )$
      - id: generate-settings-ref
        name: Generating Settings Reference
        language: system
        entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_ref.py
        pass_filenames: false
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              src/prefect/settings/models/.*|
              scripts/generate_settings_ref.py
          )$
      - id: lint-ui-v2
        name: Lint UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            "cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run lint",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: format-ui-v2
        name: Format UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            "cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run format",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: service-sync-ui-v2-openapi
        name: Sync UI v2 OpenAPI
        language: system
        entry: sh
        args:
          [
            "-c",
            "cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run service-sync",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              src/prefect/server/utilities/schemas/.*|
              ui-v2/package.json
          )$
        pass_filenames: false

minor tweaks
  ui-v2/src/components/ui/run-state-change-dialog/index.ts
  ui-v2/src/components/ui/run-state-change-dialog/run-state-change-dialog.tsx
Due: lint-ui-v2, format-ui-v2

fix typing
  ui-v2/src/components/ui/run-state-change-dialog/run-state-change-dialog.tsx
Due: lint-ui-v2, format-ui-v2

merge conflict
  ui-v2/src/components/flow-runs/flow-run-state-dialog/flow-run-state-dialog.stories.tsx
  ui-v2/src/components/flow-runs/flow-run-state-dialog/use-flow-run-state-dialog.tsx
  ui-v2/src/components/ui/run-state-change-dialog/run-state-change-dialog.tsx
  ui-v2/src/utils/states.ts
Due: lint-ui-v2, format-ui-v2

address review comments
  ui-v2/src/components/flow-runs/flow-run-state-dialog/use-flow-run-state-dialog.tsx
  ui-v2/src/components/ui/run-state-change-dialog/run-state-change-dialog.tsx
Due: lint-ui-v2, format-ui-v2

Fix failing test
  tests/server/orchestration/api/test_deployment_schedules.py
Due: none

`interface` -> `type`
  ui-v2/src/components/flow-runs/flow-run-state-dialog/flow-run-state-dialog.stories.tsx
  ui-v2/src/components/flow-runs/flow-run-state-dialog/flow-run-state-dialog.tsx
Due: lint-ui-v2, format-ui-v2

initial run state change dialog (#17704)
  ui-v2/src/api/flow-runs/constants.ts
  ui-v2/src/components/flow-runs/flow-run-state-dialog/flow-run-state-dialog.stories.tsx
  ui-v2/src/components/flow-runs/flow-run-state-dialog/flow-run-state-dialog.tsx
  ui-v2/src/components/flow-runs/flow-run-state-dialog/use-flow-run-state-dialog.tsx
  ui-v2/src/components/ui/run-state-change-dialog/index.ts
  ui-v2/src/components/ui/run-state-change-dialog/run-state-change-dialog.stories.tsx
  ui-v2/src/components/ui/run-state-change-dialog/run-state-change-dialog.tsx
  uv.lock
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Adds block_schemas RQ queries
  ui-v2/src/api/block-schemas/block-schemas.test.ts
  ui-v2/src/api/block-schemas/block-schemas.ts
  ui-v2/src/api/block-schemas/index.ts
  ui-v2/src/mocks/create-fake-block-schema.ts
  ui-v2/src/mocks/index.ts
  ui-v2/tests/utils/handlers.ts
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Adds block_schemas RQ queries (#17774)
  ui-v2/src/api/block-schemas/block-schemas.test.ts
  ui-v2/src/api/block-schemas/block-schemas.ts
  ui-v2/src/api/block-schemas/index.ts
  ui-v2/src/mocks/create-fake-block-schema.ts
  ui-v2/src/mocks/index.ts
  ui-v2/tests/utils/handlers.ts
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Integrates BlockDocumentEditPage scaffold with router
  ui-v2/src/components/blocks/block-document-edit-page/block-document-edit-page.tsx
  ui-v2/src/components/blocks/block-document-edit-page/index.ts
  ui-v2/src/routes/blocks/block_.$id.edit.tsx
Due: lint-ui-v2, format-ui-v2

avoid unexpected diffs from local to CI
  .pre-commit-config.yaml
Due: generate-mintlify-openapi-docs, generate-settings-schema, generate-settings-ref, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

avoid unexpected pre-commit diffs from local to CI (#17779)
  .pre-commit-config.yaml
Due: generate-mintlify-openapi-docs, generate-settings-schema, generate-settings-ref, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

pre-commits w 3.9
  docs/v3/api-ref/rest-api/server/schema.json
Due: none

rm transaction
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/server/api/work_queues.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

Add GCS bundle upload and execute steps
  src/integrations/prefect-gcp/prefect_gcp/deployments/steps.py
  src/integrations/prefect-gcp/prefect_gcp/experimental/__init__.py
  src/integrations/prefect-gcp/prefect_gcp/experimental/bundles/__init__.py
  src/integrations/prefect-gcp/prefect_gcp/experimental/bundles/execute.py
  src/integrations/prefect-gcp/prefect_gcp/experimental/bundles/upload.py
  src/integrations/prefect-gcp/tests/conftest.py
  src/integrations/prefect-gcp/tests/experimental/bundles/test_execute.py
  src/integrations/prefect-gcp/tests/experimental/bundles/test_upload.py
Due: none

Add GCS bundle upload and execute steps (#17781)
  src/integrations/prefect-gcp/prefect_gcp/deployments/steps.py
  src/integrations/prefect-gcp/prefect_gcp/experimental/__init__.py
  src/integrations/prefect-gcp/prefect_gcp/experimental/bundles/__init__.py
  src/integrations/prefect-gcp/prefect_gcp/experimental/bundles/execute.py
  src/integrations/prefect-gcp/prefect_gcp/experimental/bundles/upload.py
  src/integrations/prefect-gcp/tests/conftest.py
  src/integrations/prefect-gcp/tests/experimental/bundles/test_execute.py
  src/integrations/prefect-gcp/tests/experimental/bundles/test_upload.py
Due: none

Update @prefecthq/prefect-ui-library to version 3.11.55
  ui/package-lock.json
  ui/package.json
Due: none

Update @prefecthq/prefect-ui-library to version 3.11.55 (#17786)
  ui/package-lock.json
  ui/package.json
Due: none

checkpoint
  docs/docs.json
  docs/v3/deploy/static-infrastructure-examples/background-tasks.mdx
  docs/v3/develop/deferred-tasks.mdx
Due: none

dont test
  docs/v3/deploy/static-infrastructure-examples/background-tasks.mdx
Due: none

add docs
  docs/v3/deploy/static-infrastructure-examples/background-tasks.mdx
  docs/v3/develop/deferred-tasks.mdx
Due: none

remove guidry words
  docs/v3/deploy/static-infrastructure-examples/background-tasks.mdx
Due: none

remove obsoleted tests
  tests/cli/test_deploy.py
Due: none

grammar
  src/prefect/server/schemas/states.py
  src/prefect/states.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

[UI v2] feat: Integrates BlockDocumentEditPage scaffold with router (#17777)
  ui-v2/src/components/blocks/block-document-edit-page/block-document-edit-page.tsx
  ui-v2/src/components/blocks/block-document-edit-page/index.ts
  ui-v2/src/routes/blocks/block_.$id.edit.tsx
Due: lint-ui-v2, format-ui-v2

added support for embedding image in mail
  src/integrations/prefect-email/prefect_email/message.py
  src/integrations/prefect-email/tests/image.png
  src/integrations/prefect-email/tests/test_message.py
Due: none

Update src/integrations/prefect-email/tests/test_message.py
  src/integrations/prefect-email/tests/test_message.py
Due: none

Added support for embedding image in mail (#17790)
  src/integrations/prefect-email/prefect_email/message.py
  src/integrations/prefect-email/tests/image.png
  src/integrations/prefect-email/tests/test_message.py
Due: none
