Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Switches from link artifact to markdown artifact
  src/prefect/tasks/dbt/dbt.py
Due: black, flake8

Removes unused import
  src/prefect/tasks/dbt/dbt.py
Due: black, flake8

Updates docstring with details about dbt artifacts
  src/prefect/tasks/dbt/dbt.py
Due: black, flake8

Adds functionality to include all dbt artifacts in markdown document
  src/prefect/tasks/dbt/dbt.py
  src/prefect/tasks/dbt/dbt_cloud_utils.py
  tests/tasks/dbt/test_dbt.py
Due: black, flake8

Updates should work more consistently now
  orion-ui/src/components/Radar/Radar.ts
  orion-ui/src/components/Radar/Radar.vue
  orion-ui/src/components/Radar/Radar.worker.ts
  orion-ui/src/typings/radar.d.ts
  orion-ui/src/views/FlowRun--views/Radar.vue
  orion-ui/src/views/FlowRun.vue
Due: none

Add `packaging` to requirements (#5157)
  requirements.txt
Due: none

Make sure expanded rings stay expanded, remove expanded from ring model
  orion-ui/src/components/Radar/Radar.ts
  orion-ui/src/components/Radar/Radar.vue
  orion-ui/src/typings/radar.d.ts
Due: none

Add `end_time` to `FlowRunView.get_logs` (#5138)
  changes/pr5138.yaml
  src/prefect/backend/flow_run.py
  tests/backend/test_flow_run.py
Due: black, flake8

Add ring collapse method
  orion-ui/src/components/Radar/Radar.ts
Due: none

Use math imports
  orion-ui/src/components/Radar/Radar.ts
  orion-ui/src/components/Radar/math.ts
Due: none

Add positional short-circuit, fix update selection issue
  orion-ui/src/components/Radar/Radar.ts
  orion-ui/src/components/Radar/Radar.vue
  orion-ui/src/typings/radar.d.ts
  orion-ui/src/views/FlowRun--views/Radar.vue
Due: none

Fix bug with minimap viewport scaling
  orion-ui/src/components/Radar/Radar.vue
Due: none

Fix an issue with task runs not displaying properly
  orion-ui/src/components/Global/ResultsList/ResultsList.vue
  orion-ui/src/components/Radar/Nodes/Node.vue
  orion-ui/src/views/FlowRun--views/Index.vue
Due: none

Artifacts - new concepts page for artifacts API
  docs/.vuepress/public/orchestration/concepts/artifacts_flowrun.png
  docs/.vuepress/public/orchestration/concepts/artifacts_taskrun.png
  docs/orchestration/concepts/artifacts.md
Due: none

Artifacts - minor edits.
  docs/orchestration/concepts/artifacts.md
Due: none

Artifacts - add to TOC, minor edits
  docs/.vuepress/config.js
  docs/orchestration/concepts/artifacts.md
Due: none

Refactored code for Firebolt Task Library
  src/prefect/tasks/firebolt/__init__.py
  src/prefect/tasks/firebolt/firebolt.py
Due: black, flake8

Artifacts - edits in response to feedback.
  docs/orchestration/concepts/artifacts.md
Due: none

Automations - document UI for viewing team automation actions.
  docs/.vuepress/public/orchestration/ui/automation_actions.png
  docs/orchestration/ui/automations.md
Due: none

Move task run dependencies logic to models, update route names
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/models/task_runs.py
Due: black, flake8

Docs: Add automations UI docs and revisions to automations concepts (#5137)
  docs/.vuepress/config.js
  docs/.vuepress/public/orchestration/ui/automation_actions.png
  docs/.vuepress/public/orchestration/ui/automations_actions.png
  docs/.vuepress/public/orchestration/ui/automations_edit.png
  docs/.vuepress/public/orchestration/ui/automations_list.png
  docs/.vuepress/public/orchestration/ui/automations_msg.png
  docs/.vuepress/public/orchestration/ui/automations_new.png
  docs/.vuepress/public/orchestration/ui/automations_plan.png
  docs/.vuepress/public/orchestration/ui/automations_ui.png
  docs/orchestration/concepts/automations.md
  docs/orchestration/ui/automations.md
Due: none

Artifacts - update links and import path.
  docs/orchestration/concepts/artifacts.md
Due: none

Moves retrieval of artifacts after job completion
  src/prefect/tasks/dbt/dbt.py
Due: black, flake8

Remove db injection, add tests
  src/prefect/orion/models/task_runs.py
  tests/orion/models/test_task_runs.py
Due: black, flake8

Move stuff around, add typing
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/models/task_runs.py
  tests/orion/api/test_flow_runs.py
  tests/orion/models/test_task_runs.py
Due: black, flake8

Update edge lists
  src/prefect/orion/models/flow_runs.py
Due: black, flake8

Move tests from api to models
  tests/orion/api/test_flow_runs.py
  tests/orion/models/test_flow_runs.py
Due: black

Run black
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/models/task_runs.py
  tests/orion/api/test_flow_runs.py
  tests/orion/models/test_flow_runs.py
Due: black, flake8
