Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Remove environments from `get_flow_run_command` tests
  tests/utilities/test_agent.py
Due: black

Remove environment docker healthcheck tests
  tests/storage/test_docker_healthcheck.py
Due: black

Remove environment serialization tests
  tests/serialization/test_environments.py
Due: black

Remove environment handling from `Client.register`
  src/prefect/client/client.py
  tests/client/test_client.py
Due: black, flake8

Remove environment handling from `prefect build/register`
  src/prefect/cli/build_register.py
  tests/cli/test_build_register.py
Due: black, flake8

Update `_get_run_config` to drop support for environments
  src/prefect/agent/agent.py
Due: black, flake8

Remove `KubernetesAgent.generate_job_spec_from_environment`
  src/prefect/agent/kubernetes/agent.py
  tests/agent/test_k8s_agent.py
Due: black, flake8

Remove `LocalEnvironment` from `DockerAgent` tests
  tests/agent/test_docker_agent.py
Due: black

Remove `DockerAgent.network` tests
  tests/agent/test_docker_agent.py
Due: black

Remove remaining `DockerAgent` environment tests
  tests/agent/test_docker_agent.py
Due: black

Drop some removed items from the API reference
  docs/outline.toml
Due: none

Remove environments from serialization init
  src/prefect/serialization/__init__.py
Due: black, flake8

Fixup tests
  tests/agent/test_k8s_agent.py
  tests/engine/test_serializers.py
Due: black

Reformat
  tests/agent/test_k8s_agent.py
Due: black

Clarify AWS's role in ECS agent throttling behavior
  docs/orchestration/agents/ecs.md
Due: none

Initial airbyte commit.
  src/prefect/tasks/airbyte/__init__.py
  src/prefect/tasks/airbyte/airbyte.py
  tests/tasks/airbyte/__init__.py
  tests/tasks/airbyte/integration_test_airbyte.py
  tests/tasks/airbyte/test_airbyte.py
Due: black, flake8

Ignore attr missing typecheck because we check for the attr
  src/prefect/utilities/storage.py
Due: black, flake8

Avoid ecs rate limiting (#5059)
  changes/pr5059.yaml
  docs/orchestration/agents/ecs.md
  src/prefect/agent/ecs/agent.py
  tests/agent/test_ecs_agent.py
Due: black, flake8

Update docs reference
  docs/.vuepress/config.js
Due: none

Cut 0.15.7 changelog
  CHANGELOG.md
  changes/issue4958.yaml
  changes/pr 5019.yaml
  changes/pr4981.yaml
  changes/pr4996.yaml
  changes/pr5022.yaml
  changes/pr5032.yaml
  changes/pr5033.yaml
  changes/pr5055.yaml
  changes/pr5059.yaml
  changes/pull5012.yaml
Due: none

Cleanup changelog
  CHANGELOG.md
Due: none

Add missing dash to changelog
  CHANGELOG.md
Due: none

added manual to docstring and reformatted code
  src/prefect/tasks/fivetran/fivetran.py
Due: black, flake8

schedule type overwritable (#5065)
  src/prefect/tasks/fivetran/fivetran.py
Due: black, flake8

Add fivetran changelog entry
  CHANGELOG.md
Due: none

Remove duplicated lines from ECS rate limit docs
  docs/orchestration/agents/ecs.md
Due: none

Add more missing dashes to changelog
  CHANGELOG.md
Due: none

Update 01-etl-before-prefect.md (#5008)
  changes/pr5008.yaml
  docs/core/tutorial/01-etl-before-prefect.md
Due: none

Remove bad changelog entry
  changes/pr5008.yaml
Due: none

Release 0.15.7 (#5073)
  CHANGELOG.md
  changes/issue4958.yaml
  changes/pr 5019.yaml
  changes/pr4981.yaml
  changes/pr4996.yaml
  changes/pr5008.yaml
  changes/pr5022.yaml
  changes/pr5032.yaml
  changes/pr5033.yaml
  changes/pr5055.yaml
  changes/pr5059.yaml
  changes/pull5012.yaml
  docs/.vuepress/config.js
  docs/orchestration/agents/ecs.md
Due: none

remove the broken worker pool
  src/prefect/tasks/kubernetes/job.py
Due: black, flake8

Add VertexAgent for flow runs on GCP vertex (#4989)
  changes/pr4989.yml
  docs/.vuepress/config.js
  docs/orchestration/agents/overview.md
  docs/orchestration/agents/vertex.md
  docs/orchestration/flow_config/run_configs.md
  docs/outline.toml
  setup.py
  src/prefect/agent/__init__.py
  src/prefect/agent/vertex/__init__.py
  src/prefect/agent/vertex/agent.py
  src/prefect/cli/agent.py
  src/prefect/run_configs/__init__.py
  src/prefect/run_configs/vertex.py
  src/prefect/serialization/run_config.py
  tests/agent/test_vertex_agent.py
Due: black, flake8

v1 of AirbyteConnectionTask completed.
  src/prefect/tasks/airbyte/airbyte.py
  tests/tasks/airbyte/integration_test_airbyte.py
  tests/tasks/airbyte/test_airbyte.py
Due: black, flake8

Remove environments from manifest
  MANIFEST.in
Due: none

Remove environment deprecated warning ignore from pytest
  setup.cfg
Due: none

Remove environments from docs/config.js
  docs/.vuepress/config.js
Due: none

Removed superfluous logging.
  src/prefect/tasks/airbyte/airbyte.py
  tests/tasks/airbyte/integration_test_airbyte.py
Due: black, flake8

Remove fargate agent docs page
  docs/orchestration/agents/fargate.md
Due: none

Remove custom environment docs page
  docs/orchestration/execution/custom_environment.md
Due: none

Remove environment docs
  docs/orchestration/execution/dask_cloud_provider_environment.md
  docs/orchestration/execution/dask_k8s_environment.md
  docs/orchestration/execution/fargate_task_environment.md
  docs/orchestration/execution/k8s_job_environment.md
  docs/orchestration/execution/local_environment.md
Due: none
