Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Simplify ignore files
  .dockerignore
  .gitignore
  .idea/.gitignore
Due: none

Add tests
  src/prefect/client.py
  tests/test_client.py
Due: black, flake8

Add documentation and better closed error
  src/prefect/client.py
Due: black, flake8

Add test for start after close
  tests/test_client.py
Due: black

Close the process after termination to avoid uncaught exceptions after event loop closure
  tests/fixtures/api.py
Due: black

Fix URL test
  src/prefect/client.py
  tests/test_client.py
Due: black, flake8

Fix bug where log workers would access a cached client across event loops
  src/prefect/cli/dev.py
  src/prefect/client.py
  src/prefect/logging/handlers.py
  tests/test_client.py
Due: black, flake8

Update docstring
  src/prefect/client.py
Due: black, flake8

Move FilterBar into orion-design. Fix RouteGuard arguments
  orion-ui/packages/orion-design/src/components/FilterBar.vue
  orion-ui/packages/orion-design/src/components/index.ts
  orion-ui/packages/orion-design/src/types/RouteGuard.ts
Due: none

Use orion-design's FilterBar
  orion-ui/src/App.vue
  orion-ui/src/router/index.ts
  orion-ui/src/vue-router.d.ts
Due: none

Move the filterbar into orion design and fix RouteGuard arguments
  orion-ui/packages/orion-design/src/components/FilterBar.vue
  orion-ui/packages/orion-design/src/components/index.ts
  orion-ui/packages/orion-design/src/types/RouteGuard.ts
Due: none

Update docs/concepts/task-runners.md
  docs/concepts/task-runners.md
Due: none

Update docs/tutorials/dask-task-runner.md
  docs/tutorials/dask-task-runner.md
Due: none

Release 0.1.28
  orion-ui/packages/orion-design/package.json
Due: none

Fix code example.
  docs/concepts/task-runners.md
Due: none

Update to latest orion-design
  orion-ui/package-lock.json
  orion-ui/package.json
Due: none

Fix typeo
  orion-ui/src/router/index.ts
Due: none

don't show the filter bar grid area if filters are not visible
  orion-ui/src/App.vue
  orion-ui/src/views/Settings.vue
Due: none
