Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Add changelog entry
  changes/pr3995.yaml
Due: none

add sql server logo to readme file also
  README.md
Due: none

reconciled readme and overview file for task libraries
  README.md
  docs/core/task_library/overview.md
Due: none

adding logo
  docs/.vuepress/public/logos/asana_logo.png
Due: none

Fix asana logo in main readme [ci skip]
  README.md
Due: none

Remove extra forward slash in logo url
  README.md
Due: none

Remove extra whitespace in logo tables [ci skip]
  docs/core/task_library/overview.md
Due: none

Fix task library overview jupyter logo [ci skip]
  docs/core/task_library/overview.md
Due: none

changelog
  changes/pr3991.yaml
Due: none

Fix k8s pod exec task docstring format
  src/prefect/tasks/kubernetes/pod.py
Due: black, flake8

kubernetes exec task
  docs/outline.toml
  src/prefect/tasks/kubernetes/__init__.py
  src/prefect/tasks/kubernetes/pod.py
Due: black, flake8

Update changes/pr3991.yaml
  changes/pr3991.yaml
Due: none

A few changes to GitHub storage
  src/prefect/serialization/storage.py
  src/prefect/storage/github.py
  tests/serialization/test_storage.py
  tests/storage/test_github_storage.py
Due: black, flake8

Add changelog entry
  changes/pr3998.yaml
Due: none

Update ecs.py
  src/prefect/run_configs/ecs.py
Due: black, flake8

Fixup
  tests/storage/test_base_storage.py
Due: black

Respond to feedback
  src/prefect/utilities/logging.py
  tests/utilities/test_logging.py
Due: black, flake8

Fixup failing test
  tests/conftest.py
  tests/engine/cloud/test_cloud_flow_runner.py
  tests/engine/test_flow_runner.py
Due: black

remove flow versions with flow description and add screen shot - screen shot may need styling update
  docs/.vuepress/public/orchestration/ui/flow-description.png
  docs/orchestration/ui/flow.md
Due: none

Raise more informative error when server secret isn't found
  src/prefect/client/secrets.py
  tests/client/test_secrets.py
Due: black, flake8

Add changelog entry
  changes/pr4003.yaml
Due: none

Handle setting flow run state errors in k8s agent job management
  src/prefect/agent/kubernetes/agent.py
Due: black, flake8

Add test checking ClientError handling
  tests/agent/test_k8s_agent.py
Due: black

Add changes entry
  changes/pr4006.yaml
Due: none

Add missing changes entry from #4001
  changes/pr4006.yaml
Due: none

Log exception info on failure to set flow run state
  src/prefect/agent/kubernetes/agent.py
Due: black, flake8

Use exc_info on state error logging
  src/prefect/agent/kubernetes/agent.py
Due: black, flake8

Revert use of exc_info
  src/prefect/agent/kubernetes/agent.py
Due: black, flake8

Add missing whitespace for error log formatting
  src/prefect/agent/kubernetes/agent.py
Due: black, flake8

Better error for passing Tasks to `StartFlowRun` parameters
  src/prefect/tasks/prefect/flow_run.py
  tests/tasks/prefect/test_flow_run.py
Due: black, flake8

Add changelog entry
  changes/pr4008.yaml
Due: none

Warn if user shadows attributes in Task class
  src/prefect/core/task.py
  tests/core/test_task.py
Due: black, flake8

Add changelog
  changes/pr4011.yaml
Due: none

Add task execution role arn for ecs run config
  src/prefect/agent/ecs/agent.py
  src/prefect/run_configs/ecs.py
  src/prefect/serialization/run_config.py
  tests/agent/test_ecs_agent.py
  tests/run_configs/test_ecs.py
  tests/serialization/test_run_configs.py
Due: black, flake8

Trailing space
  src/prefect/run_configs/ecs.py
Due: black, flake8

Specify use_session = True in S3 tasks
  src/prefect/tasks/aws/s3.py
Due: black, flake8

Add ecs execution role arn option for cli
  src/prefect/cli/agent.py
Due: black, flake8

Support `EXTRA_PIP_PACKAGES` in docker image
  Dockerfile
  entrypoint.sh
Due: none

Add changelog entry
  changes/pr4013.yaml
Due: none

Remove exception handling around agent registration step
  src/prefect/agent/agent.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: ^src/prefect/ and \.py$
