Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ui-v2, service-sync-ui-v2-openapi

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-push

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.2
    hooks:
      - id: ruff-check
        language_version: python3
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: package-lock.json|_vendor/.*|docs/styles/.*
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=1.10.0,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0
          - types-cachetools==5.3.0.5
          - types-pyyaml==6.0.12.9
        files: |
          (?x)^(
            src/prefect/server/models/.*|
            src/prefect/concurrency/.*|
            src/prefect/events/.*|
            src/prefect/input/.*
          )$
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.6.17
    hooks:
      - id: uv-lock

  - repo: local
    hooks:
      - id: check-ui-v2
        name: Check UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            ". $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run check:staged",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: service-sync-ui-v2-openapi
        name: Sync UI v2 OpenAPI
        language: system
        entry: sh
        args:
          [
            "-c",
            ". $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run service-sync",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              src/prefect/server/utilities/schemas/.*|
              ui-v2/package.json
          )$
        pass_filenames: false
        stages:
          - pre-push

Address review feedback: add sync return types, use module-level imports, trim test fluff
  src/prefect/blocks/redis.py
  tests/blocks/test_redis.py
Due: none

fix test
  docs/integrations/prefect-aws/ecs-worker/index.mdx
Due: none

fix link in ECS worker docs (#19364)
  docs/integrations/prefect-aws/ecs-worker/index.mdx
Due: none

Bump to latest version of `fakeredis` and update default value for Docket URL
  src/prefect/settings/models/server/docket.py
  uv.lock
Due: none

Install `fakeredis` with `lua` extra
  pyproject.toml
  uv.lock
Due: none

Clear fakeredis between tests
  tests/fixtures/api.py
Due: none

Add @chrisguidry as a CODEOWNER
  .github/CODEOWNERS
Due: none

Add @chrisguidry as a CODEOWNER (#19368)
  .github/CODEOWNERS
Due: none

Handle flaky tests
  src/prefect/server/api/flow_runs.py
  src/prefect/server/api/task_runs.py
  src/prefect/server/database/configurations.py
  src/prefect/server/models/deployments.py
  src/prefect/server/models/work_queues.py
  tests/server/orchestration/api/test_work_queues.py
  tests/server/orchestration/api/test_workers.py
  ui-v2/src/api/prefect.ts
  ui-v2/src/api/zod/events/events.ts
Due: check-ui-v2, service-sync-ui-v2-openapi

Revert UI changes
  ui-v2/src/api/prefect.ts
  ui-v2/src/api/zod/events/events.ts
Due: check-ui-v2

Pass docket to background worker
  src/prefect/server/api/background_workers.py
  src/prefect/server/api/server.py
Due: service-sync-ui-v2-openapi

Fix automation deletion deadlock by enforcing consistent lock ordering
  src/prefect/server/events/models/automations.py
  tests/test_automations.py
Due: service-sync-ui-v2-openapi

Fix automation deletion deadlock by enforcing consistent lock ordering (#19369)
  src/prefect/server/events/models/automations.py
  tests/test_automations.py
Due: service-sync-ui-v2-openapi

Replace mocked tests with real Redis integration tests
  src/prefect/blocks/redis.py
  tests/blocks/test_redis.py
Due: none

Revert SQLite configuration change
  src/prefect/server/database/configurations.py
Due: none

Sync UI v2 OpenAPI schema with node v20.19.0
  ui-v2/src/api/prefect.ts
Due: check-ui-v2

add validator
  src/integrations/prefect-snowflake/prefect_snowflake/credentials.py
Due: none

exclude /admin/settings endpoint from OpenAPI schema
  src/prefect/server/api/admin.py
Due: service-sync-ui-v2-openapi

sync UI v2 OpenAPI schema after excluding settings endpoint
  ui-v2/src/api/prefect.ts
Due: check-ui-v2

update test to allow /admin/settings exclusion from OpenAPI schema
  tests/client/test_client_routes.py
Due: none

apply biome formatting
  ui-v2/src/api/artifacts/index.ts
  ui-v2/src/api/flow-runs/index.ts
  ui-v2/src/api/task-run-concurrency-limits/task-run-concurrency-limits.test.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-active-task-runs/task-run-concurrency-limit-active-task-runs.tsx
  ui-v2/src/components/flows/detail/cells.tsx
  ui-v2/src/components/flows/detail/runs-columns.tsx
  ui-v2/src/components/schemas/types/errors.ts
  ui-v2/src/components/ui/flow-run-activity-bar-graph/index.tsx
  ui-v2/src/components/ui/flow-run-activity-bar-graph/utils.ts
  ui-v2/src/components/ui/run-card/run-card.tsx
Due: check-ui-v2

Sync UI v2 OpenAPI schema with node v20.19.0 (#19373)
  ui-v2/src/api/artifacts/index.ts
  ui-v2/src/api/flow-runs/index.ts
  ui-v2/src/api/prefect.ts
  ui-v2/src/api/task-run-concurrency-limits/task-run-concurrency-limits.test.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-active-task-runs/task-run-concurrency-limit-active-task-runs.tsx
  ui-v2/src/components/flows/detail/cells.tsx
  ui-v2/src/components/flows/detail/runs-columns.tsx
  ui-v2/src/components/schemas/types/errors.ts
  ui-v2/src/components/ui/flow-run-activity-bar-graph/index.tsx
  ui-v2/src/components/ui/flow-run-activity-bar-graph/utils.ts
  ui-v2/src/components/ui/run-card/run-card.tsx
Due: check-ui-v2

Upgrade `pydocket`
  pyproject.toml
  tests/fixtures/api.py
  uv.lock
Due: none

Add setting for docket name
  src/prefect/settings/models/server/docket.py
  tests/fixtures/api.py
Due: none

Bring back the clear fixture
  tests/fixtures/api.py
Due: none

Wire up setting
  src/prefect/server/api/server.py
  src/prefect/settings/models/server/docket.py
  tests/test_settings.py
Due: service-sync-ui-v2-openapi

Add lifespan to fixture
  src/prefect/_internal/testing.py
  tests/fixtures/api.py
  tests/server/orchestration/api/test_deployments.py
Due: none

Fix Redis WRONGTYPE errors by using unique Docket names per test
  tests/client/test_prefect_client.py
  tests/fixtures/api.py
  tests/server/api/test_server.py
  tests/server/orchestration/api/test_concurrency_limits_v2.py
  tests/server/orchestration/api/test_flow_runs.py
  tests/test_settings.py
Due: none

Move some background tasks to Docket
  src/prefect/server/api/deployments.py
  src/prefect/server/api/work_queues.py
  src/prefect/server/models/deployments.py
  src/prefect/server/models/work_queues.py
Due: service-sync-ui-v2-openapi

Wire up Docket to start with server
  pyproject.toml
  src/prefect/server/api/background_workers.py
  src/prefect/server/api/dependencies.py
  src/prefect/server/api/server.py
  src/prefect/settings/models/server/docket.py
  src/prefect/settings/models/server/root.py
  uv.lock
Due: service-sync-ui-v2-openapi

Fix some failing tests
  src/prefect/_internal/testing.py
  tests/server/orchestration/api/test_deployments.py
  tests/server/orchestration/api/test_work_queues.py
Due: none

Hopefully solve test timeouts
  src/prefect/server/api/workers.py
  tests/fixtures/api.py
  tests/server/orchestration/api/test_deployments.py
  tests/server/orchestration/api/test_work_queues.py
  tests/server/orchestration/api/test_workers.py
  ui-v2/src/api/prefect.ts
Due: check-ui-v2, service-sync-ui-v2-openapi
