Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-mintlify-openapi-docs, generate-settings-schema, generate-settings-ref, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.2.1"
    hooks:
      - id: ruff
        language_version: python3
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        exclude: package-lock.json|_vendor/.*|docs/styles/.*
  - repo: https://github.com/netromdk/vermin
    rev: v1.6.0
    hooks:
      - id: vermin
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=1.10.0,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0
          - types-cachetools==5.3.0.5
          - types-pyyaml==6.0.12.9
        files: |
          (?x)^(
            src/prefect/server/models/.*|
            src/prefect/concurrency/.*|
            src/prefect/events/.*|
            src/prefect/input/.*
          )$
  - repo: local
    hooks:
      - id: generate-mintlify-openapi-docs
        name: Generating OpenAPI docs for Mintlify
        language: system
        entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_mintlify_openapi_docs.py
        pass_filenames: false
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              scripts/generate_mintlify_openapi_docs.py
          )$
      - id: generate-settings-schema
        name: Generating Settings Schema
        language: system
        entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_schema.py
        pass_filenames: false
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              src/prefect/settings/models/.*|
              scripts/generate_settings_schema.py
          )$
      - id: generate-settings-ref
        name: Generating Settings Reference
        language: system
        entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_ref.py
        pass_filenames: false
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              src/prefect/settings/models/.*|
              scripts/generate_settings_ref.py
          )$
      - id: lint-ui-v2
        name: Lint UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            "cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run lint",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: format-ui-v2
        name: Format UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            "cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run format",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: service-sync-ui-v2-openapi
        name: Sync UI v2 OpenAPI
        language: system
        entry: sh
        args:
          [
            "-c",
            "cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run service-sync",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              ui-v2/package.json
          )$
        pass_filenames: false

Refactor prefect.flow decorator (#16405)
  .github/workflows/python-tests.yaml
  requirements-dev.txt
  setup.cfg
  src/prefect/flows.py
  tests/test_flows.py
  tests/typesafety/test_flows.yml
Due: none

[UI v2] feat: Adds useStepper hook to be used for automations creation wizard (#16461)
  ui-v2/src/hooks/use-stepper.test.ts
  ui-v2/src/hooks/use-stepper.ts
Due: lint-ui-v2, format-ui-v2

`list` instead of `List`
  src/prefect/client/schemas/filters.py
  src/prefect/server/schemas/filters.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

Transitions to using `traceparent` instead of separate IDs
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/client/schemas/objects.py
  src/prefect/server/schemas/states.py
  src/prefect/states.py
  src/prefect/utilities/engine.py
  ui-v2/src/api/prefect.ts
Due: generate-mintlify-openapi-docs, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

Transitions to using `traceparent` instead of separate IDs (#16466)
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/client/schemas/objects.py
  src/prefect/server/schemas/states.py
  src/prefect/states.py
  src/prefect/utilities/engine.py
  ui-v2/src/api/prefect.ts
Due: generate-mintlify-openapi-docs, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

_sync=False
  src/prefect/filesystems.py
  src/prefect/results.py
Due: none

isolate compat
  src/prefect/results.py
Due: none

revert signature change to `NullFileSystem`
  src/prefect/filesystems.py
  src/prefect/results.py
Due: none

fix impl
  src/prefect/results.py
  tests/results/test_state_result.py
Due: none

Update src/prefect/results.py
  src/prefect/results.py
Due: none

use correct async method on storage blocks (#16445)
  src/prefect/results.py
  tests/results/test_state_result.py
Due: none

make it thread safe
  flows/load_flows_concurrently.py
  src/prefect/flows.py
  src/prefect/utilities/importtools.py
  tests/utilities/test_importtools.py
Due: none

add `threading.Lock`
  src/prefect/utilities/importtools.py
Due: none

update check
  src/prefect/flows.py
Due: none

defer making lock
  src/prefect/utilities/importtools.py
Due: none

update check
  src/prefect/deployments/runner.py
Due: none

make `from_source` safe to use concurrently (#16458)
  flows/load_flows_concurrently.py
  src/prefect/deployments/runner.py
  src/prefect/flows.py
  src/prefect/utilities/importtools.py
  tests/utilities/test_importtools.py
Due: none

[typing] clean up prefect __init__.py
  src/prefect/__init__.py
Due: none

add import
  src/prefect/server/schemas/filters.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

[typing] clean up prefect __init__.py (#16451)
  src/prefect/__init__.py
Due: none

[UI v2] feat: Adds router and react-query storybook decorator
  ui-v2/src/storybook/utils/index.ts
  ui-v2/src/storybook/utils/react-query-decorator.tsx
  ui-v2/src/storybook/utils/router-decorator.tsx
Due: lint-ui-v2, format-ui-v2

pass auth headers to /csrf (#16464)
  src/prefect/server/api/server.py
  tests/server/test_app.py
  ui/src/maps/uiSettings.ts
  ui/src/pages/AppRouterView.vue
  ui/src/services/adminApi.ts
  ui/src/services/csrfTokenApi.ts
  ui/src/services/uiSettings.ts
  ui/src/types/settingsResponse.ts
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

Update @prefecthq/prefect-ui-library to version 3.11.30
  ui/package-lock.json
  ui/package.json
Due: none

Update @prefecthq/prefect-ui-library to version 3.11.30 (#16470)
  ui/package-lock.json
  ui/package.json
Due: none
