Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: auto-generate-documentation, check-ui-v2, service-sync-ui-v2-openapi

auto-generate-documentation:
  name: Auto-generating Documentation
  language: system
  entry: uv run --isolated -p 3.9 --with 'pydantic>=2.9.0' ./scripts/run_precommit_generation_scripts.py
  pass_filenames: false

check-ui-v2:
  name: Check UI v2
  language: system
  entry: sh
  args:
  - -c
  - . $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run check:staged
  pass_filenames: false

service-sync-ui-v2-openapi:
  name: Sync UI v2 OpenAPI
  language: system
  entry: sh
  args:
  - -c
  - . $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run service-sync
  pass_filenames: false

Chore: Update variable name validator to allow hyphens (#17995)
  src/prefect/_internal/schemas/validators.py
  src/prefect/server/schemas/actions.py
  tests/server/orchestration/api/test_variables.py
Due: auto-generate-documentation, service-sync-ui-v2-openapi

merge conflict
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/_internal/schemas/validators.py
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/objects.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/types/__init__.py
  src/prefect/types/names.py
  ui-v2/src/api/prefect.ts
Due: auto-generate-documentation, check-ui-v2, service-sync-ui-v2-openapi

dont change desc for no reason
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/types/names.py
  ui-v2/src/api/prefect.ts
Due: check-ui-v2

fix test
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/client/schemas/actions.py
  src/prefect/server/schemas/actions.py
  src/prefect/types/__init__.py
  src/prefect/types/names.py
  tests/server/orchestration/api/test_variables.py
  ui-v2/src/api/prefect.ts
Due: auto-generate-documentation, check-ui-v2, service-sync-ui-v2-openapi

typing
  src/prefect/types/__init__.py
  src/prefect/types/names.py
Due: none

Update Vertex AI worker to allow initiating a flow run without waiting for completion
  src/integrations/prefect-gcp/prefect_gcp/workers/vertex.py
  src/integrations/prefect-gcp/tests/test_vertex_worker.py
Due: none

add positive case
  tests/server/orchestration/api/test_variables.py
Due: none

feat:add default volcanojob template
  src/integrations/prefect-kubernetes/prefect_kubernetes/volcanoworker.py
Due: none

style:precommit default template
  src/integrations/prefect-kubernetes/prefect_kubernetes/volcanoworker.py
Due: none

organize types (#17994)
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/_internal/schemas/validators.py
  src/prefect/client/schemas/actions.py
  src/prefect/client/schemas/objects.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/types/__init__.py
  src/prefect/types/names.py
  tests/server/orchestration/api/test_variables.py
  ui-v2/src/api/prefect.ts
Due: auto-generate-documentation, check-ui-v2, service-sync-ui-v2-openapi

Add integration tests for crash detection (#17477)
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/test_crash_detection.py
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/test_events.py
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/test_eviction.py
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/utils/k8s.py
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/utils/prefect_core.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/operator.py
  src/integrations/prefect-kubernetes/tests/test_operator.py
Due: none

Adds checks for events in eviction tests and and handling for race condition (#17461)
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/test_eviction.py
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/utils/k8s.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
Due: none

Allow Kubernetes integration tests to run in parallel (#17455)
  .github/workflows/k8s-integration-tests.yaml
  src/integrations/prefect-kubernetes/integration_tests/pyproject.toml
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/conftest.py
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/test_events.py
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/test_eviction.py
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/utils/prefect_core.py
Due: none

Create operator and use it to replicate pod events (#17439)
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/test_events.py
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/test_eviction.py
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/utils/prefect_core.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/events.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/operator.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/pyproject.toml
  src/integrations/prefect-kubernetes/tests/test_events_replicator.py
  src/integrations/prefect-kubernetes/tests/test_operator.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
  uv.lock
Due: none

Add Prefect labels to flow run pods (#17401)
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Due: none

Add job event handler (#17460)
  .github/workflows/k8s-integration-tests.yaml
  src/integrations/prefect-kubernetes/integration_tests/pyproject.toml
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/conftest.py
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/test_crash_detection.py
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/test_eviction.py
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/test_jobs.py
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/utils/k8s.py
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/utils/prefect_core.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/observer.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/operator.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/test_observer.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Due: none

Add settings to control observer behavior (#17506)
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/test_filtering.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/observer.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/settings.py
  src/integrations/prefect-kubernetes/tests/test_settings.py
Due: none

Coalesce flow run start times with expected start times
  src/prefect/server/schemas/filters.py
Due: auto-generate-documentation, service-sync-ui-v2-openapi

Add tests for coalesce behavior
  tests/server/schemas/test_filters.py
Due: none

Add 4th flow run to test
  tests/server/models/test_flow_runs.py
Due: none

Update @prefecthq/prefect-ui-library to version 3.12.12
  ui/package-lock.json
  ui/package.json
Due: none

fix readme
  README.md
  scripts/all-links-should-be-ok
Due: none

Fix generated work pool storage config for GCS
  src/prefect/cli/work_pool.py
  tests/cli/test_work_pool.py
Due: none

Fix generated work pool storage config for GCS (#18000)
  src/prefect/cli/work_pool.py
  tests/cli/test_work_pool.py
Due: none

Bugfix: Coalesce flow run start times with expected start times (#17997)
  src/prefect/server/schemas/filters.py
  tests/server/models/test_flow_runs.py
  tests/server/schemas/test_filters.py
Due: auto-generate-documentation, service-sync-ui-v2-openapi

Update @prefecthq/prefect-ui-library to version 3.12.12 (#17998)
  ui/package-lock.json
  ui/package.json
Due: none

Make `initiate_run` a "private" method
  src/integrations/prefect-aws/prefect_aws/workers/ecs_worker.py
  src/integrations/prefect-aws/tests/workers/test_ecs_worker.py
  src/integrations/prefect-docker/prefect_docker/worker.py
  src/integrations/prefect-docker/tests/test_worker.py
  src/integrations/prefect-gcp/prefect_gcp/workers/vertex.py
  src/integrations/prefect-gcp/tests/test_vertex_worker.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Due: none

add extension
  scripts/all_links_should_be_ok.py
Due: none

Allow `flow.sumbit` to be non-blocking for some infrastructure types (#17992)
  .github/workflows/k8s-integration-tests.yaml
  src/integrations/prefect-aws/prefect_aws/workers/ecs_worker.py
  src/integrations/prefect-aws/tests/workers/test_ecs_worker.py
  src/integrations/prefect-docker/prefect_docker/worker.py
  src/integrations/prefect-docker/tests/test_worker.py
  src/integrations/prefect-gcp/prefect_gcp/workers/vertex.py
  src/integrations/prefect-gcp/tests/test_vertex_worker.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Due: none

Path conditions:
  auto-generate-documentation: any of: (?x)^(
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    src/prefect/settings/models/.*|
    scripts/generate_mintlify_openapi_docs.py|
    scripts/generate_settings_schema.py|
    scripts/generate_settings_ref.py|
    scripts/run_precommit_generation_scripts.py
)$

  check-ui-v2: any of: (?x)^(
    .pre-commit-config.yaml|
    ui-v2/.*
)$

  service-sync-ui-v2-openapi: any of: (?x)^(
    .pre-commit-config.yaml|
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    src/prefect/server/utilities/schemas/.*|
    ui-v2/package.json
)$

