Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Create convenience method to temporarily modify the database config
  src/prefect/orion/database/dependencies.py
  src/prefect/orion/database/interface.py
Due: black, flake8

Fix postgres insert interface
  src/prefect/orion/database/interface.py
Due: black, flake8

utc mf
  tests/orion/api/test_deployments.py
Due: black

Gracefully clean up engine disposal queue
  src/prefect/orion/database/interface.py
Due: black, flake8

Update hello flow screenshots
  docs/.vuepress/public/orchestration/tutorial/hello-flow-run-mapped2.png
  docs/.vuepress/public/orchestration/tutorial/hello-flow-run-parameter-config.png
Due: none

Fixes typo in function name
  tests/tasks/files/test_operations.py
Due: black

Fixes typo in doc string
  src/prefect/tasks/files/operations.py
Due: black, flake8

Adds more details to doc string for path arg
  src/prefect/tasks/files/operations.py
Due: black, flake8

Adds more detail to the doc string for pattern arg
  src/prefect/tasks/files/operations.py
Due: black, flake8

Flows: add discussion of subflow executors and flow examples.
  docs/concepts/flows.md
  docs/stylesheets/api_ref.css
Due: none

Update hello flow screenshots (#5105)
  docs/.vuepress/public/orchestration/tutorial/hello-flow-run-mapped2.png
  docs/.vuepress/public/orchestration/tutorial/hello-flow-run-parameter-config.png
Due: none

Swaps out tmpdir for tmp_path
  tests/tasks/files/test_operations.py
Due: black

Fixes formatting issues
  tests/tasks/files/test_operations.py
Due: black

Fixes flake8 issues
  src/prefect/tasks/files/operations.py
Due: black, flake8

Create dialect-specific query components abstraction
  src/prefect/orion/database/dependencies.py
  src/prefect/orion/database/interface.py
Due: black, flake8

Fix load of serialized flows with bad edge task schemas
  src/prefect/serialization/edge.py
Due: black, flake8

Instead of dropping data, convert them to valid schemas
  src/prefect/serialization/edge.py
Due: black, flake8

Use import.meta.env.BASE_URL in the router since process.env.BASE_URL doesn't work anymore
  orion-ui/src/router/index.ts
Due: none

Add padding to code blocks to remove scroll bar
  docs/.vuepress/styles/index.styl
Due: none

Update docs/concepts/flows.md
  docs/concepts/flows.md
Due: none

Move abstractions into separate modules
  src/prefect/orion/database/configurations.py
  src/prefect/orion/database/dependencies.py
  src/prefect/orion/database/interface.py
  src/prefect/orion/database/query_components.py
  tests/orion/utilities/test_database.py
Due: black, flake8

Move dropping/creating database methods into database interface
  src/prefect/cli/orion.py
  src/prefect/orion/api/admin.py
  src/prefect/orion/database/interface.py
Due: black, flake8

`db_interface` -> `db`
  src/prefect/cli/orion.py
  src/prefect/orion/api/admin.py
  src/prefect/orion/api/dependencies.py
  src/prefect/orion/api/deployments.py
  src/prefect/orion/api/run_history.py
  src/prefect/orion/database/dependencies.py
  src/prefect/orion/models/deployments.py
  src/prefect/orion/models/flow_run_states.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/models/flows.py
  src/prefect/orion/models/saved_searches.py
  src/prefect/orion/models/task_run_states.py
  src/prefect/orion/models/task_runs.py
  src/prefect/orion/orchestration/core_policy.py
  src/prefect/orion/orchestration/rules.py
  src/prefect/orion/schemas/filters.py
  src/prefect/orion/schemas/sorting.py
  src/prefect/orion/services/late_runs.py
  src/prefect/orion/services/loop_service.py
  src/prefect/orion/services/scheduler.py
  tests/fixtures/database.py
  tests/orion/api/test_deployments.py
  tests/orion/api/test_flow_runs.py
  tests/orion/api/test_run_history.py
  tests/orion/models/test_deployments.py
  tests/orion/models/test_filters.py
  tests/orion/models/test_flow_runs.py
  tests/orion/models/test_orm.py
  tests/orion/models/test_task_runs.py
  tests/orion/orchestration/test_rules.py
  tests/orion/utilities/test_database.py
Due: black, flake8

Use FastAPI injection for DBInterface
  src/prefect/orion/api/admin.py
  src/prefect/orion/api/deployments.py
Due: black, flake8

Add types for globally registered components
  orion-ui/src/components.d.ts
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: ^src/prefect/ and \.py$
