Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

isort
  src/prefect/orion/database/migrations/versions/postgresql/5f376def75c3_.py
Due: black, flake8

Fix syntax error in autogenerated migration file
  src/prefect/blocks/core.py
  src/prefect/orion/database/migrations/versions/postgresql/5f376def75c3_.py
Due: black, flake8

Import storage blocks in top-level block module init
  src/prefect/blocks/__init__.py
  src/prefect/blocks/core.py
Due: black, flake8

Add pattern for loading CLI defaults from settings
  docs/concepts/settings.md
  docs/tutorials/docker-flow-runner.md
  docs/tutorials/kubernetes-flow-runner.md
  src/prefect/cli/agent.py
  src/prefect/cli/base.py
  src/prefect/cli/concurrency_limit.py
  src/prefect/cli/deployment.py
  src/prefect/cli/dev.py
  src/prefect/cli/flow_run.py
  src/prefect/cli/orion.py
  src/prefect/cli/templates/kubernetes.yaml
  src/prefect/client.py
  src/prefect/flow_runners.py
  src/prefect/settings.py
  src/prefect/utilities/testing.py
  tests/fixtures/api.py
  tests/test_context.py
  tests/test_flow_runners.py
Due: black, flake8

Sketch logging changes, pulled from `dynamic-settings` branch
  src/prefect/logging/configuration.py
  src/prefect/logging/handlers.py
  src/prefect/logging/loggers.py
  tests/test_logging.py
Due: black, flake8

Pull client changes from `dynamic-settings` branch
  src/prefect/client.py
  src/prefect/logging/handlers.py
Due: black, flake8

Remove breakpoint;
  tests/test_logging.py
Due: black

Checkout `tests/fixtures/logging.py` from dynamic-settings branch
  tests/fixtures/logging.py
Due: black

Remove docs references to filesystem utilities
  docs/api-ref/orion/utilities/filesystem.md
  mkdocs.yml
Due: none

Update data API comments
  src/prefect/orion/api/data.py
Due: black, flake8

Fix logging tests
  src/prefect/client.py
  src/prefect/context.py
  src/prefect/logging/handlers.py
  tests/test_flows.py
  tests/test_logging.py
Due: black, flake8

Bump compatibility versions
  src/prefect/flow_runners.py
  src/prefect/orion/api/server.py
Due: black, flake8

build prefect docker image for both amd64 and arm64
  .circleci/config.yml
Due: none

Use current version
  src/prefect/flow_runners.py
Due: black, flake8

Add docker compatibility test bypass for breaking changes
  src/prefect/flow_runners.py
  tests/test_flow_runners.py
Due: black, flake8

execute tests inside docker image
  .circleci/config.yml
  Dockerfile
Due: none

Add bypass documentation to docker compatibility test
  tests/test_flow_runners.py
Due: black

Add client tests for Block interactions
  tests/test_client.py
Due: black

Add bypass for spurious test failure in CI
  tests/test_flow_runners.py
Due: black

Adding change record file to the PR to record the updates made to the VaultSecret class
  changes/pr5412.yaml
Due: none

Removing comments
  changes/pr5412.yaml
Due: none

Removing the second 'deprication' heading in attempt to stop CI from failing
  changes/pr5412.yaml
Due: none

Add a new pattern for executing route guards
  orion-ui/src/router/guards/DashboardDefaultFilters.ts
  orion-ui/src/router/guards/FlowRunDefaultFilters.ts
  orion-ui/src/router/guards/RouteGuard.ts
  orion-ui/src/router/guards/RouteGuardExecutor.ts
  orion-ui/src/router/index.ts
  orion-ui/src/views/Dashboard.vue
  orion-ui/src/vue-router.d.ts
Due: none
