Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Properly abort transitions with a concurrency limit of 0
  src/prefect/orion/orchestration/core_policy.py
Due: black, flake8

Updates signature test
  tests/test_tasks.py
Due: black

update BreadCrumbs imports
  orion-ui/src/components/Global/List/ListItemFlowRun/ListItemFlowRun.vue
  orion-ui/src/components/Global/List/ListItemTaskRun/ListItemTaskRun.vue
Due: none

Test concurrency limit fizzling and deadlock behavior
  src/prefect/orion/orchestration/core_policy.py
  tests/orion/orchestration/test_core_policy.py
Due: black, flake8

Updates examples for
  src/prefect/tasks.py
Due: black, flake8

Removes deepcopy of in
  src/prefect/tasks.py
  tests/test_tasks.py
Due: black, flake8

Add slot counting utility to concurrency limit tests
  tests/orion/orchestration/test_core_policy.py
Due: black

Add changes entry
  changes/pr5355.yaml
Due: none

Fixup test
  tests/cli/test_auth.py
Due: black

Fix format string not interpolated in error message (#5328)
  src/prefect/backend/flow_run.py
Due: black, flake8

Add changes entry
  changes/pr5316.yaml
Due: none

Fix link to RBAC roles. (#5334)
  docs/orchestration/ui/team-settings.md
Due: none

Fix changelog entry
  changes/pr5335.yml
Due: none

Drop upperbounds from core requirements
  requirements.txt
Due: none

Drop upper bounds from extra requirements
  setup.py
Due: black

Restore spacy upper bound
  setup.py
Due: black

Restore mistune upper pin
  setup.py
Due: black

Fixup ge lower pin
  setup.py
Due: black

Bump hasura image version to 2.1.1 to fix M1 support (#5335)
  changes/pr5335.yml
  src/prefect/cli/docker-compose.yml
Due: none

Track run ids of all active concurrency slots
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/models/concurrency_limits.py
  src/prefect/orion/orchestration/core_policy.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
  tests/orion/api/test_concurrency_limits.py
  tests/orion/orchestration/test_core_policy.py
Due: black, flake8

Create a new run with each orchestration initializer call
  tests/fixtures/database.py
  tests/orion/orchestration/test_core_policy.py
Due: black

Only add or remove concurrency slots if necessary
  src/prefect/orion/orchestration/core_policy.py
  tests/orion/orchestration/test_core_policy.py
Due: black, flake8

Test that a single run can't consume multiple concurrency slots
  tests/orion/orchestration/test_core_policy.py
Due: black

Improve test semantics for clarity
  tests/orion/orchestration/test_core_policy.py
Due: black

⚫
  src/prefect/utilities/compat.py
Due: black, flake8

Release concurrency slots if any limits are hit
  src/prefect/orion/orchestration/core_policy.py
Due: black, flake8

Remove self-fizzle bypass
  src/prefect/orion/orchestration/rules.py
  tests/orion/orchestration/test_rules.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: ^src/prefect/ and \.py$
