Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Run release action workflow on tag push not creation
  .github/workflows/release.yaml
Due: none

Retain upper pin < 3.0
  changes/pr5084.yaml
  setup.py
Due: black

Bump to 0.1.9
  orion-ui/package-lock.json
  orion-ui/package.json
Due: none

PagerDuty integration review and revisions (#5102)
  docs/.vuepress/public/orchestration/integrations/pagerduty_action.png
  docs/orchestration/integrations/pagerduty.md
Due: none

Fixed ReadTimeoutErrors for kubernetes client after connection reset by keep-alive connections (#5066)
  changes/pr5066.yaml
  src/prefect/agent/kubernetes/agent.py
  src/prefect/config.toml
  src/prefect/utilities/kubernetes.py
  tests/agent/test_k8s_agent.py
  tests/utilities/test_kubernetes.py
Due: black, flake8

Add padding to code blocks to remove scroll bar (#5107)
  docs/.vuepress/styles/index.styl
Due: none

Docs: Orchestration orchestration cloud examples (#5086)
  docs/core/getting_started/install.md
  docs/orchestration/README.md
  docs/orchestration/getting-started/basic-core-flow.md
  docs/orchestration/getting-started/quick-start.md
  docs/orchestration/getting-started/registering-and-running-a-flow.md
  docs/orchestration/getting-started/set-up.md
Due: none

update bigquery dependency to support version 2.0 (#5084)
  changes/pr5084.yaml
  setup.py
Due: black

Add publish-docs step to release workflow
  .github/workflows/release.yaml
Due: none

Update docs/core/concepts/secrets.md
  docs/core/concepts/secrets.md
Due: none

Add overflow nodes and expandable radii
  orion-ui/src/components/Schematic/Node.vue
  orion-ui/src/components/Schematic/OverflowNode.vue
  orion-ui/src/components/Schematic/Schematic.vue
  orion-ui/src/components/Schematic/math.ts
  orion-ui/src/components/Schematic/util.ts
  orion-ui/src/typings/schematic.d.ts
  orion-ui/src/views/FlowRun--views/Schematic.vue
Due: none

Update .github/workflows/release.yaml
  .github/workflows/release.yaml
Due: none

Document subquery-components abstraction
  src/prefect/orion/api/run_history.py
  src/prefect/orion/database/configurations.py
  src/prefect/orion/database/interface.py
  src/prefect/orion/database/query_components.py
  src/prefect/orion/models/deployments.py
  src/prefect/orion/models/flow_run_states.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/models/flows.py
  src/prefect/orion/models/saved_searches.py
  src/prefect/orion/models/task_run_states.py
  src/prefect/orion/models/task_runs.py
  src/prefect/orion/orchestration/core_policy.py
  src/prefect/orion/schemas/filters.py
  src/prefect/orion/services/late_runs.py
  tests/orion/models/test_deployments.py
  tests/orion/models/test_flow_runs.py
  tests/orion/models/test_orm.py
  tests/orion/models/test_task_runs.py
Due: black, flake8

Clean up subquery-components
  src/prefect/orion/database/query_components.py
Due: black, flake8

Fix missing renames
  orion-ui/src/main.ts
  orion-ui/src/views/Dashboard.vue
Due: none

Document DatabaseConfiguration ABC
  src/prefect/orion/database/configurations.py
Due: black, flake8

Add documentation to QueryComponents ABC
  src/prefect/orion/database/query_components.py
Due: black, flake8

Document and reorganize OrionDBInterface
  src/prefect/orion/database/interface.py
  src/prefect/orion/database/orm_models.py
Due: black, flake8

Move database management to top of class
  src/prefect/orion/database/interface.py
Due: black, flake8

Fix formatting
  docs/core/PINs/PIN-05-Combining-Tasks.md
Due: none

fix local agent docstring + remove misleading versioning info
  docs/core/about_prefect/why-not-airflow.md
  src/prefect/agent/local/agent.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: ^src/prefect/ and \.py$
