Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Appropriately indent REST Guidelines
  docs/api-ref/rest-api.md
Due: none

Clean up orion/models docs
  docs/api-ref/orion/models/orm.md
  src/prefect/orion/models/deployments.py
  src/prefect/orion/models/flow_run_states.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/models/flows.py
  src/prefect/orion/models/orm.py
  src/prefect/orion/models/saved_searches.py
  src/prefect/orion/models/task_run_states.py
  src/prefect/orion/models/task_runs.py
Due: black, flake8

Tweak `policy` doc
  src/prefect/orion/orchestration/policies.py
Due: black, flake8

Add task run and flow run states to models reference
  docs/api-ref/orion/models/flow_run_states.md
  docs/api-ref/orion/models/task_run_states.md
  mkdocs.yml
Due: none

Add descriptions for response schemas
  src/prefect/orion/schemas/responses.py
Due: black, flake8

First pass `UniversalRule` -> `UniversalTransform`
  src/prefect/orion/orchestration/global_policy.py
  src/prefect/orion/orchestration/rules.py
  tests/orion/orchestration/test_rules.py
Due: black, flake8

Add subflows and UI to first steps
  docs/img/tutorials/first-steps-ui.png
  docs/tutorials/first-steps.md
  orion-ui/index.html
Due: none

`global_policy` and `core_policy` module docstrings
  src/prefect/orion/orchestration/core_policy.py
  src/prefect/orion/orchestration/global_policy.py
Due: black, flake8

Cache retrieval should come first!
  src/prefect/orion/orchestration/core_policy.py
Due: black, flake8

add expected_start_time asc sort to flow/task runs
  src/prefect/orion/schemas/sorting.py
  tests/orion/api/test_flow_runs.py
Due: black, flake8

Add more deployment docs
  src/prefect/deployments.py
Due: black, flake8

Minor rephrase
  src/prefect/deployments.py
Due: black, flake8

Add schedule example
  src/prefect/deployments.py
Due: black, flake8

Fix typo
  docs/index.md
Due: none

Fix error display for `validate_parameters`
  src/prefect/flows.py
Due: black, flake8

Add debug traceback display
  src/prefect/engine.py
Due: black, flake8

Add traceback tests
  tests/test_engine.py
Due: black

Add util to package/build the ui
  MANIFEST.in
  setup.py
  src/prefect/cli/orion.py
Due: black, flake8

Mobile filter menus
  orion-ui/package-lock.json
  orion-ui/package.json
  orion-ui/src/components/FilterBar/FilterMenu.vue
  orion-ui/src/styles/components/global-filter--filter-bar.scss
  orion-ui/src/styles/components/global-filter--filter-menu.scss
Due: none

Move location to a const; add route to fastapi
  MANIFEST.in
  src/prefect/__init__.py
  src/prefect/cli/orion.py
  src/prefect/orion/api/server.py
Due: black, flake8
