Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: auto-generate-documentation, check-ui-v2, service-sync-ui-v2-openapi

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.5
    hooks:
      - id: ruff
        language_version: python3
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: package-lock.json|_vendor/.*|docs/styles/.*
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=1.10.0,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0
          - types-cachetools==5.3.0.5
          - types-pyyaml==6.0.12.9
        files: |
          (?x)^(
            src/prefect/server/models/.*|
            src/prefect/concurrency/.*|
            src/prefect/events/.*|
            src/prefect/input/.*
          )$
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.6.11
    hooks:
      - id: uv-lock

  - repo: local
    hooks:
      - id: auto-generate-documentation
        name: Auto-generating Documentation
        language: system
        entry: uv run --isolated -p 3.9 --with 'pydantic>=2.9.0' ./scripts/run_precommit_generation_scripts.py
        pass_filenames: false
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              src/prefect/settings/models/.*|
              scripts/generate_mintlify_openapi_docs.py|
              scripts/generate_settings_schema.py|
              scripts/generate_settings_ref.py|
              scripts/run_precommit_generation_scripts.py
          )$
      - id: check-ui-v2
        name: Check UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            ". $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run check:staged",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: service-sync-ui-v2-openapi
        name: Sync UI v2 OpenAPI
        language: system
        entry: sh
        args:
          [
            "-c",
            ". $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run service-sync",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              src/prefect/server/utilities/schemas/.*|
              ui-v2/package.json
          )$
        pass_filenames: false

fix order for failed states
  docs/v3/concepts/states.mdx
Due: none

Add work pool infrastructure configuration step component
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/base-job-template-form-section.stories.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/base-job-template-form-section.test.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/base-job-template-form-section.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/index.ts
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/infrastructure-configuration-step.stories.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/infrastructure-configuration-step.test.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/infrastructure-configuration-step.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/schema.ts
Due: check-ui-v2

add more states to docs (#18573)
  docs/v3/concepts/states.mdx
Due: none

Fix TypeScript lint errors
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/base-job-template-form-section.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/infrastructure-configuration-step.tsx
Due: check-ui-v2

wip
  docs/v3/get-started/slow-start.mdx
Due: none

init
  docs/docs.json
  docs/v3/get-started/slow-start.mdx
Due: none

start slow start
  docs/v3/get-started/slow-start.mdx
Due: none

Remove prefect-agent conditional logic from infrastructure configuration step
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/base-job-template-form-section.stories.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/infrastructure-configuration-step.stories.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/infrastructure-configuration-step.test.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/infrastructure-configuration-step.tsx
Due: check-ui-v2

Integrate SchemaForm component in BaseJobTemplateFormSection
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/base-job-template-form-section.test.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/base-job-template-form-section.tsx
Due: check-ui-v2

Update mock base job templates to use {{ variable }} placeholders
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/base-job-template-form-section.stories.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/base-job-template-form-section.test.tsx
  ui-v2/src/mocks/create-fake-work-pool.ts
Due: check-ui-v2

Update infrastructure-configuration-step stories with {{ variable }} placeholders
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/infrastructure-configuration-step.stories.tsx
Due: check-ui-v2

Replace empty functions with fn() in base-job-template-form-section stories
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/base-job-template-form-section.stories.tsx
Due: check-ui-v2

Reorganize and add tests
  src/prefect/concurrency/_asyncio.py
  src/prefect/concurrency/_leases.py
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/sync.py
  src/prefect/flow_engine.py
  src/prefect/server/orchestration/core_policy.py
  tests/server/orchestration/api/test_flow_runs.py
  tests/test_flow_engine.py
Due: none

Fix failing integration tests
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/sync.py
Due: none

THE REPOSSESSOR WASN'T COMMITTING!?!?!
  integration-tests/test_concurrency_leases.py
  src/prefect/server/services/repossessor.py
Due: none

Add work pool infrastructure configuration step component (#18574)
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/base-job-template-form-section.stories.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/base-job-template-form-section.test.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/base-job-template-form-section.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/index.ts
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/infrastructure-configuration-step.stories.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/infrastructure-configuration-step.test.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/infrastructure-configuration-step.tsx
  ui-v2/src/components/work-pools/create/infrastructure-configuration-step/schema.ts
  ui-v2/src/mocks/create-fake-work-pool.ts
Due: check-ui-v2

fix: allow automations notify when triggers service is disabled
  src/prefect/server/events/models/automations.py
Due: auto-generate-documentation, service-sync-ui-v2-openapi

Allow specifying the key for an existing Kuberentes worker API auth string secret
  src/integrations/prefect-kubernetes/prefect_kubernetes/settings.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Due: none

fix docstrings and regenerate docs
  docs/v3/api-ref/python/prefect-blocks-abstract.mdx
  docs/v3/api-ref/python/prefect-blocks-core.mdx
  docs/v3/api-ref/python/prefect-blocks-system.mdx
  docs/v3/api-ref/python/prefect-blocks-webhook.mdx
  docs/v3/api-ref/python/prefect-cli-artifact.mdx
  docs/v3/api-ref/python/prefect-cli-deployment.mdx
  docs/v3/api-ref/python/prefect-events-cli-automations.mdx
  docs/v3/api-ref/python/prefect-filesystems.mdx
  docs/v3/api-ref/python/prefect-utilities-templating.mdx
  src/prefect/blocks/core.py
  src/prefect/cli/artifact.py
  src/prefect/cli/deployment.py
  src/prefect/events/cli/automations.py
  src/prefect/utilities/templating.py
Due: none

Fix docstrings and regenerate SDK docs (#18579)
  docs/v3/api-ref/python/prefect-blocks-abstract.mdx
  docs/v3/api-ref/python/prefect-blocks-core.mdx
  docs/v3/api-ref/python/prefect-blocks-system.mdx
  docs/v3/api-ref/python/prefect-blocks-webhook.mdx
  docs/v3/api-ref/python/prefect-cli-artifact.mdx
  docs/v3/api-ref/python/prefect-cli-deployment.mdx
  docs/v3/api-ref/python/prefect-events-cli-automations.mdx
  docs/v3/api-ref/python/prefect-filesystems.mdx
  docs/v3/api-ref/python/prefect-utilities-templating.mdx
  src/prefect/blocks/core.py
  src/prefect/cli/artifact.py
  src/prefect/cli/deployment.py
  src/prefect/events/cli/automations.py
  src/prefect/utilities/templating.py
Due: none

fix example rendering in CLI ref
  docs/v3/api-ref/cli/artifact.mdx
  docs/v3/api-ref/cli/automation.mdx
  docs/v3/api-ref/cli/automations.mdx
  docs/v3/api-ref/cli/concurrency-limit.mdx
  docs/v3/api-ref/cli/concurrency-limits.mdx
  docs/v3/api-ref/cli/deployment.mdx
  docs/v3/api-ref/cli/deployments.mdx
  docs/v3/api-ref/cli/dev.mdx
  docs/v3/api-ref/cli/event.mdx
  docs/v3/api-ref/cli/events.mdx
  docs/v3/api-ref/cli/flow.mdx
  docs/v3/api-ref/cli/flows.mdx
  docs/v3/api-ref/cli/gcl.mdx
  docs/v3/api-ref/cli/global-concurrency-limit.mdx
  docs/v3/api-ref/cli/server.mdx
  docs/v3/api-ref/cli/task.mdx
  docs/v3/api-ref/cli/variable.mdx
  docs/v3/api-ref/cli/work-pool.mdx
  scripts/generate_cli_docs.py
  scripts/templates/docs_template.jinja
  src/prefect/cli/deployment.py
Due: none

Start the deployment section
  docs/v3/get-started/slow-start.mdx
Due: none

fix example rendering in CLI ref (#18580)
  docs/v3/api-ref/cli/artifact.mdx
  docs/v3/api-ref/cli/automation.mdx
  docs/v3/api-ref/cli/automations.mdx
  docs/v3/api-ref/cli/concurrency-limit.mdx
  docs/v3/api-ref/cli/concurrency-limits.mdx
  docs/v3/api-ref/cli/deployment.mdx
  docs/v3/api-ref/cli/deployments.mdx
  docs/v3/api-ref/cli/dev.mdx
  docs/v3/api-ref/cli/event.mdx
  docs/v3/api-ref/cli/events.mdx
  docs/v3/api-ref/cli/flow.mdx
  docs/v3/api-ref/cli/flows.mdx
  docs/v3/api-ref/cli/gcl.mdx
  docs/v3/api-ref/cli/global-concurrency-limit.mdx
  docs/v3/api-ref/cli/server.mdx
  docs/v3/api-ref/cli/task.mdx
  docs/v3/api-ref/cli/variable.mdx
  docs/v3/api-ref/cli/work-pool.mdx
  scripts/generate_cli_docs.py
  scripts/templates/docs_template.jinja
  src/prefect/cli/deployment.py
Due: none

Update failing test
  tests/server/models/deprecated/test_work_queues.py
Due: none

fix: allow automations notify when triggers service is disabled (#18577)
  src/prefect/server/events/models/automations.py
Due: auto-generate-documentation, service-sync-ui-v2-openapi

Implement WorkPoolCreateWizard component migration from Vue to React
  ui-v2/src/api/work-pools/index.ts
  ui-v2/src/api/work-pools/work-pools.ts
  ui-v2/src/components/work-pools/create/index.ts
  ui-v2/src/components/work-pools/create/work-pool-create-wizard.stories.tsx
  ui-v2/src/components/work-pools/create/work-pool-create-wizard.test.tsx
  ui-v2/src/components/work-pools/create/work-pool-create-wizard.tsx
  ui-v2/src/routes/work-pools/create.tsx
Due: check-ui-v2

Remove automatic secret creation for API auth string
  src/integrations/prefect-kubernetes/prefect_kubernetes/settings.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Due: none
