Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Update the countsFilter query
  orion-ui/src/views/Dashboard.vue
Due: none

Remove unused store variable
  orion-ui/src/views/Dashboard.vue
Due: none

Added ECS Agent TestAgentRunTaskKwargsPath test and TestGetRunTaskKwargs test cases for capacityProviderStrategy
  src/prefect/agent/ecs/agent.py
  tests/agent/test_ecs_agent.py
Due: black, flake8

black formatting
  src/prefect/tasks/airbyte/__init__.py
  src/prefect/tasks/airbyte/airbyte.py
  tests/tasks/airbyte/test_airbyte.py
Due: black, flake8

Merge pull request #1001 from PrefectHQ/2.0a11-release-notes
  RELEASE-NOTES.md
Due: none

Documentation tests
  src/prefect/tasks/fivetran/fivetran.py
Due: black, flake8

Click on list item buttons to add filters
  orion-ui/packages/orion-design/src/services/FilterUrlService.ts
  orion-ui/src/components/Global/List/ListItemFlow/ListItemFlow.vue
  orion-ui/src/components/Global/List/ListItemFlowRun/ListItemFlowRun.vue
Due: none

fixed filters service to more closely match pleeks upcoming changes
  orion-ui/packages/orion-design/src/services/Filter.ts
  orion-ui/packages/orion-design/src/types/filters/server-types.ts
  orion-ui/packages/orion-design/src/utilities/filters.ts
Due: none

changelog & docs
  changes/pr5410.yaml
  docs/outline.toml
Due: none

Update the list items to use the new filters for their queries.
  orion-ui/src/components/Global/List/ListItemFlow/ListItemFlow.vue
  orion-ui/src/components/Global/List/ListItemFlowRun/ListItemFlowRun.vue
  orion-ui/src/components/Global/List/ListItemSubFlowRun/ListItemSubFlowRun.vue
Due: none

added Flow class and IFlow interface to orion-design
  orion-ui/packages/orion-design/src/models/Flow.ts
Due: none

Update src/prefect/tasks/airbyte/airbyte.py
  src/prefect/tasks/airbyte/airbyte.py
Due: black, flake8

added description to airbyte_base_url
  src/prefect/tasks/airbyte/airbyte.py
Due: black, flake8

Update tests/test_flow_runners.py
  tests/test_flow_runners.py
Due: black

Resolve limits using dynamic settings
  src/prefect/client.py
  src/prefect/logging/configuration.py
  src/prefect/orion/api/concurrency_limits.py
  src/prefect/orion/api/dependencies.py
  src/prefect/orion/api/deployments.py
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/api/flows.py
  src/prefect/orion/api/logs.py
  src/prefect/orion/api/saved_searches.py
  src/prefect/orion/api/task_runs.py
Due: black, flake8

Removing network config for capacity provider and dropping capacity provider if launch type is set in run_task_kwargs
  src/prefect/agent/ecs/agent.py
Due: black, flake8

Adding additional tests
  tests/agent/test_ecs_agent.py
Due: black

Formatting
  src/prefect/agent/ecs/agent.py
  tests/agent/test_ecs_agent.py
Due: black, flake8

Refactor services usage of settings to load from context
  src/prefect/orion/api/dependencies.py
  src/prefect/orion/api/server.py
  src/prefect/orion/database/dependencies.py
  src/prefect/orion/services/late_runs.py
  src/prefect/orion/services/loop_service.py
  src/prefect/orion/services/scheduler.py
  src/prefect/orion/utilities/database.py
  tests/orion/services/test_loop_service.py
  tests/orion/services/test_scheduler.py
Due: black, flake8

Defer FastAPI app creation
  docs/api-ref/rest-api.md
  src/prefect/cli/dev.py
  src/prefect/client.py
  src/prefect/orion/api/server.py
  tests/fixtures/api.py
  tests/orion/test_app.py
Due: black, flake8

Include the `map_index` in the default `create_flow_run` idempotency key to support local flow run mapping
  src/prefect/tasks/prefect/flow_run.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: ^src/prefect/ and \.py$
