Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-mintlify-openapi-docs, generate-settings-schema, generate-settings-ref, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.2.1"
    hooks:
      - id: ruff
        language_version: python3
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        exclude: package-lock.json|_vendor/.*|docs/styles/.*
  - repo: https://github.com/netromdk/vermin
    rev: v1.6.0
    hooks:
      - id: vermin
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=1.10.0,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0
          - types-cachetools==5.3.0.5
          - types-pyyaml==6.0.12.9
        files: |
          (?x)^(
            src/prefect/server/models/.*|
            src/prefect/concurrency/.*|
            src/prefect/events/.*|
            src/prefect/input/.*
          )$
  - repo: local
    hooks:
      - id: type-completeness-check
        name: Type Completeness Check
        language: system
        entry: uv run --with pyright pyright --ignoreexternal --verifytypes prefect
        pass_filenames: false
      - id: generate-mintlify-openapi-docs
        name: Generating OpenAPI docs for Mintlify
        language: system
        entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_mintlify_openapi_docs.py
        pass_filenames: false
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              scripts/generate_mintlify_openapi_docs.py
          )$
      - id: generate-settings-schema
        name: Generating Settings Schema
        language: system
        entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_schema.py
        pass_filenames: false
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              src/prefect/settings/models/.*|
              scripts/generate_settings_schema.py
          )$
      - id: generate-settings-ref
        name: Generating Settings Reference
        language: system
        entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_ref.py
        pass_filenames: false
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              src/prefect/settings/models/.*|
              scripts/generate_settings_ref.py
          )$
      - id: lint-ui-v2
        name: Lint UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            "cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run lint",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: format-ui-v2
        name: Format UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            "cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run format",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: service-sync-ui-v2-openapi
        name: Sync UI v2 OpenAPI
        language: system
        entry: sh
        args:
          [
            "-c",
            "cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run service-sync",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              src/prefect/server/utilities/schemas/.*|
              ui-v2/package.json
          )$
        pass_filenames: false

Update graphs
  ui-v2/package-lock.json
  ui-v2/package.json
Due: lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

[ui-v2] Update graphs (#17353)
  ui-v2/package-lock.json
  ui-v2/package.json
Due: lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

Remove stale test
  tests/workers/test_base_worker.py
Due: none

Run state update in the same loop
  src/prefect/runner/runner.py
Due: none

Fix #17126, do not target abstract class for Pydantic validation
  src/prefect/server/events/schemas/automations.py
  src/prefect/server/utilities/messaging/memory.py
  tests/events/server/conftest.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

Fix #17126, do not target abstract class for Pydantic validation
  tests/events/server/actions/test_actions_service.py
  tests/events/server/conftest.py
Due: none

Propagate trace context from user app to `run_deployment` (#16812)
  src/prefect/deployments/flow_runs.py
  src/prefect/telemetry/run_telemetry.py
  tests/deployment/test_flow_runs.py
Due: none

Cancel runs if the deployment was deleted (#17313)
  src/prefect/workers/base.py
  tests/workers/test_base_worker.py
Due: none

[ui-v2] Ignore `node_modules` and `dist` from biome config (#17314)
  ui-v2/biome.json
Due: lint-ui-v2, format-ui-v2

Start adding api support
  ui-v2/src/components/flow-runs/flow-run-graph/flow-run-graph.tsx
  ui-v2/src/components/flow-runs/flow-run-graph/utilities.ts
Due: lint-ui-v2, format-ui-v2

Fix the generated types
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/server/api/ui/schemas.py
  ui-v2/src/api/prefect.ts
Due: generate-mintlify-openapi-docs, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

Fix typescript types to match correct api types
  ui-v2/src/components/schemas/utilities/validate.ts
Due: lint-ui-v2, format-ui-v2

fix branch name with slash
  src/prefect/runner/storage.py
  tests/runner/test_storage.py
Due: none

extraneous comment
  src/prefect/runner/storage.py
Due: none

fix `git_clone` where branch name has forward-slash (#17359)
  src/prefect/runner/storage.py
  tests/runner/test_storage.py
Due: none

add helm tutorial
  docs/mint.json
  docs/v3/tutorials/server-and-worker.mdx
Due: none

WIP on craig/eng-1518-flow-run-graph
  ui-v2/src/components/flow-runs/flow-run-graph/utilities.ts
Due: lint-ui-v2, format-ui-v2

Add the response text for failing assertions
  tests/server/orchestration/api/ui/test_schemas.py
Due: none

update venv
  docs/v3/tutorials/server-and-worker.mdx
Due: none

Fix mapping types
  ui-v2/src/components/flow-runs/flow-run-graph/utilities.ts
Due: lint-ui-v2, format-ui-v2

Update docs/v3/tutorials/server-and-worker.mdx
  docs/v3/tutorials/server-and-worker.mdx
Due: none

badge
  ui-v2/src/components/ui/badge/badge.tsx
Due: lint-ui-v2, format-ui-v2

Upgrade typography
  ui-v2/src/components/ui/typography/typography.tsx
Due: lint-ui-v2, format-ui-v2

minor fixes
  docs/v3/tutorials/server-and-worker.mdx
Due: none
