Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-mintlify-openapi-docs, generate-settings-schema, generate-settings-ref, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

generate-mintlify-openapi-docs:
  name: Generating OpenAPI docs for Mintlify
  language: system
  entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_mintlify_openapi_docs.py
  pass_filenames: false

generate-settings-schema:
  name: Generating Settings Schema
  language: system
  entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_schema.py
  pass_filenames: false

generate-settings-ref:
  name: Generating Settings Reference
  language: system
  entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_ref.py
  pass_filenames: false

lint-ui-v2:
  name: Lint UI v2
  language: system
  entry: sh
  args:
  - -c
  - cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run lint
  pass_filenames: false

format-ui-v2:
  name: Format UI v2
  language: system
  entry: sh
  args:
  - -c
  - cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run format
  pass_filenames: false

service-sync-ui-v2-openapi:
  name: Sync UI v2 OpenAPI
  language: system
  entry: sh
  args:
  - -c
  - cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run service-sync
  pass_filenames: false

fix namespace, adjust for breaking changes, consistency on naming
  docs/v3/tutorials/server-and-worker.mdx
Due: none

username and password
  docs/v3/tutorials/server-and-worker.mdx
Due: none

fix namespace ref
  docs/v3/tutorials/server-and-worker.mdx
Due: none

fix wording:
  docs/v3/tutorials/server-and-worker.mdx
Due: none

description to match the format of other tutorials
  docs/v3/tutorials/server-and-worker.mdx
Due: none

remove probes, update values file name
  docs/v3/tutorials/server-and-worker.mdx
Due: none

lowercase s & w
  docs/v3/tutorials/server-and-worker.mdx
Due: none

a not the
  docs/v3/tutorials/server-and-worker.mdx
Due: none

more cosmetic changes
  docs/v3/tutorials/server-and-worker.mdx
Due: none

remove get started
  docs/v3/tutorials/server-and-worker.mdx
Due: none

fix linting lifecycle
  .pre-commit-config.yaml
  ui-v2/orval.config.cjs
  ui-v2/package.json
Due: generate-mintlify-openapi-docs, generate-settings-schema, generate-settings-ref, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

Add stories for all work pool types
  ui-v2/src/components/work-pools/work-pool-card/work-pool-card.stories.tsx
  ui-v2/src/components/work-pools/work-pool-card/work-pool-card.tsx
Due: lint-ui-v2, format-ui-v2

Add mocker
  ui-v2/src/components/work-pools/work-pool-card/components/work-pool-type-badge.stories.tsx
  ui-v2/src/components/work-pools/work-pool-card/work-pool-card.stories.tsx
  ui-v2/src/mocks/create-fake-work-pool-type.ts
  ui-v2/src/mocks/create-fake-work-pool.ts
Due: lint-ui-v2, format-ui-v2

Fix vertex-ai type
  ui-v2/src/components/work-pools/constants.ts
Due: lint-ui-v2, format-ui-v2

Add some defaults
  ui-v2/src/components/work-pools/work-pool-card/components/work-pool-type-badge.tsx
Due: lint-ui-v2, format-ui-v2

Add route for work pool create
  ui-v2/src/components/work-pools/header.tsx
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/work-pools/create.tsx
Due: lint-ui-v2, format-ui-v2

Update worker to configure SIGTERM handling for Runner when needed
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Due: none

Add basic search functionality
  ui-v2/src/routes/work-pools/index.tsx
Due: lint-ui-v2, format-ui-v2

Bump up query limit to account for lack of pagination
  ui-v2/src/routes/work-pools/index.tsx
Due: lint-ui-v2, format-ui-v2

Add status to searchable terms
  ui-v2/src/routes/work-pools/index.tsx
Due: lint-ui-v2, format-ui-v2

Add some hooks for pausing/resuming work pools
  ui-v2/src/api/work-pools/index.ts
  ui-v2/src/api/work-pools/work-pools.ts
  ui-v2/src/components/work-pools/work-pool-card/work-pool-card.tsx
  ui-v2/src/hooks/work-pools.ts
Due: lint-ui-v2, format-ui-v2

Update existing integration test
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/test_eviction.py
Due: none

Update failing test and pin test docker image
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/test_eviction.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
Due: none

Try to wait for flow to be in `RUNNING`
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/test_eviction.py
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/utils/prefect_core.py
Due: none

Add prefect api url job variable
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/test_eviction.py
Due: none

Try a different host
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/test_eviction.py
Due: none

init
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/server/api/flow_runs.py
  ui-v2/orval.config.cjs
  ui-v2/package.json
  ui-v2/src/api/zod/admin/admin.ts
  ui-v2/src/api/zod/artifacts/artifacts.ts
  ui-v2/src/api/zod/automations/automations.ts
  ui-v2/src/api/zod/block-capabilities/block-capabilities.ts
  ui-v2/src/api/zod/block-documents/block-documents.ts
  ui-v2/src/api/zod/block-schemas/block-schemas.ts
  ui-v2/src/api/zod/block-types/block-types.ts
  ui-v2/src/api/zod/collections/collections.ts
  ui-v2/src/api/zod/concurrency-limits-v2/concurrency-limits-v2.ts
  ui-v2/src/api/zod/concurrency-limits/concurrency-limits.ts
  ui-v2/src/api/zod/default/default.ts
  ui-v2/src/api/zod/deployments/deployments.ts
  ui-v2/src/api/zod/events/events.ts
  ui-v2/src/api/zod/flow-run-notification-policies/flow-run-notification-policies.ts
  ui-v2/src/api/zod/flow-run-states/flow-run-states.ts
  ui-v2/src/api/zod/flow-runs/flow-runs.ts
  ui-v2/src/api/zod/flows/flows.ts
  ui-v2/src/api/zod/root/root.ts
  ui-v2/src/api/zod/saved-searches/saved-searches.ts
  ui-v2/src/api/zod/task-run-states/task-run-states.ts
  ui-v2/src/api/zod/task-runs/task-runs.ts
  ui-v2/src/api/zod/task-workers/task-workers.ts
  ui-v2/src/api/zod/ui/ui.ts
  ui-v2/src/api/zod/variables/variables.ts
  ui-v2/src/api/zod/work-pools/work-pools.ts
  ui-v2/src/api/zod/work-queues/work-queues.ts
Due: generate-mintlify-openapi-docs, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

Add timeout for state wait and try Docker IP
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/test_eviction.py
  src/integrations/prefect-kubernetes/integration_tests/src/prefect_kubernetes_integration_tests/utils/prefect_core.py
Due: none

Try and updated source
  src/integrations/prefect-kubernetes/integration_tests/pyproject.toml
Due: none

Fix install issue
  src/integrations/prefect-kubernetes/pyproject.toml
Due: none

Add `prefect` as an explict dependency
  src/integrations/prefect-kubernetes/integration_tests/pyproject.toml
  src/integrations/prefect-kubernetes/pyproject.toml
Due: none

Fetch full git history for correct version resolution
  .github/workflows/k8s-integration-tests.yaml
  src/integrations/prefect-kubernetes/integration_tests/pyproject.toml
Due: none

It's actually `fetch-depth`
  .github/workflows/k8s-integration-tests.yaml
Due: none

Remove unnecessary prompt condition (#17410)
  src/prefect/cli/deploy.py
Due: none

chore(docs): Minor updates and fixes on the Helm deployment tutorial (#17411)
  docs/v3/tutorials/server-and-worker.mdx
Due: none

Path conditions:
  generate-mintlify-openapi-docs: any of: (?x)^(
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    scripts/generate_mintlify_openapi_docs.py
)$

  generate-settings-schema: any of: (?x)^(
    .pre-commit-config.yaml|
    src/prefect/settings/models/.*|
    scripts/generate_settings_schema.py
)$

  generate-settings-ref: any of: (?x)^(
    .pre-commit-config.yaml|
    src/prefect/settings/models/.*|
    scripts/generate_settings_ref.py
)$

  lint-ui-v2: any of: (?x)^(
    .pre-commit-config.yaml|
    ui-v2/.*
)$

  format-ui-v2: any of: (?x)^(
    .pre-commit-config.yaml|
    ui-v2/.*
)$

  service-sync-ui-v2-openapi: any of: (?x)^(
    .pre-commit-config.yaml|
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    src/prefect/server/utilities/schemas/.*|
    ui-v2/package.json
)$

