Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Updated tests to support newer auth format over deprecated methods
  tests/tasks/secrets/test_vault_secret.py
Due: black

Blackify
  src/prefect/tasks/prefect/flow_run.py
Due: black, flake8

adding Discourse links
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docs/.vuepress/config.js
  docs/README.md
  docs/api/0.13.19/README.md
  docs/api/0.14.22/README.md
  docs/core/community.md
  docs/core/development/overview.md
  docs/index.md
Due: none

one more reference + changes yaml file
  README.md
  changes/pr5396.yaml
Due: none

Revisions based on feedback.
  docs/concepts/task-runners.md
Due: none

Update docs/orchestration/faq/faq.md
  docs/orchestration/faq/faq.md
Due: none

Adding Discourse links (#5396)
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  changes/pr5396.yaml
  docs/.vuepress/config.js
  docs/README.md
  docs/api/0.13.19/README.md
  docs/api/0.14.22/README.md
  docs/core/community.md
  docs/core/development/overview.md
  docs/index.md
Due: none

slight wording
  docs/orchestration/faq/faq.md
Due: none

Fix logging import
  src/prefect/flows.py
Due: black, flake8

Remove testing code
  orion-ui/packages/orion-design/src/store/filters.ts
Due: none

Sketch out storage block interface
  src/prefect/blocks/core.py
Due: black, flake8

Rename store folder to stores
  orion-ui/packages/orion-design/package.json
  orion-ui/packages/orion-design/src/index.ts
  orion-ui/packages/orion-design/src/stores/filters.ts
  orion-ui/packages/orion-design/src/stores/index.ts
Due: none

bumped orion-design version to 0.1.13
  orion-ui/packages/orion-design/package.json
Due: none

Add a time filter and use Required for certain types. Add isComplete type guard
  orion-ui/packages/orion-design/src/types/filters/flowRuns.ts
  orion-ui/packages/orion-design/src/types/filters/index.ts
  orion-ui/packages/orion-design/src/types/filters/taskRuns.ts
  orion-ui/packages/orion-design/src/utilities/filters.ts
Due: none

Add a service for converting filters to their string tag versions
  orion-ui/packages/orion-design/src/services/FilterTagService.ts
Due: none
