Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Enable fast exit from tests
  .github/workflows/python_tests.yaml
Due: none

Fix handling for relative sqlite paths and add explicit relative path to CI tests
  .github/workflows/python_tests.yaml
  src/prefect/flow_runners.py
Due: black, flake8

fixed typo
  src/prefect/client/client.py
Due: black, flake8

fixing broken API reference docs
  src/prefect/tasks/monte_carlo/monte_carlo_lineage.py
Due: black, flake8

flake8
  src/prefect/tasks/monte_carlo/client.py
  src/prefect/tasks/monte_carlo/monte_carlo_lineage.py
Due: black, flake8

Update monte_carlo_lineage.py
  src/prefect/tasks/monte_carlo/monte_carlo_lineage.py
Due: black, flake8

black
  src/prefect/tasks/monte_carlo/monte_carlo_lineage.py
Due: black, flake8

kwargs unnecessary in run()
  src/prefect/tasks/monte_carlo/monte_carlo_lineage.py
Due: black, flake8

endpoint test
  tests/tasks/dbt/test_dbt.py
Due: black

Add caption class back
  orion-ui/src/components/Global/List/ListItemDeployment/ListItemDeployment.vue
  orion-ui/src/components/Global/List/ListItemFlowRun/ListItemFlowRun.vue
  orion-ui/src/components/Global/List/ListItemTaskRun/ListItemTaskRun.vue
  orion-ui/src/views/FlowRun--views/Index.vue
Due: none

logo
  docs/.vuepress/public/logos/monte_carlo.png
  docs/core/task_library/overview.md
Due: none

Apply suggestions from Terry's review
  src/prefect/tasks/monte_carlo/monte_carlo_lineage.py
  tests/tasks/monte_carlo/test_monte_carlo_lineage.py
Due: black, flake8

flake8
  src/prefect/tasks/monte_carlo/monte_carlo_lineage.py
Due: black, flake8

Added 'firebolt' to setup.py file as an 'extra'
  setup.py
Due: black

verified badge
  docs/core/task_library/overview.md
Due: none

Update favicons to use current gradient logo.
  docs/.vuepress/public/favicon-16x16.png
  docs/.vuepress/public/favicon-32x32.png
  docs/.vuepress/public/favicon-96x96.png
  docs/.vuepress/public/favicon.ico
Due: none

Fix mounting of sqlite when a relative path is use
  src/prefect/flow_runners.py
  tests/test_flow_runners.py
Due: black, flake8

more tests
  tests/tasks/monte_carlo/test_monte_carlo_lineage.py
Due: black

Add semibold font weight to StateLabel
  orion-ui/src/components/Global/StateLabel/StateLabel.vue
Due: none

Add service markers to avoid slow tests with pytest
  tests/conftest.py
Due: black

Replaced custom code with StateLabel and Tags
  orion-ui/src/components/Global/List/ListItemSubFlowRun/ListItemSubFlowRun.vue
Due: none

Match local/container data location paths for compatbility
  setup.cfg
  src/prefect/flow_runners.py
  tests/test_flow_runners.py
Due: black, flake8

Update Settings.vue
  orion-ui/src/views/Settings.vue
Due: none

Cleanup message and add marks to environments
  tests/conftest.py
  tests/test_flow_runners.py
Due: black

Run tests in CI with all services
  .github/workflows/python_tests.yaml
Due: none

Remove example code
  tests/conftest.py
Due: black

Update container settings printout
  src/prefect/flow_runners.py
Due: black, flake8
