Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Fix flaky lateness test
  tests/orion/api/test_run_history.py
Due: black

Add 2.0.0a4 release notes
  RELEASE-NOTES.md
Due: none

Add affected CLI commands
  RELEASE-NOTES.md
Due: none

Add flow run cli to api reference
  mkdocs.yml
Due: none

Allow `Azure` storage to overwrite existing blobs (#5103)
  changes/pr5103.yaml
  src/prefect/storage/azure.py
  tests/backend/test_execution.py
  tests/storage/test_azure_storage.py
Due: black, flake8

Update verson title
  RELEASE-NOTES.md
Due: none

Grammar & language fixes from @tpdorsey and @billpalombi Thanks!
  RELEASE-NOTES.md
Due: none

Update selects to use SimpleSelect component
  orion-ui/src/components/FilterBar/Form--DateTime.vue
  orion-ui/src/components/Settings/StateColorModeSelector.vue
Due: none

Apply feedback from @jlowin
  RELEASE-NOTES.md
Due: none

Remove experimental labels from outline
  docs/outline.toml
Due: none

Remove experimental label for py3.9
  docs/core/getting_started/install.md
Due: none

Remove experimental labels from backend views
  docs/orchestration/flow-runs/inspection.md
  docs/orchestration/flow-runs/task-runs.md
  docs/orchestration/getting-started/install.md
  src/prefect/backend/flow.py
  src/prefect/backend/flow_run.py
  src/prefect/backend/task_run.py
  src/prefect/backend/tenant.py
Due: black, flake8

Update the `FlowView` to be more robust to serialized flow changes in the backend
  src/prefect/backend/flow.py
  tests/backend/test_flow.py
Due: black, flake8

Add changes/ entry
  changes/pr5116.yaml
Due: none

Move artifacts functions to `prefect.backend.artifacts`
  src/prefect/__init__.py
  src/prefect/artifacts.py
  src/prefect/backend/__init__.py
  tests/artifacts/test_artifacts.py
Due: black, flake8

Rename orm classes for clarity
  src/prefect/orion/database/interface.py
  src/prefect/orion/database/orm_models.py
Due: black, flake8

Update API reference
  docs/outline.toml
  src/prefect/artifacts.py
Due: black, flake8

Remove artifacts from sidebar
  docs/.vuepress/config.js
Due: none

Update internal uses of artifacts
  src/prefect/tasks/great_expectations/checkpoints.py
  src/prefect/tasks/prefect/flow_run.py
  tests/tasks/prefect/test_flow_run.py
Due: black, flake8

Resolve typo
  RELEASE-NOTES.md
Due: none

Add changes/ entry
  changes/pr5117.yaml
Due: none

Glob Task (#5077)
  changes/pr5077.yml
  docs/outline.toml
  src/prefect/tasks/files/__init__.py
  src/prefect/tasks/files/operations.py
  tests/tasks/files/test_operations.py
Due: black, flake8

Drop from args docstring because the docs tooling complains
  src/prefect/backend/flow.py
Due: black, flake8

Drop `flow` from test view
  tests/cli/test_run.py
Due: black

Actually commit the new files :D
  src/prefect/backend/artifacts.py
  tests/backend/test_artifacts.py
Due: black, flake8

Ignore line to long flake8 in old file
  src/prefect/artifacts.py
Due: black, flake8

Fixup tests
  tests/backend/test_artifacts.py
Due: black

Update src/prefect/backend/artifacts.py
  src/prefect/backend/artifacts.py
Due: black, flake8

Run release action workflow on tag push not creation
  .github/workflows/release.yaml
Due: none
