Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ui-v2, service-sync-ui-v2-openapi

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-push

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        language_version: python3
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: package-lock.json|_vendor/.*|docs/styles/.*
  # ty type checker (replacing mypy) - https://astral.sh/blog/ty
  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run ty check
        language: system
        pass_filenames: false
        always_run: true
        types: [python]
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.6.17
    hooks:
      - id: uv-lock

  - repo: local
    hooks:
      - id: check-ui-v2
        name: Check UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            ". $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run check:staged",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: service-sync-ui-v2-openapi
        name: Sync UI v2 OpenAPI
        language: system
        entry: sh
        args:
          [
            "-c",
            ". $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run service-sync",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              src/prefect/server/utilities/schemas/.*|
              ui-v2/package.json
          )$
        pass_filenames: false
        stages:
          - pre-push

Use idiomatic query data in WithoutOptionalMetaData story
  ui-v2/src/components/work-pools/create/infrastructure-type-step/infrastructure-type-step.stories.tsx
Due: check-ui-v2

Apply `retry_jitter_factor` in the task engine (#23222)
  src/prefect/task_engine.py
  tests/test_task_engine.py
Due: none

fix(tests): wait for LISTEN registration in automation notification test
  tests/events/server/models/test_automation_notifications.py
Due: none

fix(ui-v2 e2e): wait for Runs page URL sync instead of re-navigating
  ui-v2/e2e/runs/runs-flow-runs.spec.ts
Due: check-ui-v2

Import the worker query setting with the other CLI settings (OSS-8278)
  src/prefect/cli/worker.py
Due: none

Don't share the actions consumer's orchestration client with CSRF enabled
  src/prefect/server/events/actions.py
  tests/events/server/actions/test_running_deployment.py
Due: service-sync-ui-v2-openapi

Test that concurrent actions on a shared client keep their own attribution
  tests/events/server/actions/test_running_deployment.py
Due: none

Fix concurrency limit search and pagination beyond 200 entries (OSS-8282)
  src/prefect/server/api/concurrency_limits.py
  src/prefect/server/api/concurrency_limits_v2.py
  src/prefect/server/models/concurrency_limits.py
  src/prefect/server/models/concurrency_limits_v2.py
  src/prefect/server/schemas/filters.py
  src/prefect/server/schemas/responses.py
  tests/server/orchestration/api/test_concurrency_limits.py
  tests/server/orchestration/api/test_concurrency_limits_v2.py
  ui-v2/src/api/global-concurrency-limits/global-concurrency-limits.test.ts
  ui-v2/src/api/global-concurrency-limits/global-concurrency-limits.ts
  ui-v2/src/api/global-concurrency-limits/index.ts
  ui-v2/src/api/prefect.ts
  ui-v2/src/api/task-run-concurrency-limits/index.ts
  ui-v2/src/api/task-run-concurrency-limits/task-run-concurrency-limits.test.tsx
  ui-v2/src/api/task-run-concurrency-limits/task-run-concurrency-limits.ts
  ui-v2/src/components/concurrency/concurrency-limits-page.test.tsx
  ui-v2/src/components/concurrency/concurrency-limits-page.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-data-table/global-concurrency-limits-data-table.stories.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-data-table/global-concurrency-limits-data-table.test.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-data-table/global-concurrency-limits-data-table.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-view/index.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-data-table/task-run-concurrency-limits-data-table.stories.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-data-table/task-run-concurrency-limits-data-table.test.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-data-table/task-run-concurrency-limits-data-table.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-view/index.tsx
  ui-v2/src/routes/concurrency-limits/index.tsx
  ui-v2/tests/utils/handlers.ts
Due: check-ui-v2, service-sync-ui-v2-openapi

Address concurrency pagination review findings (OSS-8282)
  src/prefect/server/api/concurrency_limits.py
  src/prefect/server/models/concurrency_limits.py
  src/prefect/server/models/concurrency_limits_v2.py
  src/prefect/server/schemas/filters.py
  tests/server/orchestration/api/test_concurrency_limits.py
  tests/server/orchestration/api/test_concurrency_limits_v2.py
  ui-v2/src/api/global-concurrency-limits/global-concurrency-limits.test.ts
  ui-v2/src/api/global-concurrency-limits/global-concurrency-limits.ts
  ui-v2/src/api/prefect.ts
  ui-v2/src/api/task-run-concurrency-limits/task-run-concurrency-limits.test.tsx
  ui-v2/src/api/task-run-concurrency-limits/task-run-concurrency-limits.ts
  ui-v2/src/components/concurrency/concurrency-limits-page.test.tsx
  ui-v2/src/routes/concurrency-limits/index.tsx
Due: check-ui-v2, service-sync-ui-v2-openapi

Stabilize two verified baseline CI flakes (OSS-8282)
  tests/events/server/models/test_automation_notifications.py
  ui-v2/src/components/flow-runs/flow-run-card/flow-run-card.test.tsx
Due: check-ui-v2

Avoid hidden-tab concurrency count requests (OSS-8282)
  ui-v2/src/components/concurrency/concurrency-limits-page.test.tsx
  ui-v2/src/routes/concurrency-limits/index.tsx
Due: check-ui-v2

Preserve init=False dataclass fields in visit_collection
  src/prefect/utilities/collections.py
  tests/test_futures.py
  tests/utilities/test_collections.py
Due: none

Preserve init=False dataclass fields in visit_collection (OSS-8283)
  src/prefect/utilities/collections.py
  tests/test_futures.py
  tests/utilities/test_collections.py
Due: none

Align flow runs timeline ticks to local time boundaries
  ui-v2/src/components/flow-runs/flow-runs-scatter-plot/flow-runs-scatter-plot.test.tsx
  ui-v2/src/components/flow-runs/flow-runs-scatter-plot/scatter-plot-utils.ts
Due: check-ui-v2

Handle DST transitions in local time ticks
  ui-v2/src/components/flow-runs/flow-runs-scatter-plot/flow-runs-scatter-plot.test.tsx
  ui-v2/src/components/flow-runs/flow-runs-scatter-plot/scatter-plot-utils.ts
Due: check-ui-v2

Find the first hour tick without a local time setter
  ui-v2/src/components/flow-runs/flow-runs-scatter-plot/scatter-plot-utils.ts
Due: check-ui-v2

Update classifiers in all the integrations
  src/integrations/prefect-aws/pyproject.toml
  src/integrations/prefect-azure/pyproject.toml
  src/integrations/prefect-bitbucket/pyproject.toml
  src/integrations/prefect-dask/pyproject.toml
  src/integrations/prefect-databricks/pyproject.toml
  src/integrations/prefect-dbt/pyproject.toml
  src/integrations/prefect-docker/pyproject.toml
  src/integrations/prefect-email/pyproject.toml
  src/integrations/prefect-gcp/pyproject.toml
  src/integrations/prefect-github/pyproject.toml
  src/integrations/prefect-gitlab/pyproject.toml
  src/integrations/prefect-kubernetes/pyproject.toml
  src/integrations/prefect-ray/pyproject.toml
  src/integrations/prefect-redis/pyproject.toml
  src/integrations/prefect-shell/pyproject.toml
  src/integrations/prefect-slack/pyproject.toml
  src/integrations/prefect-snowflake/pyproject.toml
  src/integrations/prefect-sqlalchemy/pyproject.toml
Due: none

Remove Python 3.13 skip for prefect-ray in CI matrix
  scripts/generate_integration_package_tests_matrix.py
Due: none

Stop the async flow engine from blocking its event loop on the suspension observer
  src/prefect/AGENTS.md
  src/prefect/_flow_run_suspension.py
  src/prefect/flow_engine.py
  tests/test_flow_engine.py
  tests/test_observers.py
Due: none

Allow sorting task runs by duration
  src/prefect/client/schemas/sorting.py
  src/prefect/server/schemas/sorting.py
  tests/server/models/test_task_runs.py
  ui-v2/src/api/prefect.ts
  ui-v2/src/components/flow-runs/flow-run-details-page/flow-run-task-runs.test.tsx
  ui-v2/src/components/task-runs/task-runs-list/task-run-sort-filter.constants.ts
  ui-v2/src/components/task-runs/task-runs-list/task-run-sort-filter.stories.tsx
  ui-v2/src/components/task-runs/task-runs-list/task-run-sort-filter.test.tsx
  ui-v2/src/components/task-runs/task-runs-list/task-run-sort-filter.tsx
Due: check-ui-v2, service-sync-ui-v2-openapi

Sync ui-v2 OpenAPI types
  ui-v2/src/api/prefect.ts
Due: check-ui-v2

fix(client): parse Retry-After headers instead of casting them to float
  src/prefect/client/base.py
  tests/client/test_base_client.py
Due: none

fix(client): parse HTTP-date and invalid Retry-After headers instead of crashing
  src/prefect/client/base.py
  tests/client/test_base_client.py
Due: none

test: freeze clock in HTTP-date Retry-After test (OSS-8289)
  tests/client/test_base_client.py
Due: none

fix(client): drop unreachable Retry-After branches flagged by pyright
  src/prefect/client/base.py
Due: none

Resolve API route dependencies on the event loop
  src/prefect/server/api/admin.py
  src/prefect/server/api/artifacts.py
  src/prefect/server/api/automations.py
  src/prefect/server/api/block_capabilities.py
  src/prefect/server/api/block_documents.py
  src/prefect/server/api/block_schemas.py
  src/prefect/server/api/block_types.py
  src/prefect/server/api/concurrency_limits.py
  src/prefect/server/api/concurrency_limits_v2.py
  src/prefect/server/api/csrf_token.py
  src/prefect/server/api/dependencies.py
  src/prefect/server/api/deployments.py
  src/prefect/server/api/events.py
  src/prefect/server/api/flow_run_states.py
  src/prefect/server/api/flow_runs.py
  src/prefect/server/api/flows.py
  src/prefect/server/api/logs.py
  src/prefect/server/api/root.py
  src/prefect/server/api/saved_searches.py
  src/prefect/server/api/task_run_states.py
  src/prefect/server/api/task_runs.py
  src/prefect/server/api/ui/flow_runs.py
  src/prefect/server/api/ui/flows.py
  src/prefect/server/api/ui/schemas.py
  src/prefect/server/api/ui/task_runs.py
  src/prefect/server/api/variables.py
  src/prefect/server/api/work_queues.py
  src/prefect/server/api/workers.py
  src/prefect/server/database/__init__.py
  src/prefect/server/database/dependencies.py
  tests/server/api/test_dependencies.py
Due: service-sync-ui-v2-openapi

Cache Redis messaging publisher settings
  src/integrations/prefect-redis/prefect_redis/messaging.py
  src/integrations/prefect-redis/tests/conftest.py
  src/integrations/prefect-redis/tests/test_messaging.py
Due: none

fix: pass the configured botname to NotifyMattermost
  src/prefect/blocks/notifications.py
  tests/blocks/test_notifications.py
Due: none

test: assert the botname reaches the outgoing Mattermost payload
  tests/blocks/test_notifications.py
Due: none

Pass botname and Prefect asset to Mattermost notifier (OSS-8290)
  src/prefect/blocks/notifications.py
  tests/blocks/test_notifications.py
Due: none

clear in-process retry marker when SIGTERM reschedules a flow run
  src/prefect/cli/flow_run.py
  tests/cli/test_flow_run.py
Due: none

Don't return a stopped service from QueueService.instance()
  src/prefect/_internal/concurrency/services.py
  tests/_internal/concurrency/test_services.py
Due: none

Keep the worker healthcheck healthy while the API is in maintenance
  docs/v3/advanced/worker-healthchecks.mdx
  src/prefect/client/base.py
  src/prefect/testing/fixtures.py
  src/prefect/workers/base.py
  tests/client/test_base_client.py
  tests/workers/test_base_worker.py
Due: none

Check the CLI healthcheck from the maintenance wait itself (OSS-8278)
  tests/cli/test_worker.py
Due: none

Serve the worker healthcheck before the CLI's pool checks (OSS-8278)
  docs/v3/advanced/worker-healthchecks.mdx
  src/prefect/cli/worker.py
  src/prefect/workers/base.py
  src/prefect/workers/server.py
  tests/cli/test_worker.py
  tests/workers/test_base_worker.py
Due: none

Fix pyright errors in server_maintenance (OSS-8278)
  src/prefect/_internal/server_maintenance.py
  tests/client/test_base_client.py
  tests/workers/test_base_worker.py
Due: none

Count the worker health window from the end of the last maintenance back-off
  docs/v3/advanced/worker-healthchecks.mdx
  src/prefect/_internal/server_maintenance.py
  src/prefect/client/base.py
  src/prefect/workers/base.py
  tests/client/test_base_client.py
  tests/workers/test_base_worker.py
Due: none

Bound the CLI healthcheck startup wait in the test (OSS-8278)
  tests/cli/test_worker.py
Due: none

Keep seconds selectable in DurationInput when min is sub-minute (OSS-8272)
  ui-v2/src/components/ui/duration-input/duration-input.test.tsx
  ui-v2/src/components/ui/duration-input/index.tsx
Due: check-ui-v2
