Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Add deployment CLI outline
  src/prefect/cli/__init__.py
  src/prefect/cli/base.py
  src/prefect/cli/deployments.py
  src/prefect/cli/run.py
Due: black, flake8

Add requirements
  requirements.txt
Due: none

Mark orchestration rules as not applied
  tests/orion/models/test_flow_run_states.py
Due: black

Minor CLI cleanup
  src/prefect/cli/deployments.py
  src/prefect/cli/run.py
Due: black, flake8

Ensure full state models are used everywhere
  src/prefect/orion/api/flow_run_states.py
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/api/task_run_states.py
  src/prefect/orion/api/task_runs.py
  src/prefect/orion/schemas/actions.py
  tests/fixtures/database.py
Due: black, flake8

:black_circle:
  tests/orion/orchestration/test_rules.py
Due: black

Update deployments to have a single schedule
  src/prefect/cli/deployments.py
  src/prefect/client.py
  src/prefect/orion/models/orm.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
Due: black, flake8

Unify OrchestrationContext interface across flows and tasks
  src/prefect/orion/models/flow_run_states.py
  src/prefect/orion/models/task_run_states.py
  src/prefect/orion/orchestration/rules.py
Due: black, flake8

Fix link to Prefect Server docs
  docs/orchestration/getting-started/set-up.md
Due: none

Update src/prefect/orion/schemas/filters.py
  src/prefect/orion/schemas/filters.py
Due: black, flake8

Begin refactoring rule tests
  tests/orion/orchestration/test_core_policy.py
Due: black

Replace filter with where
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/models/flows.py
  src/prefect/orion/models/task_runs.py
Due: black, flake8

Cleanup spite fixture
  tests/fixtures/api.py
Due: black

Refactor to load deployment specs from scripts
  src/prefect/cli/__init__.py
  src/prefect/cli/deployment.py
  src/prefect/cli/deployments.py
  src/prefect/cli/run.py
  src/prefect/deployments.py
  src/prefect/utilities/collections.py
  src/prefect/utilities/evaluation.py
Due: black, flake8

Make deployment names unique per flow
  src/prefect/orion/api/deployments.py
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/api/flows.py
  src/prefect/orion/api/task_runs.py
  src/prefect/orion/models/orm.py
  tests/orion/api/test_deployments.py
Due: black, flake8

Deployments have only one schedule
  src/prefect/orion/models/deployments.py
  src/prefect/orion/models/orm.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/schemas/schedules.py
  tests/fixtures/database.py
  tests/orion/models/test_deployments.py
  tests/orion/schemas/test_schedules.py
Due: black, flake8

update azure storage test, azure result exists()
  src/prefect/engine/results/azure_result.py
  src/prefect/storage/azure.py
  tests/storage/test_azure_storage.py
Due: black, flake8

update kwarg
  src/prefect/orion/models/deployments.py
Due: black, flake8

Schedule activity toggles
  src/prefect/orion/api/deployments.py
  src/prefect/orion/schemas/schedules.py
  tests/orion/api/test_deployments.py
Due: black, flake8
