Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

README cleanup
  README.md
Due: none

typos in the documentation
  docs/core/advanced_tutorials/calculator.md
  docs/core/advanced_tutorials/using-results.md
  docs/core/concepts/results.md
  docs/orchestration/agents/overview.md
  docs/orchestration/execution/storage_options.md
  docs/orchestration/flow-runs/creation.md
Due: none

Create pr 5019.yaml
  changes/pr 5019.yaml
Due: none

Add note about requirements
  docs/faq.md
Due: none

Update docs/faq.md
  docs/faq.md
Due: none

minor changes noticed when reading docs
  docs/core/advanced_tutorials/advanced-mapping.md
  docs/core/advanced_tutorials/dask-cluster.md
  docs/core/advanced_tutorials/using-results.md
  docs/core/concepts/states.md
  docs/core/faq.md
  docs/core/idioms/task-results.md
  docs/orchestration/agents/local.md
  docs/orchestration/concepts/flows.md
  docs/orchestration/flow-runs/overview.md
  src/prefect/client/secrets.py
Due: black, flake8

Target a specific version for miter-design to make future updates easier
  orion-ui/package.json
Due: none

Update the package lock
  orion-ui/package-lock.json
Due: none

Typos in the documentation (#5019)
  changes/pr 5019.yaml
  docs/core/advanced_tutorials/advanced-mapping.md
  docs/core/advanced_tutorials/calculator.md
  docs/core/advanced_tutorials/dask-cluster.md
  docs/core/advanced_tutorials/using-results.md
  docs/core/concepts/results.md
  docs/core/concepts/states.md
  docs/core/faq.md
  docs/core/idioms/task-results.md
  docs/orchestration/agents/local.md
  docs/orchestration/agents/overview.md
  docs/orchestration/concepts/flows.md
  docs/orchestration/execution/storage_options.md
  docs/orchestration/flow-runs/creation.md
  docs/orchestration/flow-runs/overview.md
  src/prefect/client/secrets.py
Due: black, flake8

Add schematics route that grabs all task runs and unwraps their dependencies
  src/prefect/orion/api/flow_runs.py
Due: black, flake8

Update src/prefect/tasks/notifications/email_task.py
  src/prefect/tasks/notifications/email_task.py
Due: black, flake8

Update changes/pull5012.yaml
  changes/pull5012.yaml
Due: none

Remove spite fixture
  tests/fixtures/api.py
  tests/orion/api/test_pagination.py
Due: black

Remove unused imports
  src/prefect/orion/api/flow_runs.py
Due: black, flake8

Fix typo in link
  docs/tutorials/orion.md
Due: none

Adding documentation to PR #4821
  docs/orchestration/server/deploy-local.md
Due: none

Create pr5022.yaml
  changes/pr5022.yaml
Due: none

Prevent run_id to be modified outside of run() method
  src/prefect/tasks/databricks/databricks_submitjob.py
Due: black, flake8

Create issue4958.yaml
  changes/issue4958.yaml
Due: none

Adding documentation to PR #4821 (#5022)
  changes/pr5022.yaml
  docs/orchestration/server/deploy-local.md
Due: none

Fix broken task-looping link
  docs/core/tutorial/07-next-steps.md
Due: none

Fix misleading docs
  docs/api/0.14.22/storage.md
Due: none

Reenable Windows checks
  .github/workflows/python_tests.yaml
Due: none

Fix broken doc link (#5024)
  docs/api/0.14.22/storage.md
  docs/core/tutorial/07-next-steps.md
Due: none

Temporarily remove misconfigured windows tests
  .github/workflows/python_tests.yaml
  .github/workflows/test_windows.yml
Due: none

Create empty circleci config
  .circleci/config.yml
Due: none

Use hello-world circle config
  .circleci/config.yml
Due: none

Temporarily remove misconfigured windows tests (#5026)
  .circleci/config.yml
  .github/workflows/python_tests.yaml
  .github/workflows/test_windows.yml
Due: none

Use id instead of task_run_id, to better match depenendcy payload
  src/prefect/orion/api/flow_runs.py
Due: black, flake8

Add custom accessors to radial schemaitc class
  orion-ui/src/components/Global/List/ListItem--Deployment/ListItem--Deployment.vue
  orion-ui/src/components/Global/ResultsLists/ResultsList.vue
  orion-ui/src/components/Schematic/Node.vue
  orion-ui/src/components/Schematic/Schematic.vue
  orion-ui/src/components/Schematic/util.ts
  orion-ui/src/plugins/api.ts
  orion-ui/src/typings/schematic.d.ts
  orion-ui/src/views/FlowRun--views/Schematic.vue
Due: none
