Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-mintlify-openapi-docs, generate-settings-schema, generate-settings-ref, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

generate-mintlify-openapi-docs:
  name: Generating OpenAPI docs for Mintlify
  language: system
  entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_mintlify_openapi_docs.py
  pass_filenames: false

generate-settings-schema:
  name: Generating Settings Schema
  language: system
  entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_schema.py
  pass_filenames: false

generate-settings-ref:
  name: Generating Settings Reference
  language: system
  entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_ref.py
  pass_filenames: false

lint-ui-v2:
  name: Lint UI v2
  language: system
  entry: sh
  args:
  - -c
  - cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run lint
  pass_filenames: false

format-ui-v2:
  name: Format UI v2
  language: system
  entry: sh
  args:
  - -c
  - cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run format
  pass_filenames: false

service-sync-ui-v2-openapi:
  name: Sync UI v2 OpenAPI
  language: system
  entry: sh
  args:
  - -c
  - cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run service-sync
  pass_filenames: false

Add tests and consolidate mocks
  ui-v2/src/api/deployments/deployments.test.ts
  ui-v2/src/api/flows/flows.test.ts
  ui-v2/src/api/flows/index.ts
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-header/task-run-concurrency-limit-header.stories.tsx
  ui-v2/src/components/deployments/data-table/data-table.stories.tsx
  ui-v2/src/components/ui/schedule-badge/schedule-badge-group.stories.tsx
  ui-v2/src/components/ui/schedule-badge/schedule-badge.stories.tsx
  ui-v2/src/mocks/create-fake-deployment.ts
  ui-v2/src/mocks/create-fake-schedule.ts
  ui-v2/src/mocks/index.ts
Due: lint-ui-v2, format-ui-v2

Fixes build errors
  ui-v2/src/components/deployments/data-table/data-table.test.tsx
  ui-v2/src/hooks/deployments/deployments.test.tsx
Due: lint-ui-v2, format-ui-v2

Fixes typing
  ui-v2/src/api/deployments/index.ts
  ui-v2/src/components/deployments/data-table/index.tsx
Due: lint-ui-v2, format-ui-v2

cleanup a few refs (#16586)
  src/prefect/client/orchestration/_deployments/client.py
  src/prefect/client/orchestration/_logs/client.py
  src/prefect/client/schemas/__init__.py
  src/prefect/states.py
Due: none

server side type cleaning (#16583)
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/client/orchestration/_deployments/client.py
  src/prefect/server/api/server.py
  src/prefect/server/api/validation.py
  src/prefect/server/schemas/core.py
  tests/server/orchestration/api/test_validation.py
  ui-v2/src/api/prefect.ts
Due: generate-mintlify-openapi-docs, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

rm missed heavy imports, don't forward ref python native types
  src/prefect/client/orchestration/_flow_runs/client.py
Due: none

remove old create_sla method
  src/prefect/client/orchestration/__init__.py
Due: none

remove unused import
  src/prefect/client/orchestration/__init__.py
Due: none

Update client.py
  src/prefect/client/orchestration/_flow_runs/client.py
Due: none

Fix linting errors
  ui-v2/src/mocks/index.ts
  ui-v2/src/routes/deployments/index.tsx
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Adds automations mutations (#16577)
  ui-v2/src/hooks/automations.test.ts
  ui-v2/src/hooks/automations.ts
  ui-v2/tests/utils/handlers.ts
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Adds AutomationsActionsMenu component (#16575)
  ui-v2/src/components/automations/automations-actions-menu/automations-actions-menu.stories.tsx
  ui-v2/src/components/automations/automations-actions-menu/automations-actions-menu.tsx
  ui-v2/src/components/automations/automations-actions-menu/index.ts
  ui-v2/src/components/ui/docs-link.tsx
  ui-v2/src/components/ui/docs-link/constants.ts
  ui-v2/src/components/ui/docs-link/docs-link.stories.tsx
  ui-v2/src/components/ui/docs-link/docs-link.tsx
  ui-v2/src/components/ui/docs-link/index.ts
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/automations/automation.$id.edit.ts
Due: lint-ui-v2, format-ui-v2

add annotations to flow
  src/prefect/flows.py
Due: none

rm flowclient inheritance
  src/prefect/client/orchestration/_flow_runs/client.py
Due: none

remove | None type
  src/prefect/cli/deploy.py
Due: none

Update settings-and-profiles.mdx
  docs/v3/develop/settings-and-profiles.mdx
Due: none

remove hardcoded docs link to localhost:3000 (#16591)
  docs/v3/develop/settings-and-profiles.mdx
Due: none

update to avoid pydantic bug
  src/prefect/_experimental/sla/objects.py
Due: none

[UI v2] chore: Moves RQ data to @/api
  ui-v2/src/api/automations/automations.test.ts
  ui-v2/src/api/automations/automations.ts
  ui-v2/src/api/automations/index.ts
  ui-v2/src/api/global-concurrency-limits/global-concurrency-limits.test.ts
  ui-v2/src/api/global-concurrency-limits/global-concurrency-limits.ts
  ui-v2/src/api/global-concurrency-limits/index.ts
  ui-v2/src/api/task-run-concurrency-limits/index.ts
  ui-v2/src/api/task-run-concurrency-limits/task-run-concurrency-limits.test.tsx
  ui-v2/src/api/task-run-concurrency-limits/task-run-concurrency-limits.ts
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-create-or-edit-dialog/global-concurrency-limits-create-or-edit-dialog.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-create-or-edit-dialog/use-create-or-edit-global-concurrency-limit-form.ts
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-data-table/actions-cell.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-data-table/active-cell.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-data-table/global-concurrency-limits-data-table.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-delete-dialog/global-concurrency-limits-delete-dialog.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-view/global-conccurency-limits-dialog.tsx
  ui-v2/src/components/concurrency/global-concurrency-limits/global-concurrency-limits-view/index.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-details/task-run-concurrency-limit-details.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-header/task-run-concurrency-limit-header.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-page/index.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-page/task-run-concurrency-limit-dialog.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-create-dialog/task-run-concurrency-limits-create-dialog.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-data-table/active-task-runs-cell.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-data-table/tag-cell.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-data-table/task-run-concurrency-limits-data-table.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-delete-dialog/task-run-concurrency-limits-delete-dialog.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-reset-dialog/task-run-concurrency-limits-reset-dialog.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-view/index.tsx
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limits-view/task-run-concurrency-limit-dialog.tsx
  ui-v2/src/routes/automations/automation.$id.ts
  ui-v2/src/routes/automations/index.ts
  ui-v2/src/routes/concurrency-limits/concurrency-limit.$id.tsx
  ui-v2/src/routes/concurrency-limits/index.tsx
Due: lint-ui-v2, format-ui-v2

Ensure unique flow IDs in loader
  ui-v2/src/routes/deployments/index.tsx
Due: lint-ui-v2, format-ui-v2

Update index.mdx
  docs/v3/get-started/index.mdx
Due: none

Refactor Flow and FlowRun CRUD methods in client (#16581)
  src/prefect/client/orchestration/__init__.py
  src/prefect/client/orchestration/_flow_runs/__init__.py
  src/prefect/client/orchestration/_flow_runs/client.py
  src/prefect/client/orchestration/_flows/__init__.py
  src/prefect/client/orchestration/_flows/client.py
Due: none

Populate deployments list with data (#16578)
  ui-v2/src/api/deployments/deployments.test.ts
  ui-v2/src/api/deployments/index.ts
  ui-v2/src/api/flows/flows.test.ts
  ui-v2/src/api/flows/index.ts
  ui-v2/src/components/concurrency/task-run-concurrency-limits/task-run-concurrency-limit-header/task-run-concurrency-limit-header.stories.tsx
  ui-v2/src/components/deployments/data-table/cells.tsx
  ui-v2/src/components/deployments/data-table/data-table.stories.tsx
  ui-v2/src/components/deployments/data-table/data-table.test.tsx
  ui-v2/src/components/deployments/data-table/index.tsx
  ui-v2/src/components/ui/schedule-badge/schedule-badge-group.stories.tsx
  ui-v2/src/components/ui/schedule-badge/schedule-badge.stories.tsx
  ui-v2/src/hooks/deployments/deployments.test.tsx
  ui-v2/src/hooks/deployments/index.ts
  ui-v2/src/mocks/create-fake-deployment.ts
  ui-v2/src/mocks/create-fake-schedule.ts
  ui-v2/src/mocks/index.ts
  ui-v2/src/routes/deployments/index.tsx
Due: lint-ui-v2, format-ui-v2

mark kwarg as experimental
  src/prefect/deployments/runner.py
Due: none

other one
  src/integrations/prefect-redis/prefect_redis/blocks.py
Due: none

Path conditions:
  generate-mintlify-openapi-docs: any of: (?x)^(
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    scripts/generate_mintlify_openapi_docs.py
)$

  generate-settings-schema: any of: (?x)^(
    .pre-commit-config.yaml|
    src/prefect/settings/models/.*|
    scripts/generate_settings_schema.py
)$

  generate-settings-ref: any of: (?x)^(
    .pre-commit-config.yaml|
    src/prefect/settings/models/.*|
    scripts/generate_settings_ref.py
)$

  lint-ui-v2: any of: (?x)^(
    .pre-commit-config.yaml|
    ui-v2/.*
)$

  format-ui-v2: any of: (?x)^(
    .pre-commit-config.yaml|
    ui-v2/.*
)$

  service-sync-ui-v2-openapi: any of: (?x)^(
    .pre-commit-config.yaml|
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    ui-v2/package.json
)$

