Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Properly test for new log names
  src/prefect/engine/runner.py
  tests/cli/test_heartbeat.py
  tests/utilities/test_threaded_heartbeat.py
Due: black, flake8

Use `time.sleep` instead of `Thread.join`
  tests/utilities/test_threaded_heartbeat.py
Due: black

Sleep longer to circumvent the race condition
  tests/utilities/test_threaded_heartbeat.py
Due: black

More fighting with race conditions
  tests/utilities/test_threaded_heartbeat.py
Due: black

Wait a bit for all heartbeat tests that send messages
  tests/utilities/test_threaded_heartbeat.py
Due: black

Isolate postgres tests
  .gitignore
  src/prefect/orion/models/orm.py
  tests/database_tests/__init__.py
  tests/database_tests/test_postgres.py
Due: black, flake8

Update relationships
  src/prefect/orion/models/orm.py
Due: black, flake8

Remove model refreshes
  src/prefect/orion/models/flow_run_states.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/models/task_run_states.py
  src/prefect/orion/models/task_runs.py
Due: black, flake8

Update run details when creating states
  src/prefect/orion/models/flow_run_states.py
  src/prefect/orion/models/orm.py
  src/prefect/orion/models/task_run_states.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/states.py
  tests/unit_tests/orion/models/test_flow_run_states.py
  tests/unit_tests/orion/models/test_task_run_states.py
Due: black, flake8

Add backend retries
  src/prefect/orion/api/task_runs.py
  src/prefect/orion/models/orm.py
  src/prefect/orion/models/task_run_states.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/schemas/responses.py
  src/prefect/orion/schemas/states.py
  src/prefect/orion/utilities/database.py
  src/prefect/orion/utilities/schemas.py
  tests/unit_tests/orion/api/test_task_runs.py
Due: black, flake8

:black_circle:
  src/prefect/orion/models/orm.py
Due: black, flake8

Remove accidental commit
  src/prefect/orion/schemas/core.py
  tests/unit_tests/orion/api/test_task_runs.py
  tests/unit_tests/orion/schemas/test_states.py
Due: black, flake8

Flag for applying orchestration
  src/prefect/orion/api/task_run_states.py
  src/prefect/orion/models/task_run_states.py
  tests/unit_tests/orion/models/test_task_run_states.py
Due: black, flake8

Update response signature
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/api/task_runs.py
  src/prefect/orion/schemas/responses.py
  tests/unit_tests/orion/api/test_flow_runs.py
  tests/unit_tests/orion/api/test_task_runs.py
  tests/unit_tests/test_client.py
Due: black, flake8

Update docstring
  src/prefect/orion/schemas/states.py
Due: black, flake8

Update src/prefect/orion/schemas/states.py
  src/prefect/orion/schemas/states.py
Due: black, flake8

Update metadata name to details
  src/prefect/orion/models/orm.py
Due: black, flake8

Refactor logging
  src/prefect/__init__.py
  src/prefect/utilities/collections.py
  src/prefect/utilities/logging.py
  src/prefect/utilities/logging.yml
  src/prefect/utilities/settings.py
  tests/unit_tests/utilities/test_collections.py
  tests/unit_tests/utilities/test_logging.py
Due: black, flake8

Add tests for `get_logger`
  src/prefect/utilities/logging.py
  tests/unit_tests/utilities/test_logging.py
Due: black, flake8

Add handling for special characters in logging config
  src/prefect/utilities/logging.py
  src/prefect/utilities/logging.yml
  tests/unit_tests/utilities/test_logging.py
Due: black, flake8

Remove walrus operator :(
  src/prefect/utilities/logging.py
Due: black, flake8

Renable logging at import
  src/prefect/__init__.py
Due: black, flake8

Update flow-to-flow.md
  docs/core/idioms/flow-to-flow.md
Due: none
