Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Update src/prefect/orion/utilities/functions.py
  src/prefect/orion/utilities/functions.py
Due: black, flake8

Update functions.py
  src/prefect/orion/utilities/functions.py
Due: black, flake8

Add json_dict method
  src/prefect/orion/api/schemas.py
Due: black, flake8

Add tests to ensure methods are converted properly
  tests/prefect/orion/utilities/test_functions.py
Due: black

Refactor schemas
  src/prefect/orion/api/__init__.py
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/api/flows.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/models/flows.py
  src/prefect/orion/schemas/__init__.py
  src/prefect/orion/schemas/api.py
  src/prefect/orion/schemas/inputs.py
  tests/prefect/orion/fixtures/database_fixtures.py
  tests/prefect/orion/models/test_flow_runs.py
  tests/prefect/orion/models/test_flows.py
Due: black, flake8

fix: reformat tabs title to fix code block syntax in doc (#4781)
  changes/issue4770.yaml
  docs/core/idioms/conditional.md
  docs/core/idioms/flow-to-flow.md
  docs/core/idioms/logging.md
  docs/core/idioms/mapping.md
  docs/core/idioms/notifications.md
  docs/core/idioms/parallel.md
  docs/core/idioms/resource-manager.md
  docs/core/idioms/secrets.md
  docs/core/idioms/targets.md
  docs/core/idioms/task-results.md
  docs/core/idioms/task-run-names.md
  docs/core/idioms/testing-flows.md
  docs/core/task_library/overview.md
  docs/orchestration/agents/ecs.md
  docs/orchestration/agents/overview.md
Due: none

Expose schedule activation from `prefect register` CLI (#4752)
  changes/pr4752.yaml
  src/prefect/cli/build_register.py
Due: black, flake8

Fix defunct heartbeat process (#4733)
  src/prefect/utilities/executors.py
Due: black, flake8

Add tests for expand_paths
  tests/cli/test_build_register.py
Due: black

fix query bug when getting all task runs (#4774)
  changes/pr4774.yaml
  src/prefect/backend/flow_run.py
  tests/backend/test_flow_run.py
Due: black, flake8

Add tests for `--no-schedule`
  tests/cli/test_build_register.py
Due: black

Cut changelog for 0.15.2
  CHANGELOG.md
  changes/issue4770.yaml
  changes/issue4773.yaml
  changes/pr4752.yaml
  changes/pr4767.yaml
  changes/pr4774.yaml
Due: none

Cleanup changelog [ci skip]
  CHANGELOG.md
Due: none

4648 prefect flow secrets from vault (#4656)
  setup.py
  src/prefect/tasks/secrets/vault_secret.py
  tests/tasks/secrets/__init__.py
  tests/tasks/secrets/test_vault_secret.py
Due: black, flake8

Add changelog entry for #4656
  CHANGELOG.md
Due: none

Drop debug level log (do not want to spam heartbeat logs to cloud
  src/prefect/cli/heartbeat.py
Due: black, flake8

Set context variables necessary for logging to Cloud
  src/prefect/cli/heartbeat.py
Due: black, flake8

fix crash if directory does not exist
  src/prefect/client/client.py
Due: black, flake8

Fix heartbeat logger name; add test to cover sending logs to cloud
  docs/core/idioms/logging.md
  src/prefect/cli/heartbeat.py
  tests/cli/test_heartbeat.py
Due: black, flake8

add test
  tests/client/test_client.py
Due: black

Allow `prefect build/register` paths to contain globs for recursion (#4761)
  changes/pr4761.yaml
  src/prefect/cli/build_register.py
  tests/cli/test_build_register.py
Due: black, flake8

Add changelog entry for #4733
  CHANGELOG.md
Due: none

Update tests/client/test_client.py
  tests/client/test_client.py
Due: black

changefile
  changes/pr4792.yaml
Due: none

black formatting
  tests/client/test_client.py
Due: black

Fix bug when auth_file does not exist (#4792)
  changes/pr4792.yaml
  src/prefect/client/client.py
  tests/client/test_client.py
Due: black, flake8

Include `host_spec` bind for win32 docker volumes
  src/prefect/agent/docker/agent.py
Due: black, flake8

Minor fixups before 0.15.2 (#4790)
  CHANGELOG.md
  changes/issue4770.yaml
  changes/issue4773.yaml
  changes/pr4752.yaml
  changes/pr4767.yaml
  changes/pr4774.yaml
  tests/cli/test_build_register.py
Due: black

Add created,updated to schema
  src/prefect/orion/api/dependencies.py
  src/prefect/orion/schemas/api.py
  src/prefect/orion/utilities/database.py
  tests/prefect/orion/api/test_flows.py
Due: black, flake8

Add examples
  src/prefect/orion/schemas/api.py
  src/prefect/orion/schemas/inputs.py
Due: black, flake8

Add route docstrings
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/api/flows.py
Due: black, flake8

WIP debug
  src/prefect/orion/utilities/database.py
  tests/prefect/orion/api/test_flows.py
Due: black, flake8
