Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ui-v2, service-sync-ui-v2-openapi

check-ui-v2:
  name: Check UI v2
  language: system
  entry: sh
  args:
  - -c
  - . $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run check:staged
  pass_filenames: false

service-sync-ui-v2-openapi:
  name: Sync UI v2 OpenAPI
  language: system
  entry: sh
  args:
  - -c
  - . $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run service-sync
  pass_filenames: false
  stages:
  - pre-push

chore: reset prefect.ts to main branch version
  ui-v2/src/api/prefect.ts
Due: check-ui-v2

fix: correct docket task function signatures for positional args
  src/prefect/server/services/cancellation_cleanup.py
  src/prefect/server/services/foreman.py
  src/prefect/server/services/late_runs.py
  src/prefect/server/services/pause_expirations.py
  src/prefect/server/services/repossessor.py
Due: none

regen schema
  ui-v2/src/api/prefect.ts
Due: check-ui-v2

fix: update docket to v0.12.0 release tag
  pyproject.toml
  uv.lock
Due: none

feat: convert pause_expirations, cancellation_cleanup, and repossessor to use docket
  src/prefect/server/services/cancellation_cleanup.py
  src/prefect/server/services/pause_expirations.py
  src/prefect/server/services/repossessor.py
Due: none

refactor: remove unnecessary DocketDepends alias
  src/prefect/server/services/cancellation_cleanup.py
  src/prefect/server/services/foreman.py
  src/prefect/server/services/late_runs.py
  src/prefect/server/services/pause_expirations.py
  src/prefect/server/services/repossessor.py
Due: none

refactor: integrate Perpetual pattern into LoopService classes
  src/prefect/server/services/cancellation_cleanup.py
  src/prefect/server/services/foreman.py
  src/prefect/server/services/late_runs.py
  src/prefect/server/services/pause_expirations.py
  src/prefect/server/services/repossessor.py
Due: none

feat: update service tasks to use docket.Depends and add PREFECT_SERVER_DOCKET_URL setting
  src/prefect/server/api/server.py
  src/prefect/server/services/cancellation_cleanup.py
  src/prefect/server/services/foreman.py
  src/prefect/server/services/late_runs.py
  src/prefect/server/services/pause_expirations.py
  src/prefect/server/services/repossessor.py
  src/prefect/settings/models/server/services.py
Due: service-sync-ui-v2-openapi

feat: refactor loop services to use docket Perpetual pattern
  src/prefect/server/services/base.py
  src/prefect/server/services/cancellation_cleanup.py
  src/prefect/server/services/late_runs.py
  src/prefect/server/services/repossessor.py
Due: none

feat: completely remove LoopService class in favor of docket Perpetual
  src/prefect/server/events/services/triggers.py
  src/prefect/server/services/base.py
  src/prefect/server/services/scheduler.py
  src/prefect/server/services/telemetry.py
Due: service-sync-ui-v2-openapi

remove LoopService wrapper classes from docket-based services
  src/prefect/server/services/cancellation_cleanup.py
  src/prefect/server/services/foreman.py
  src/prefect/server/services/late_runs.py
  src/prefect/server/services/pause_expirations.py
  src/prefect/server/services/repossessor.py
Due: none

add docket settings to supported settings test list
  src/prefect/settings/models/server/services.py
  tests/test_settings.py
Due: none

test: remove service tests for converted services
  tests/server/services/test_cancellation_cleanup.py
  tests/server/services/test_foreman.py
  tests/server/services/test_late_runs.py
  tests/server/services/test_loop_service.py
  tests/server/services/test_pause_expirations.py
  tests/server/services/test_repossessor.py
  tests/server/services/test_scheduler.py
  tests/server/services/test_telemetry.py
  ui-v2/src/api/prefect.ts
Due: check-ui-v2

fix: add db parameter to send_telemetry_heartbeat
  src/prefect/server/api/server.py
  src/prefect/server/services/telemetry.py
Due: service-sync-ui-v2-openapi

fix: register docket Perpetual functions during server startup
  src/prefect/server/api/server.py
Due: service-sync-ui-v2-openapi

fix: update tests for removed LoopService classes
  tests/cli/test_server_services.py
  tests/server/services/test_service_subsets.py
Due: none

fix: add type annotations for logger variables
  src/prefect/server/services/scheduler.py
  src/prefect/server/services/telemetry.py
Due: none

fix: correct type annotation for AsyncSession in scheduler.py
  src/prefect/server/api/server.py
  src/prefect/server/services/scheduler.py
Due: service-sync-ui-v2-openapi

fix: add enabled check to scheduler perpetual functions
  src/prefect/server/services/scheduler.py
Due: none

fix: check enabled status at runtime in Perpetual services
  src/prefect/server/api/server.py
  src/prefect/server/services/cancellation_cleanup.py
  src/prefect/server/services/foreman.py
  src/prefect/server/services/late_runs.py
  src/prefect/server/services/pause_expirations.py
  src/prefect/server/services/scheduler.py
Due: service-sync-ui-v2-openapi

fix: use conditional automatic parameter for Perpetual services
  src/prefect/server/services/cancellation_cleanup.py
  src/prefect/server/services/foreman.py
  src/prefect/server/services/late_runs.py
  src/prefect/server/services/pause_expirations.py
  src/prefect/server/services/scheduler.py
Due: none

fix: add enabled checks to all Perpetual service functions
  src/prefect/server/services/cancellation_cleanup.py
  src/prefect/server/services/foreman.py
  src/prefect/server/services/late_runs.py
  src/prefect/server/services/pause_expirations.py
Due: none

fix: add timeout to worker task shutdown to prevent hanging
  src/prefect/server/api/server.py
Due: service-sync-ui-v2-openapi

Remove deprecated code `Runner` functionality and system Blocks (#19307)
  .github/workflows/integration-tests.yaml
  integration-tests/test_deploy.py
  integration-tests/test_load_flows_concurrently.py
  src/prefect/blocks/system.py
  src/prefect/cli/cloud/__init__.py
  src/prefect/results.py
  src/prefect/runner/__init__.py
  src/prefect/runner/server.py
  src/prefect/runner/submit.py
  src/prefect/runner/utils.py
  src/prefect/server/models/block_registration.py
  tests/blocks/test_system.py
  tests/cli/test_block.py
  tests/runner/test_runner.py
  tests/runner/test_submit.py
  tests/runner/test_utils.py
  tests/runner/test_webserver.py
  tests/server/models/test_block_registration.py
  tests/server/orchestration/api/test_block_types.py
  tests/utilities/test_templating.py
Due: none

add debug log for fork handler registration failure (#19311)
  src/prefect/_internal/concurrency/services.py
Due: none

Fix duration in `generate_deprecation_message`
  src/prefect/_internal/compatibility/deprecated.py
Due: none

Fix duration in `generate_deprecation_message` (#19314)
  src/prefect/_internal/compatibility/deprecated.py
Due: none

Add global concurrency limits concept doc and refactor how-to guide (#19231)
  docs/docs.json
  docs/v3/concepts/global-concurrency-limits.mdx
  docs/v3/concepts/tag-based-concurrency-limits.mdx
  docs/v3/how-to-guides/migrate/transfer-resources.mdx
  docs/v3/how-to-guides/workflows/global-concurrency-limits.mdx
  docs/v3/how-to-guides/workflows/tag-based-concurrency-limits.mdx
Due: none

Add release notes for 3.5.0
  docs/docs.json
  docs/v3/release-notes/index.mdx
  docs/v3/release-notes/oss/version-3-5.mdx
Due: none

Add release notes for `prefect-aws` and `prefect-kubernetes`
  docs/v3/release-notes/integrations/prefect-aws.mdx
  docs/v3/release-notes/integrations/prefect-kubernetes.mdx
Due: none

Replace JSON block with Variable in interactive workflows docs
  docs/v3/advanced/interactive.mdx
Due: none

Update release name
  docs/v3/release-notes/oss/version-3-5.mdx
Due: none

Path conditions:
  check-ui-v2: any of: (?x)^(
    .pre-commit-config.yaml|
    ui-v2/.*
)$

  service-sync-ui-v2-openapi: any of: (?x)^(
    .pre-commit-config.yaml|
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    src/prefect/server/utilities/schemas/.*|
    ui-v2/package.json
)$

