Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Add arrow icon
  orion-ui/src/components/Global/List/ListItem--FlowRun/ListItem--FlowRun.vue
Due: none

Update text alignment on duration
  orion-ui/src/components/Global/List/ListItem--FlowRun/ListItem--FlowRun.vue
  orion-ui/src/styles/components/list-item--flow-run.scss
Due: none

Use text center instead
  orion-ui/src/styles/components/list-item--flow-run.scss
Due: none

Some updates to flow run items
  orion-ui/src/components/Global/List/ListItem--FlowRun/ListItem--FlowRun.vue
  orion-ui/src/styles/abstracts/_variables.scss
  orion-ui/src/styles/components/list-item--flow-run.scss
Due: none

Ensure sqlite foreign keys are always enabled
  src/prefect/orion/utilities/database.py
Due: black, flake8

Add data parameter to SQLiteQuery
  src/prefect/tasks/database/sqlite.py
  tests/tasks/test_sqlite.py
Due: black, flake8

Add to changes
  changes/pr4981.yaml
Due: none

Fix doc typos
  src/prefect/tasks/postgres/postgres.py
  src/prefect/tasks/sql_server/sql_server.py
Due: black, flake8

Fix broken doc links
  docs/core/tutorial/07-next-steps.md
Due: none

Scaffold listitem--deployment, update dummy data
  orion-ui/src/components/Global/List/ListItem--Deployment/ListItem--Deployment.vue
  orion-ui/src/objects.ts
  orion-ui/src/styles/components/list-item--deployment.scss
  orion-ui/src/util/objects/deployments.json
Due: none

Scaffold drawer component
  orion-ui/src/components/Global/Drawer/Drawer.vue
  orion-ui/src/main.ts
  orion-ui/src/styles/components/drawer.scss
Due: none

Refactor filters
  src/prefect/orion/schemas/__init__.py
  src/prefect/orion/schemas/filters.py
  tests/orion/api/test_deployments.py
  tests/orion/api/test_flow_runs.py
  tests/orion/api/test_flows.py
  tests/orion/api/test_run_history.py
  tests/orion/api/test_task_runs.py
  tests/orion/models/test_filters.py
  tests/orion/models/test_flow_runs.py
  tests/orion/models/test_flows.py
  tests/orion/models/test_task_runs.py
  tests/orion/schemas/test_filters.py
Due: black, flake8

Add filter validation tests
  src/prefect/orion/schemas/filters.py
  tests/orion/schemas/test_filters.py
Due: black, flake8

Add expected start time filter
  src/prefect/orion/schemas/filters.py
  tests/orion/schemas/test_filters.py
Due: black, flake8

Add global drawer component
  orion-ui/src/components/Global/Drawer/Drawer.vue
  orion-ui/src/components/Global/List/ListItem--Deployment/ListItem--Deployment.vue
  orion-ui/src/styles/components/drawer.scss
  orion-ui/src/util/objects/deployments.json
  orion-ui/src/views/Dashboard.vue
Due: none

Make drawer slide in more performant
  orion-ui/src/styles/components/drawer.scss
Due: none

Add styles
  orion-ui/src/components/Global/Drawer/Drawer.vue
  orion-ui/src/components/Global/List/ListItem--Deployment/ListItem--Deployment.vue
  orion-ui/src/styles/components/drawer.scss
  orion-ui/src/styles/components/list-item--deployment.scss
Due: none

Update some typography on parameters
  orion-ui/src/components/Global/List/ListItem--Deployment/ListItem--Deployment.vue
Due: none

Update some spacing
  orion-ui/src/components/Global/List/ListItem--Deployment/ListItem--Deployment.vue
  orion-ui/src/styles/components/list-item--deployment.scss
Due: none

Add schedule parsing method, truncate schedules and locations
  orion-ui/src/components/Global/List/ListItem--Deployment/ListItem--Deployment.vue
Due: none

Change min-width to max-width on drawer
  orion-ui/src/styles/components/drawer.scss
Due: none

Add test cases for new filters
  src/prefect/orion/schemas/filters.py
  tests/orion/models/test_flow_runs.py
  tests/orion/models/test_flows.py
  tests/orion/models/test_task_runs.py
Due: black, flake8

Simplify assertions
  tests/orion/models/test_flow_runs.py
  tests/orion/models/test_task_runs.py
Due: black

Path conditions:
  black: any of: \.py$
  flake8: any of: ^src/prefect/ and \.py$
