Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Update README.md
  README.md
Due: none

WIP on filters for read logs API
  src/prefect/orion/api/logs.py
  src/prefect/orion/models/logs.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/schemas/filters.py
  tests/orion/api/test_logs.py
Due: black, flake8

Use flow run and task run IDs for logs
  src/prefect/orion/database/orm_models.py
  tests/orion/models/test_orm.py
Due: black, flake8

Use flow_run_id, task_run_id in Log schema
  src/prefect/orion/schemas/core.py
Due: black, flake8

Use task run and flow run IDs for logs API
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/sorting.py
  tests/orion/api/test_logs.py
Due: black, flake8

format with black
  src/prefect/orion/models/logs.py
  src/prefect/orion/schemas/actions.py
  tests/orion/api/test_logs.py
Due: black, flake8

Add offset, empty case log API tests
  tests/orion/api/test_logs.py
Due: black

Update src/prefect/orion/database/interface.py
  src/prefect/orion/database/interface.py
Due: black, flake8

Add LogFilter tests
  tests/orion/schemas/test_filters.py
Due: black

Remove unused imports
  src/prefect/orion/schemas/filters.py
Due: black, flake8

Docs schedules (#5284)
  docs/.vuepress/public/assets/verified_logo.png
  docs/core/concepts/schedules.md
  src/prefect/schedules/clocks.py
Due: black, flake8

Remove Python 3.9 warning from install guide
  docs/core/getting_started/install.md
Due: none

Use `schema.dict()` for comparisons so pytest reports accurate diffs
  tests/orion/utilities/test_functions.py
Due: black

Add check for `minItems` and `maxItems` for Pydantic 1.9.0+
  tests/orion/utilities/test_functions.py
Due: black

Remove Python 3.9 warning from install guide (#5298)
  docs/core/getting_started/install.md
Due: none

Undo cancel_futures flag
  src/prefect/executors/dask.py
Due: black, flake8

fix docs bug
  .gitignore
  .idea/.gitignore
  docs/tutorials/execution.md
Due: none

Use array response for logs, bulk insert
  src/prefect/orion/api/logs.py
  src/prefect/orion/models/logs.py
  src/prefect/orion/schemas/actions.py
  tests/orion/api/test_logs.py
  tests/orion/schemas/test_filters.py
Due: black, flake8

WIP
  src/prefect/__init__.py
  src/prefect/context.py
  src/prefect/engine.py
  src/prefect/flows.py
  src/prefect/tasks.py
  src/prefect/utilities/logging.py
  src/prefect/utilities/logging.yml
Due: black, flake8

Update `State.__str__` to only include type if meaningful and drop "message="
  src/prefect/orion/schemas/states.py
  tests/orion/schemas/test_states.py
Due: black, flake8

Remove some experimental code
  src/prefect/context.py
  src/prefect/engine.py
  src/prefect/task_runners.py
  src/prefect/utilities/logging.py
  src/prefect/utilities/logging.yml
Due: black, flake8

Cleanup
  src/prefect/engine.py
  src/prefect/utilities/logging.py
Due: black, flake8

Allow kwargs to be passed to `run_logger`
  src/prefect/utilities/logging.py
Due: black, flake8
