Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Cleanup subprocess execution test names
  tests/backend/test_execution.py
Due: black

Refactor subprocess execution mocks to match pattern used elsewhere
  tests/backend/test_execution.py
Due: black

Add py3.6 fixes
  tests/backend/test_execution.py
Due: black

Add `prefect run` example to `hello_world` module docstring
  src/prefect/hello_world.py
Due: black, flake8

Attempt to fix flakey test by silencing asyncio error logs
  tests/tasks/docker/test_images.py
Due: black

Use exception reprs for 3.6 compat instead
  tests/backend/test_execution.py
Due: black

Switch the order of caplog.at_level contexts
  tests/tasks/docker/test_images.py
Due: black

Just filter records to the subset matching the relevant logger
  tests/tasks/docker/test_images.py
Due: black

Add `--execute` blurb to docs [ci skip]
  docs/orchestration/flow-runs/creation.md
Due: none

Add breakpoint note [ci skip]
  docs/orchestration/flow-runs/creation.md
Due: none

Cleanup CLI docstring, add example, remove short-flag
  src/prefect/cli/run.py
Due: black, flake8

Fix backwards compatibility for flows without a `terminal_state_handler`
  src/prefect/engine/flow_runner.py
Due: black, flake8

Add changes/pr4695.yaml
  changes/pr4695.yaml
Due: none

Fix attr check and comment
  src/prefect/engine/flow_runner.py
Due: black, flake8

Add test
  tests/core/test_flow.py
Due: black

Assert callable for mypy
  src/prefect/engine/flow_runner.py
Due: black, flake8

Fix backwards compatibility for flows without a `terminal_state_handler` (#4695)
  changes/pr4695.yaml
  src/prefect/engine/flow_runner.py
  tests/core/test_flow.py
Due: black, flake8

Add missing f-string [ci skip]
  src/prefect/agent/kubernetes/agent.py
Due: black, flake8

Add rbac documentation
  docs/.vuepress/config.js
  docs/orchestration/concepts/roles.md
  docs/orchestration/rbac/overview.md
  docs/orchestration/server/overview.md
Due: none

Add changelog
  changes/pr4696.yaml
Due: none

Change role name to Read Only User
  docs/orchestration/rbac/overview.md
Due: none

SendGrid.SendEmail task - use Secret value (#4669)
  changes/pr4669.yaml
  src/prefect/tasks/sendgrid/sendgrid.py
  tests/tasks/sendgrid/test_sendgrid.py
Due: black, flake8

Add test covering null/missing timestamp logs
  src/prefect/agent/kubernetes/agent.py
  tests/agent/test_k8s_agent.py
Due: black, flake8

Add `prefect run` example to `hello_world` module docstring (#4694)
  src/prefect/hello_world.py
  tests/tasks/docker/test_images.py
Due: black, flake8

Improve rbac doc based on feedback
  docs/orchestration/rbac/overview.md
Due: none

Docs fix [ci skip]
  docs/orchestration/flow-runs/creation.md
Due: none

Fix typo
  src/prefect/backend/execution.py
Due: black, flake8

Fix typo [ci skip]
  src/prefect/backend/execution.py
Due: black, flake8

Add rbac documentation (#4696)
  changes/pr4696.yaml
  docs/.vuepress/config.js
  docs/orchestration/concepts/roles.md
  docs/orchestration/rbac/overview.md
  docs/orchestration/server/overview.md
Due: none

Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: none

update docstrings to highlight unobvious args that must be specified at runtime or init
  src/prefect/tasks/kafka/kafka.py
Due: black, flake8

Create codeql-analysis.yml (#4698)
  .github/workflows/codeql-analysis.yml
Due: none

Fix missing event timestamp attribute errors in K8s agent (#4693)
  changes/pr4693.yaml
  src/prefect/agent/kubernetes/agent.py
  tests/agent/test_k8s_agent.py
Due: black, flake8

Improve execution beginning log [ci skip]
  src/prefect/backend/execution.py
Due: black, flake8

Add tests for `to_environment_variables`; fix case retention bug in secrets
  src/prefect/configuration.py
  tests/test_configuration.py
Due: black, flake8

Fixup `_get_next_task_run_start_time` behavior
  src/prefect/backend/execution.py
  tests/backend/test_execution.py
Due: black, flake8

Fix badly written replace
  src/prefect/configuration.py
Due: black, flake8

Skip test for 3.6; result is correct just not identical
  tests/test_configuration.py
Due: black

Require a scheuled state to execute flow run
  src/prefect/backend/execution.py
Due: black, flake8

moved arguments to runtime
  src/prefect/tasks/snowflake/snowflake.py
  tests/tasks/snowflake/test_snowflake.py
Due: black, flake8
