Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Document that the local agent expects the hostname
  docs/orchestration/flow_config/run_configs.md
Due: none

Document another thing I ran into.
  docs/orchestration/flow_config/storage.md
Due: none

Alter the change file.
  changes/pr3947.yaml
Due: none

Add comments [ci skip]
  src/prefect/storage/_healthcheck.py
  src/prefect/utilities/storage.py
Due: black, flake8

Typo in comment [ci skip]
  src/prefect/utilities/storage.py
Due: black, flake8

Avoid race condition when creation task run artifacts
  src/prefect/artifacts.py
Due: black, flake8

Add changelog entry
  changes/pr3953.yaml
Due: none

Add agent labels to k8s flow runs
  src/prefect/agent/kubernetes/agent.py
  tests/agent/test_k8s_agent.py
Due: black, flake8

Add changelog entry
  changes/pr3954.yaml
Due: none

Storage doc fixups [ci skip]
  docs/orchestration/flow_config/storage.md
  src/prefect/storage/azure.py
  src/prefect/storage/gcs.py
  src/prefect/storage/s3.py
  src/prefect/storage/webhook.py
Due: black, flake8

Release 0.14.3
  CHANGELOG.md
  changes/pr3933.yaml
  changes/pr3935.yaml
  changes/pr3940.yaml
  changes/pr3941.yaml
  changes/pr3953.yaml
  changes/pr3954.yaml
  docs/.vuepress/config.js
Due: none

add sql_server task mirroring postgres
  src/prefect/tasks/sql_server/sql_server.py
Due: black, flake8

add sql_server task init with imports
  src/prefect/tasks/sql_server/__init__.py
Due: black, flake8

add sql_server extras to setup.py
  setup.py
Due: black

add tests and importskip mirrong postgres task
  tests/tasks/sql_server/__init__.py
  tests/tasks/sql_server/test_sql_server.py
Due: black

update outline.toml
  docs/outline.toml
Due: none

add change file
  changes/pr3958.yaml
Due: none

add missing comma to setup.py extra
  setup.py
Due: black

Add 429 as a retry status code on the client
  changes/pr3959.yaml
  src/prefect/client/client.py
Due: black, flake8

Tighten timeout on client
  src/prefect/client/client.py
Due: black, flake8

Add netlify doc pin flow to CI build step
  .circleci/config.yml
Due: none

Update changes entry and retry CI steps
  changes/pr3958.yaml
Due: none

Fix docstrings in SqlServerFetch task
  src/prefect/tasks/sql_server/sql_server.py
Due: black, flake8

Black formatting
  tests/tasks/sql_server/test_sql_server.py
Due: black

Fix cursor context var
  src/prefect/tasks/sql_server/sql_server.py
Due: black, flake8

Add skip for tests on CI requiring extra SQL dependencies
  tests/tasks/sql_server/__init__.py
Due: black

Ignore sql_server install in CI steps
  setup.py
  tests/tasks/sql_server/__init__.py
Due: black

Fix boolean logic in setup.py
  setup.py
Due: black

Use custom `NotImplementedError` in results
  src/prefect/engine/result/base.py
  src/prefect/engine/task_runner.py
  tests/engine/result/test_base.py
Due: black, flake8

Add changelog entry
  changes/pr3964.yaml
Due: none

Fix links in "Conclusion and Next Steps" page
  docs/orchestration/tutorial/next-steps.md
Due: none

Stream logs during RunNamespacedJob by using ReadNamespacedPodLogs
  src/prefect/tasks/kubernetes/job.py
  tests/tasks/kubernetes/test_job.py
Due: black, flake8

Add ReadNamespacedPodLogs
  src/prefect/tasks/kubernetes/__init__.py
  src/prefect/tasks/kubernetes/pod.py
  tests/tasks/kubernetes/test_pod.py
Due: black, flake8

Feedback: rename to func_stream -> on_log_entry, and add todo
  docs/outline.toml
  src/prefect/tasks/kubernetes/job.py
  src/prefect/tasks/kubernetes/pod.py
  tests/tasks/kubernetes/test_pod.py
Due: black, flake8

Use ThreadPoolExecutor instead of ThreadPool
  src/prefect/tasks/kubernetes/job.py
Due: black, flake8

Remove passing resource_version to watch
  src/prefect/tasks/kubernetes/pod.py
Due: black, flake8

Changelog entry
  changes/pr-3715.yaml
Due: none

Remove invalid assertion
  tests/tasks/kubernetes/test_pod.py
Due: black

use chunk_size when creating blobs and set default chunk size on base class initialization
  src/prefect/tasks/gcp/storage.py
Due: black, flake8

add changelog
  changes/pr3968.yaml
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: ^src/prefect/ and \.py$
