Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-mintlify-openapi-docs, generate-settings-schema, generate-settings-ref, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

generate-mintlify-openapi-docs:
  name: Generating OpenAPI docs for Mintlify
  language: system
  entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_mintlify_openapi_docs.py
  pass_filenames: false

generate-settings-schema:
  name: Generating Settings Schema
  language: system
  entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_schema.py
  pass_filenames: false

generate-settings-ref:
  name: Generating Settings Reference
  language: system
  entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_ref.py
  pass_filenames: false

lint-ui-v2:
  name: Lint UI v2
  language: system
  entry: sh
  args:
  - -c
  - cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run lint
  pass_filenames: false

format-ui-v2:
  name: Format UI v2
  language: system
  entry: sh
  args:
  - -c
  - cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run format
  pass_filenames: false

service-sync-ui-v2-openapi:
  name: Sync UI v2 OpenAPI
  language: system
  entry: sh
  args:
  - -c
  - cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run service-sync
  pass_filenames: false

[UI v2] feat: Adds Deployment configuration tab (#17063)
  ui-v2/src/components/deployments/deployment-configuration.tsx
  ui-v2/src/components/deployments/deployment-details-tabs.tsx
  ui-v2/src/components/ui/icons/constants.ts
  ui-v2/src/components/ui/json-input.tsx
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Adds deployment parameter table
  ui-v2/src/components/deployments/deployment-details-tabs.tsx
  ui-v2/src/components/deployments/deployment-parameters-table/deployment-parameters-table.stories.tsx
  ui-v2/src/components/deployments/deployment-parameters-table/deployment-parameters-table.test.tsx
  ui-v2/src/components/deployments/deployment-parameters-table/deployment-parameters-table.tsx
  ui-v2/src/components/deployments/deployment-parameters-table/index.ts
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Adds deployment parameter table (#17059)
  ui-v2/src/components/deployments/deployment-details-tabs.tsx
  ui-v2/src/components/deployments/deployment-parameters-table/deployment-parameters-table.stories.tsx
  ui-v2/src/components/deployments/deployment-parameters-table/deployment-parameters-table.test.tsx
  ui-v2/src/components/deployments/deployment-parameters-table/deployment-parameters-table.tsx
  ui-v2/src/components/deployments/deployment-parameters-table/index.ts
Due: lint-ui-v2, format-ui-v2

Bump `ruff` version in `pre-commit-config.yaml`
  .pre-commit-config.yaml
Due: generate-mintlify-openapi-docs, generate-settings-schema, generate-settings-ref, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

infer `PREFECT_PROFILES_PATH` from `PREFECT_HOME` (#17070)
  src/prefect/settings/sources.py
  tests/test_settings.py
Due: none

[UI v2] feat: Adds update deployment schedule hook
  ui-v2/src/api/deployments/deployments.test.ts
  ui-v2/src/api/deployments/index.ts
  ui-v2/tests/utils/handlers.ts
Due: lint-ui-v2, format-ui-v2

adds privatelink
  docs/v3/manage/cloud/index.mdx
  docs/v3/manage/cloud/manage-users/secure-access-by-private-link.mdx
Due: none

add page to sidebar
  docs/mint.json
Due: none

[UI-v2] feat: add detail page
  ui-v2/src/api/artifacts/use-get-artifacts-flow-task-runs/use-get-artifacts-flow-task-runs.ts
  ui-v2/src/components/artifacts/artifact/artifact-detail-header.test.tsx
  ui-v2/src/components/artifacts/artifact/artifact-detail-header.tsx
  ui-v2/src/components/artifacts/artifact/artifact-detail-page.test.tsx
  ui-v2/src/components/artifacts/artifact/artifact-detail-page.tsx
  ui-v2/src/components/artifacts/artifact/detail-image.test.tsx
  ui-v2/src/components/artifacts/artifact/detail-image.tsx
  ui-v2/src/components/artifacts/artifact/detail-markdown.test.tsx
  ui-v2/src/components/artifacts/artifact/detail-markdown.tsx
  ui-v2/src/components/artifacts/artifact/detail-progress.test.tsx
  ui-v2/src/components/artifacts/artifact/detail-progress.tsx
  ui-v2/src/components/artifacts/artifact/detail-table.test.tsx
  ui-v2/src/components/artifacts/artifact/detail-table.tsx
  ui-v2/src/components/artifacts/key/artifacts-key-header.tsx
  ui-v2/src/components/artifacts/key/timeline/timelineCard.tsx
  ui-v2/src/routeTree.gen.ts
  ui-v2/src/routes/artifacts/artifact.$id.tsx
Due: lint-ui-v2, format-ui-v2

[UI-v2] feat: add show/hide raw data
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/components/artifacts/artifact/artifact-detail-header.tsx
  ui-v2/src/components/artifacts/artifact/artifact-detail-page.tsx
  ui-v2/src/components/artifacts/artifact/artifact-raw-data-display.test.tsx
  ui-v2/src/components/artifacts/artifact/artifact-raw-data-display.tsx
  ui-v2/src/components/artifacts/artifact/detail-markdown.tsx
Due: lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

[UI-v2] fix: typing
  ui-v2/src/api/artifacts/index.ts
  ui-v2/src/routes/artifacts/artifact.$id.tsx
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Adds update deployment schedule hook (#17073)
  ui-v2/src/api/deployments/deployments.test.ts
  ui-v2/src/api/deployments/index.ts
  ui-v2/tests/utils/handlers.ts
Due: lint-ui-v2, format-ui-v2

Update docs/v3/manage/cloud/manage-users/secure-access-by-private-link.mdx
  docs/v3/manage/cloud/manage-users/secure-access-by-private-link.mdx
Due: none

add privatelink link
  docs/v3/manage/cloud/manage-users/secure-access-by-private-link.mdx
Due: none

Fix bug where a flow's parameter schema is not included in deployment create/update requests
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Due: none

Fix bug where a flow's parameter schema is not included in deployment create/update requests when using `prefect deploy` (#17079)
  src/prefect/cli/deploy.py
  tests/cli/test_deploy.py
Due: none

notes and tips
  docs/integrations/prefect-dbt/index.mdx
Due: none

improve copy, update header
  docs/integrations/prefect-dbt/index.mdx
Due: none

[UI v2] feat: Adds create deployment schedule mutation
  ui-v2/src/api/deployments/deployments.test.ts
  ui-v2/src/api/deployments/index.ts
  ui-v2/tests/utils/handlers.ts
Due: lint-ui-v2, format-ui-v2

Add `PrefectDbtRunner` docs (#17055)
  docs/integrations/prefect-dbt/index.mdx
Due: none

fix sed
  .github/workflows/integration-package-release.yaml
Due: none

exploratory commit
  ui-v2/orval.config.ts
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/api/artifacts/use-get-artifacts-flow-task-runs/use-get-artifacts-flow-task-runs.ts
  ui-v2/src/routes/artifacts/artifact.$id.tsx
  ui-v2/tsconfig.app.json
Due: lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

fix sed command in integration release CI (#17083)
  .github/workflows/integration-package-release.yaml
Due: none

add missing convert statement
  src/prefect/flows.py
Due: none

Path conditions:
  generate-mintlify-openapi-docs: any of: (?x)^(
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    scripts/generate_mintlify_openapi_docs.py
)$

  generate-settings-schema: any of: (?x)^(
    .pre-commit-config.yaml|
    src/prefect/settings/models/.*|
    scripts/generate_settings_schema.py
)$

  generate-settings-ref: any of: (?x)^(
    .pre-commit-config.yaml|
    src/prefect/settings/models/.*|
    scripts/generate_settings_ref.py
)$

  lint-ui-v2: any of: (?x)^(
    .pre-commit-config.yaml|
    ui-v2/.*
)$

  format-ui-v2: any of: (?x)^(
    .pre-commit-config.yaml|
    ui-v2/.*
)$

  service-sync-ui-v2-openapi: any of: (?x)^(
    .pre-commit-config.yaml|
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    src/prefect/server/utilities/schemas/.*|
    ui-v2/package.json
)$

