Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Use a hosted orion when testing ray with existing cluster
  tests/test_task_runners.py
Due: black

Include ray default extra
  requirements.txt
Due: none

Add pickle5 backport as testing requirement for 3.7
  requirements-dev.txt
Due: none

Throw exceptions when cloudpickle fails
  src/prefect/serializers.py
Due: black, flake8

Register with ray cloudpickle as well
  src/prefect/task_runners.py
Due: black, flake8

Fix rebase issues
  src/prefect/task_runners.py
Due: black, flake8

Sort requirements
  requirements-dev.txt
  requirements.txt
Due: none

Run formatters
  tests/test_task_runners.py
Due: black

Use table args for Block Data unique constraint
  src/prefect/orion/database/orm_models.py
Due: black, flake8

Fix in-process ray cluster tests
  tests/test_task_runners.py
Due: black

Add failure on hang fixture to attempt to stop long CI runs
  tests/test_task_runners.py
Due: black

Fix capitalization
  src/prefect/client.py
Due: black, flake8

Initial fix for AWS secrets
  changes/issue5451.yaml
  src/prefect/tasks/aws/secrets_manager.py
  tests/tasks/aws/test_secrets_manager.py
Due: black, flake8

Initial fix for AWS secrets
  src/prefect/tasks/aws/secrets_manager.py
  tests/tasks/aws/test_secrets_manager.py
Due: black, flake8

Fix migration messages
  src/prefect/orion/database/migrations/versions/sqlite/619bea85701a_.py
  src/prefect/orion/database/migrations/versions/sqlite/9725c1cbee35_initial_migration.py
Due: black, flake8

Confirm assert_called_once_with does not work correctly
  tests/tasks/aws/test_lambda.py
Due: black

Fix assert_called_once_with in test_lambda.py
  tests/tasks/aws/test_lambda.py
Due: black

Remove redundant assertions for called_method
  tests/tasks/aws/test_lambda.py
Due: black

Add change file
  changes/pr5459.yaml
Due: none

Add account info table
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/schemas/core.py
Due: black, flake8

Add account info model methods
  src/prefect/orion/database/interface.py
  src/prefect/orion/models/account_info.py
Due: black, flake8

initial commit
  src/prefect/cli/__init__.py
  src/prefect/cli/workspace.py
  src/prefect/settings.py
Due: black, flake8

docstring
  src/prefect/cli/workspace.py
Due: black, flake8

re-add workspace list command
  requirements.txt
  src/prefect/cli/workspace.py
Due: black, flake8
