Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ui-v2, service-sync-ui-v2-openapi

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-push

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        language_version: python3
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: package-lock.json|_vendor/.*|docs/styles/.*
  # ty type checker (replacing mypy) - https://astral.sh/blog/ty
  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run ty check
        language: system
        pass_filenames: false
        always_run: true
        types: [python]
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.6.17
    hooks:
      - id: uv-lock

  - repo: local
    hooks:
      - id: check-ui-v2
        name: Check UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            ". $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run check:staged",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: service-sync-ui-v2-openapi
        name: Sync UI v2 OpenAPI
        language: system
        entry: sh
        args:
          [
            "-c",
            ". $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run service-sync",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              src/prefect/server/utilities/schemas/.*|
              ui-v2/package.json
          )$
        pass_filenames: false
        stages:
          - pre-push

docs: Add release notes for 3.8.4
  docs/v3/api-ref/python/prefect-bundles-__init__.mdx
  docs/v3/api-ref/python/prefect-cli-flow_run.mdx
  docs/v3/api-ref/python/prefect-engine.mdx
  docs/v3/api-ref/python/prefect-flow_engine.mdx
  docs/v3/api-ref/python/prefect-flows.mdx
  docs/v3/api-ref/python/prefect-logging-handlers.mdx
  docs/v3/api-ref/python/prefect-runner-runner.mdx
  docs/v3/api-ref/python/prefect-workers-base.mdx
  docs/v3/api-ref/python/prefect-workers-process.mdx
  docs/v3/release-notes/oss/version-3-8.mdx
Due: none

Use reviewer's release subtitle for 3.8.4
  docs/v3/release-notes/oss/version-3-8.mdx
Due: none

Add batch delete and cancel support for flow runs.
  src/prefect/cli/flow_run.py
  tests/cli/test_flow_run.py
Due: none

update count and filter models to include id fields and matching filter expressions
  src/prefect/server/api/automations.py
  src/prefect/server/events/filters.py
  src/prefect/server/events/models/automations.py
  tests/events/server/models/test_automations.py
  tests/events/server/test_automations_api.py
Due: service-sync-ui-v2-openapi

Enhancement: update count and filter models to include id fields and matching filt… (#22944)
  src/prefect/server/api/automations.py
  src/prefect/server/events/filters.py
  src/prefect/server/events/models/automations.py
  tests/events/server/models/test_automations.py
  tests/events/server/test_automations_api.py
Due: service-sync-ui-v2-openapi

fix sdk filter so it can use the api route
  src/prefect/events/filters.py
  tests/client/test_prefect_client.py
Due: none

Bugfix: automations SDK filter model (#22945)
  src/prefect/events/filters.py
  tests/client/test_prefect_client.py
Due: none

fix: MS Teams/Power Automate no longer works with new URL (#22908)
  client/pyproject.toml
  pyproject.toml
  tests/blocks/test_notifications.py
  uv.lock
Due: none

Order flow heartbeats with state transitions
  src/prefect/events/utilities.py
  src/prefect/flow_engine.py
  tests/test_flow_engine.py
Due: none

fix(settings): support fallback import for SettingsError from pydantic-settings
  src/prefect/__init__.py
  src/prefect/cli/_app.py
  src/prefect/settings/sources.py
Due: none

Add flow-run state proposer module
  src/prefect/utilities/AGENTS.md
  src/prefect/utilities/engine/__init__.py
  src/prefect/utilities/flow_run_state_proposals.py
  tests/utilities/test_flow_run_state_proposals.py
Due: none

Make flow-run state proposer private
  src/prefect/utilities/AGENTS.md
  src/prefect/utilities/_flow_run_state_proposals.py
  src/prefect/utilities/engine/__init__.py
  tests/utilities/test_flow_run_state_proposals.py
Due: none

Use state proposer for heartbeat ordering
  src/prefect/flow_engine.py
  tests/test_flow_engine.py
Due: none

Fix flow-run heartbeat ordering
  src/prefect/events/utilities.py
  src/prefect/flow_engine.py
  tests/test_flow_engine.py
Due: none

Reduce heartbeat test mocks
  tests/test_flow_engine.py
Due: none

Use private flow-run state proposer module
  src/prefect/flow_engine.py
Due: none

Preserve flow engine state proposal aliases
  src/prefect/flow_engine.py
  tests/test_flow_engine.py
Due: none

fix(prefect-redis): cache messaging URL lookup
  src/integrations/prefect-redis/prefect_redis/client.py
  src/integrations/prefect-redis/tests/conftest.py
  src/integrations/prefect-redis/tests/test_client.py
Due: none

refactor(prefect-redis): simplify messaging URL cache
  src/integrations/prefect-redis/prefect_redis/client.py
  src/integrations/prefect-redis/tests/test_client.py
Due: none

docs: clarify Cloud execution responsibilities
  docs/v3/how-to-guides/cloud/scope-of-support.mdx
Due: none

fix(ui-v2): prevent combobox selection from triggering table row navigation
  ui-v2/src/components/ui/data-table.test.tsx
  ui-v2/src/components/ui/popover.tsx
Due: check-ui-v2

adjust tests
  ui-v2/src/components/ui/data-table.test.tsx
Due: check-ui-v2

adjust tests v2
  ui-v2/src/components/ui/data-table.test.tsx
Due: check-ui-v2

fix(ui-v2): selecting enum dropdown in Quick Run dialog navigates away (#22953)
  ui-v2/src/components/ui/data-table.test.tsx
  ui-v2/src/components/ui/popover.tsx
Due: check-ui-v2

Keep quick run dialog open when selecting enum values (OSS-8177)
  ui-v2/src/components/AGENTS.md
  ui-v2/src/components/deployments/data-table/data-table.test.tsx
Due: check-ui-v2

Cache Redis messaging URL lookup (#22950)
  src/integrations/prefect-redis/prefect_redis/client.py
  src/integrations/prefect-redis/tests/conftest.py
  src/integrations/prefect-redis/tests/test_client.py
Due: none

fix(events): avoid row-expanded persister inserts
  src/prefect/server/events/storage/database.py
  tests/events/server/storage/test_database.py
Due: service-sync-ui-v2-openapi

fix(events): preserve bulk insert compatibility
  src/prefect/server/events/storage/database.py
  tests/events/server/storage/test_database.py
Due: service-sync-ui-v2-openapi

clarify event insert execution strategy
  src/prefect/server/events/storage/database.py
Due: service-sync-ui-v2-openapi

Add parameter overrides to deployment schedule dialog (OSS-8132)
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/cron-schedule-form.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/deployment-schedule-dialog.stories.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/deployment-schedule-dialog.test.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/deployment-schedule-dialog.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/interval-schedule-form.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/schedule-parameter-overrides-form-section.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/use-schedule-parameter-overrides.ts
Due: check-ui-v2

Address review feedback on schedule parameter overrides
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/cron-schedule-form.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/deployment-schedule-dialog.stories.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/deployment-schedule-dialog.test.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/deployment-schedule-dialog.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/interval-schedule-form.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/schedule-parameter-overrides-form-section.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-dialog/use-schedule-parameter-overrides.ts
Due: check-ui-v2

Reduce event persister INSERT compilation CPU (#22961)
  src/prefect/server/events/storage/database.py
  tests/events/server/storage/test_database.py
Due: service-sync-ui-v2-openapi

Fix test harness settings for isolated async tests
  src/prefect/context.py
  src/prefect/testing/utilities.py
  tests/testing/test_utilites.py
Due: none

Slim the Sentinel seam to one redis-py-delegating factory
  docs/integrations/prefect-redis/index.mdx
  src/integrations/prefect-redis/prefect_redis/blocks.py
  src/integrations/prefect-redis/prefect_redis/cleanup_queue.py
  src/integrations/prefect-redis/prefect_redis/client.py
  src/integrations/prefect-redis/prefect_redis/connection.py
  src/integrations/prefect-redis/prefect_redis/locking.py
  src/integrations/prefect-redis/tests/test_connection.py
  src/integrations/prefect-redis/tests/test_connection_url_integration.py
Due: none

Fix pyright errors failing static analysis on main
  src/prefect/_internal/attempt_control.py
  src/prefect/runner/_workspace_runtime_bootstrap.py
  src/prefect/runner/_workspace_supervisor.py
Due: none

fix python client example in tag-concurrency doc (#22770)
  docs/v3/how-to-guides/workflows/tag-based-concurrency-limits.mdx
Due: none

Deduplicate Kubernetes observer state checks and diagnosis logs for unchanged Pending pods
  src/integrations/prefect-kubernetes/prefect_kubernetes/diagnostics.py
  src/integrations/prefect-kubernetes/prefect_kubernetes/observer.py
  src/integrations/prefect-kubernetes/tests/test_diagnostics.py
  src/integrations/prefect-kubernetes/tests/test_observer.py
Due: none

Create the storage_document_id fixture in the test database session
  tests/fixtures/database.py
Due: none

Use a fixed encryption key in tests
  pyproject.toml
Due: none
