Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Add utility for flow run environment variables generation and include API key
  src/prefect/flow_runners.py
Due: black, flake8

Use get_running_loop instead instead of deprecated get_event_loop.
  src/prefect/agent/agent.py
Due: black, flake8

Use daemon attribute instead of deprecated isDaemon method.
  tests/utilities/test_executors.py
Due: black

Use packaging.version instead of deprecated distutils.
  src/prefect/utilities/agent.py
  src/prefect/utilities/storage.py
Due: black, flake8

Use logger.warning instead of deprecated logger.warn.
  src/prefect/tasks/airbyte/airbyte.py
  src/prefect/tasks/aws/step_function.py
  src/prefect/tasks/dbt/dbt.py
  src/prefect/tasks/great_expectations/checkpoints.py
  src/prefect/tasks/kafka/kafka.py
Due: black, flake8

Fix deprecation warning due to invalid escape sequences.
  tests/tasks/mysql/test_mysql.py
Due: black

add simple null
  orion-ui/packages/orion-design/src/models/WorkQueueFormValues.ts
Due: none

fixed a couple models
  orion-ui/packages/orion-design/src/models/IScheduleResponse.ts
  orion-ui/packages/orion-design/src/models/IStateResponse.ts
Due: none

added all profiles
  orion-ui/packages/orion-design/src/index.ts
  orion-ui/packages/orion-design/src/profiles/Date.ts
  orion-ui/packages/orion-design/src/profiles/Deployment.ts
  orion-ui/packages/orion-design/src/profiles/EmpiricalPolicy.ts
  orion-ui/packages/orion-design/src/profiles/Flow.ts
  orion-ui/packages/orion-design/src/profiles/FlowData.ts
  orion-ui/packages/orion-design/src/profiles/FlowRun.ts
  orion-ui/packages/orion-design/src/profiles/FlowRunGraph.ts
  orion-ui/packages/orion-design/src/profiles/FlowRunHistory.ts
  orion-ui/packages/orion-design/src/profiles/FlowRunner.ts
  orion-ui/packages/orion-design/src/profiles/Logs.ts
  orion-ui/packages/orion-design/src/profiles/Schedule.ts
  orion-ui/packages/orion-design/src/profiles/State.ts
  orion-ui/packages/orion-design/src/profiles/StateDetails.ts
  orion-ui/packages/orion-design/src/profiles/StateHistory.ts
  orion-ui/packages/orion-design/src/profiles/TaskInput.ts
  orion-ui/packages/orion-design/src/profiles/TaskRun.ts
  orion-ui/packages/orion-design/src/profiles/WorkQueue.ts
  orion-ui/packages/orion-design/src/profiles/WorkQueueFilter.ts
  orion-ui/packages/orion-design/src/profiles/index.ts
Due: none

missed taskRun profile
  orion-ui/packages/orion-design/src/profiles/index.ts
Due: none

updated service layer to use translate service
  orion-ui/packages/orion-design/src/services/DeploymentsApi.ts
  orion-ui/packages/orion-design/src/services/FlowRunsApi.ts
  orion-ui/packages/orion-design/src/services/FlowsApi.ts
  orion-ui/packages/orion-design/src/services/LogsApi.ts
  orion-ui/packages/orion-design/src/services/StatesApi.ts
  orion-ui/packages/orion-design/src/services/TaskRunsApi.ts
  orion-ui/packages/orion-design/src/services/Translate.ts
  orion-ui/packages/orion-design/src/services/WorkQueuesApi.ts
  orion-ui/packages/orion-design/src/services/index.ts
  orion-ui/src/views/Dashboard.vue
  orion-ui/src/views/FlowRun--views/Index.vue
Due: none

Changed doc for command concurrency_limit -> concurrency-limit
  docs/concepts/tasks.md
Due: none

remove cloud logic from orion-design
  orion-ui/packages/orion-design/src/components/RunFilterCards.vue
  orion-ui/packages/orion-design/src/compositions/index.ts
  orion-ui/packages/orion-design/src/compositions/useRouteContext.ts
  orion-ui/packages/orion-design/src/types/OrionContext.ts
  orion-ui/packages/orion-design/src/types/index.ts
Due: none

implemented ListTabSet
  orion-ui/src/views/Dashboard.vue
  orion-ui/src/views/FlowRun--views/Index.vue
Due: none

increment
  orion-ui/packages/orion-design/package.json
Due: none

reverted accidental orion component changes
  orion-ui/src/views/Dashboard.vue
  orion-ui/src/views/FlowRun--views/Index.vue
Due: none

Revert "reverted accidental orion component changes"
  orion-ui/src/views/Dashboard.vue
  orion-ui/src/views/FlowRun--views/Index.vue
Due: none
