Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Clarifying task retry in docs (#4854)
  docs/core/concepts/tasks.md
Due: none

Move flow run terminal state setting to after executor shtudown
  src/prefect/flows.py
Due: black, flake8

Implement naive subflow task
  src/prefect/client.py
  src/prefect/flows.py
  tests/unit_tests/test_flows.py
Due: black, flake8

Assert backend data is correct in test
  tests/unit_tests/test_flows.py
Due: black

Generalize cache testing
  src/prefect/tasks.py
  tests/unit_tests/test_tasks.py
Due: black, flake8

Allow custom cursor types in SnowflakeQuery task (#4815)
  changes/issue4786.yaml
  src/prefect/tasks/snowflake/snowflake.py
  tests/tasks/snowflake/test_snowflake.py
Due: black, flake8

Sketch implementation reusing the parent executor
  src/prefect/flows.py
  tests/unit_tests/test_flows.py
Due: black, flake8

Fixup
  src/prefect/flows.py
Due: black, flake8

Set task name
  src/prefect/flows.py
Due: black, flake8

Rename to `is_nested_run`
  src/prefect/flows.py
Due: black, flake8

Cleanup logic
  src/prefect/flows.py
Due: black, flake8

Better rate limit retries (#4852)
  changes/pr4852.yaml
  src/prefect/client/client.py
Due: black, flake8

Ensure database connections are cached per-event-loop
  src/prefect/orion/api/dependencies.py
  src/prefect/orion/utilities/database.py
  tests/conftest.py
  tests/integration_tests/conftest.py
  tests/unit_tests/conftest.py
  tests/unit_tests/orion/models/test_orm.py
  tests/unit_tests/orion/utilities/test_database.py
Due: black, flake8

Fix postgres indexes
  src/prefect/orion/models/orm.py
Due: black, flake8

Fixup parent task run id
  src/prefect/flows.py
Due: black, flake8

Add requests to dev reqs
  requirements-dev.txt
Due: none

Progress on backend tests
  tests/unit_tests/orion/api/test_task_run_states.py
  tests/unit_tests/test_tasks.py
Due: black

Test setting and retrieving states with cache keys
  src/prefect/orion/models/task_run_states.py
  tests/unit_tests/orion/api/test_task_run_states.py
Due: black, flake8

Add task_input_hash tests
  tests/unit_tests/test_tasks.py
Due: black

Refactor rate limiting code to the correct method call
  src/prefect/client/client.py
Due: black, flake8

removing mysql stuff from this PR
  changes/pr4363.yaml
  src/prefect/tasks/mysql/mysql.py
  tests/tasks/mysql/test_mysql.py
Due: black, flake8

sql server test for kwargs
  tests/tasks/sql_server/test_sql_server.py
Due: black

linter
  tests/tasks/sql_server/test_sql_server.py
Due: black

Refactor rate limiting code to the correct method call (#4867)
  src/prefect/client/client.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: ^src/prefect/ and \.py$
