Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Update Breadcrumbs
  orion-ui/src/components/Global/BreadCrumb/BreadCrumb.vue
  orion-ui/src/components/Global/BreadCrumbs/BreadCrumbs.vue
Due: none

Added default and fixed punctuation
  src/prefect/tasks/zendesk/__init__.py
  src/prefect/tasks/zendesk/zendesk_tasks.py
Due: black, flake8

fix typo
  orion-ui/src/components/Global/BreadCrumbs/BreadCrumbs.vue
Due: none

Apply requested changes
  orion-ui/src/components/Global/BreadCrumb/BreadCrumb.vue
  orion-ui/src/components/Global/BreadCrumbs/BreadCrumbs.vue
Due: none

Location of logo
  README.md
Due: none

Move Crumb type to utils
  orion-ui/src/components/Global/BreadCrumb/BreadCrumb.vue
  orion-ui/src/components/Global/BreadCrumbs/BreadCrumbs.vue
  orion-ui/src/components/Global/utils.ts
Due: none

WIP
  src/prefect/__init__.py
  src/prefect/context.py
  src/prefect/engine.py
  src/prefect/utilities/logging.py
  src/prefect/utilities/logging.yml
Due: black, flake8

Grammar fixes from review
  src/prefect/flow_runners.py
  tests/fixtures/api.py
Due: black, flake8

Additional grammer fixes from review
  src/prefect/flow_runners.py
  tests/test_flow_runners.py
Due: black, flake8

Remove pinned pytkdocs install
  netlify.toml
Due: none

Add lower bound to include jakes changes
  requirements-dev.txt
Due: none

Format with black
  src/prefect/flow_runners.py
Due: black, flake8

Update to raw link
  README.md
Due: none

Host logo on contentful
  README.md
Due: none

Applied suggestions from reviewers
  changes/pr5280.yaml
  docs/outline.toml
  src/prefect/tasks/cubejs/__init__.py
  src/prefect/tasks/cubejs/cubejs_tasks.py
  tests/tasks/cubejs/test_cubejs_tasks.py
Due: black, flake8

Fixed failing test
  tests/tasks/cubejs/test_cubejs_tasks.py
Due: black

Run Black
  src/prefect/tasks/cubejs/cubejs_tasks.py
Due: black, flake8

Fixed flake8 warnings
  src/prefect/tasks/mixpanel/mixpanel_tasks.py
Due: black, flake8

Run Black
  src/prefect/tasks/mixpanel/mixpanel_tasks.py
Due: black, flake8

Removed Mixpanel stuff
  changes/pr5276.yaml
  src/prefect/tasks/mixpanel/__init__.py
  src/prefect/tasks/mixpanel/mixpanel_tasks.py
  tests/tasks/mixpanel/__init__.py
  tests/tasks/mixpanel/test_mixpanel_tasks.py
Due: black, flake8

Removed mixpanel entry from outline to fix docs tests
  docs/outline.toml
Due: none

Fix handling for container removal in `watch_container`
  src/prefect/flow_runners.py
Due: black, flake8

Add release candidate support to `Docker` storage (#5271)
  src/prefect/storage/docker.py
  tests/storage/test_docker_storage.py
Due: black, flake8

Remove tutorial for result handlers deprecated in v0.11 (#5281)
  docs/core/advanced_tutorials/using-result-handlers.md
Due: none

Format with black
  src/prefect/tasks/postgres/postgres.py
Due: black, flake8

Allow to setup HOST and PORT via env vars (#5246)
  src/prefect/utilities/settings.py
Due: black, flake8

Make `AirbyteConnectionTask`'s optional params optional (#5260)
  changes/pr_5260.yaml
  src/prefect/tasks/airbyte/airbyte.py
  tests/tasks/airbyte/test_airbyte.py
Due: black, flake8
