Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Better docstrings and renaming of prefect.tasks.soda to prefect.tasks.sodasql
  src/prefect/tasks/soda/soda.py
  src/prefect/tasks/sodasql/__init__.py
  src/prefect/tasks/sodasql/sodasql_tasks.py
  tests/tasks/soda/test_soda.py
Due: black, flake8

Updated CircleCI config
  .circleci/config.yml
Due: none

Fixed sodasql tests
  tests/tasks/sodasql/__init__.py
  tests/tasks/sodasql/test_sodasql_tasks.py
Due: black

Reformatted to make flake8 happy
  src/prefect/tasks/sodasql/sodasql_tasks.py
Due: black, flake8

update images for auth
  docs/.vuepress/public/api_key_list.png
  docs/.vuepress/public/api_key_name.png
  docs/.vuepress/public/orchestration/ui/service-accounts.png
  docs/orchestration/concepts/tokens.md
  docs/orchestration/ui/team-settings.md
Due: none

changelog
  changes/pr4313.yaml
Due: none

few additional wording updates
  docs/orchestration/concepts/api.md
  docs/orchestration/concepts/tokens.md
  docs/orchestration/tutorial/first.md
Due: none

Add mapping example
  docs/.vuepress/config.js
  examples/mapping.py
Due: black

Add conditional flow example
  docs/.vuepress/config.js
  docs/generate_docs.py
  examples/conditional.py
Due: black

standardize on "api_key" and "service_account_api_key"
  docs/orchestration/agents/fargate.md
  docs/orchestration/agents/overview.md
  docs/orchestration/concepts/api.md
  docs/orchestration/concepts/tokens.md
  docs/orchestration/tutorial/overview.md
Due: none

Python 3.7 compat
  docs/generate_docs.py
  examples/parameters.py
Due: black

A few cleanups
  docs/.vuepress/styles/index.styl
  docs/core/examples/overview.md
  docs/generate_docs.py
  docs/orchestration/tutorial/next-steps.md
  examples/conditional.py
  examples/parameters.py
Due: black

Rename cast_function parameter to cast
  src/prefect/tasks/kubernetes/secrets.py
  tests/tasks/kubernetes/test_secrets.py
Due: black, flake8

Reformat Code
  src/prefect/tasks/kubernetes/secrets.py
Due: black, flake8

Add ability to stream ShellTask logs with level INFO
  src/prefect/tasks/shell.py
  tests/tasks/test_shell.py
Due: black, flake8

Expand logs in `DaskExecutor`
  src/prefect/executors/dask.py
  tests/executors/test_executors.py
Due: black, flake8

Add changelog entry
  changes/pr4321.yaml
Due: none

Add soda sql scan task (#4308)
  .circleci/config.yml
  changes/add-soda-sql-scan-task.yaml
  setup.py
  src/prefect/tasks/sodasql/__init__.py
  src/prefect/tasks/sodasql/sodasql_tasks.py
  tests/tasks/sodasql/__init__.py
  tests/tasks/sodasql/test_sodasql_tasks.py
Due: black, flake8

Add a change file
  changes/pr4322.yaml
Due: none

Apply linting
  tests/tasks/test_shell.py
Due: black

Respond to feedback
  docs/core/examples/overview.md
  docs/generate_docs.py
  examples/conditional.py
  examples/parameters.py
Due: black

Add note on github token scope to docs [ci skip]
  docs/orchestration/flow_config/storage.md
Due: none

Change ShellTask.stream_output to type Union[bool, int]
  src/prefect/tasks/shell.py
  tests/tasks/test_shell.py
Due: black, flake8

avoid just saying 'key'
  docs/orchestration/agents/fargate.md
  docs/orchestration/concepts/api.md
  docs/orchestration/concepts/tokens.md
Due: none

Add terminal state handler to Flow
  changes/issue4198.yaml
  docs/core/concepts/flows.md
  src/prefect/core/flow.py
  src/prefect/engine/flow_runner.py
  tests/core/test_flow.py
Due: black, flake8

Update flow state tests
  tests/core/test_flow.py
Due: black

Fix formatting
  src/prefect/engine/flow_runner.py
Due: black, flake8

Some ECS fixups
  src/prefect/agent/ecs/agent.py
  tests/agent/test_ecs_agent.py
Due: black, flake8

Update documentation
  docs/core/concepts/flows.md
Due: none

Include function signature in type
  src/prefect/core/flow.py
Due: black, flake8

Add changelog entry
  changes/pr4325.yaml
Due: none

Remove keyword argument from terminal handler
  src/prefect/engine/flow_runner.py
Due: black, flake8

Add architecture diagram to docs
  docs/.vuepress/public/prefect_architecture_overview.png
  docs/orchestration/README.md
Due: none

Update changelog
  changes/pr4326.yaml
Due: none

Change ShellTask.stream_output to type Union[bool, int, str]
  src/prefect/tasks/shell.py
  tests/tasks/test_shell.py
Due: black, flake8

Add support for Bitbucket cloud
  src/prefect/serialization/storage.py
  src/prefect/storage/bitbucket.py
  tests/storage/test_bitbucket_storage.py
Due: black, flake8

Update ShellTask docstring
  src/prefect/tasks/shell.py
Due: black, flake8

Support local directory imports in flow scripts from CLI
  src/prefect/cli/build_register.py
  tests/cli/test_build_register.py
Due: black, flake8

Add changelog entry
  changes/pr4332.yaml
Due: none

added to changelog
  changes/issue4318.yaml
Due: none
