Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Move temporary settings usage into fixture
  tests/fixtures/api.py
  tests/test_flow_runners.py
Due: black

Allow the `host.docker.internal` to be unset on non-linux systems
  src/prefect/flow_runners.py
  src/prefect/utilities/settings.py
  tests/test_flow_runners.py
Due: black, flake8

Update miter to 0.1.15
  orion-ui/package-lock.json
  orion-ui/package.json
Due: none

Fix reversed logic because of bad find/replace
  orion-ui/src/components/FilterBar/FilterMenu.vue
  orion-ui/src/components/FilterBar/SaveSearchMenu.vue
Due: none

Revert "Fix reversed logic because of bad find/replace"
  orion-ui/src/components/FilterBar/FilterMenu.vue
  orion-ui/src/components/FilterBar/SaveSearchMenu.vue
Due: none

Update Settings.vue
  orion-ui/src/views/Settings.vue
Due: none

Do not warn if the user is not using a local host
  src/prefect/flow_runners.py
  tests/test_flow_runners.py
Due: black, flake8

Second attempt to fix bad find/replace
  orion-ui/src/components/FilterBar/FilterMenu.vue
Due: none

Add negative tests for non-linux host.docker.internal behavior
  tests/test_flow_runners.py
Due: black

Fix media logic
  orion-ui/src/components/FilterBar/SaveSearchMenu.vue
Due: none

Add subflow run parameter validation
  src/prefect/engine.py
  tests/test_flows.py
Due: black, flake8

Add `stream_output` tests
  tests/test_flow_runners.py
Due: black

Move python version to after prefect version
  src/prefect/flow_runners.py
Due: black, flake8

Added handling of Mixpanel error response
  src/prefect/tasks/mixpanel/mixpanel_tasks.py
  tests/tasks/mixpanel/test_mixpanel_tasks.py
Due: black, flake8

Reduce docker image builds required; add tests for image name
  src/prefect/flow_runners.py
  tests/test_flow_runners.py
Due: black, flake8

Set the default image on `DockerFlowRunner` creation instead of runtime
  src/prefect/flow_runners.py
  tests/test_flow_runners.py
Due: black, flake8

Separate image name tests
  tests/test_flow_runners.py
Due: black

Fixup
  tests/test_flow_runners.py
Due: black

Remove JSON object, use ID columns for filters
  src/prefect/orion/database/orm_models.py
  tests/orion/models/test_orm.py
Due: black, flake8

Update to match new UUID column filters
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
  src/prefect/orion/schemas/filters.py
  tests/orion/api/test_logs.py
Due: black, flake8

Do not index Log.name
  src/prefect/orion/database/orm_models.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: ^src/prefect/ and \.py$
