Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: auto-generate-documentation, check-ui-v2, service-sync-ui-v2-openapi

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.5
    hooks:
      - id: ruff
        language_version: python3
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: package-lock.json|_vendor/.*|docs/styles/.*
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=1.10.0,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0
          - types-cachetools==5.3.0.5
          - types-pyyaml==6.0.12.9
        files: |
          (?x)^(
            src/prefect/server/models/.*|
            src/prefect/concurrency/.*|
            src/prefect/events/.*|
            src/prefect/input/.*
          )$
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.6.11
    hooks:
      - id: uv-lock

  - repo: local
    hooks:
      - id: auto-generate-documentation
        name: Auto-generating Documentation
        language: system
        entry: uv run --isolated -p 3.9 --with 'pydantic>=2.9.0' ./scripts/run_precommit_generation_scripts.py
        pass_filenames: false
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              src/prefect/settings/models/.*|
              scripts/generate_mintlify_openapi_docs.py|
              scripts/generate_settings_schema.py|
              scripts/generate_settings_ref.py|
              scripts/run_precommit_generation_scripts.py
          )$
      - id: check-ui-v2
        name: Check UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            ". $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run check:staged",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: service-sync-ui-v2-openapi
        name: Sync UI v2 OpenAPI
        language: system
        entry: sh
        args:
          [
            "-c",
            ". $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run service-sync",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              src/prefect/server/utilities/schemas/.*|
              ui-v2/package.json
          )$
        pass_filenames: false

add db maintenance guide (#18526)
  docs/docs.json
  docs/v3/advanced/database-maintenance.mdx
Due: none

Enforce max asset description length (#18541)
  src/prefect/assets/core.py
  tests/test_assets.py
Due: none

Add init guard to memory lease storage
  src/prefect/server/concurrency/lease_storage/memory.py
Due: none

explore explicit task methods
  src/prefect/tasks.py
Due: none

Deflake integration tests
  integration-tests/test_concurrency_leases.py
  src/prefect/server/concurrency/lease_storage/filesystem.py
Due: none

`depends_on`
  src/prefect/tasks.py
Due: none

add note about PREFECT_API_KEY in ecs guide
  docs/integrations/prefect-aws/ecs_guide.mdx
Due: none

auth string
  docs/integrations/prefect-aws/ecs_guide.mdx
Due: none

add note about `PREFECT_API_KEY` in ecs guide (#18547)
  docs/integrations/prefect-aws/ecs_guide.mdx
Due: none

feat: implement work pool creation wizard for React UI
  ui-v2/src/api/work-pools/index.ts
  ui-v2/src/api/work-pools/work-pools.ts
  ui-v2/src/api/workers/index.ts
  ui-v2/src/api/workers/workers.test.ts
  ui-v2/src/api/workers/workers.ts
  ui-v2/src/components/ui/alert.tsx
  ui-v2/src/components/ui/stepper/stepper.tsx
  ui-v2/src/components/work-pools/create/configuration-step.test.tsx
  ui-v2/src/components/work-pools/create/configuration-step.tsx
  ui-v2/src/components/work-pools/create/hooks/use-work-pool-create-wizard.test.ts
  ui-v2/src/components/work-pools/create/hooks/use-work-pool-create-wizard.ts
  ui-v2/src/components/work-pools/create/hooks/use-work-pool-validation.test.ts
  ui-v2/src/components/work-pools/create/hooks/use-work-pool-validation.ts
  ui-v2/src/components/work-pools/create/information-step.test.tsx
  ui-v2/src/components/work-pools/create/information-step.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step.test.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step.tsx
  ui-v2/src/components/work-pools/create/types.ts
  ui-v2/src/components/work-pools/create/work-pool-create-wizard.test.tsx
  ui-v2/src/components/work-pools/create/work-pool-create-wizard.tsx
  ui-v2/src/mocks/create-fake-worker-metadata.ts
  ui-v2/src/mocks/index.ts
  ui-v2/src/routes/work-pools/create.tsx
Due: check-ui-v2

fix: resolve ESLint errors in work pool creation components
  ui-v2/src/api/work-pools/work-pools.ts
  ui-v2/src/components/work-pools/create/configuration-step.test.tsx
  ui-v2/src/components/work-pools/create/configuration-step.tsx
  ui-v2/src/components/work-pools/create/hooks/use-work-pool-create-wizard.test.ts
  ui-v2/src/components/work-pools/create/hooks/use-work-pool-create-wizard.ts
  ui-v2/src/components/work-pools/create/infrastructure-type-step.test.tsx
  ui-v2/src/components/work-pools/create/work-pool-create-wizard.tsx
  ui-v2/src/mocks/create-fake-worker-metadata.ts
Due: check-ui-v2

Fix `biome` errors
  ui-v2/src/api/work-pools/work-pools.ts
  ui-v2/src/components/work-pools/create/configuration-step.test.tsx
  ui-v2/src/components/work-pools/create/configuration-step.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step.test.tsx
  ui-v2/src/components/work-pools/create/work-pool-create-wizard.tsx
Due: check-ui-v2

Fix build errors
  ui-v2/src/components/work-pools/create/configuration-step.tsx
  ui-v2/src/mocks/create-fake-worker-metadata.ts
Due: check-ui-v2

Fixed Value Error for large log errors
  src/prefect/logging/handlers.py
  tests/test_logging.py
Due: none

Remove code handling for prefect-agent work pool type
  ui-v2/src/components/work-pools/create/configuration-step.test.tsx
  ui-v2/src/components/work-pools/create/configuration-step.tsx
Due: check-ui-v2

Fix wizard and add timeout to checks
  .github/workflows/ui-v2-checks.yml
  ui-v2/src/components/work-pools/create/configuration-step.tsx
  ui-v2/src/components/work-pools/create/infrastructure-type-step.tsx
  ui-v2/src/components/work-pools/create/work-pool-create-wizard.tsx
Due: check-ui-v2

Remove slop comment
  ui-v2/src/components/work-pools/create/hooks/use-work-pool-create-wizard.ts
Due: check-ui-v2

Track lease creation time and use it to calculate occupancy seconds
  src/prefect/server/api/concurrency_limits_v2.py
  src/prefect/server/concurrency/lease_storage/filesystem.py
  src/prefect/server/services/repossessor.py
  src/prefect/server/utilities/leasing.py
Due: auto-generate-documentation, service-sync-ui-v2-openapi

Generate documentation and UI client code updates
  docs/v3/api-ref/rest-api/server/schema.json
  ui-v2/src/api/prefect.ts
Due: check-ui-v2

Fixes failing tests
  src/prefect/server/api/concurrency_limits_v2.py
  src/prefect/server/utilities/leasing.py
  tests/server/orchestration/api/test_concurrency_limits_v2.py
Due: auto-generate-documentation, service-sync-ui-v2-openapi

Update generated API docs and UI client code
  docs/v3/api-ref/rest-api/server/schema.json
  ui-v2/src/api/prefect.ts
Due: check-ui-v2

Attempt to fix test failures
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/components/artifacts/artifact-card.test.tsx
  ui-v2/src/components/artifacts/artifact/artifact-detail-header.test.tsx
  ui-v2/src/components/artifacts/artifact/artifact-detail-page.test.tsx
  ui-v2/src/components/artifacts/key/timeline/timelineCard.test.tsx
  ui-v2/src/components/artifacts/key/timeline/timelineContainer.test.tsx
  ui-v2/src/components/artifacts/key/timeline/timelineRow.test.tsx
  ui-v2/src/components/blocks/block-document-action-menu/block-document-action-menu.test.tsx
  ui-v2/src/components/blocks/blocks-row-count/blocks-row-count.test.tsx
  ui-v2/src/components/deployments/data-table/data-table.test.tsx
  ui-v2/src/components/deployments/deployment-action-menu/deployment-action-menu.test.tsx
  ui-v2/src/components/deployments/run-flow-button/run-flow-button.test.tsx
  ui-v2/src/components/flow-runs/activity-chart/popover.test.tsx
  ui-v2/src/components/task-runs/task-run-logs/index.tsx
  ui-v2/src/components/task-runs/task-run-logs/task-run-logs.test.tsx
  ui-v2/src/components/ui/flow-run-activity-bar-graph/flow-run-activity-bar-graph.test.tsx
  ui-v2/src/components/ui/run-logs/index.tsx
  ui-v2/src/components/ui/run-logs/run-logs.test.tsx
  ui-v2/src/components/work-pools/work-pool-card/components/work-pool-context-menu.test.tsx
  ui-v2/src/routeTree.gen.ts
  ui-v2/tests/app.test.tsx
  ui-v2/tests/setup.ts
  ui-v2/tests/variables/variables.test.tsx
Due: check-ui-v2, service-sync-ui-v2-openapi

Fix linting issue
  ui-v2/tests/app.test.tsx
Due: check-ui-v2

Track concurrency limit lease creation time and use it to calculate occupancy seconds (#18551)
  docs/v3/api-ref/rest-api/server/schema.json
  src/prefect/server/api/concurrency_limits_v2.py
  src/prefect/server/concurrency/lease_storage/filesystem.py
  src/prefect/server/services/repossessor.py
  src/prefect/server/utilities/leasing.py
  tests/server/orchestration/api/test_concurrency_limits_v2.py
  ui-v2/src/api/prefect.ts
Due: auto-generate-documentation, check-ui-v2, service-sync-ui-v2-openapi

Fixes failing tests
  src/prefect/client/orchestration/_concurrency_limits/client.py
  src/prefect/concurrency/_asyncio.py
  src/prefect/concurrency/asyncio.py
  tests/concurrency/test_concurrency_asyncio.py
Due: none

Update async `concurrency` context manager to use leases
  src/prefect/client/orchestration/_concurrency_limits/client.py
  src/prefect/client/orchestration/routes.py
  src/prefect/client/schemas/responses.py
  src/prefect/concurrency/_asyncio.py
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/services.py
Due: none

Add integration test for async concurrency with leases and fix some stuff
  .github/workflows/integration-tests.yaml
  integration-tests/test_concurrency_leases.py
  src/prefect/server/concurrency/lease_storage/__init__.py
  src/prefect/server/concurrency/lease_storage/filesystem.py
  src/prefect/server/concurrency/lease_storage/memory.py
  src/prefect/server/services/repossessor.py
  tests/server/concurrency/test_filesystem_lease_storage.py
Due: none

Fix integration test failures
  .github/workflows/integration-tests.yaml
  integration-tests/test_concurrency_leases.py
  src/prefect/server/services/repossessor.py
Due: none

Fix test failures
  src/prefect/concurrency/asyncio.py
Due: none

Add cancellation of execution if lease renewal fails and strict is True
  integration-tests/test_concurrency_leases.py
  src/prefect/concurrency/asyncio.py
Due: none

Update to use AsyncCancelScope to be consistent with sync behavior
  integration-tests/test_concurrency_leases.py
  src/prefect/concurrency/asyncio.py
Due: none

Remove `occupancy_seconds` from the client
  src/prefect/client/orchestration/_concurrency_limits/client.py
  src/prefect/concurrency/_asyncio.py
  src/prefect/concurrency/asyncio.py
  src/prefect/concurrency/context.py
Due: none

Fixes failing tests
  src/prefect/server/concurrency/lease_storage/memory.py
  tests/concurrency/test_concurrency_asyncio.py
Due: none
