Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Remove useless and failing output test
  tests/environments/storage/test_docker_storage.py
Due: black

Hide private methods in api docs
  docs/generate_docs.py
  docs/outline.toml
  docs/test_generate_docs.py
Due: black

Fix docker storage bug when output is `None` (#3717)
  changes/pr3717.yaml
  src/prefect/environments/storage/docker.py
  tests/environments/storage/test_docker_storage.py
Due: black, flake8

Move docker storage env declaration up
  src/prefect/environments/storage/docker.py
Due: black, flake8

Use explicit exception chaining in execution/dask
  src/prefect/environments/execution/dask/k8s.py
Due: black, flake8

Use explicit exception chaining in tasks/gcp
  src/prefect/tasks/gcp/bigquery.py
Due: black, flake8

Use explicit exception chaining in tasks/jupyter
  src/prefect/tasks/jupyter/__init__.py
Due: black, flake8

Add issue descriptor file
  changes/issue3306.yaml
Due: none

Allow custom exporter for ExecuteNotebook task
  src/prefect/tasks/jupyter/jupyter.py
Due: black, flake8

Add test for custom exporter
  tests/tasks/jupyter/test_jupyter.py
Due: black

Remove unused import
  src/prefect/tasks/jupyter/jupyter.py
Due: black, flake8

add change file
  changes/pr3725.yaml
Due: none

fix formatting
  src/prefect/tasks/jupyter/jupyter.py
Due: black, flake8

Fix documentation and code formatting error
  src/prefect/tasks/jupyter/jupyter.py
Due: black, flake8

Fix PicklingError in BigQueryLoadFile and BigQueryLoadGoogleCloudStorage #3657
  changes/pr3724.yaml
  src/prefect/tasks/gcp/bigquery.py
Due: black, flake8

Fix using location parameter
  changes/pr3726.yaml
  src/prefect/tasks/gcp/bigquery.py
Due: black, flake8

Update changes/pr3726.yaml [ci skip]
  changes/pr3726.yaml
Due: none

use nbconvert export and get_exporter functions
  src/prefect/tasks/jupyter/jupyter.py
  tests/tasks/jupyter/test_jupyter.py
Due: black, flake8

update task description
  src/prefect/tasks/jupyter/jupyter.py
Due: black, flake8

keep json as valid argument for execute notebook
  src/prefect/tasks/jupyter/jupyter.py
Due: black, flake8

test ExecuteNotebook with json and notebook format
  tests/tasks/jupyter/test_jupyter.py
Due: black

Add new Client function delete_project
  src/prefect/client/client.py
Due: black, flake8

Add delete_project to the cli
  src/prefect/cli/__init__.py
  src/prefect/cli/delete.py
Due: black, flake8

Codestyle test_client.py in flake8
  tests/client/test_client.py
Due: black

Add tests for delete_project
  tests/client/test_client.py
Due: black

Add tests for cli delete_project
  tests/cli/test_delete.py
Due: black

Add delete_project in the docs
  docs/outline.toml
Due: none

Add pr3796.yaml in changes/
  changes/pr3796.yaml
Due: none

Add pr url to pr3796.yaml
  changes/pr3796.yaml
Due: none

Updated unit tests and fixed docstrings
  src/prefect/environments/storage/bitbucket.py
  tests/agent/test_local_agent.py
  tests/environments/storage/test_bitbucket_storage.py
  tests/utilities/test_git.py
Due: black, flake8

test ExecuteNotebook exporter kwargs
  tests/tasks/jupyter/sample_notebook.ipynb
  tests/tasks/jupyter/test_jupyter.py
Due: black

Actually set exporter_kwargs on initialization
  src/prefect/tasks/jupyter/jupyter.py
Due: black, flake8

Corrected errors in unit tests and added missing schema type
  docs/outline.toml
  src/prefect/environments/storage/bitbucket.py
  src/prefect/serialization/storage.py
  tests/utilities/test_git.py
Due: black, flake8

Corrected NoneType concat error when credentials not provided
  src/prefect/utilities/git.py
  tests/environments/storage/test_bitbucket_storage.py
  tests/utilities/test_git.py
Due: black, flake8

Pass `helper_script` on runtime
  src/prefect/tasks/dbt/dbt.py
  src/prefect/tasks/shell.py
  tests/tasks/test_shell.py
Due: black, flake8

Typo corrected in git.py
  src/prefect/utilities/git.py
Due: black, flake8

Add changelog file
  changes/pr3729.yaml
Due: none

test_git.py and authentication asserts updated
  tests/environments/storage/test_bitbucket_storage.py
  tests/utilities/test_git.py
Due: black

Replace two calls to the API with one to get_or_create_task_run_info
  src/prefect/client/client.py
  tests/client/test_client.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: ^src/prefect/ and \.py$
