Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ui-v2, service-sync-ui-v2-openapi

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-push

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - id: ruff-check
        language_version: python3
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: package-lock.json|_vendor/.*|docs/styles/.*
  # ty type checker (replacing mypy) - https://astral.sh/blog/ty
  - repo: local
    hooks:
      - id: ty
        name: ty check
        entry: uv run ty check
        language: system
        pass_filenames: false
        always_run: true
        types: [python]
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.6.17
    hooks:
      - id: uv-lock

  - repo: local
    hooks:
      - id: check-ui-v2
        name: Check UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            ". $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run check:staged",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: service-sync-ui-v2-openapi
        name: Sync UI v2 OpenAPI
        language: system
        entry: sh
        args:
          [
            "-c",
            ". $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run service-sync",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              src/prefect/server/utilities/schemas/.*|
              ui-v2/package.json
          )$
        pass_filenames: false
        stages:
          - pre-push

Bump prefect lower bound to >=3.6.17 in integration packages (#20659)
  docs/v3/release-notes/integrations/prefect-aws.mdx
  docs/v3/release-notes/integrations/prefect-azure.mdx
  docs/v3/release-notes/integrations/prefect-bitbucket.mdx
  docs/v3/release-notes/integrations/prefect-dbt.mdx
  docs/v3/release-notes/integrations/prefect-gcp.mdx
  docs/v3/release-notes/integrations/prefect-github.mdx
  docs/v3/release-notes/integrations/prefect-gitlab.mdx
  docs/v3/release-notes/integrations/prefect-kubernetes.mdx
  docs/v3/release-notes/integrations/prefect-shell.mdx
  docs/v3/release-notes/integrations/prefect-sqlalchemy.mdx
  src/integrations/prefect-aws/pyproject.toml
  src/integrations/prefect-azure/pyproject.toml
  src/integrations/prefect-bitbucket/pyproject.toml
  src/integrations/prefect-dbt/pyproject.toml
  src/integrations/prefect-gcp/pyproject.toml
  src/integrations/prefect-github/pyproject.toml
  src/integrations/prefect-gitlab/pyproject.toml
  src/integrations/prefect-kubernetes/pyproject.toml
  src/integrations/prefect-shell/pyproject.toml
  src/integrations/prefect-sqlalchemy/pyproject.toml
Due: none

Add DuckDB integration tests for full-refresh and macro cache invalidation
  src/integrations/prefect-dbt/tests/core/test_orchestrator_integration.py
  src/integrations/prefect-dbt/tests/dbt_test_project/macros/format_amount.sql
  src/integrations/prefect-dbt/tests/dbt_test_project/models/marts/customer_summary.sql
Due: none

Mark Phase 6 complete in plan doc with implementation notes
  plans/2025-01-31-per-node-dbt-orchestration.md
Due: none

fix(ui-v2): revert dashboard.tsx inlining to fix test failures
  ui-v2/src/routes/dashboard.tsx
Due: check-ui-v2

fix(schemas): include duration fields in TaskRunResponse
  src/prefect/server/schemas/responses.py
  tests/server/orchestration/api/test_task_runs.py
Due: service-sync-ui-v2-openapi

chore: update uv.lock for ruff 0.15.1
  uv.lock
Due: none

fix: replace deprecated pendulum.__version__ with importlib.metadata.version
  tests/server/api/test_run_history.py
  tests/server/schemas/test_schedules.py
  tests/workers/test_base_worker.py
Due: none

fix(schemas): include duration fields in TaskRunResponse (#20664)
  src/prefect/server/schemas/responses.py
  tests/server/orchestration/api/test_task_runs.py
Due: service-sync-ui-v2-openapi

chore: bump ruff to v0.15.1 in pre-commit config
  .pre-commit-config.yaml
Due: check-ui-v2, service-sync-ui-v2-openapi

chore: sync UI v2 OpenAPI types
  ui-v2/src/api/prefect.ts
Due: check-ui-v2

Update uv.lock
  uv.lock
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

test: verify worker debug mode doesn't affect non-worker loggers
  tests/workers/test_base_worker.py
Due: none

Fix Prefect Docs MCP configuration instructions
  docs/v3/mcp-servers/index.mdx
  docs/v3/mcp-servers/prefect-docs-mcp.mdx
Due: none

fix: restore comments inadvertently removed from utilities.py
  src/prefect/workers/utilities.py
Due: none

fix: skip lease renewal and release when no concurrency limits exist
  src/prefect/concurrency/_asyncio.py
  src/prefect/concurrency/_sync.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_sync.py
Due: none

Make AGENTS.md symlink script idempotent and run on session start
  .claude/settings.json
  scripts/symlink_agents_to_claude.py
Due: none

Migrate symlink script from Python to bash in .claude/hooks
  .claude/hooks/symlink-agents-to-claude.sh
  .claude/settings.json
  justfile
  scripts/symlink_agents_to_claude.py
Due: none

Add Claude Code `SessionStart` hook to symlink `AGENTS.md` files to `CLAUDE.md` files (#20667)
  .claude/hooks/symlink-agents-to-claude.sh
  .claude/settings.json
  justfile
  scripts/symlink_agents_to_claude.py
Due: none

refactor: address test review feedback - top-level import, improved logger assertions
  tests/workers/test_base_worker.py
Due: none

fix: skip lease renewal and release when no concurrency limits exist (#20666)
  src/prefect/concurrency/_asyncio.py
  src/prefect/concurrency/_sync.py
  tests/concurrency/test_concurrency_asyncio.py
  tests/concurrency/test_concurrency_sync.py
Due: none

Increase SQLite busy_timeout in test mode from 30s to 60s
  src/prefect/server/database/configurations.py
Due: none

Fix order-dependent slug collisions in deployment schedule `replaces` handling
  src/prefect/server/api/deployments.py
  tests/server/orchestration/api/test_deployments.py
  ui-v2/package-lock.json
Due: check-ui-v2, service-sync-ui-v2-openapi

Regenerate OpenAPI types for UI
  ui-v2/src/api/prefect.ts
Due: check-ui-v2

docs: add comprehensive base job template examples for Kubernetes
  docs/v3/how-to-guides/deployment_infra/kubernetes.mdx
Due: none

Remove redundant sections from Prefect Docs MCP page
  docs/v3/mcp-servers/prefect-docs-mcp.mdx
Due: none

Add source freshness integration to per-node dbt orchestrator
  src/integrations/prefect-dbt/prefect_dbt/core/_freshness.py
  src/integrations/prefect-dbt/prefect_dbt/core/_manifest.py
  src/integrations/prefect-dbt/prefect_dbt/core/_orchestrator.py
  src/integrations/prefect-dbt/tests/core/conftest.py
  src/integrations/prefect-dbt/tests/core/test_freshness.py
  src/integrations/prefect-dbt/tests/core/test_freshness_integration.py
Due: none

Enhance 'What you get' section and remove test setup
  docs/v3/mcp-servers/prefect-docs-mcp.mdx
Due: none

Mark Phase 7 complete in plan doc with implementation notes
  plans/2025-01-31-per-node-dbt-orchestration.md
Due: none

Fix stale sources.json reuse and error_after fallback in freshness integration
  src/integrations/prefect-dbt/prefect_dbt/core/_cache.py
  src/integrations/prefect-dbt/prefect_dbt/core/_executor.py
  src/integrations/prefect-dbt/prefect_dbt/core/_freshness.py
  src/integrations/prefect-dbt/prefect_dbt/core/_manifest.py
  src/integrations/prefect-dbt/prefect_dbt/core/_orchestrator.py
  src/integrations/prefect-dbt/tests/core/test_freshness.py
Due: none

Fix zero-threshold freshness expiration using explicit None check
  src/integrations/prefect-dbt/prefect_dbt/core/_freshness.py
  src/integrations/prefect-dbt/tests/core/test_freshness.py
Due: none

refactor: move base job template examples to dedicated page
  docs/v3/advanced/customize-base-job-templates.mdx
  docs/v3/how-to-guides/deployment_infra/kubernetes.mdx
Due: none

Add flow run test infrastructure (Python flow runner, log helper)
  ui-v2/e2e/fixtures/api-helpers/index.ts
  ui-v2/e2e/fixtures/api-helpers/logs.ts
  ui-v2/e2e/fixtures/index.ts
  ui-v2/e2e/fixtures/run-python-flow.ts
  ui-v2/e2e/helpers/run_flows.py
Due: check-ui-v2

Fix Python filter types and use import.meta.url for ES module compat
  ui-v2/e2e/fixtures/run-python-flow.ts
  ui-v2/e2e/helpers/run_flows.py
Due: check-ui-v2
