Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Update container settings printout
  src/prefect/flow_runners.py
Due: black, flake8

Add build of release candidate docker image (#5253)
  .circleci/config.yml
Due: none

🐛 `AirbyteConnectionTask.run()` params are now optional as expected
  src/prefect/tasks/airbyte/airbyte.py
Due: black, flake8

review changes
  src/prefect/tasks/monte_carlo/client.py
  src/prefect/tasks/monte_carlo/monte_carlo_lineage.py
  tests/tasks/monte_carlo/test_monte_carlo_lineage.py
Due: black, flake8

🐛 Fix failing request not raising an exception
  src/prefect/tasks/airbyte/airbyte.py
Due: black, flake8

✅ Add a test for optional params
  tests/tasks/airbyte/test_airbyte.py
Due: black

📝 Add changes YAML
  changes/pr_5260.yaml
Due: none

Fix pytest errors and bind to 0.0.0.0 instead of 127.0.0.1 to try to fix github issues
  tests/fixtures/api.py
Due: black

Fixup test
  tests/test_flow_runners.py
Due: black

Drop all handling for sqlite auto-support
  src/prefect/flow_runners.py
  tests/test_flow_runners.py
Due: black, flake8

Shorten message
  src/prefect/flow_runners.py
  tests/test_flow_runners.py
Due: black, flake8

Add 0.0.0.0 comment
  tests/fixtures/api.py
Due: black

Remove context manager -- investigating hangs on py3.7 in CI
  tests/fixtures/api.py
Due: black

Add Log model
  src/prefect/orion/database/interface.py
  src/prefect/orion/database/orm_models.py
  tests/orion/models/test_orm.py
Due: black, flake8

Add test covering postgres with ephemeral API
  src/prefect/flow_runners.py
  tests/test_flow_runners.py
Due: black, flake8

Continue fighting with the async fixture; use a context and devnull to avoid deadlock
  tests/fixtures/api.py
Due: black

Add todo regarding version mismatch
  src/prefect/serializers.py
Due: black, flake8

Ensure test container python version matches
  src/prefect/flow_runners.py
Due: black, flake8

Allow `mock` to be missing from `prefect.utilities.compat`
  src/prefect/utilities/compat.py
Due: black, flake8

Fix broken link to flow runs documentation.
  docs/orchestration/flow_config/overview.md
Due: none

Added changelog file for PR #5263
  changes/pr5263.yaml
Due: none

Updated docstrings for PR checklist.
  src/prefect/tasks/firebolt/firebolt.py
Due: black, flake8

Updated docstrings of arguments for PR checklist.
  src/prefect/tasks/firebolt/firebolt.py
Due: black, flake8

Update operations.py
  src/prefect/tasks/files/operations.py
Due: black, flake8

Added changelog for Firebolt
  changes/pr5263.yaml
  changes/pr5265.yaml
Due: none

Fix broken link to flow runs documentation. (#5262)
  docs/orchestration/flow_config/overview.md
Due: none

Add lots more tests
  src/prefect/flow_runners.py
  tests/test_flow_runners.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: ^src/prefect/ and \.py$
