Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

remove_superfluous_sentence
  RELEASE-NOTES.md
Due: none

add_newline
  RELEASE-NOTES.md
Due: none

Retries and caching.
  docs/concepts/tasks.md
Due: none

Fixed for Issue #4084, #3631, #5299, #4455, #4566, #4277.
  src/prefect/utilities/executors.py
  tests/core/test_task_map.py
Due: black, flake8

Add change file in change directory.
  changes/issue4084.yaml
Due: none

Add changes file
  changes/pr5335.yml
Due: none

Remove "server" changelog heading from contribution docs
  docs/core/development/contributing.md
Due: none

Remove "server" changelog heading from contribution docs (#5341)
  docs/core/development/contributing.md
Due: none

Update media queries
  orion-ui/src/components/Global/BreadCrumbs/BreadCrumbs.vue
  orion-ui/src/components/Global/BreadCrumbs/index.ts
Due: none

Update `updated` column manually on concurrency limit upsert
  src/prefect/orion/models/concurrency_limits.py
Due: black, flake8

Upsert concurrency limits
  src/prefect/orion/database/interface.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/models/concurrency_limits.py
Due: black, flake8

add missing imports
  orion-ui/src/components.d.ts
  orion-ui/src/components/Global/index.ts
  orion-ui/src/main.ts
Due: none

updates to support codesharing with Nebula
  orion-ui/src/components/Global/BreadCrumb/BreadCrumb.vue
  orion-ui/src/components/Global/BreadCrumbs/BreadCrumbs.vue
Due: none

Test concurrency limits API
  src/prefect/orion/models/concurrency_limits.py
  tests/orion/api/test_concurrency_limits.py
Due: black, flake8

Improve naming
  src/prefect/orion/orchestration/core_policy.py
Due: black, flake8

wait and wait_for.
  docs/concepts/tasks.md
Due: none

Futures and states.
  docs/concepts/tasks.md
Due: none

Start testing concurrency limit orchestration
  tests/fixtures/database.py
  tests/orion/orchestration/test_core_policy.py
Due: black

Test full concurrency limiting cycle
  tests/fixtures/database.py
  tests/orion/orchestration/test_core_policy.py
Due: black

Styling for code blocks, img, and tables.
  docs/stylesheets/extra.css
  mkdocs.yml
Due: none

Spike out limit-creation race condition test
  tests/orion/orchestration/test_core_policy.py
Due: black

Initial commit
  src/prefect/tasks/neo4j/__init__.py
  src/prefect/tasks/neo4j/neo4j_tasks.py
  tests/tasks/neo4j/test_neo4j_tasks.py
Due: black, flake8

Improve new tag race condition test
  tests/orion/orchestration/test_core_policy.py
Due: black

Path conditions:
  black: any of: \.py$
  flake8: any of: ^src/prefect/ and \.py$
