Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Edits to focus tutorial examples on Prefect Cloud.
  docs/orchestration/getting-started/basic-core-flow.md
  docs/orchestration/getting-started/quick-start.md
  docs/orchestration/getting-started/registering-and-running-a-flow.md
  docs/orchestration/getting-started/set-up.md
Due: none

update bigquery dependency to support version 2.0
  setup.py
Due: black

add change file update
  changes/pr5084.yaml
Due: none

Revisions from feedback.
  docs/orchestration/getting-started/set-up.md
Due: none

Added DbtCloudRunJob task
  docs/outline.toml
  src/prefect/tasks/dbt/__init__.py
  src/prefect/tasks/dbt/dbt.py
  src/prefect/tasks/dbt/dbt_cloud_utils.py
  tests/tasks/dbt/test_dbt.py
Due: black, flake8

Added change file
  changes/pr5085.yml
Due: none

Fixed code style
  src/prefect/tasks/dbt/dbt.py
Due: black, flake8

Fixed method docstring
  src/prefect/tasks/dbt/dbt.py
Due: black, flake8

Add slug logs to registration
  src/prefect/client/client.py
Due: black, flake8

Update docs/orchestration/README.md
  docs/orchestration/README.md
Due: none

Update docs/orchestration/getting-started/set-up.md
  docs/orchestration/getting-started/set-up.md
Due: none

Dispose cached engines created during an ephemeral client's lifetime
  src/prefect/client.py
  src/prefect/orion/utilities/database.py
Due: black, flake8

Implement lazy engine disposal in the server
  src/prefect/client.py
  src/prefect/orion/utilities/database.py
Due: black, flake8

Remove some unrelated changes
  src/prefect/client.py
  src/prefect/orion/utilities/database.py
Due: black, flake8

Drop the disposed engine from the cache
  src/prefect/orion/utilities/database.py
Due: black, flake8

Check if the client created the engine on startup
  src/prefect/client.py
  src/prefect/orion/utilities/database.py
Due: black, flake8

Try disposing engines with an async call
  src/prefect/orion/utilities/database.py
Due: black, flake8

Here is the wild asyncgen implementation
  src/prefect/orion/utilities/database.py
Due: black, flake8

Log executor startup failures, log and trap executor teardown failures
  src/prefect/executors.py
Due: black, flake8

Really document what is going on with disposal
  src/prefect/orion/utilities/database.py
Due: black, flake8

Test the asyncgen shutdown hack
  src/prefect/orion/utilities/database.py
Due: black, flake8

Ensure the engine exists before attempting to dispose of it
  src/prefect/orion/utilities/database.py
Due: black, flake8

Cleanup comment
  src/prefect/orion/utilities/database.py
Due: black, flake8

Try using weakrefs
  src/prefect/orion/utilities/database.py
Due: black, flake8

Remove weakrefs, switch to null pool
  src/prefect/orion/utilities/database.py
Due: black, flake8

Update comment to reflect not using `call_soon` anymore
  src/prefect/orion/utilities/database.py
Due: black, flake8

Revert changes to dask executor management - to address in a separate PR
  src/prefect/executors.py
Due: black, flake8
