Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

[docs] clarify docs on customizing jobs via KubernetesAgent
  src/prefect/agent/kubernetes/agent.py
Due: black, flake8

remove stale spacy example
  examples/spacy_nlp.py
Due: black

also remove the reference in the docs
  docs/core/examples/spacy_nlp.md
Due: none

Remove usage of cached_inputs from task runner
  src/prefect/engine/task_runner.py
  tests/engine/test_task_runner.py
Due: black, flake8

CLean up additional usage of cached inputs in cache validators
  src/prefect/engine/cache_validators.py
  tests/core/test_task_map.py
Due: black, flake8

Remove stale tests
  src/prefect/engine/cache_validators.py
  src/prefect/engine/task_runner.py
  tests/engine/cloud/test_cloud_flow_runner.py
  tests/engine/cloud/test_cloud_task_runner.py
  tests/engine/test_flow_runner.py
Due: black, flake8

Add changelog entry
  changes/pr2984.yaml
Due: none

Add depcreation notice to all cached inputs docstrings
  src/prefect/engine/state.py
Due: black, flake8

Ugh fix 'long' lines
  src/prefect/engine/state.py
  src/prefect/engine/task_runner.py
Due: black, flake8

Remove password from init method of postgres tasks
  changes/issue1345.yaml
  src/prefect/tasks/postgres/postgres.py
  tests/tasks/postgres/test_postgres.py
Due: black, flake8

Black formatting [ci skip]
  tests/tasks/postgres/test_postgres.py
Due: black

Update schedule toggle mutations
  docs/orchestration/concepts/flows.md
Due: none

broken link in docs fo using results advanced tutorial
  src/prefect/engine/results/__init__.py
Due: black, flake8

Support passing in explicit `default=None` to Parameter
  src/prefect/core/parameter.py
  tests/core/test_parameter.py
Due: black, flake8

Add changelog
  changes/pr2995.yaml
Due: none

Add idiom on resource-manager api
  docs/core/idioms/idioms.md
  docs/core/idioms/resource-manager.md
Due: none

Update flows.md
  docs/orchestration/concepts/flows.md
Due: none

at least partly done with the serializer
  setup.py
  src/prefect/engine/serializers.py
  tests/engine/test_serializers.py
Due: black, flake8

fixed small bug in serializer method
  src/prefect/engine/serializers.py
Due: black, flake8

Respond to feedback [skip ci]
  docs/core/idioms/resource-manager.md
Due: none

made workaround, started on tests
  src/prefect/engine/serializers.py
  tests/engine/test_serializers.py
Due: black, flake8

Add WebHook storage (fixes #2835)
  src/prefect/environments/storage/__init__.py
  src/prefect/environments/storage/webhook.py
  src/prefect/serialization/storage.py
  tests/environments/storage/test_webhook_storage.py
  tests/serialization/test_storage.py
Due: black, flake8

update LocalAgent tests
  docs/orchestration/execution/storage_options.md
  src/prefect/agent/local/agent.py
  src/prefect/environments/storage/webhook.py
  tests/agent/test_local_agent.py
  tests/environments/storage/test_webhook_storage.py
  tests/serialization/test_storage.py
Due: black, flake8

cleaning up docs
  src/prefect/environments/storage/webhook.py
Due: black, flake8

fix typehint and add changes entry
  changes/pr3000.yaml
  src/prefect/serialization/storage.py
Due: black, flake8

tell mypy to trust me
  src/prefect/environments/storage/webhook.py
Due: black, flake8

add test for uncovered line
  tests/environments/storage/test_webhook_storage.py
Due: black

fix typos
  docs/orchestration/execution/storage_options.md
  src/prefect/environments/storage/webhook.py
Due: black, flake8

add some tests on the return value
  tests/tasks/dbt/test_dbt.py
Due: black

simplify new tests by passing missing kwargs to super
  src/prefect/tasks/dbt/dbt.py
  tests/tasks/dbt/test_dbt.py
Due: black, flake8

install and skip tests in the standardized way
  setup.py
  tests/tasks/dbt/__init__.py
Due: black

add to changes
  changes/pr2980.yaml
Due: none

Add optional idempotency key to flow run task inputs
  src/prefect/tasks/prefect/flow_run.py
Due: black, flake8

Add some tests and add map_index to key if present
  src/prefect/tasks/prefect/flow_run.py
  tests/tasks/prefect/test_flow_run.py
Due: black, flake8

Add changelog entries
  changes/flowruntask.yaml
Due: none

Add flow-to-flow idiom
  docs/.vuepress/public/idioms/flow-of-flows.png
  docs/core/idioms/flow-to-flow.md
  docs/core/idioms/idioms.md
  src/prefect/tasks/prefect/flow_run.py
Due: black, flake8

Add warning box about Cloud
  docs/core/idioms/flow-to-flow.md
Due: none

add option to send in new context to new flow run from FlowRunTask
  src/prefect/tasks/prefect/flow_run.py
  tests/tasks/prefect/test_flow_run.py
Due: black, flake8

Update docs/core/idioms/flow-to-flow.md
  docs/core/idioms/flow-to-flow.md
Due: none

Update src/prefect/tasks/prefect/flow_run.py
  src/prefect/tasks/prefect/flow_run.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: ^src/prefect/ and \.py$
