Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ui-v2, service-sync-ui-v2-openapi

check-ui-v2:
  name: Check UI v2
  language: system
  entry: sh
  args:
  - -c
  - . $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run check:staged
  pass_filenames: false

service-sync-ui-v2-openapi:
  name: Sync UI v2 OpenAPI
  language: system
  entry: sh
  args:
  - -c
  - . $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run service-sync
  pass_filenames: false
  stages:
  - pre-push

Add resource type labels to event feed cards
  ui-v2/src/components/events/event-resource-display/event-resource-display.test.tsx
  ui-v2/src/components/events/event-resource-display/event-resource-display.tsx
  ui-v2/src/components/events/event-resource-display/resource-types.ts
  ui-v2/src/components/events/events-timeline/events-timeline.tsx
Due: check-ui-v2

Remove Since and Until buttons from EventsTimeline
  ui-v2/src/components/events/events-timeline/events-timeline.tsx
Due: check-ui-v2

Add baseline line to event activity chart
  ui-v2/src/components/events/events-line-chart/events-line-chart.tsx
Due: check-ui-v2

Remove Since/Until filter handlers from EventsPage
  ui-v2/src/components/events/events-page/events-page.tsx
Due: check-ui-v2

fix(prefect-dbt): skip asset creation for ephemeral models in _call_task
  src/integrations/prefect-dbt/prefect_dbt/core/runner.py
  src/integrations/prefect-dbt/tests/core/test_runner.py
Due: none

Add baseline line across full chart width following task-runs-trends pattern
  ui-v2/src/components/events/events-line-chart/events-line-chart.tsx
  ui-v2/src/components/events/events-line-chart/interactive-events-chart.tsx
Due: check-ui-v2

Add left-hand timeline layout with date and icon columns
  ui-v2/src/components/events/events-timeline/events-timeline.tsx
Due: check-ui-v2

feat(ui-v2): Update runs page counts to respect current filters
  ui-v2/src/components/runs/runs-page.stories.tsx
  ui-v2/src/components/runs/runs-page.tsx
  ui-v2/src/routes/runs/index.tsx
Due: check-ui-v2

Fix TypeScript error: use empty string instead of undefined for boundary point labels
  ui-v2/src/components/events/events-line-chart/events-line-chart.tsx
Due: check-ui-v2

Fix deployment concurrency slot starvation bug
  src/prefect/settings/models/server/deployments.py
  tests/server/orchestration/test_core_policy.py
Due: none

feat: Add ability to assume an IAM role
  src/integrations/prefect-aws/prefect_aws/assume_role_parameters.py
  src/integrations/prefect-aws/prefect_aws/credentials.py
Due: none

Add tests for AWS IAM Assume Role auth
  src/integrations/prefect-aws/tests/test_assume_role_parameters.py
  src/integrations/prefect-aws/tests/test_credentials.py
Due: none

Make timeline line continuous between events
  ui-v2/src/components/events/events-timeline/events-timeline.tsx
Due: check-ui-v2

Fix chart padding
  ui-v2/src/components/events/events-line-chart/events-line-chart.tsx
Due: check-ui-v2

Fix line height
  ui-v2/src/components/events/events-timeline/events-timeline.tsx
Due: check-ui-v2

Update Events feed filter layout to match Vue UI
  ui-v2/src/components/events/events-page/events-page.tsx
Due: check-ui-v2

fix: event type filter dropdown shows all types regardless of selection
  ui-v2/src/components/events/events-page/events-page.tsx
  ui-v2/src/components/events/events-type-filter/events-type-filter.test.tsx
Due: check-ui-v2

fix(ui-v2): prevent page suspension during filter changes on events feed
  ui-v2/src/api/events/index.ts
  ui-v2/src/components/events/events-page/events-page.tsx
  ui-v2/src/components/events/events-page/use-events-pagination.test.ts
  ui-v2/src/components/events/events-page/use-events-pagination.ts
  ui-v2/src/components/events/events-resource-filter/use-resource-options.ts
Due: check-ui-v2

Remove drag-to-select time range from event activity graph
  ui-v2/src/components/events/events-line-chart/events-line-chart.tsx
  ui-v2/src/components/events/events-line-chart/index.ts
  ui-v2/src/components/events/events-line-chart/interactive-events-chart.stories.tsx
  ui-v2/src/components/events/events-line-chart/interactive-events-chart.test.tsx
  ui-v2/src/components/events/events-line-chart/interactive-events-chart.tsx
  ui-v2/src/components/events/events-line-chart/use-chart-selection.test.ts
  ui-v2/src/components/events/events-page/events-page.tsx
Due: check-ui-v2

Remove selection-related stories and tests from EventsLineChart
  ui-v2/src/components/events/events-line-chart/events-line-chart.stories.tsx
  ui-v2/src/components/events/events-line-chart/events-line-chart.test.tsx
Due: check-ui-v2

fix: cancel orphaned flow runs when deployment is deleted during concurrency wait
  src/prefect/workers/base.py
  tests/server/orchestration/test_core_policy.py
  tests/workers/test_base_worker.py
Due: none

feat(ui-v2): add navigation links for related resources in event cards
  ui-v2/src/components/events/event-resource-display/event-resource-link.tsx
  ui-v2/src/components/events/event-resource-display/index.ts
  ui-v2/src/components/events/event-resource-display/resource-routes.test.ts
  ui-v2/src/components/events/event-resource-display/resource-routes.ts
  ui-v2/src/components/events/events-timeline/events-timeline.stories.tsx
  ui-v2/src/components/events/events-timeline/events-timeline.tsx
Due: check-ui-v2

feat: Add AWS CodeCommit git credential support
  src/integrations/prefect-aws/prefect_aws/__init__.py
  src/integrations/prefect-aws/prefect_aws/credentials.py
  src/integrations/prefect-aws/tests/test_credentials.py
Due: none

linting fixes
  src/integrations/prefect-aws/prefect_aws/credentials.py
  src/integrations/prefect-aws/tests/test_credentials.py
Due: none

fix unused import/variable definitions
  src/integrations/prefect-aws/tests/test_credentials.py
Due: none

remove redundant test and fix others
  src/integrations/prefect-aws/tests/test_credentials.py
Due: none

chore: switch to ty type checker
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: check-ui-v2, service-sync-ui-v2-openapi

correct check for credentials
  src/integrations/prefect-aws/tests/test_credentials.py
Due: none

remove the return type from get_client
  src/integrations/prefect-aws/prefect_aws/credentials.py
Due: none

pass block docs standards
  src/integrations/prefect-aws/prefect_aws/credentials.py
Due: none

conform to standards
  src/integrations/prefect-aws/prefect_aws/credentials.py
Due: none

feat(ui-v2): add work queue linking when work pool is in related resources
  ui-v2/src/components/events/event-resource-display/event-resource-link.tsx
  ui-v2/src/components/events/event-resource-display/resource-routes.test.ts
  ui-v2/src/components/events/event-resource-display/resource-routes.ts
  ui-v2/src/components/events/events-timeline/events-timeline.tsx
Due: check-ui-v2

feat(ui-v2): create dedicated flow run history query file
  ui-v2/src/api/flow-runs/flow-run-history.ts
  ui-v2/src/api/flow-runs/index.ts
Due: check-ui-v2

Remove zoom handling from event feed graph
  ui-v2/src/components/events/events-line-chart/events-line-chart.tsx
  ui-v2/src/components/events/events-line-chart/index.ts
  ui-v2/src/components/events/events-line-chart/interactive-events-chart.stories.tsx
  ui-v2/src/components/events/events-line-chart/interactive-events-chart.test.tsx
  ui-v2/src/components/events/events-line-chart/interactive-events-chart.tsx
  ui-v2/src/components/events/events-line-chart/use-chart-zoom.test.ts
  ui-v2/src/components/events/events-line-chart/use-chart-zoom.ts
  ui-v2/src/components/events/events-page/events-page.tsx
Due: check-ui-v2

feat(ui-v2): integrate FlowRunsScatterPlot into runs page
  ui-v2/src/components/runs/runs-page.stories.tsx
  ui-v2/src/components/runs/runs-page.tsx
  ui-v2/src/routes/runs/index.tsx
Due: check-ui-v2

fix: revert eslint-plugin-storybook to ^9.1.15 for storybook@9.x compatibility
  ui-v2/package-lock.json
  ui-v2/package.json
Due: check-ui-v2, service-sync-ui-v2-openapi

Fix deployment concurrency violation when lease expires during provisioning
  .gitignore
  src/prefect/server/orchestration/core_policy.py
  tests/server/orchestration/test_core_policy.py
  tests/server/orchestration/test_validate_deployment_concurrency_at_running.py
Due: none

feat(ui-v2): Add localStorage persistence for pagination limits
  ui-v2/src/components/flow-runs/flow-runs-list/flow-runs-pagination.tsx
  ui-v2/src/components/task-runs/task-runs-list/task-runs-pagination.tsx
  ui-v2/src/routes/runs/index.tsx
Due: check-ui-v2

fix: upgrade eslint-plugin-storybook to ^10.1.8 for storybook@10.x compatibility
  ui-v2/package-lock.json
  ui-v2/package.json
Due: check-ui-v2, service-sync-ui-v2-openapi

Path conditions:
  check-ui-v2: any of: (?x)^(
    .pre-commit-config.yaml|
    ui-v2/.*
)$

  service-sync-ui-v2-openapi: any of: (?x)^(
    .pre-commit-config.yaml|
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    src/prefect/server/utilities/schemas/.*|
    ui-v2/package.json
)$

