Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Update docs/orchestration/faq/upgrading_1.0.md
  docs/orchestration/faq/upgrading_1.0.md
Due: none

Fixups from @tpdorsey
  CHANGELOG.md
Due: none

Add punctuation
  CHANGELOG.md
Due: none

Fix migrations lineage
  src/prefect/orion/database/migrations/versions/postgresql/b68b3cad6b8a_add_block_spec_id_to_blocks.py
  src/prefect/orion/database/migrations/versions/sqlite/c8ff35f94028_add_block_spec_id_to_blocks.py
Due: black, flake8

Revisions based on feedback.
  docs/orchestration/faq/upgrading_1.0.md
Due: none

Do not bother sniffing for asyncio
  src/prefect/logging/handlers.py
Due: black, flake8

Update src/prefect/tasks/airbyte/airbyte.py
  src/prefect/tasks/airbyte/airbyte.py
Due: black, flake8

Docs: Core 1.0 upgrade guide (#5321)
  docs/.vuepress/config.js
  docs/orchestration/execution/custom_environment.md
  docs/orchestration/execution/dask_cloud_provider_environment.md
  docs/orchestration/execution/dask_k8s_environment.md
  docs/orchestration/execution/fargate_task_environment.md
  docs/orchestration/execution/k8s_job_environment.md
  docs/orchestration/execution/local_environment.md
  docs/orchestration/execution/overview.md
  docs/orchestration/execution/storage_options.md
  docs/orchestration/faq/upgrade_environments.md
  docs/orchestration/faq/upgrading_1.0.md
Due: none

Add 1.0 blub with link to upgrade guide.
  docs/index.md
Due: none

Update latest docs link and add 0.15.12 link
  docs/.vuepress/config.js
Due: none

Update docs/index.md
  docs/index.md
Due: none

Add 0.15.13 to sidebar
  docs/.vuepress/config.js
Due: none

Add sidebar file
  docs/api/0.15.13/sidebar.js
Due: none

Docs: Add 1.0 blub with link to upgrade guide (#5477)
  docs/index.md
Due: none

Close the process after termination to avoid uncaught exceptions after event loop closure
  tests/fixtures/api.py
Due: black

Fix api ref link to 0.15
  docs/.vuepress/config.js
Due: none

Try setting the child watcher earlier
  src/prefect/__init__.py
  src/prefect/logging/handlers.py
Due: black, flake8

Fix import
  src/prefect/__init__.py
  src/prefect/logging/handlers.py
Due: black, flake8

Update FlowsApi.ts
  orion-ui/packages/orion-design/src/services/FlowsApi.ts
Due: none

Update package.json
  orion-ui/packages/orion-design/package.json
Due: none

Ensure routes have trailing slashes
  tests/orion/api/test_blocks.py
Due: black

Add common mistakes file and include 307 example
  docs/contributing/common-mistakes.md
  mkdocs.yml
Due: none

Storage fixture
  src/prefect/blocks/core.py
  src/prefect/client.py
  tests/conftest.py
  tests/fixtures/storage.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: ^src/prefect/ and \.py$
