Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

AWS Policy information for ecs
  docs/orchestration/agents/ecs.md
Due: none

Pass in version group id to flow run CI step [ci skip]
  .circleci/config.yml
Due: none

Polling logic did not require checking sync status
  src/prefect/tasks/fivetran/fivetran.py
Due: black, flake8

update flow readme pics
  docs/.vuepress/public/orchestration/ui/flow-description.png
  docs/orchestration/ui/flow.md
Due: none

include picture of editing readme too
  docs/.vuepress/public/orchestration/ui/flow-description-edit.png
  docs/.vuepress/public/orchestration/ui/flow-description.png
Due: none

edit to make roles a little clearer hopefully
  docs/orchestration/agents/ecs.md
Due: none

Reduce number of aws clients created
  src/prefect/utilities/aws.py
  tests/utilities/test_aws.py
Due: black, flake8

Propogate boto changes throughout
  src/prefect/engine/results/s3_result.py
  src/prefect/storage/codecommit.py
  src/prefect/storage/s3.py
  src/prefect/tasks/aws/s3.py
  tests/agent/test_ecs_agent.py
  tests/agent/test_fargate_agent.py
  tests/engine/results/test_s3_result.py
  tests/storage/test_codecommit_storage.py
  tests/storage/test_s3_storage.py
  tests/tasks/aws/conftest.py
Due: black, flake8

update the flow run image too
  docs/.vuepress/public/orchestration/ui/flow-run.png
  docs/orchestration/ui/flow.md
Due: none

Fixup tests
  tests/tasks/aws/__init__.py
  tests/tasks/aws/conftest.py
Due: black

Changelog for FivetranSyncTask addition.
  changes/task-fivetran-v1.yaml
Due: none

Trying again
  tests/tasks/aws/conftest.py
  tests/tasks/aws/test_batch.py
  tests/tasks/aws/test_client_waiter.py
  tests/tasks/aws/test_lambda.py
  tests/tasks/aws/test_s3.py
  tests/tasks/aws/test_secrets_manager.py
  tests/tasks/aws/test_step_function.py
Due: black

Removed or fixed @TODO items from first code review.
  src/prefect/tasks/fivetran/fivetran.py
Due: black, flake8

Add changelog entry [ci skip]
  changes/pr4115.yaml
Due: none

Reformatted file using black python linter.
  src/prefect/tasks/fivetran/fivetran.py
Due: black, flake8

Corrected for flake8 python linter.
  src/prefect/tasks/fivetran/fivetran.py
Due: black, flake8

Removed unnecessary package check from initialization.
  src/prefect/tasks/fivetran/__init__.py
Due: black, flake8

Replacing Exception refernces with ValueError, per @cicdw.
  src/prefect/tasks/fivetran/fivetran.py
Due: black, flake8

Improve CompressedSerializer constructor error handling
  src/prefect/engine/serializers.py
  tests/engine/test_serializers.py
Due: black, flake8

Flatten parameter checks for CompressedSerializer constructor
  src/prefect/engine/serializers.py
Due: black, flake8

Bump client request timeout form 15s to 60s
  src/prefect/client/client.py
Due: black, flake8

Add changes YAML
  changes/task-increase-client-timeout.yaml
Due: none

Add the ability to log the filter result
  src/prefect/tasks/control_flow/filter.py
  tests/tasks/test_control_flow.py
Due: black, flake8

add change doc
  changes/pr4121.yaml
Due: none

Upgrade hasura to 1.3.3
  src/prefect/cli/docker-compose.yml
Due: none

Add entry to changelog[ci skip]
  changes/pr4126.yaml
Due: none

Fixup
  src/prefect/utilities/aws.py
  tests/agent/test_ecs_agent.py
  tests/agent/test_fargate_agent.py
  tests/engine/results/test_s3_result.py
  tests/storage/test_codecommit_storage.py
  tests/storage/test_s3_storage.py
  tests/tasks/aws/conftest.py
  tests/utilities/test_aws.py
Due: black, flake8

Fixup changelog entry
  changes/pr4115.yaml
Due: none

Make request_timeout configurable
  src/prefect/client/client.py
  src/prefect/config.toml
Due: black, flake8

Fix code formatting
  src/prefect/client/client.py
Due: black, flake8

Set default request timeout to 15
  src/prefect/config.toml
Due: none

Update changes entry [ci skip]
  changes/task-increase-client-timeout.yaml
Due: none

Update CHANGELOG
  CHANGELOG.md
  changes/pr4063.yaml
  changes/pr4115.yaml
  changes/pr4121.yaml
  changes/task-fivetran-v1.yaml
  changes/task-increase-client-timeout.yaml
Due: none

Update API doc navbar to 0.14.9 [ci skip]
  docs/.vuepress/config.js
Due: none

Update CHANGELOG [ci skip]
  CHANGELOG.md
Due: none

Update version group id in ci step [ci skip]
  .circleci/config.yml
Due: none

Add fivetran task to API docs
  docs/outline.toml
  src/prefect/tasks/fivetran/__init__.py
Due: black, flake8

Add fivetran logo to task library overview
  docs/.vuepress/public/logos/fivetran.png
  docs/core/task_library/overview.md
Due: none

Add fivetran to README
  README.md
Due: none

fix create token instructions
  docs/orchestration/tutorial/overview.md
Due: none
