Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ui-v2, service-sync-ui-v2-openapi

.pre-commit-config.yaml:

default_install_hook_types:
  - pre-commit
  - pre-push

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch, main]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.2
    hooks:
      - id: ruff-check
        language_version: python3
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli
        exclude: package-lock.json|_vendor/.*|docs/styles/.*
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.1
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=1.10.0,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0
          - types-cachetools==5.3.0.5
          - types-pyyaml==6.0.12.9
        files: |
          (?x)^(
            src/prefect/server/models/.*|
            src/prefect/concurrency/.*|
            src/prefect/events/.*|
            src/prefect/input/.*
          )$
  - repo: https://github.com/astral-sh/uv-pre-commit
    # uv version.
    rev: 0.6.17
    hooks:
      - id: uv-lock

  - repo: local
    hooks:
      - id: check-ui-v2
        name: Check UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            ". $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run check:staged",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: service-sync-ui-v2-openapi
        name: Sync UI v2 OpenAPI
        language: system
        entry: sh
        args:
          [
            "-c",
            ". $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run service-sync",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              src/prefect/server/utilities/schemas/.*|
              ui-v2/package.json
          )$
        pass_filenames: false
        stages:
          - pre-push

Update @prefecthq/prefect-ui-library to version 3.14.5 (#20003)
  ui/package-lock.json
  ui/package.json
Due: none

Update package.json
  ui/package.json
Due: none

Update package-lock.json
  ui/package-lock.json
Due: none

Fix GitRepository name parameter preservation in pull step conversion
  src/prefect/deployments/steps/pull.py
  src/prefect/runner/storage.py
Due: none

Update tests to include new name parameter in expected mock calls
  tests/deployment/test_steps.py
Due: none

chore: regenerate package-lock.json with Node 22.12.0
  ui-v2/package-lock.json
Due: check-ui-v2

feat(ui-v2): Add comprehensive tests for AutomationWizard 3-step flow
  ui-v2/src/components/automations/automations-wizard/automation-wizard.test.tsx
Due: check-ui-v2

Rename name parameter to clone_directory_name and add new tests
  src/prefect/deployments/steps/pull.py
  src/prefect/runner/storage.py
  tests/runner/test_storage.py
Due: none

feat(ui-v2): Add TriggerDetailsCustom component for automations
  ui-v2/src/components/automations/trigger-details/index.ts
  ui-v2/src/components/automations/trigger-details/trigger-details-custom.stories.tsx
  ui-v2/src/components/automations/trigger-details/trigger-details-custom.test.tsx
  ui-v2/src/components/automations/trigger-details/trigger-details-custom.tsx
Due: check-ui-v2

feat(ui-v2): Enhance FlowRunHeader with three-row layout
  ui-v2/src/components/flow-runs/flow-run-details-page/flow-run-header.test.tsx
  ui-v2/src/components/flow-runs/flow-run-details-page/flow-run-header.tsx
  ui-v2/src/components/ui/icons/constants.ts
Due: check-ui-v2

fix: Add required operator and is_null_ fields to task run count filter
  ui-v2/src/components/flow-runs/flow-run-details-page/flow-run-header.tsx
Due: check-ui-v2

Fix CI failures from TanStack Query upgrade
  ui-v2/package-lock.json
  ui-v2/src/api/flow-runs/index.ts
  ui-v2/src/api/task-runs/index.ts
  ui-v2/src/api/task-runs/task-runs.test.ts
Due: check-ui-v2

feat(ui-v2): Add form submission and API integration for automation wizard
  ui-v2/src/components/automations/automations-wizard/automation-wizard.test.tsx
  ui-v2/src/components/automations/automations-wizard/automation-wizard.tsx
  ui-v2/src/components/automations/automations-wizard/transform-wizard-to-api.test.ts
  ui-v2/src/components/automations/automations-wizard/transform-wizard-to-api.ts
Due: check-ui-v2

feat(ui-v2): Add DeploymentLink component
  ui-v2/src/components/deployments/deployment-link.stories.tsx
  ui-v2/src/components/deployments/deployment-link.test.tsx
  ui-v2/src/components/deployments/deployment-link.tsx
Due: check-ui-v2

feat(ui-v2): Add TriggerDetailsFlowRunState component for automation trigger descriptions
  ui-v2/src/components/automations/trigger-details/index.ts
  ui-v2/src/components/automations/trigger-details/trigger-details-flow-run-state.stories.tsx
  ui-v2/src/components/automations/trigger-details/trigger-details-flow-run-state.test.tsx
  ui-v2/src/components/automations/trigger-details/trigger-details-flow-run-state.tsx
Due: check-ui-v2

feat(ui-v2): Add Work Pool, Work Queue, and Parent Run relationships to FlowRunHeader
  ui-v2/src/components/flow-runs/flow-run-details-page/flow-run-header.stories.tsx
  ui-v2/src/components/flow-runs/flow-run-details-page/flow-run-header.test.tsx
  ui-v2/src/components/flow-runs/flow-run-details-page/flow-run-header.tsx
Due: check-ui-v2

feat(ui-v2): Add TriggerDetailsDeploymentStatus component
  ui-v2/src/components/automations/trigger-details/index.ts
  ui-v2/src/components/automations/trigger-details/trigger-details-deployment-status.stories.tsx
  ui-v2/src/components/automations/trigger-details/trigger-details-deployment-status.test.tsx
  ui-v2/src/components/automations/trigger-details/trigger-details-deployment-status.tsx
Due: check-ui-v2

fix(ui-v2): Add required sort and offset params to buildFilterFlowRunsQuery
  ui-v2/src/components/flow-runs/flow-run-details-page/flow-run-header.tsx
Due: check-ui-v2

Add TriggerDetailsWorkPoolStatus component for automation trigger descriptions
  ui-v2/src/components/automations/trigger-details/index.ts
  ui-v2/src/components/automations/trigger-details/trigger-details-work-pool-status.stories.tsx
  ui-v2/src/components/automations/trigger-details/trigger-details-work-pool-status.test.tsx
  ui-v2/src/components/automations/trigger-details/trigger-details-work-pool-status.tsx
Due: check-ui-v2

feat(ui-v2): add TriggerDetailsWorkQueueStatus component
  ui-v2/src/components/automations/trigger-details/index.ts
  ui-v2/src/components/automations/trigger-details/trigger-details-work-queue-status.stories.tsx
  ui-v2/src/components/automations/trigger-details/trigger-details-work-queue-status.test.tsx
  ui-v2/src/components/automations/trigger-details/trigger-details-work-queue-status.tsx
  ui-v2/src/components/automations/trigger-details/trigger-utils.ts
Due: check-ui-v2

chore(ui-v2): add Node.js engines constraint to package.json
  ui-v2/package-lock.json
  ui-v2/package.json
Due: check-ui-v2, service-sync-ui-v2-openapi

fix(ui-v2): Fix flakey popover test by using deterministic mock data
  ui-v2/src/components/flow-runs/activity-chart/popover.test.tsx
Due: check-ui-v2

refactor: Inline transform function into automation-wizard component
  ui-v2/src/components/automations/automations-wizard/automation-wizard.tsx
  ui-v2/src/components/automations/automations-wizard/transform-wizard-to-api.test.ts
  ui-v2/src/components/automations/automations-wizard/transform-wizard-to-api.ts
Due: check-ui-v2

feat(ui-v2): Replace DeploymentLink placeholder with actual component
  ui-v2/src/components/automations/trigger-details/trigger-details-deployment-status.stories.tsx
  ui-v2/src/components/automations/trigger-details/trigger-details-deployment-status.test.tsx
  ui-v2/src/components/automations/trigger-details/trigger-details-deployment-status.tsx
Due: check-ui-v2

fix(ui-v2): Add MSW handler for GET /deployments/:id
  ui-v2/tests/utils/handlers.ts
Due: check-ui-v2

Add error handling for Flow Run Details page
  ui-v2/src/components/flow-runs/flow-run-details-page/index.tsx
  ui-v2/src/components/ui/error-boundary.tsx
  ui-v2/src/components/ui/tab-error-state.tsx
  ui-v2/src/routes/runs/flow-run.$id.tsx
Due: check-ui-v2

feat(ui-v2): wire up /automations/create route with AutomationWizard
  ui-v2/src/components/automations/automations-create-header/index.ts
  ui-v2/src/components/automations/automations-wizard/index.ts
  ui-v2/src/routes/automations/create.ts
  ui-v2/src/routes/automations/create.tsx
Due: check-ui-v2

Show 'Flow Run Not Found' page instead of redirecting
  ui-v2/src/components/flow-runs/flow-run-not-found.tsx
  ui-v2/src/routes/runs/flow-run.$id.tsx
Due: check-ui-v2

feat(ui-v2): add TriggerDetails main router component
  ui-v2/src/components/automations/automation-details.tsx
  ui-v2/src/components/automations/trigger-details/index.ts
  ui-v2/src/components/automations/trigger-details/trigger-details-compound.tsx
  ui-v2/src/components/automations/trigger-details/trigger-details-sequence.tsx
  ui-v2/src/components/automations/trigger-details/trigger-details.stories.tsx
  ui-v2/src/components/automations/trigger-details/trigger-details.test.tsx
  ui-v2/src/components/automations/trigger-details/trigger-details.tsx
Due: check-ui-v2

fix(ui-v2): use local AutomationTrigger type instead of API schema type
  ui-v2/src/components/automations/trigger-details/trigger-details.tsx
Due: check-ui-v2

test(ui-v2): add stories and tests for TriggerDetailsSequence and TriggerDetailsCompound
  ui-v2/src/components/automations/trigger-details/trigger-details-compound.stories.tsx
  ui-v2/src/components/automations/trigger-details/trigger-details-compound.test.tsx
  ui-v2/src/components/automations/trigger-details/trigger-details-sequence.stories.tsx
  ui-v2/src/components/automations/trigger-details/trigger-details-sequence.test.tsx
Due: check-ui-v2

test(ui-v2): add URL state and browser history navigation tests for FlowRunDetailsPage
  ui-v2/src/components/flow-runs/flow-run-details-page/flow-run-details-page.test.tsx
Due: check-ui-v2

Add integration tests and enhance Storybook stories for automation wizard
  ui-v2/src/components/automations/automations-wizard/automation-wizard.integration.test.tsx
  ui-v2/src/components/automations/automations-wizard/automation-wizard.stories.tsx
Due: check-ui-v2

Fix incorrect handling of dbt ephemeral models in PrefectDbtRunner (#19962)
  src/integrations/prefect-dbt/prefect_dbt/core/runner.py
  src/integrations/prefect-dbt/tests/core/test_runner.py
Due: none

Remove redundant integration tests, keep only Storybook enhancements
  ui-v2/src/components/automations/automations-wizard/automation-wizard.integration.test.tsx
Due: check-ui-v2

Add worker-side cancellation for pending flow runs
  docs/plans/worker-flow-run-cancellation.md
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
  src/integrations/prefect-kubernetes/tests/test_worker.py
  src/prefect/settings/models/worker.py
  src/prefect/workers/base.py
  tests/test_settings.py
  tests/workers/test_base_worker.py
Due: none

Suggest a worker based flow cancellation strategy
  docs/plans/worker-flow-run-cancellation.md
Due: none

Fixes some formatting
  ui-v2/src/components/automations/automations-wizard/actions-step/action-step.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/action-type-select.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/change-flow-run-fields.tsx
  ui-v2/src/components/automations/automations-wizard/actions-step/select-deployments-fields.tsx
  ui-v2/src/components/automations/automations-wizard/automation-wizard.tsx
  ui-v2/src/components/automations/automations-wizard/automations-trigger-template-select/automations-trigger-template-select.tsx
Due: check-ui-v2
