Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-mintlify-openapi-docs, generate-settings-schema, generate-settings-ref, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.2.1"
    hooks:
      - id: ruff
        language_version: python3
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        exclude: package-lock.json|_vendor/.*|docs/styles/.*
  - repo: https://github.com/netromdk/vermin
    rev: v1.6.0
    hooks:
      - id: vermin
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=1.10.0,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0
          - types-cachetools==5.3.0.5
          - types-pyyaml==6.0.12.9
        files: |
          (?x)^(
            src/prefect/server/models/.*|
            src/prefect/concurrency/.*|
            src/prefect/events/.*|
            src/prefect/input/.*
          )$
  - repo: local
    hooks:
      - id: type-completeness-check
        name: Type Completeness Check
        language: system
        entry: uv run --with pyright pyright --ignoreexternal --verifytypes prefect
        pass_filenames: false
      - id: generate-mintlify-openapi-docs
        name: Generating OpenAPI docs for Mintlify
        language: system
        entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_mintlify_openapi_docs.py
        pass_filenames: false
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              scripts/generate_mintlify_openapi_docs.py
          )$
      - id: generate-settings-schema
        name: Generating Settings Schema
        language: system
        entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_schema.py
        pass_filenames: false
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              src/prefect/settings/models/.*|
              scripts/generate_settings_schema.py
          )$
      - id: generate-settings-ref
        name: Generating Settings Reference
        language: system
        entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_ref.py
        pass_filenames: false
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              src/prefect/settings/models/.*|
              scripts/generate_settings_ref.py
          )$
      - id: lint-ui-v2
        name: Lint UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            "cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run lint",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: format-ui-v2
        name: Format UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            "cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run format",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: service-sync-ui-v2-openapi
        name: Sync UI v2 OpenAPI
        language: system
        entry: sh
        args:
          [
            "-c",
            "cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run service-sync",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              src/prefect/server/utilities/schemas/.*|
              ui-v2/package.json
          )$
        pass_filenames: false

forgot uv run
  .github/workflows/python-package.yaml
Due: none

add `uv run` for smoke test UI build (#17173)
  .github/workflows/python-package.yaml
Due: none

remove superfluous log
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
Due: none

[UI v2] feat: Start flow runs data table UX
  ui-v2/src/api/flow-runs/index.ts
  ui-v2/src/components/flow-runs/data-table/data-table.stories.tsx
  ui-v2/src/components/flow-runs/data-table/data-table.tsx
  ui-v2/src/components/flow-runs/data-table/deployment-cell.tsx
  ui-v2/src/components/flow-runs/data-table/name-cell.tsx
Due: lint-ui-v2, format-ui-v2

Remove "Pod ... has started." log from `KubernetesWorker` (#17174)
  src/integrations/prefect-kubernetes/prefect_kubernetes/worker.py
Due: none

address PR comments
  ui-v2/src/components/flow-runs/data-table/data-table.tsx
  ui-v2/src/components/flow-runs/data-table/name-cell.tsx
Due: lint-ui-v2, format-ui-v2

add artifact
  pyproject.toml
Due: none

add `server/ui` to wheel (#17176)
  pyproject.toml
Due: none

[UI v2] feat: Start flow runs data table UX (#17168)
  ui-v2/src/api/flow-runs/index.ts
  ui-v2/src/components/flow-runs/data-table/data-table.stories.tsx
  ui-v2/src/components/flow-runs/data-table/data-table.tsx
  ui-v2/src/components/flow-runs/data-table/deployment-cell.tsx
  ui-v2/src/components/flow-runs/data-table/name-cell.tsx
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Adds parameters cell to flow run table
  ui-v2/src/components/flow-runs/data-table/data-table.tsx
  ui-v2/src/components/flow-runs/data-table/parameters-cell.tsx
  ui-v2/src/components/ui/icons/constants.ts
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Adds parameters cell to flow run table (#17170)
  ui-v2/src/components/flow-runs/data-table/data-table.tsx
  ui-v2/src/components/flow-runs/data-table/parameters-cell.tsx
  ui-v2/src/components/ui/icons/constants.ts
Due: lint-ui-v2, format-ui-v2

wip
  ui-v2/src/components/flow-runs/data-table/duration-cell.tsx
  ui-v2/src/components/flow-runs/data-table/run-time-cell.tsx
Due: lint-ui-v2, format-ui-v2

Add utilities for creatings and executing flow bundles
  src/prefect/_experimental/bundles.py
Due: none

[UI v2] feat: Adds Duration cell to flow run data table
  ui-v2/src/components/flow-runs/data-table/data-table.tsx
  ui-v2/src/components/flow-runs/data-table/duration-cell.tsx
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Adds Duration cell to flow run data table (#17177)
  ui-v2/src/components/flow-runs/data-table/data-table.tsx
  ui-v2/src/components/flow-runs/data-table/duration-cell.tsx
Due: lint-ui-v2, format-ui-v2

merge conflict
  src/prefect/_internal/schemas/validators.py
  src/prefect/_vendor/croniter/__init__.py
  src/prefect/_vendor/croniter/croniter.py
  src/prefect/server/schemas/schedules.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

ignore vendors
  pyrightconfig-ci.json
Due: none

[UI v2] feat: Adds StartTimeCell to flow run data table
  ui-v2/src/components/flow-runs/data-table/data-table.tsx
  ui-v2/src/components/flow-runs/data-table/duration-cell.tsx
  ui-v2/src/components/flow-runs/data-table/start-time-cell.tsx
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Adds StartTimeCell to flow run data table (#17179)
  ui-v2/src/components/flow-runs/data-table/data-table.tsx
  ui-v2/src/components/flow-runs/data-table/duration-cell.tsx
  ui-v2/src/components/flow-runs/data-table/start-time-cell.tsx
Due: lint-ui-v2, format-ui-v2

Add support for array items
  ui-v2/src/components/schemas/schema-form-input-any-of.tsx
  ui-v2/src/components/schemas/schema-form-input-array-item.tsx
  ui-v2/src/components/schemas/schema-form-input-array-list.tsx
  ui-v2/src/components/schemas/schema-form-input-array.tsx
  ui-v2/src/components/schemas/schema-form-input-prefect-kind-none.tsx
  ui-v2/src/components/schemas/schema-form-input-string-format-date.tsx
  ui-v2/src/components/schemas/schema-form-input.tsx
  ui-v2/src/components/schemas/schema-form.stories.tsx
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Adds total flow run counter to data table
  ui-v2/src/components/flow-runs/data-table/data-table.stories.tsx
  ui-v2/src/components/flow-runs/data-table/data-table.tsx
  ui-v2/src/components/flow-runs/data-table/state-filter.tsx
Due: lint-ui-v2, format-ui-v2

vendor croniter (#17165)
  pyrightconfig-ci.json
  src/prefect/_internal/schemas/validators.py
  src/prefect/_vendor/croniter/__init__.py
  src/prefect/_vendor/croniter/croniter.py
  src/prefect/server/schemas/schedules.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

[UI v2] feat: Adds total flow run counter to data table (#17180)
  ui-v2/src/components/flow-runs/data-table/data-table.stories.tsx
  ui-v2/src/components/flow-runs/data-table/data-table.tsx
  ui-v2/src/components/flow-runs/data-table/state-filter.tsx
Due: lint-ui-v2, format-ui-v2
