Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-ui-v2, service-sync-ui-v2-openapi

check-ui-v2:
  name: Check UI v2
  language: system
  entry: sh
  args:
  - -c
  - . $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run check:staged
  pass_filenames: false

service-sync-ui-v2-openapi:
  name: Sync UI v2 OpenAPI
  language: system
  entry: sh
  args:
  - -c
  - . $NVM_DIR/nvm.sh || true && cd ui-v2 && nvm use || true && npm i --no-upgrade --silent --no-progress && npm run service-sync
  pass_filenames: false
  stages:
  - pre-push

Hide row Run item without deployments; fix header gap
  ui-v2/e2e/flows/flows-list.spec.ts
  ui-v2/src/components/flows/cells.test.tsx
  ui-v2/src/components/flows/cells.tsx
  ui-v2/src/components/flows/detail/flow-page-header.tsx
Due: check-ui-v2

Relax validate call count in flaky dialog test
  ui-v2/src/components/deployments/quick-run-parameters-dialog/quick-run-parameters-dialog.test.tsx
Due: check-ui-v2

test: poll for periodic flush/trim in event persister tests
  tests/events/server/storage/test_event_persister.py
Due: none

Cancel pending debounced callbacks on unmount
  ui-v2/src/components/deployments/quick-run-parameters-dialog/quick-run-parameters-dialog.test.tsx
  ui-v2/src/hooks/use-debounce-callback.tsx
Due: check-ui-v2

style: apply ruff-format
  tests/events/server/storage/test_event_persister.py
Due: none

Fix prefect.yaml creation when optional contents is omitted (#23334)
  src/prefect/deployments/base.py
  tests/deployment/test_default_prefect_yaml.py
Due: none

Address review: fix whenever migration regressions
  client/pyproject.toml
  pyproject.toml
  src/prefect/_internal/compatibility/deprecated.py
  src/prefect/server/schemas/schedules.py
  src/prefect/types/_datetime.py
  tests/_internal/compatibility/test_deprecated.py
  tests/server/schemas/test_schedules.py
  tests/test_datetime.py
  uv.lock
Due: service-sync-ui-v2-openapi

fix(ui-v2): let table own row selection and restore error state on flows page
  ui-v2/src/components/flows/data-table.test.tsx
  ui-v2/src/components/flows/data-table.tsx
  ui-v2/src/components/flows/flows-page.tsx
  ui-v2/src/routes/flows/index.tsx
Due: check-ui-v2

Fix calendar intervals skipping runs before future anchors; use compat alias in tests
  src/prefect/server/schemas/schedules.py
  tests/server/schemas/test_schedules.py
Due: service-sync-ui-v2-openapi

Log in to Docker Hub for docker tests on pushes to main
  .github/workflows/python-tests.yaml
Due: none

fix(ui-v2): show pagination error instead of onboarding on empty accounts
  ui-v2/src/components/flows/flows-page.tsx
  ui-v2/tests/flows/flows.test.tsx
Due: check-ui-v2

Preserve calendar phase for occurrences before a future anchor
  src/prefect/server/schemas/schedules.py
  tests/server/schemas/test_schedules.py
Due: service-sync-ui-v2-openapi

docs: document microbatch task runs in PrefectDbtRunner
  docs/integrations/prefect-dbt/runner.mdx
Due: none

Respect `--hours` in `work-pool preview` and `work-queue preview --pool` (#23300)
  src/prefect/cli/work_pool.py
  src/prefect/cli/work_queue.py
  tests/cli/test_work_pool.py
  tests/cli/test_work_queues.py
Due: none

Compute pre-anchor occurrences as anchor - i*interval in one step
  src/prefect/server/schemas/schedules.py
Due: service-sync-ui-v2-openapi

Pull UI v2 E2E postgres service image from mirror.gcr.io
  .github/workflows/ui-v2-e2e-tests.yml
Due: none

Include years and weeks in interval estimate; bound pre-anchor search
  src/prefect/server/schemas/schedules.py
  tests/server/schemas/test_schedules.py
Due: service-sync-ui-v2-openapi

docs: import WorkPoolUpdate from client.schemas.actions in ECS guide
  docs/integrations/prefect-aws/ecs-worker/manual-deployment.mdx
Due: none

Unwrap `FieldInfo` defaults for unmapped parameters in `task.map()`
  src/prefect/utilities/callables/__init__.py
  tests/test_tasks.py
  tests/utilities/test_callables.py
Due: none

Check out pinned commit_sha when a git checkout already exists
  src/prefect/runner/storage.py
  tests/runner/test_storage.py
Due: none

Close async generator flows and tasks with `aclose` when stopped early
  src/prefect/flow_engine.py
  src/prefect/task_engine.py
  tests/test_flow_engine.py
  tests/test_task_engine.py
Due: none

Serialize context on every ProcessPoolTaskRunner.submit()
  src/prefect/task_runners.py
  tests/test_task_runners.py
Due: none

Fix JSON flow results with `data` or `result` keys reading back wrong
  src/prefect/_internal/result_records.py
  tests/results/test_flow_results.py
  tests/results/test_result_record.py
Due: none

Require exact legacy blob shape before coercing result records
  src/prefect/_internal/result_records.py
  tests/results/test_result_record.py
Due: none

Restore worker env after each ProcessPoolTaskRunner task
  src/prefect/task_runners.py
  tests/test_task_runners.py
Due: none

Handle shallow, offline, and submodule cases when switching pinned commits (OSS-8319)
  src/prefect/runner/storage.py
  tests/runner/test_storage.py
Due: none

Path conditions:
  check-ui-v2: any of: (?x)^(
    .pre-commit-config.yaml|
    ui-v2/.*
)$

  service-sync-ui-v2-openapi: any of: (?x)^(
    .pre-commit-config.yaml|
    .pre-commit-config.yaml|
    src/prefect/server/api/.*|
    src/prefect/server/schemas/.*|
    src/prefect/server/events/.*|
    src/prefect/server/utilities/schemas/.*|
    ui-v2/package.json
)$

