Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

update kafka tasks to take all keyword args at task init and task run
  src/prefect/tasks/kafka/kafka.py
Due: black, flake8

update kafka flow to utilize passing in all configuration through run
  examples/kafka/kafka_flow.py
Due: black

Add tests; cover more cases verbosely
  src/prefect/backend/flow_run.py
  tests/backend/test_flow_run.py
Due: black, flake8

Cleanup `Agent._get_flow_run_metadata` (#4541)
  src/prefect/agent/agent.py
  tests/agent/test_agent.py
Due: black, flake8

Fixup first agent warning timing; round to nearest 5 seconds for display
  src/prefect/backend/flow_run.py
Due: black, flake8

Pass base url to ui env
  src/prefect/cli/docker-compose.yml
  src/prefect/cli/server.py
Due: black, flake8

feat(email_task): sending attachments with emails (#4457)
  changes/pr4457.yaml
  src/prefect/tasks/notifications/email_task.py
Due: black, flake8

fix tests and apply black formatting
  src/prefect/tasks/kafka/kafka.py
  tests/tasks/kafka/test_kafka_batch_tasks.py
Due: black, flake8

Clarify log level flag default
  src/prefect/cli/run.py
Due: black, flake8

Shorten examaple line to fit more shells [ci skip]
  src/prefect/cli/run.py
Due: black, flake8

Add comment to test [ci skip]
  tests/cli/test_run_flow_old.py
Due: black

Use monkeypatch to set the sys path
  tests/cli/test_run.py
Due: black

Make `quiet_echo` robust to mutation
  src/prefect/cli/run.py
Due: black, flake8

Explain flow runner exceptions in echo
  src/prefect/cli/run.py
Due: black, flake8

Handle events with missing timestamps in K8s agent (#4544)
  changes/pr4544.yaml
  src/prefect/agent/kubernetes/agent.py
Due: black, flake8

Rewrite automations doc page; include reference
  docs/orchestration/concepts/automations.md
Due: none

Update intro section
  docs/orchestration/concepts/automations.md
Due: none

Fixups
  docs/orchestration/concepts/automations.md
Due: none

Navbar reorder
  docs/.vuepress/config.js
Due: none

Use code line instead of block for messages so they do not have a hscroll bar
  docs/orchestration/concepts/automations.md
Due: none

Fix newlines
  docs/orchestration/concepts/automations.md
Due: none

Change annotations to list for determinism in test collection
  tests/utilities/test_edges.py
Due: black

Upgrade pytest to 6.x
  test-requirements.txt
Due: none

Pass a temporary directory to `setup_compose_file` in tests
  src/prefect/cli/server.py
  tests/cli/test_server.py
Due: black, flake8

Increase sleep to reduce brittleness
  tests/executors/test_executors.py
Due: black

Reduce brittleness of `test_timeout_actually_stops_execution`
  tests/core/test_flow.py
Due: black

Enable parallel pytest runs
  .circleci/config.yml
Due: none

Add GCPSecret task and requirements
  setup.py
  src/prefect/tasks/gcp/__init__.py
  src/prefect/tasks/gcp/secretmanager.py
Due: black, flake8

Add tests for GCPSecret
  tests/tasks/gcp/__init__.py
  tests/tasks/gcp/test_secretmanager.py
Due: black

Update changelog
  changes/pr4561.yaml
Due: none

Add to docs outline
  docs/outline.toml
Due: none

Fix typo in setup.py
  setup.py
Due: black

Black
  src/prefect/tasks/gcp/secretmanager.py
Due: black, flake8

flake8
  src/prefect/tasks/gcp/secretmanager.py
Due: black, flake8

Update `watch_flow_run` output to take `FlowRunLog`
  src/prefect/backend/flow_run.py
  src/prefect/cli/run.py
Due: black, flake8

Improve `watch_flow_run` finished flow run output
  src/prefect/backend/flow_run.py
Due: black, flake8

Add cli tests
  src/prefect/backend/kv_store.py
  src/prefect/cli/kv_store.py
  tests/cli/test_kv_store.py
Due: black, flake8

Correct cli test
  src/prefect/cli/kv_store.py
  tests/cli/test_kv_store.py
Due: black, flake8

Expose map index in `FlowRunView.get_task_run`
  src/prefect/backend/flow_run.py
Due: black, flake8

Handle null states from backend
  src/prefect/backend/task_run.py
Due: black, flake8
