Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

black:
  name: black
  entry: black
  language: python
  language_version: python3

flake8:
  name: flake8
  entry: flake8
  language: python
  language_version: python3

Adjust storage utility test to capture warning instead of error
  tests/utilities/test_storage.py
Due: black

Update telemetry documentation for Server II
  docs/orchestration/server/telemetry.md
Due: none

Remove server and ui CI jobs
  .circleci/config.yml
Due: none

Remove extra references to server directory
  .github/CODEOWNERS
  changes/EXAMPLE.yaml
  changes/README.md
  setup.cfg
  update_changelog.py
Due: black

Add a Prefect task to support Databricks job sumbission
  src/prefect/tasks/databricks/__init__.py
  src/prefect/tasks/databricks/databricks.py
  tests/tasks/databricks/__init__.py
  tests/tasks/databricks/databricks.py
Due: black, flake8

Update server start command, fix client initialization
  src/prefect/cli/docker-compose.yml
  src/prefect/cli/server.py
  src/prefect/client/client.py
Due: black, flake8

Update Prefect logo
  README.md
Due: none

Update docs & readme
  docs/.vuepress/config.js
  docs/README.md
  docs/generate_docs.py
  docs/index.md
Due: black

Empty [ci skip]
  docs/index.md
Due: none

Add changelog and Update outline.toml
  changes/pr3084.yaml
  docs/outline.toml
Due: none

Fix flake8 exception when line is too long
  src/prefect/tasks/databricks/databricks.py
Due: black, flake8

Fix flake8 Docstring format issue
  src/prefect/tasks/databricks/databricks.py
Due: black, flake8

Determine checkpointing from context.config
  src/prefect/engine/task_runner.py
  tests/engine/test_task_runner.py
Due: black, flake8

Add changelog entry
  changes/pr3085.yaml
Due: none

Add option ot set server and ui image tags, default to latest tag
  src/prefect/cli/docker-compose.yml
  src/prefect/cli/server.py
Due: black, flake8

Update cli and API tests
  tests/cli/test_agent.py
  tests/cli/test_auth.py
  tests/cli/test_server.py
  tests/client/test_client_auth.py
  tests/engine/cloud/test_cloud_task_runner.py
Due: black

Fix mypy and flake8 errors
  src/prefect/cli/server.py
  src/prefect/utilities/plugins.py
Due: black, flake8

Fix agent test fixtures
  tests/agent/test_agent.py
  tests/agent/test_docker_agent.py
  tests/agent/test_fargate_agent.py
  tests/agent/test_k8s_agent.py
  tests/agent/test_local_agent.py
  tests/cli/test_agent.py
Due: black

Update CLI documentation
  docs/orchestration/concepts/cli.md
Due: none

remove deepcopy
  src/prefect/environments/storage/webhook.py
Due: black, flake8

Remove create_default_tenant
  src/prefect/cli/server.py
  src/prefect/client/client.py
Due: black, flake8

Add changelog entry
  changes/pr3087.yaml
Due: none

Update client register project name error message
  src/prefect/client/client.py
Due: black, flake8

Update client register project name error message [ci skip]
  src/prefect/client/client.py
Due: black, flake8

Gate auth commands off from usage against server
  src/prefect/cli/auth.py
  tests/cli/test_auth.py
Due: black, flake8

Move Task to contrib folder
  src/prefect/contrib/tasks/databricks/__init__.py
  src/prefect/contrib/tasks/databricks/databricks.py
  tests/contrib/tasks/databricks/__init__.py
  tests/contrib/tasks/databricks/databricks.py
Due: black, flake8

Adding Type Annotation and Update outline.toml
  docs/outline.toml
  src/prefect/contrib/tasks/databricks/databricks.py
Due: black, flake8

Fix Black Formating
  src/prefect/contrib/tasks/databricks/databricks.py
Due: black, flake8

Rename Test File
  tests/contrib/tasks/databricks/test_databricks.py
Due: black

Add Resume Failing Flow to Advanced Tutorials
  docs/core/advanced_tutorials/resuming-a-failed-flow-at-failure.md
Due: none

Add 'mock out long-running tasks' to docs
  docs/core/advanced_tutorials/local-debugging.md
  docs/core/advanced_tutorials/resuming-a-failed-flow-at-failure.md
Due: none

Pin watchpack to fix doc hot reloading
  package-lock.json
  package.json
Due: none

Adjust FlowRunTask tests for project name
  src/prefect/tasks/prefect/flow_run.py
  tests/tasks/prefect/test_flow_run.py
Due: black, flake8

Add changelog entry
  changes/issue3006.yaml
Due: none

Remove unused imports
  src/prefect/tasks/prefect/flow_run.py
Due: black, flake8

Add server overview and tweak current docs
  docs/.vuepress/config.js
  docs/orchestration/README.md
  docs/orchestration/server/deploy-local.md
  docs/orchestration/server/deploy.md
  docs/orchestration/server/overview.md
Due: none

Respond to doc feedback
  docs/orchestration/server/deploy-local.md
  docs/orchestration/server/overview.md
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: ^src/prefect/ and \.py$
