Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-mintlify-openapi-docs, generate-settings-schema, generate-settings-ref, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.2.1"
    hooks:
      - id: ruff
        language_version: python3
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        exclude: package-lock.json|_vendor/.*|docs/styles/.*
  - repo: https://github.com/netromdk/vermin
    rev: v1.6.0
    hooks:
      - id: vermin
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=1.10.0,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0
          - types-cachetools==5.3.0.5
          - types-pyyaml==6.0.12.9
        files: |
          (?x)^(
            src/prefect/server/models/.*|
            src/prefect/concurrency/.*|
            src/prefect/events/.*|
            src/prefect/input/.*
          )$
  - repo: local
    hooks:
      - id: generate-mintlify-openapi-docs
        name: Generating OpenAPI docs for Mintlify
        language: system
        entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_mintlify_openapi_docs.py
        pass_filenames: false
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              scripts/generate_mintlify_openapi_docs.py
          )$
      - id: generate-settings-schema
        name: Generating Settings Schema
        language: system
        entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_schema.py
        pass_filenames: false
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              src/prefect/settings/models/.*|
              scripts/generate_settings_schema.py
          )$
      - id: generate-settings-ref
        name: Generating Settings Reference
        language: system
        entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_ref.py
        pass_filenames: false
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              src/prefect/settings/models/.*|
              scripts/generate_settings_ref.py
          )$
      - id: lint-ui-v2
        name: Lint UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            "cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run lint",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: format-ui-v2
        name: Format UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            "cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run format",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: service-sync-ui-v2-openapi
        name: Sync UI v2 OpenAPI
        language: system
        entry: sh
        args:
          [
            "-c",
            "cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run service-sync",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              ui-v2/package.json
          )$
        pass_filenames: false

Allow servers to start with no background services
  src/prefect/cli/server.py
Due: none

Improve typing in `prefect.server.events` (#16692)
  src/prefect/_internal/retries.py
  src/prefect/server/events/schemas/automations.py
  src/prefect/server/events/services/actions.py
  src/prefect/server/events/services/event_logger.py
  src/prefect/server/events/services/event_persister.py
  src/prefect/server/events/services/triggers.py
  src/prefect/server/events/triggers.py
  src/prefect/server/services/loop_service.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

Improve type completeness of `prefect.server.services
  src/prefect/server/events/schemas/events.py
  src/prefect/server/models/flow_runs.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/services/cancellation_cleanup.py
  src/prefect/server/services/flow_run_notifications.py
  src/prefect/server/services/foreman.py
  src/prefect/server/services/late_runs.py
  src/prefect/server/services/loop_service.py
  src/prefect/server/services/pause_expirations.py
  src/prefect/server/services/scheduler.py
  src/prefect/server/services/task_run_recorder.py
  src/prefect/server/services/telemetry.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

Fix test failures
  src/prefect/server/services/late_runs.py
  src/prefect/server/services/scheduler.py
Due: none

Improve type completeness of `prefect.server.services` (#16701)
  src/prefect/server/events/schemas/events.py
  src/prefect/server/models/flow_runs.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/services/cancellation_cleanup.py
  src/prefect/server/services/flow_run_notifications.py
  src/prefect/server/services/foreman.py
  src/prefect/server/services/late_runs.py
  src/prefect/server/services/loop_service.py
  src/prefect/server/services/pause_expirations.py
  src/prefect/server/services/scheduler.py
  src/prefect/server/services/task_run_recorder.py
  src/prefect/server/services/telemetry.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

Use `useDebounce` instead of custom debounce implementation
  ui-v2/src/components/deployments/data-table/cells.tsx
Due: lint-ui-v2, format-ui-v2

Add pagination to deployments table (#16684)
  ui-v2/src/api/flows/index.ts
  ui-v2/src/components/deployments/data-table/cells.tsx
  ui-v2/src/components/deployments/data-table/data-table.stories.tsx
  ui-v2/src/components/deployments/data-table/data-table.test.tsx
  ui-v2/src/components/deployments/data-table/index.tsx
  ui-v2/src/components/ui/flow-run-acitivity-bar-graph/index.tsx
  ui-v2/src/routes/deployments/index.tsx
Due: lint-ui-v2, format-ui-v2

Add filtering and sorting to deployments table
  ui-v2/src/api/deployments/index.ts
  ui-v2/src/components/deployments/data-table/cells.tsx
  ui-v2/src/components/deployments/data-table/data-table.test.tsx
  ui-v2/src/components/deployments/data-table/index.tsx
  ui-v2/src/components/ui/flow-run-activity-bar-graph/context.tsx
  ui-v2/src/components/ui/flow-run-activity-bar-graph/flow-run-activity-bar-graph.stories.tsx
  ui-v2/src/components/ui/flow-run-activity-bar-graph/flow-run-activity-bar-graph.test.tsx
  ui-v2/src/components/ui/flow-run-activity-bar-graph/index.tsx
  ui-v2/src/components/ui/flow-run-activity-bar-graph/utils.test.ts
  ui-v2/src/components/ui/flow-run-activity-bar-graph/utils.ts
  ui-v2/src/routes/deployments/index.tsx
  ui-v2/tests/utils/browser.ts
  ui-v2/tests/variables/variables.test.tsx
Due: lint-ui-v2, format-ui-v2

Add filtering and sorting to deployments table (#16686)
  ui-v2/src/api/deployments/index.ts
  ui-v2/src/components/deployments/data-table/cells.tsx
  ui-v2/src/components/deployments/data-table/data-table.test.tsx
  ui-v2/src/components/deployments/data-table/index.tsx
  ui-v2/src/components/ui/flow-run-activity-bar-graph/context.tsx
  ui-v2/src/components/ui/flow-run-activity-bar-graph/flow-run-activity-bar-graph.stories.tsx
  ui-v2/src/components/ui/flow-run-activity-bar-graph/flow-run-activity-bar-graph.test.tsx
  ui-v2/src/components/ui/flow-run-activity-bar-graph/index.tsx
  ui-v2/src/components/ui/flow-run-activity-bar-graph/utils.test.ts
  ui-v2/src/components/ui/flow-run-activity-bar-graph/utils.ts
  ui-v2/src/routes/deployments/index.tsx
  ui-v2/tests/utils/browser.ts
  ui-v2/tests/variables/variables.test.tsx
Due: lint-ui-v2, format-ui-v2

Remove name-main guard
  docs/v3/get-started/quickstart.mdx
Due: none

Refactor to use new kwarg on create_app
  src/prefect/cli/server.py
  src/prefect/server/api/server.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

Adds new connection application name setting (#16690)
  docs/v3/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/server/database/configurations.py
  src/prefect/settings/models/server/database.py
  tests/test_settings.py
Due: generate-settings-schema, generate-settings-ref

Revert "Remove name-main guard"
  docs/v3/get-started/quickstart.mdx
Due: none

Fix silly typo
  src/prefect/settings/models/server/ephemeral.py
Due: generate-settings-schema, generate-settings-ref

Docs quickstart feedback (#16683)
  docs/v3/get-started/quickstart.mdx
Due: none

Lint it up
  docs/v3/develop/settings-ref.mdx
  schemas/settings.schema.json
Due: none

Add `DeleteConfirmationDiaglog` component
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/api/prefect.ts
  ui-v2/src/components/deployments/data-table/cells.tsx
  ui-v2/src/components/deployments/data-table/data-table.stories.tsx
  ui-v2/src/components/ui/alert-dialog.tsx
  ui-v2/src/components/ui/delete-confirmation-dialog/delete-confirmation-dialog.stories.tsx
  ui-v2/src/components/ui/delete-confirmation-dialog/delete-confirmation-dialog.tsx
  ui-v2/src/components/ui/delete-confirmation-dialog/index.tsx
  ui-v2/src/routes/deployments/index.tsx
Due: lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

Delete old create integrations cards script
  docs/integrations/create_integrations_cards.py
  docs/integrations/integration-cards.md
Due: none

Delete old create integrations cards script (#16704)
  docs/integrations/create_integrations_cards.py
  docs/integrations/integration-cards.md
Due: none

Move quickstart to immediately before the 'schedule a flow' tutorial
  docs/mint.json
Due: none

Update prefect-yaml.mdx
  docs/v3/deploy/infrastructure-concepts/prefect-yaml.mdx
Due: none

Handles the instrumentation case where a future is only used to wait_for
  src/prefect/utilities/engine.py
  tests/telemetry/test_run_telemetry.py
Due: none

Fix silly typo (#16703)
  docs/v3/develop/settings-ref.mdx
  schemas/settings.schema.json
  src/prefect/settings/models/server/ephemeral.py
Due: generate-settings-schema, generate-settings-ref

Handles the instrumentation case where a future is only used to wait_for (#16709)
  src/prefect/utilities/engine.py
  tests/telemetry/test_run_telemetry.py
Due: none
