Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: black
      name: black
      entry: black
      language: python
      language_version: python3
      types: [python]
    - id: flake8
      name: flake8
      entry: flake8
      language: python
      language_version: python3
      types: [python]
      # only in src for now
      files: ^src/prefect/

Fix staticmethod usage
  tests/test_engine.py
Due: black

Fix an issue where clicking on items within a node would cause the click event to be fired incorrectly
  orion-ui/src/components/Radar/Nodes/FlowRunNode.vue
  orion-ui/src/components/Radar/Radar.vue
Due: none

Remove comments
  orion-ui/src/views/FlowRun--views/Index.vue
Due: none

Remove bad type inference
  orion-ui/src/views/FlowRun--views/Index.vue
Due: none

Sub Flow Runs -> Subflow Runs
  orion-ui/src/views/FlowRun--views/Index.vue
Due: none

Remove package-lock from nowhere
  package-lock.json
Due: none

Use a dynamic import rather than a vite plugin to start the mirage server
  orion-ui/package.json
  orion-ui/src/main.ts
  orion-ui/src/utilities/promises.ts
  orion-ui/vite.config.ts
Due: none

Apply black linter on docstring
  src/prefect/tasks/snowflake/snowflake.py
Due: black, flake8

Reintroduce `FlowRunnerSettings` and use a composite type to split in the database layer
  src/prefect/agent.py
  src/prefect/client.py
  src/prefect/flow_runners.py
  src/prefect/orion/api/deployments.py
  src/prefect/orion/api/flow_runs.py
  src/prefect/orion/database/orm_models.py
  src/prefect/orion/models/deployments.py
  src/prefect/orion/models/flow_runs.py
  src/prefect/orion/schemas/actions.py
  src/prefect/orion/schemas/core.py
  tests/fixtures/database.py
  tests/orion/api/test_deployments.py
  tests/orion/api/test_flow_runs.py
  tests/orion/models/test_deployments.py
  tests/orion/models/test_flow_runs.py
  tests/test_client.py
  tests/test_deployments.py
Due: black, flake8

Fix `__init__` so kwargs can be consumed
  src/prefect/orion/schemas/core.py
Due: black, flake8

Use `queue.get()` with timeout instead of `queue.empty`
  src/prefect/utilities/executors.py
Due: black, flake8

Fix database creation bug
  src/prefect/orion/database/configurations.py
  src/prefect/orion/database/interface.py
Due: black, flake8

Move minimap to its own component
  orion-ui/src/components/Radar/MiniRadar.vue
  orion-ui/src/components/Radar/Radar.vue
  orion-ui/src/components/Radar/utils.ts
Due: none

Add debug logs for pickling
  src/prefect/utilities/executors.py
Due: black, flake8

Add timeout log
  src/prefect/utilities/executors.py
Due: black, flake8

Drop condaenv/virtualenv fields
  src/prefect/flow_runners.py
Due: black, flake8

Add first pass at miniradar view on flow run page
  orion-ui/src/components/Radar/MiniRadar.vue
  orion-ui/src/views/FlowRun--views/Index.vue
  orion-ui/src/views/FlowRun--views/MiniRadar.vue
Due: none

Add props to disable interactions/interaction styling on miniradar
  orion-ui/src/components/Radar/MiniRadar.vue
  orion-ui/src/components/Radar/Radar.vue
  orion-ui/src/styles/views/flow-run/index.scss
  orion-ui/src/views/FlowRun--views/Index.vue
  orion-ui/src/views/FlowRun--views/MiniRadar.vue
Due: none

Scale minimap with container
  orion-ui/src/components/Radar/MiniRadar.vue
  orion-ui/src/views/FlowRun--views/MiniRadar.vue
Due: none

Catch an issue with KubernetesRun, add more tests
  src/prefect/agent/kubernetes/agent.py
  tests/agent/test_k8s_agent.py
Due: black, flake8

Reformat with black
  src/prefect/agent/kubernetes/agent.py
  tests/agent/test_k8s_agent.py
Due: black, flake8

Run black again with 21.12b0
  src/prefect/utilities/compatibility.py
Due: black, flake8

Add changelog entry
  changes/pr5001.yaml
Due: none

Refactored code for Firebolt task library
  src/prefect/tasks/firebolt/firebolt.py
  tests/tasks/firebolt/test_firebolt.py
Due: black, flake8

Move utility classes to in-component class
  orion-ui/src/components/Radar/Radar.vue
Due: none
