Repository PrefectHQ/prefect: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-mintlify-openapi-docs, generate-settings-schema, generate-settings-ref, lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.2.1"
    hooks:
      - id: ruff
        language_version: python3
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        exclude: package-lock.json|_vendor/.*|docs/styles/.*
  - repo: https://github.com/netromdk/vermin
    rev: v1.6.0
    hooks:
      - id: vermin
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.9.0
    hooks:
      - id: mypy
        additional_dependencies:
          - pydantic>=1.10.0,!=2.0.0,!=2.0.1,!=2.1.0,<3.0.0
          - types-cachetools==5.3.0.5
          - types-pyyaml==6.0.12.9
        files: |
          (?x)^(
            src/prefect/server/models/.*|
            src/prefect/concurrency/.*|
            src/prefect/events/.*|
            src/prefect/input/.*
          )$
  - repo: local
    hooks:
      - id: type-completeness-check
        name: Type Completeness Check
        language: system
        entry: uv run --with pyright pyright --ignoreexternal --verifytypes prefect
        pass_filenames: false
      - id: generate-mintlify-openapi-docs
        name: Generating OpenAPI docs for Mintlify
        language: system
        entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_mintlify_openapi_docs.py
        pass_filenames: false
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              scripts/generate_mintlify_openapi_docs.py
          )$
      - id: generate-settings-schema
        name: Generating Settings Schema
        language: system
        entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_schema.py
        pass_filenames: false
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              src/prefect/settings/models/.*|
              scripts/generate_settings_schema.py
          )$
      - id: generate-settings-ref
        name: Generating Settings Reference
        language: system
        entry: uv run --with 'pydantic>=2.9.0' ./scripts/generate_settings_ref.py
        pass_filenames: false
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              src/prefect/settings/models/.*|
              scripts/generate_settings_ref.py
          )$
      - id: lint-ui-v2
        name: Lint UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            "cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run lint",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: format-ui-v2
        name: Format UI v2
        language: system
        entry: sh
        args:
          [
            "-c",
            "cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run format",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              ui-v2/.*
          )$
        pass_filenames: false
      - id: service-sync-ui-v2-openapi
        name: Sync UI v2 OpenAPI
        language: system
        entry: sh
        args:
          [
            "-c",
            "cd ui-v2 && npm i --no-upgrade --silent --no-progress && npm run service-sync",
          ]
        files: |
          (?x)^(
              .pre-commit-config.yaml|
              .pre-commit-config.yaml|
              src/prefect/server/api/.*|
              src/prefect/server/schemas/.*|
              src/prefect/server/events/.*|
              src/prefect/server/utilities/schemas/.*|
              ui-v2/package.json
          )$
        pass_filenames: false

pendulum consolidation in several modules (#17103)
  src/prefect/deployments/flow_runs.py
  src/prefect/docker/docker_image.py
  src/prefect/events/clients.py
  src/prefect/events/related.py
  src/prefect/locking/filesystem.py
  src/prefect/logging/handlers.py
  src/prefect/runtime/flow_run.py
  src/prefect/types/_datetime.py
  src/prefect/utilities/dockerutils.py
  tests/runtime/test_flow_run.py
Due: none

[UI v2] feat: Adds cron input component (#17096)
  ui-v2/package-lock.json
  ui-v2/package.json
  ui-v2/src/components/ui/cron-input/cron-input.stories.tsx
  ui-v2/src/components/ui/cron-input/cron-input.test.tsx
  ui-v2/src/components/ui/cron-input/cron-input.tsx
  ui-v2/src/components/ui/cron-input/index.ts
Due: lint-ui-v2, format-ui-v2, service-sync-ui-v2-openapi

[UI v2] feat: Adds timezone component
  ui-v2/src/components/ui/timezone-select/index.ts
  ui-v2/src/components/ui/timezone-select/timezone-select.stories.tsx
  ui-v2/src/components/ui/timezone-select/timezone-select.test.tsx
  ui-v2/src/components/ui/timezone-select/timezone-select.tsx
  ui-v2/tsconfig.app.json
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Adds create deployment schedule mutation (#17082)
  ui-v2/src/api/deployments/deployments.test.ts
  ui-v2/src/api/deployments/index.ts
  ui-v2/tests/utils/handlers.ts
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Adds useDeleteDeploymentSchedule hook
  ui-v2/src/api/deployments/deployments.test.ts
  ui-v2/src/api/deployments/index.ts
  ui-v2/tests/utils/handlers.ts
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Adds useDeleteDeploymentSchedule hook (#17077)
  ui-v2/src/api/deployments/deployments.test.ts
  ui-v2/src/api/deployments/index.ts
  ui-v2/tests/utils/handlers.ts
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Adds deployment schedule list (except for adding end editing UX)
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-item.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedules.stories.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedules.tsx
  ui-v2/src/components/deployments/deployment-schedules/get-schedule-title.test.ts
  ui-v2/src/components/deployments/deployment-schedules/get-schedule-title.ts
  ui-v2/src/components/deployments/deployment-schedules/index.ts
  ui-v2/src/components/deployments/deployment-schedules/schedule-action-menu.test.tsx
  ui-v2/src/components/deployments/deployment-schedules/schedule-action-menu.tsx
  ui-v2/src/components/deployments/deployment-schedules/schedule-toggle-switch.test.tsx
  ui-v2/src/components/deployments/deployment-schedules/schedule-toggle-switch.tsx
  ui-v2/src/components/deployments/deployment-schedules/types.ts
  ui-v2/src/components/deployments/deployment-schedules/use-delete-schedule.ts
Due: lint-ui-v2, format-ui-v2

[UI v2] chore: move artifact type.d.ts to just types.ts
  ui-v2/src/components/artifacts/types.ts
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Adds deployment schedule list (except for adding end editing UX) (#17081)
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedule-item.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedules.stories.tsx
  ui-v2/src/components/deployments/deployment-schedules/deployment-schedules.tsx
  ui-v2/src/components/deployments/deployment-schedules/get-schedule-title.test.ts
  ui-v2/src/components/deployments/deployment-schedules/get-schedule-title.ts
  ui-v2/src/components/deployments/deployment-schedules/index.ts
  ui-v2/src/components/deployments/deployment-schedules/schedule-action-menu.test.tsx
  ui-v2/src/components/deployments/deployment-schedules/schedule-action-menu.tsx
  ui-v2/src/components/deployments/deployment-schedules/schedule-toggle-switch.test.tsx
  ui-v2/src/components/deployments/deployment-schedules/schedule-toggle-switch.tsx
  ui-v2/src/components/deployments/deployment-schedules/types.ts
  ui-v2/src/components/deployments/deployment-schedules/use-delete-schedule.ts
Due: lint-ui-v2, format-ui-v2

[UI v2] feat: Adds timezone component (#17101)
  ui-v2/src/components/ui/timezone-select/index.ts
  ui-v2/src/components/ui/timezone-select/timezone-select.stories.tsx
  ui-v2/src/components/ui/timezone-select/timezone-select.test.tsx
  ui-v2/src/components/ui/timezone-select/timezone-select.tsx
  ui-v2/tsconfig.app.json
Due: lint-ui-v2, format-ui-v2

[UI v2] chore: move artifact type.d.ts to just types.ts (#17107)
  ui-v2/src/components/artifacts/types.ts
Due: lint-ui-v2, format-ui-v2

[UI v2] chore: Updates deployment details page route data loading
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/deployments/deployment-triggers.tsx
  ui-v2/src/routes/deployments/deployment.$id.tsx
Due: lint-ui-v2, format-ui-v2

addressing PR comments
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/deployments/deployment-flow-link.tsx
  ui-v2/src/components/deployments/deployment-triggers.tsx
  ui-v2/src/routes/deployments/deployment.$id.tsx
Due: lint-ui-v2, format-ui-v2

[UI-v2] feat: finish flows page
  ui-v2/src/api/flows/flows.test.ts
  ui-v2/src/api/flows/index.ts
  ui-v2/src/components/flows/cells.tsx
  ui-v2/src/components/flows/columns.tsx
  ui-v2/src/components/flows/data-table.tsx
  ui-v2/src/components/flows/flows-page-header.tsx
  ui-v2/src/components/flows/flows-page.tsx
  ui-v2/src/components/flows/table-count-header.tsx
  ui-v2/src/components/ui/docs-link/constants.ts
  ui-v2/src/routes/flows/index.tsx
Due: lint-ui-v2, format-ui-v2

[UI v2] chore: Updates deployment details page route data loading (#17089)
  ui-v2/src/components/deployments/deployment-details-page.tsx
  ui-v2/src/components/deployments/deployment-flow-link.tsx
  ui-v2/src/components/deployments/deployment-triggers.tsx
  ui-v2/src/routes/deployments/deployment.$id.tsx
Due: lint-ui-v2, format-ui-v2

Update docs/integrations/prefect-gcp/index.mdx
  docs/integrations/prefect-gcp/index.mdx
Due: none

Update block names and sdk link
  docs/integrations/prefect-gcp/index.mdx
Due: none

Consolidate `pendulum` usage in `prefect.server`
  src/prefect/server/api/artifacts.py
  src/prefect/server/api/automations.py
  src/prefect/server/api/concurrency_limits.py
  src/prefect/server/api/deployments.py
  src/prefect/server/api/flow_runs.py
  src/prefect/server/api/flows.py
  src/prefect/server/api/saved_searches.py
  src/prefect/server/api/task_runs.py
  src/prefect/server/api/ui/flows.py
  src/prefect/server/api/ui/task_runs.py
  src/prefect/server/api/workers.py
  src/prefect/server/events/actions.py
  src/prefect/server/events/counting.py
  src/prefect/server/events/filters.py
  src/prefect/server/events/models/automations.py
  src/prefect/server/events/models/composite_trigger_child_firing.py
  src/prefect/server/events/ordering.py
  src/prefect/server/events/schemas/events.py
  src/prefect/server/events/services/event_logger.py
  src/prefect/server/events/triggers.py
  src/prefect/server/models/artifacts.py
  src/prefect/server/models/concurrency_limits.py
  src/prefect/server/models/deployments.py
  src/prefect/server/models/events.py
  src/prefect/server/models/flow_runs.py
  src/prefect/server/models/task_runs.py
  src/prefect/server/models/work_queues.py
  src/prefect/server/models/workers.py
  src/prefect/server/schemas/actions.py
  src/prefect/server/schemas/core.py
  src/prefect/server/schemas/graph.py
  src/prefect/server/schemas/responses.py
  src/prefect/server/schemas/schedules.py
  src/prefect/server/schemas/states.py
  src/prefect/types/_datetime.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi

Fix some test failures
  tests/conftest.py
  tests/events/server/test_events_api.py
  tests/events/server/triggers/test_basics.py
  tests/events/server/triggers/test_service.py
  tests/fixtures/time.py
  tests/server/orchestration/test_core_policy.py
  tests/server/schemas/test_schedules.py
Due: none

merge conflict
  tests/conftest.py
  tests/test_flows.py
  tests/test_logging.py
Due: none

checkpoint
  tests/cli/deployment/test_deployment_run.py
  tests/cli/test_deploy.py
  tests/cli/test_version.py
Due: none

checkpoint
  tests/blocks/test_system.py
  tests/cli/test_artifact.py
Due: none

Mocking is whack yo
  src/prefect/server/events/counting.py
  src/prefect/server/events/ordering.py
  src/prefect/server/events/triggers.py
  tests/events/server/test_events_counts.py
  tests/events/server/triggers/test_basics.py
Due: generate-mintlify-openapi-docs, service-sync-ui-v2-openapi
